__pycache__
_build
_static
_template
.coverage
.DS_Store
.fab_tasks~
.git/
.gitlab-ci.yml
.idea
.installed.cfg
.isort.cfg
.mr.developer.cfg
.project
.pydevproject
.sass-cache
.settings
.tox
.vagrant/
.vsc
.vscode
*.css.map
*.db
*.egg
*.egg-info
*.md
*.mo
*.py[cod]
*.pyc
*.pyo
*.rst
*.so
*.sql.gz
*.sublime-*
bin
build
dev.pyc
develop-eggs
dist
docs
eggs
fabfile.py
htmlcov/
immersionlyceens.egg-info/
lib
lib64
media
nosetests.xml
parts
pip-log.txt
preprod.py
prod.py
pyvenv.cfg
run_tests.py
sdist
test.py
unnitest.py
var
venv
