@font-face {
	font-family:'ABC';
	src:	url('abc/ABCMaxiRound-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'ABC';
	src:	url('abc/ABCMaxiRound-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}