{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'css/vendor/Chart/Chart.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/core.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/charts.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/themes/animated.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/themes/material.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block section_title %}
<h3 class="ml-2">
  {% if request.user.is_high_school_manager %}
    {% if filter_by_my_trainings %}
      {% trans "Highschools statistics - registrations to my trainings, by domains" %}
    {% else %}
      {% trans "Highschools statistics - my high school students registrations, by domains" %}
    {% endif %}
  {% else %}
    {% if filter_by_my_trainings %}
      {% trans "Hosts statistics - registrations by domains" %}
    {% else %}
      {% trans "Populations statistics - registrations by domains" %}
    {% endif %}
  {% endif %}
</h3>
{% endblock %}

{% block content %}

<div id="feedback" class="container"></div>
<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% if request.user.is_high_school_manager %}
      <div class="form-group mx-sm-3 mb-2">
        <label class="form-check-label ml-md-2">
          {{ request.user.highschool.label }} - {{ request.user.highschool.city }}
        </label>
      </div>
      {% endif %}
      <div class="form-group mx-sm-3 mb-2">
        <label for="id_level_part1" class="form-check-label ml-md-2">{% trans 'Students level / categories' %} :</label>
        <select id="id_level_part1" name="level" class="mt-2">
          <option value="0" {% if part1_level_filter == 0 %}selected{% endif %}>{% trans 'All' %}</option>
          {% for level in levels %}
            <option value="{{ level.pk }}" {% if part1_level_filter == level.id %}selected{% endif %}>{{ level.label }}</option>
          {% endfor %}
          {% if not request.user.is_high_school_manager or filter_by_my_trainings %}
            <option value="visitors" {% if part1_level_filter == 'visitors' %}selected{% endif %}>{% trans 'Visitors' %}</option>
          {% endif %}
        </select>
      </div>
    </div>
  </div>
</div>

<div id="chartdiv" style="width:100%; height:500px;"></div>

{% if request.user.is_master_establishment_manager or request.user.is_operator %}
{% include '../modals/modal_global_charts_filters.html' %}
<div class="container-fluid mt-4">
  <div class="card mt-4">
    <div class="card-header text-white bg-secondary">
      <button class="btn btn-light btn-sm" name="config_filters" onclick="open_filter_modal()" title="{% trans 'Manage filters' %}">
        {% if filter_by_my_trainings %}
          {% trans 'Select host institutions' %}
        {% else %}
          {% trans 'Select institutions of origin' %}
        {% endif %}
      </button>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label><strong>{% trans 'Institutions' %}</strong></label>
          </div>
          <div class="col-md-6">
            <label><strong>{% trans 'Level' %}</strong></label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {% if part2_filters.highschools %}
            <label>{% trans 'High schools' %} :</label>
            <ul>
              {% for highschool in part2_filters.highschools %}
                <li>{{ highschool }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if part2_filters.higher_institutions %}
            <label>{% trans 'Higher education institutions' %} :</label>
            <ul>
              {% for higher_institution in part2_filters.higher_institutions %}
                <li>{{ higher_institution }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if not part2_filters.highschools and not part2_filters.higher_institutions %}
              {% trans 'Display all' %}
            {% endif %}
          </div>
          <div class="col-md-6">
            {% if part2_filters.level == 'visitors' %}
              {% trans 'Visitors' %}
            {% elif part2_filters.level == 0 %}
              {% trans 'All' %}
            {% else %}
              {% for level in levels %}
                {% if level.id == part2_filters.level %}
                  {{ level.label }}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript">
  {% autoescape off %}
    var highschools_ids = {{ part2_filters.highschools_ids }};
    var filter_by_my_trainings = "{{ filter_by_my_trainings }}" === "True"
    var higher_institutions_ids = {{ part2_filters.higher_institutions_ids }};
    var level = "{{ part2_filters.level }}"
  {% endautoescape %}

  var container;
  var chart;
  var chart2;
  var pieSeries;
  var pieSeries2;
  var line1;
  var line2;
  var selectedSlice;
  var datasets;
  var url;

  var part1_level = $('#id_level_part1 option:selected').val();

  function open_filter_modal() {
    $('#modal_global_charts_filter').modal('show');
  }

  function init_graph() {
    function selectSlice(dataItem) {
      selectedSlice = dataItem.slice;

      var fill = selectedSlice.fill;

      var count = dataItem.dataContext.subData.length;
      pieSeries2.colors.list = [];
      for (var i = 0; i < count; i++) {
        pieSeries2.colors.list.push(fill.brighten(i * 2 / count));
      }

      chart2.data = dataItem.dataContext.subData;
      pieSeries2.appear();

      var middleAngle = selectedSlice.middleAngle;
      var firstAngle = pieSeries.slices.getIndex(0).startAngle;
      var animation = pieSeries.animate([{property: "startAngle", to: firstAngle - middleAngle}, {
        property: "endAngle",
        to: firstAngle - middleAngle + 360
      }], 600, am4core.ease.sinOut);
      animation.events.on("animationprogress", updateLines);

      selectedSlice.events.on("transformed", updateLines);

      //  var animation = chart2.animate({property:"dx", from:-container.pixelWidth / 2, to:0}, 2000, am4core.ease.elasticOut)
      //  animation.events.on("animationprogress", updateLines)
    }

    function updateLines() {
      if (selectedSlice) {
        var p11 = {
          x: selectedSlice.radius * am4core.math.cos(selectedSlice.startAngle),
          y: selectedSlice.radius * am4core.math.sin(selectedSlice.startAngle)
        };
        var p12 = {
          x: selectedSlice.radius * am4core.math.cos(selectedSlice.startAngle + selectedSlice.arc),
          y: selectedSlice.radius * am4core.math.sin(selectedSlice.startAngle + selectedSlice.arc)
        };

        p11 = am4core.utils.spritePointToSvg(p11, selectedSlice);
        p12 = am4core.utils.spritePointToSvg(p12, selectedSlice);

        var p21 = {x: 0, y: -pieSeries2.pixelRadius};
        var p22 = {x: 0, y: pieSeries2.pixelRadius};

        p21 = am4core.utils.spritePointToSvg(p21, pieSeries2);
        p22 = am4core.utils.spritePointToSvg(p22, pieSeries2);

        line1.x1 = p11.x;
        line1.x2 = p21.x;
        line1.y1 = p11.y;
        line1.y2 = p21.y;

        line2.x1 = p12.x;
        line2.x2 = p22.x;
        line2.y1 = p12.y;
        line2.y2 = p22.y;
      }
    }

    function hideSmall(ev) {
      if (ev.target.dataItem.values.value.percent === 0) {
        ev.target.hide();
      }
      else {
        ev.target.show();
      }
    }

    if(filter_by_my_trainings === true) {
      url = "/charts/get_global_domains_charts_by_trainings"
    }
    else {
      url = "/charts/get_global_domains_charts_by_population"
    }

    let parsed = parseInt(part1_level)
    let parsed2 = parseInt(level)
    if (isNaN(parsed) === false) {
      part1_level = parsed
    }

    if (isNaN(parsed2) === false) {
      level = parsed2
    }

    $.ajax({
      url: url,
      type: 'POST',
      data: {
        'highschools_ids' : highschools_ids,
        'higher_institutions_ids': higher_institutions_ids,
        'level': level || part1_level,
         csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        datasets = json["datasets"];
      },
      error: function(json) {
        console.log(json);
      },
      async: false,
    });

    if(is_set(container)) {
      container.dispose()
    }

    if(datasets.length) {
      am4core.useTheme(am4themes_animated);
      // am4core.useTheme(am4themes_material);

      container = am4core.create("chartdiv", am4core.Container);
      container.width = am4core.percent(100);
      container.height = am4core.percent(100);
      container.layout = "horizontal";

      chart = container.createChild(am4charts.PieChart);
      chart.data = datasets;
      chart.legend = new am4charts.Legend();
      // chart.legend.position = 'absolute';
      chart.legend.position = 'bottom';
      chart.legend.maxWidth = 240;
      chart.legend.labels.template.wrap = true;
      chart.legend.labels.template.truncate = false;
      chart.legend.itemContainers.template.paddingTop = 10;

      pieSeries = chart.series.push(new am4charts.PieSeries());
      pieSeries.dataFields.value = "count";
      pieSeries.dataFields.category = "domain";
      pieSeries.slices.template.states.getKey("active").properties.shiftRadius = 0;
      pieSeries.slices.template.tooltipText = "{value.percent.formatNumber('#.#')}% ({value.value})";
      pieSeries.labels.template.maxWidth = 130;
      pieSeries.labels.template.text = "{category}";
      pieSeries.labels.template.wrap = true;

      pieSeries.slices.template.events.on("hit", function (event) {
        selectSlice(event.target.dataItem);
      });

      pieSeries.ticks.template.events.on("ready", hideSmall);
      pieSeries.ticks.template.events.on("visibilitychanged", hideSmall);
      pieSeries.labels.template.events.on("ready", hideSmall);
      pieSeries.labels.template.events.on("visibilitychanged", hideSmall);

      chart2 = container.createChild(am4charts.PieChart);
      chart2.width = am4core.percent(100);
      chart2.radius = am4core.percent(60);
      chart2.legend = new am4charts.Legend();
      // chart2.legend.position = 'absolute';
      chart2.legend.position = 'bottom';
      chart2.legend.maxWidth = 240;
      chart2.legend.labels.template.wrap = true;
      chart2.legend.labels.template.truncate = false;
      chart2.legend.itemContainers.template.paddingTop = 10

      pieSeries2 = chart2.series.push(new am4charts.PieSeries());
      pieSeries2.dataFields.value = "count";
      pieSeries2.dataFields.category = "name";
      pieSeries2.slices.template.states.getKey("active").properties.shiftRadius = 0;
      pieSeries2.slices.template.tooltipText = "{value.percent.formatNumber('#.#')}% ({value.value})";
      pieSeries2.labels.template.maxWidth = 130;
      pieSeries2.labels.template.text = "{category}";
      pieSeries2.labels.template.wrap = true;

      // pieSeries2.labels.template.disabled = true;
      pieSeries2.ticks.template.disabled = true;
      pieSeries2.alignLabels = false;
      pieSeries2.events.on("positionchanged", updateLines);

      var interfaceColors = new am4core.InterfaceColorSet();

      line1 = container.createChild(am4core.Line);
      line1.strokeDasharray = "2,2";
      line1.strokeOpacity = 0.5;
      line1.stroke = interfaceColors.getFor("alternativeBackground");
      line1.isMeasured = false;

      line2 = container.createChild(am4core.Line);
      line2.strokeDasharray = "2,2";
      line2.strokeOpacity = 0.5;
      line2.stroke = interfaceColors.getFor("alternativeBackground");
      line2.isMeasured = false;

      chart.events.on("datavalidated", function () {
        setTimeout(function () {
          selectSlice(pieSeries.dataItems.getIndex(0));
        }, 1000);
      });
    }
    else {
      container = am4core.create("chartdiv", am4core.Container);
      // container.openModal("<strong>No data found!</strong>");
    }
  }

  init_graph();

  $('#id_level_part1').change(function() {
    part1_level = $('#id_level_part1 option:selected').val();
    init_graph();
  });

</script>
{% endblock %}
