{% extends "base.html" %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'css/vendor/Chart/Chart.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/core.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/charts.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/themes/animated.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/themes/material.js' %}"></script>
<script src="{% static 'js/immersionlyceens.js' %}"></script>
{% endblock %}

{% block section_title %}
<h3 class="ml-2">{% trans 'Highschool charts - students by levels' %}</h3>
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% if highschools|length > 1 %}
        <label for="id_highschools">{% trans 'Select a high school' %} :</label>
          <select id="id_highschools">
            <option value=""></option>
            {% for highschool in highschools %}
              <option value="{{ highschool.id }}" {% if highschool.id == highschool_id %}selected="True"{% endif %}>
                {{ highschool.city }} - {{ highschool.label }}
              </option>
            {% endfor %}
          </select>
      {% else %}
        {% with hs=highschools|first %}
          {{ hs.city }} - {{ hs.label }}
        {% endwith %}
      {% endif %}
    </div>
    <div class="card-body">
      <div id="chartdiv" style="width:100%; height:400px;"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var highschool_id = "{{ highschool_id }}";

  function init_graph(hs_id) {
    $.get("/charts/get_highschool_charts/"+hs_id, function(response) {
      am4core.useTheme(am4themes_animated);
      // am4core.useTheme(am4themes_material);

      let chart = am4core.createFromConfig({
        "xAxes": response.axes.x,
        "yAxes": response.axes.y,
        "data": response.datasets,
        "series": response.series,
        "legend": {
          'position': 'right',
        },
      }, "chartdiv", am4charts.XYChart);

    });
  }

  if (highschool_id) {
    init_graph(highschool_id);
  }

  $('#id_highschools').change(function() {
    let highschool_id = $('#id_highschools option:selected').val();

    if (highschool_id != "") {
      init_graph(highschool_id);
    }
  });


</script>
{% endblock %}
