{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'css/vendor/Chart/Chart.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/core.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/charts.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/themes/animated.js' %}"></script>
<script src="{% static 'js/vendor/amcharts4/themes/material.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block section_title %}
<h3 class="ml-2">{% trans 'Registrations and participation statistics' %}</h3>
{% endblock %}

{% block content %}
{% include '../modals/modal_global_charts_filters.html' %}
<div id="feedback" class="container"></div>
<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <div class="form-group mx-sm-3 mb-2">
        <label class="form-check-label ml-md-2">
          {% if request.user.is_high_school_manager %}
            {{ highschool_name }}
          {% else %}
            {% trans 'Global statistics (all institutions)' %}
          {% endif %}
        </label>
      </div>
      {% if not request.user.is_high_school_manager %}
      <div class="form-group mx-sm-3 mb-2">
        <label for="id_highschool" class="form-check-label ml-md-2">{% trans 'Filter by pupils from this high school' %} :</label>
        <select id="id_highschool">
          <option value="all">{% trans 'All high schools and establishments' %}</option>
          <option value="all_highschools">{% trans 'High schools only' %}</option>
          {% for highschool in all_highschools %}
            <option value="{{ highschool.id }}" {% if highschool.id == highschool_id %}selected="True"{% endif %}>
              {{ highschool.city }} - {{ highschool.label }}
            </option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      <div class="form-group mx-sm-3 mb-2">
        <label for="id_level_part1" class="form-check-label ml-md-2">{% trans 'Students level' %} :</label>
        <select id="id_level_part1" name="level" class="mt-2">
          <option value="0" {% if part1_level_filter == 0 %}selected{% endif %}>{% trans 'All' %}</option>
          {% for level in levels %}
            <option value="{{ level.pk }}" {% if part1_level_filter == level.id %}selected{% endif %}>{{ level.label }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="card-body">
      <div id="chartdiv" style="width:100%; height:400px;"></div>
    </div>
  </div>
  {% if not request.user.is_high_school_manager %}
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans 'By institutions statistics' %}
      <button class="btn btn-light btn-sm ml-4" name="config_filters" onclick="open_filter_modal()" title="{% trans 'Manage filters' %}">{% trans 'Manage filters' %}</button>
    </div>
    {% if highschools_ids or higher_institutions_ids %}
      <h5 class="card-subtitle text-muted mt-2">{% trans 'Registered users count' %}</h5>
      <div id="chartdiv_platform_regs" style="width:100%;"></div>
      <h5 class="card-subtitle text-muted mt-4">{% trans 'Registered to at least one immersion' %}</h5>
      <div id="chartdiv_one_immersion" style="width:100%;"></div>
      <h5 class="card-subtitle text-muted mt-4">{% trans 'Attended to at least one immersion' %}</h5>
      <div id="chartdiv_attended_one" style="width:100%;"></div>
    {% else %}
    <span class="mt-3 mb-3"><i>{% trans 'Set the filters to build charts' %}</i></span>
    {% endif %}
  </div>
  {% endif %}
</div>
<script type="text/javascript">
  {% autoescape off %}
    var highschools_ids = {{ highschools_ids }};
    var part1_highschool_id = "{{ highschool_id }}";
    var higher_institutions_ids = {{ higher_institutions_ids }};
    var level_filter = "{{ level_filter }}";
    var is_high_school_manager = "{{ request.user.is_high_school_manager }}" === "True"
  {% endautoescape %}



  var data

  /* First part XY Chart */
  var part1_level = $('#id_level_part1 option:selected').val();

  if($('#id_highschool').length) {
    part1_highschool_id = $('#id_highschool option:selected').val();
  }

  function init_first_graph() {
    let url = "/charts/get_registration_charts"
    let get_data = {}

    if(is_set(part1_level)) get_data.level = part1_level
    if(is_set(part1_highschool_id)) get_data.highschool_id = part1_highschool_id

    // $.get("/charts/get_registration_charts", get_data, function(response) {

    response = $.ajax({
      'url': url,
      'data': get_data
    }).done(function () {
      data = JSON.parse(response.responseText);

      am4core.useTheme(am4themes_animated);

      let chart = am4core.createFromConfig({
        "xAxes": data.axes.x,
        "yAxes": data.axes.y,
        "data": data.datasets,
        "series": data.series,
        "legend": {
          'position': 'right',
        },
      }, "chartdiv", am4charts.XYChart);

    });
  }

  init_first_graph()

  $('#id_level_part1').change(function() {
    part1_level = $('#id_level_part1 option:selected').val();
    init_first_graph();
  });

  if($('#id_highschool').length) {
    $('#id_highschool').change(function () {
      part1_highschool_id = $('#id_highschool option:selected').val();
      init_first_graph();
    });
  }

  /* Second part XY charts */
  function open_filter_modal() {
    $('#modal_global_charts_filter').modal('show');
  }

  function auto_adjust_height(ev) {
    // Get objects of interest
    var cellSize = 60;
    var chart = ev.target;
    var categoryAxis = chart.yAxes.getIndex(0);

    // Calculate how we need to adjust chart height
    var adjustHeight = chart.data.length * cellSize - categoryAxis.pixelHeight;

    // Get current chart height
    var targetHeight = chart.pixelHeight + adjustHeight;

    // Set it on chart's container
    chart.svgContainer.htmlElement.style.height = targetHeight + "px";
  };

  function init_second_graphs(part2_level, highschools_ids, higher_institutions_ids) {
    $.ajax({
      url: "/charts/get_registration_charts_cats",
      type: 'POST',
      data: {
        'highschools_ids' : highschools_ids,
        'higher_institutions_ids': higher_institutions_ids,
        'level': part2_level,
         csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        platform_regs = json["platform_regs"];
        one_immersion = json["one_immersion"];
        attended_one = json["attended_one"];

        let chart_platform = am4core.createFromConfig({
          "xAxes": platform_regs.axes.x,
          "yAxes": platform_regs.axes.y,
          "data": platform_regs.datasets,
          "series": platform_regs.series,
          "legend": {
            'position': 'right',
          },
          "events": {
            "datavalidated": function(ev) { auto_adjust_height(ev) },
          }
        }, "chartdiv_platform_regs", am4charts.XYChart);

        let chart_one_immersion = am4core.createFromConfig({
          "xAxes": one_immersion.axes.x,
          "yAxes": one_immersion.axes.y,
          "data": one_immersion.datasets,
          "series": one_immersion.series,
          "legend": {
            'position': 'right',
          },
          "events": {
            "datavalidated": function(ev) { auto_adjust_height(ev) }
          }
        }, "chartdiv_one_immersion", am4charts.XYChart);

        let chart_attended_one = am4core.createFromConfig({
          "xAxes": attended_one.axes.x,
          "yAxes": attended_one.axes.y,
          "data": attended_one.datasets,
          "series": attended_one.series,
          "legend": {
            'position': 'right',
          },
          "events": {
            "datavalidated": function(ev) { auto_adjust_height(ev) }
          }
        }, "chartdiv_attended_one", am4charts.XYChart);

      },
      error: function(json) {
        console.log(json);
      },
      async: false,
    });
  }

  if(is_high_school_manager === false) {
    if (highschools_ids.length > 0 || higher_institutions_ids.length > 0) {
      init_second_graphs(level_filter, highschools_ids, higher_institutions_ids);
    }
  }


</script>
{% endblock %}
