{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block head-javascript %}
    <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top: 20px; width: 70%;">
  {% block confirm_slot_creation %}{% endblock %}
  {% block confirm_publication %}{% endblock %}

  <div id="cancel-dialog-form" style='z-index:3000;' title='{% trans "Cancel" %}'>
    <span>
      {% if slot %}
        {% if slot.id %}
          {% trans 'Do you really want to cancel this modification?' %}
        {% else %}
          {% trans 'Do you really want to cancel this duplication?' %}
        {% endif %}
      {% else %}
        {% trans 'Do you really want to cancel this creation?' %}
      {% endif %}
    </span>
  </div>

  <div class="card">
    {% block card_header %}{% endblock %}
    <div class="card-body">
      <legend>{% trans 'Fields with a <i class="fa fas fa-asterisk"></i> are mandatory' %}</legend>

      <form method="POST" class="form-group" role="form" id="add_slot">
        {% csrf_token %}
        {{ form.id }}

        {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager %}
        <div class="form-group row" id="id_div_establishment">
          <label for="id_establishment" class="col-sm-3 col-form-label">
            <i id='id_mandatory_establishment' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Establishment' %} :
          </label>
          <div class="col-sm-3">
            {{ form.establishment }}
          </div>
          <div class="col-sm-6">
            {{ form.establishment.errors }}
          </div>
        </div>
        {% endif %}
        {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager or request.user.is_structure_manager %}
        <div class="form-group row" id="id_div_structure">
          <label for="id_structure" class="col-sm-3 col-form-label">
            <i id='id_mandatory_structure' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Structure' %} :
          </label>
          <div class="col-sm-3">
            {{ form.structure }}
          </div>
          <div class="col-sm-6">
            {{ form.structure.errors }}
          </div>
        </div>
        {% endif %}
        <div class="form-group row" id="id_div_highschool">
          <label for="id_highschool" class="col-sm-3 col-form-label">
            <i id='id_mandatory_highschool' class="fa fas fa-asterisk" style="display:none"></i>
            {% if slot_mode != 'visit' and request.user.is_master_establishment_manager %}
              <span id="id_or"><strong>{% trans 'or' %} </strong></span>
            {% endif %}
            {% trans 'high school' %} :
          </label>
          <div class="col-sm-3">
            {{ form.highschool }}
          </div>
          <div class="col-sm-6">
            {{ form.highschool.errors }}
          </div>
        </div>

        {% block specific_fields %}{% endblock %}

        {% if slot_mode != 'visit' %}
            <div class="form-group row" id="id_div_campus">
              <label for="id_campus" class="col-form-label col-sm-3">
                <i id='id_mandatory_campus' class="fa fas fa-asterisk" style="display:none"></i>
                {% trans 'Campus' %}
              </label>
              <div class="col-sm-3">
                {% if slot %}
                  <select name="campus" id="id_campus" class="form-control">
                    <option value="" selected>--------</option>
                      {% for c in campus %}
                        <option value="{{ c.id }}">{{ c.label }}</option>
                      {% endfor %}
                  </select>
                {% else %}
                  {{ form.campus }}
                {% endif %}
              </div>
              {% if form.campus.errors %}
                <div class="col-sm-6 alert alert-danger">
                  {{ form.campus.errors }}
                </div>
              {% endif %}
            </div>

            <div class="form-group row" id="id_div_building">
              <label for="building" class="col-form-label col-sm-3">
                <i id='id_mandatory_building' class="fa fas fa-asterisk" style="display:none"></i>
                {% trans 'Building' %}
              </label>
              <div class="col-sm-3">
                {{ form.building }}
              </div>
              {% if form.building.errors %}
                <div class="col-sm-6 alert alert-danger">
                  {{ form.building.errors }}
                </div>
              {% endif %}
            </div>
        {% endif %}
        <div class="form-group row" id="id_div_room">
          <label for="id_room" class="col-form-label col-sm-3">
            <i id='id_mandatory_room' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Meeting place' %}
          </label>
          <div class="col-sm-3">
            {{ form.room }}
          </div>
          {% if form.room.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.room.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_url">
          <label for="id_url" class="col-form-label col-sm-3">
            <i id='id_mandatory_url' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'URL' %}
          </label>
          <div class="col-sm-3">
            {{ form.url }}
          </div>
          {% if form.url.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.url.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
            <label for="date" class="col-form-label col-sm-3">
              <i id='id_mandatory_date' class="fa fas fa-asterisk" style="display:none"></i>
              {% trans 'Date' %}
            </label>
            <div class="col-sm-3">
                {{ form.date }}
            </div>
            {% if form.date.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.date.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
            <label for="start_time" class="col-form-label col-sm-3">
              <i id='id_mandatory_start_time' class="fa fas fa-asterisk" style="display:none"></i>
              {% trans 'Start time' %}
            </label>
            <div class="col-sm-3">
                {{ form.start_time }}
            </div>
            {% if form.start_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.start_time.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
          <label for="end_time" class="col-form-label col-sm-3">
            <i id='id_mandatory_end_time' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'End time' %}
          </label>
          <div class="col-sm-3">
            {{ form.end_time }}
          </div>
          {% if form.end_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.end_time.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label class="col-sm-3">
            <i id='id_mandatory_speakers' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Speakers' %}
          </label>
          <div class="col-sm-3">
            {{ form.speakers }}
          </div>
          {% if form.speakers.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.speakers.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_n_places" class="col-form-label col-sm-3">
            <i id='id_mandatory_n_places' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Number of places' %}
          </label>
          <div class="col-sm-3">
            {{ form.n_places }}
          </div>
          {% if form.n_places.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.n_places.errors }}
            </div>
          {% endif %}
        </div>

        {% if slot_mode != 'visit' %}
          <div class="form-group row">
            <label for="id_establishments_restrictions" class="col-form-label col-sm-3">
              {% trans 'Use establishments restrictions' %} ?
            </label>
            <div class="col-sm-6">
              {{ form.establishments_restrictions }}
              <span id="establishments_restrictions_hint">
                <i>{% trans "Keep 'Ctrl' or 'Command' key pressed to select multiple items" %}</i>
              </span>
            </div>

            {% if form.establishments_restrictions.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ form.establishments_restrictions.errors }}
              </div>
            {% endif %}
          </div>

          <div class="form-group row" id="id_div_allowed_establishments">
            <div class="col-sm-3 offset-sm-3">
              <label for="id_allowed_establishments" class="col-form-label">
                {% trans 'Allowed establishments' %}
              </label>
              {{ form.allowed_establishments }}
            </div>
            <div class="col-sm-3">
              <label for="id_allowed_highschools" class="col-form-label">
                {% trans 'Allowed high schools' %}
              </label>
              {{ form.allowed_highschools }}
            </div>

            {% if form.allowed_establishments.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ form.allowed_establishments.errors }}
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div class="form-group row">
          <label for="id_levels_restrictions" class="col-form-label col-sm-3">
            {% trans 'Use levels restrictions' %} ?
          </label>
          <div class="col-sm-6">
            {{ form.levels_restrictions }}
            <span id="levels_restrictions_hint">
              <i>{% trans "Keep 'Ctrl' or 'Command' key pressed to select multiple items" %}</i>
            </span>
          </div>

          {% if form.levels_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.levels_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_levels">
          <div class="col-sm-3 offset-sm-3">
            <label for="id_allowed_highschool_levels" class="col-form-label">
              {% trans 'Allowed high school levels' %}
            </label>
            {{ form.allowed_highschool_levels }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_student_levels" class="col-form-label">
              {% trans 'Allowed student levels' %}
            </label>
            {{ form.allowed_student_levels }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_post_bachelor_levels" class="col-form-label">
              {% trans 'Allowed post bachelor levels' %}
            </label>
            {{ form.allowed_post_bachelor_levels }}
          </div>

          {% if form.allowed_establishments.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.allowed_establishments.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="additional_information" class="col-form-label col-sm-3">
            <i id='id_mandatory_additional_information' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Additional information' %}
          </label>
          <div class="col-sm-6">
            {{ form.additional_information }}
          </div>
          {% if form.additional_information.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.additional_information.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="published" class="col-form-label col-sm-3">
            {% trans 'Published' %} ?
          </label>
          <div class="col-sm-1">
            {{ form.published }}
          </div>
          {% if form.published.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.published.errors }}
            </div>
          {% endif %}
        </div>
        <input type="hidden" name="modify">
        {% if slot and slot.id %}
          <div class="form-group row">
            <label for="notify_student" class="col-form-label col-sm-3">{% trans "Notify registrants of these changes?" %}</label>
            <div class="col-sm-1">
              <input type="checkbox" name="notify_student" checked>
            </div>
          </div>
        {% endif %}
        <br>
        {% include 'core/slot__controls.html' %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block foot-javascript %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment "" %}
  TODO: add here other languages for jquery-ui !!
{% endcomment %}

{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}

<script>
  var dateDialog;
  var publicationDialog;
  var cancelDialog;
  var establishment_id = parseInt("{{ form.establishment.initial }}") || "{{ establishment_id }}";
  var structure_id = parseInt("{{ form.structure.value }}") || "{{ structure_id }}";
  var highschool_id = parseInt("{{ form.highschool.id }}") || "{{ highschool_id }}";
  var training_id = parseInt("{{ form.training.value }}") || "{{ training_id }}";
  var campus_id = "{{ form.campus.value }}";
  var building_id = "{{ form.building.value }}";

  var course_id = parseInt("{{ form.course.value }}") || "{{ course_id }}";
  var event_id = parseInt("{{ form.event.value }}") || "{{ event_id }}";
  var visit_id = parseInt("{{ form.visit.value }}") || "{{ visit_id }}";

  var events = Array();
  var courses = Array();
  var visits = Array();

  let speakers_list = "{{ form.speakers.value|safe }}".replace(/'/g, '')
  let speakers = is_set(speakers_list) ? JSON.parse(speakers_list) : Array();

  var is_structure_manager = "{{ request.user.is_structure_manager }}" === "True"
  var slot_mode = "{{ slot_mode }}"

  empty_speakers()

  function empty_structures() {
      let options = '<option value="">---------</option>'
      $('select#id_structure').html(options)
      structure_id = ''

      if(slot_mode === "course") {
        $("#id_div_structure").hide()
      }
  }

  function empty_campuses() {
      let options = '<option value="">---------</option>'
      $('select#id_campus').html(options)
      campus_id = ''
  }

  function empty_buildings() {
      let options = '<option value="">---------</option>'
      $('select#id_building').html(options)
      building_id = ''
  }

  function empty_trainings() {
      let options = '<option value="">---------</option>'
      $('select#id_training').html(options)
      training_id = ''
  }

  function empty_courses() {
      let options = '<option value="">---------</option>'
      $('select#id_course').html(options)
      course_id = ''
      empty_speakers()
  }

  function empty_events() {
      let options = '<option value="">---------</option>'
      $('select#id_event').html(options)
      event_id = ''
  }

  function empty_visits() {
      let options = '<option value="">---------</option>'
      $('select#id_visit').html(options)
      visit_id = ''
  }

  function empty_speakers() {
      let options = "<option value=''>{% trans 'Please fill the above fields first' %}</option>"
      $('select#id_speakers').html(options)
  }

  function set_structures(establishment_id) {
    $.ajax({
      url: "{% url 'structure_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(!is_structure_manager) {
          options += '<option value="">---------</option>'
        }

        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['code']} - ${json[i]['label']}</option>`
        }

        $('select#id_structure').html(options)

        if(structure_id) {
          $("#id_structure").val(structure_id);
        }
        else {
          $("#id_structure").val($("#id_structure option:first").val());
        }

        $("#id_div_structure").show()

        if(slot_mode !== 'visit') {
          $("#id_div_highschool").hide()
        }

        if(slot_mode === "course") {
          $("#id_div_structure").show()
          $("#id_div_campus").show()
          $("#id_div_building").show()
        }
        else {
          toggle_face_to_face()
        }
      }
    })
  }

  function set_trainings(type, object_id) {
    $.ajax({
      url: "{% url 'GetTrainings' %}",
      data: {
        'type': type,
        'object_id': object_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = '<option value="">---------</option>'
        for (let i = 0; i < json['data'].length; i++) {
          let selected = json['data'][i]['id'] === parseInt(training_id) ? "selected='selected'" : ""
          options += `<option ${selected} value="${json['data'][i]['id']}">${json['data'][i]['label']}</option>`
        }

        $('select#id_training').html(options)

        if(training_id) {
          $("#id_training").val(training_id);
        }
        else {
          $("#id_training").val($("#id_training option:first").val());
        }
      }
    })
  }

  function set_courses(type, object_id, training_id) {
    let params = {
        'training': training_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }

    if(type === "structure") {
        params["structure"] = object_id
    }
    else if (type === "highschool") {
        params["highschool"] = object_id
    }

    $.ajax({
      url: "{% url 'course_list' %}",
      type: 'GET',
      data: params,
      success: function (json) {
        courses = Array()
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            let selected =  json[i]['id'] === parseInt(course_id) ? "selected='selected'" : ""
            options += `<option value="${json[i]['id']}" ${selected}>${json[i]['label']}</option>`
            courses[json[i]['id']] = json[i]
          }
        }
        else {
            options = '<option value="">{% trans 'No course available' %}</option>'
        }

        $('select#id_course').html(options)

        if(course_id) {
          $("#id_course").val(course_id);
        }
        else {
          $("#id_course").val($("#id_course option:first").val());
        }
      }
    })
  }

  function set_campuses(establishment_id) {
    $.ajax({
      url: "{% url 'campus_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            options += `<option value="${json[i]['id']}">${json[i]['label']}</option>`
          }
        }
        else {
          options = '<option value="">{% trans 'No campus available' %}</option>'
        }

        $('select#id_campus').html(options)

        if(campus_id) {
          $("#id_campus").val(campus_id);
        }
        else {
          $("#id_campus").val($("#id_campus option:first").val());
        }
      }
    })
  }

  function set_buildings(campus_id) {
    $.ajax({
      url: "{% url 'building_list' %}",
      type: 'GET',
      data: {
        'campus': campus_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            options += `<option value="${json[i]['id']}">${json[i]['label']}</option>`
          }
        }
        else {
          options = '<option value="">{% trans 'No building available' %}</option>'
        }

        $('select#id_building').html(options)

        if(building_id) {
          $("#id_building").val(building_id);
        }
        else {
          $("#id_building").val($("#id_building option:first").val());
        }
      }
    })
  }

  function set_events() {
    $.ajax({
      url: "{% url 'off_offer_event_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id === "" ? null : establishment_id,
        'structure': structure_id === "" ? null : structure_id,
        'highschool': highschool_id === "" ? null : highschool_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        events = Array()
        let options = '<option value="">---------</option>'

        for (let i = 0; i < json.length; i++) {
          let selected = json[i]['id'] === parseInt(event_id) ? "selected='selected'" : ""
          options += `<option value="${json[i]['id']}" ${selected}>${json[i]['event_type']} : ${json[i]['label']}</option>`
          events[json[i]['id']] = json[i]
        }
        $('select#id_event').html(options)

        if(event_id) {
          $("#id_event").val(event_id);
        }
        else {
          $("#id_event").val($("#id_event option:first").val());
        }
      }
    })
  }

  function set_visits() {
    $.ajax({
      url: "{% url 'visit_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        'structure': structure_id === "" ? null : structure_id,
        'highschool': highschool_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        visits = Array()

        let options = '<option value="">---------</option>'
        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['purpose']}</option>`
          visits[json[i]['id']] = json[i]
        }
        $('select#id_visit').html(options)

        if(visit_id) {
          $("#id_visit").val(visit_id);
        }
        else {
          $("#id_visit").val($("#id_visit option:first").val());
        }
      }
    })
  }

  function load_speakers(value) {
    $('select#id_speakers').html('');

    let url = ""
    if (slot_mode === 'course') {
      url = '/api/get_course_speakers/' + value
    }
    else if (slot_mode === 'event') {
      url = '/api/get_event_speakers/' + value
    }
    else if (slot_mode === 'visit') {
      url = '/api/get_visit_speakers/' + value
    }

    if(value !== '') {
      $.ajax({
        url: url,
        success: function(data) {
          if ( data['data'] ) {
            let options = ''
            data['data'].forEach(function(e) {
              let selected = ''

              if (speakers.find(s => parseInt(s) === e['id']) !== undefined) {
                selected = "selected='selected'"
              }

              options += `<option value="${e['id']}" ${selected}>${e['first_name']} ${e['last_name'].toUpperCase()}</option>`
            })

            $('select#id_speakers').html(options)
          }
        },
        error: function() {}
      });
    }
  }

  $('#id_establishment').change( function() {
    establishment_id = $('#id_establishment option:selected').val();
    structure_id = ""

    empty_structures()
    empty_campuses()
    empty_buildings()
    empty_visits()
    empty_events()

    if (establishment_id !== "") {
        highschool_id = ""
        $('#id_highschool').val("")
        set_structures(establishment_id)
        set_campuses(establishment_id)

        if(slot_mode === "event") set_events()
        if(slot_mode === "visit") set_visits()
    }
    else {
        $("#id_div_highschool").show()
        $("#id_div_campus").hide()
        $("#id_div_building").hide()

        if(slot_mode !== 'visit') {
          $("#id_div_structure").hide()
        }

        if($('#id_highschool').val()) {
          if(slot_mode === "event") set_events()
          if(slot_mode === "visit") set_visits()
        }
    }

    toggle_required_fields()
  });

  $('#id_structure').change( function() {
    structure_id = $('#id_structure option:selected').val()
    if (slot_mode === "course") set_trainings('structure', structure_id)
    if (slot_mode === "event") set_events()
    if (slot_mode === "visit") set_visits()
  });

  $('#id_highschool').change( function() {
    highschool_id = $('#id_highschool option:selected').val()

    if (slot_mode === "course") empty_courses()
    if (slot_mode === "event") empty_events()
    if (slot_mode === "visit") empty_visits()

    if (highschool_id !== "") {
      if(slot_mode !== 'visit') {
        establishment_id = ""
        structure_id = ""
        $('#id_establishment').val("")
        $("#id_div_establishment").hide()
        $("#id_div_structure").hide()
        $('#id_structure').val("")
        empty_structures()
      }

      $("#id_div_campus").hide()
      $("#id_div_building").hide()
      $("#id_or").hide()

      empty_campuses()
      empty_buildings()

      if (slot_mode === "course") set_trainings('highschool', highschool_id)
      if (slot_mode === "event") set_events()
      if (slot_mode === "visit") set_visits()
    }
    else {
      $("#id_div_establishment").show()
      // $("#id_div_structure").show()
      $("#id_or").show()
      toggle_face_to_face()
    }
    
    toggle_required_fields()
  });

  $('#id_campus').change( function() {
    campus_id = $('#id_campus option:selected').val();

    if(campus_id !== "") {
      set_buildings(campus_id)
    }
    else {
      empty_buildings()
    }
  });

  $('#id_training').change( function() {
    let type, object_id
    training_id = $('#id_training option:selected').val();

    if(highschool_id) {
      type = "highschool"
      object_id = highschool_id
    }
    else if(structure_id) {
      type = "structure"
      object_id = structure_id
    }

    set_courses(type, object_id, training_id);
    empty_speakers()
  });

  $('#id_course').change( function() {
    course_id = $('#id_course option:selected').val();

    if(course_id !== '' && courses[course_id]['published'] === false) {
      publicationDialog.dialog('open');
    }

    empty_speakers()

    if(course_id) {
      load_speakers(course_id);
    }
  });

  if(is_set($("#id_event"))) {
    $("#id_event").change(function () {
      event_id = $('#id_event option:selected').val()

      if(event_id !== '' && events[event_id]['published'] === false) {
        publicationDialog.dialog('open');
      }

      load_speakers(event_id);
    })
  }

  if(is_set($("#id_visit"))) {
    $("#id_visit").change(function() {
      visit_id = $('#id_visit option:selected').val()

      if(visit_id !== '' && visits[visit_id]['published'] === false) {
        publicationDialog.dialog('open');
      }

      load_speakers(visit_id);
    })
  }

  function toggle_required_fields () {
    let published = $('#id_published').prop('checked');
    let face_to_face = $('#id_face_to_face').prop('checked') || $('#id_face_to_face').val() === "1";

    if (published) {
      let mandatory = ['date', 'start_time', 'end_time', 'speakers', 'n_places']
      let not_mandatory = Array()

      if(slot_mode === "event") {
        mandatory.push('event')
      }
      else if (slot_mode === "course") {
        mandatory = mandatory.concat(['training', 'course', 'course_type'])
      }
      else if (slot_mode === "visit") {
        mandatory = mandatory.concat(['establishment', 'highschool', 'visit'])
      }

      if(slot_mode === "course" || slot_mode === "event") {
        if (establishment_id) {
          mandatory.push('establishment')

          if(slot_mode === "course") {
            mandatory.push('structure')
          }
          else {
            not_mandatory.push('structure')
          }

          not_mandatory.push('highschool')
        } else if (highschool_id) {
          mandatory.push('highschool')
          not_mandatory = not_mandatory.concat(['establishment', 'structure'])
        } else {
          mandatory = mandatory.concat(['establishment', 'highschool'])
        }
      }

      if(face_to_face) {
          mandatory.push("room")

          if(establishment_id) {
            mandatory = mandatory.concat(['campus', 'building'])
          }
          else {
            not_mandatory = not_mandatory.concat(['campus', 'building'])
          }
      }
      else {
          mandatory.push("url")
      }

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'required');
        $('#id_mandatory_' + e).show();
      });

      not_mandatory.forEach(function(e){
        $('#id_' + e).removeAttr('required');
        $('#id_mandatory_' + e).hide();
      });
    }
    else {
      let not_mandatory = [
        'establishment', 'structure', 'highschool', 'room', 'building', 'campus', 'url', 'date', 'start_time',
        'end_time', 'speakers', 'n_places'
      ];

      let mandatory = Array()

      if(slot_mode === "event") mandatory = ['event']
      if(slot_mode === "visit") mandatory = ['establishment', 'highschool', 'visit']
      if(slot_mode === "course") mandatory = ['training', 'course']

      if(slot_mode === "course" || slot_mode === "event") {
        if(establishment_id) {
          mandatory = mandatory.concat(['establishment', 'structure'])
        }
        else if(highschool_id) {
          mandatory.push('highschool')
        }
        else {
          mandatory = mandatory.concat(['establishment', 'highschool'])
        }
      }

      not_mandatory.forEach(function(e){
        $('#id_' + e).removeAttr('required');
        $('#id_mandatory_' + e).hide();
      });

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'required');
        $('#id_mandatory_' + e).show();
      });
    }
  }

  function toggle_establishments_restrictions() {
    if ($('#id_establishments_restrictions').prop('checked')) {
      $('#id_div_allowed_establishments').show()
      $('#establishments_restrictions_hint').show()
    }
    else {
      $('#id_div_allowed_establishments').hide()
      $('#establishments_restrictions_hint').hide()
      $('#id_allowed_establishments').find('option').prop('selected',false)
      $('#id_allowed_highschools').find('option').prop('selected',false)
    }
  }

  function toggle_levels_restrictions() {
    if ($('#id_levels_restrictions').prop('checked')) {
      $('#id_div_allowed_levels').show()
      $('#levels_restrictions_hint').show()
    }
    else {
      $('#id_div_allowed_levels').hide()
      $('#levels_restrictions_hint').hide()
      $('#id_allowed_highschool_levels').find('option').prop('selected',false)
      $('#id_allowed_student_levels').find('option').prop('selected',false)
      $('#id_allowed_post_bachelor_levels').find('option').prop('selected',false)
    }
  }

  function toggle_face_to_face() {
    if($('#id_face_to_face').is(':checked') || $('#id_face_to_face').val() === "1") {
      $("#id_div_room").show()

      if($('#id_published').prop('checked')) {
        $('#id_room').attr('required', 'required');
      }

      $("#id_div_url").hide()
      $('#id_url').removeAttr('required');

      if(establishment_id) {
        $("#id_div_campus").show()
        $("#id_div_building").show()

        if ($('#id_published').prop('checked')) {
          $('#id_campus').attr('required', 'required');
          $('#id_building').attr('required', 'required');
        }
      }
    }
    else {
      $("#id_div_room").hide()
      $("#id_div_campus").hide()
      $("#id_div_building").hide()

      $('#id_room').removeAttr('required');
      $('#id_campus').removeAttr('required');
      $('#id_building').removeAttr('required');

      $("#id_div_url").show()

      if($('#id_published').prop('checked')) {
        $('#id_url').attr('required', 'required');
      }
    }

    toggle_required_fields()
  }


$(document).ready(function(){
  // initialize base values
  if(!is_set(establishment_id)) {
    establishment_id = $("#id_establishment").val()
  }
  else {
    $("#id_establishment").val(establishment_id)
  }

  if(establishment_id) {
    $("#id_div_structure").show()
    $("#id_div_campus").show()
    $("#id_div_building").show()

    if(slot_mode !== 'visit') {
      $("#id_div_highschool").hide()
    }

    set_structures(establishment_id)
    set_campuses(establishment_id)
  }
  else {
    if(slot_mode !== 'visit') {
      $("#id_div_structure").hide()
    }
    $("#id_div_campus").hide()
    $("#id_div_building").hide()
    empty_structures()
  }

  if(!is_set(structure_id)) {
    structure_id = $("#id_structure").val()
  }
  else {
    $("#id_structure").val(structure_id)
  }

  if(slot_mode === "course") {
    if (!is_set(training_id)) {
      training_id = $("#id_training").val()
    } else {
      $("#id_training").val(training_id)
    }
  }

  if(!is_set(campus_id)) {
    campus_id = $("#id_campus").val()
  }
  else {
    $("#id_campus").val(campus_id)
  }

  if(campus_id) {
    set_buildings()
  }

  if(!is_set(building_id)) {
    building_id = $("#id_building").val()
  }
  else {
    $("#id_building").val(building_id)
  }

  if(!is_set(highschool_id)) {
    highschool_id = $("#id_highschool").val()
  }
  else {
    $("#id_highschool").val(highschool_id)
  }

  if(highschool_id) {
    if(slot_mode !== 'visit') {
      $("#id_div_establishment").hide()
      $("#id_div_structure").hide()
    }

    $("#id_div_campus").hide()
    $("#id_div_building").hide()
    $("#id_or").hide()

    if(slot_mode === "course") {
      set_trainings('highschool', highschool_id)
      set_courses('highschool', highschool_id, training_id);
    }
  }
  else if (is_set(structure_id)) {
    if(slot_mode === "course") {
      set_trainings('structure', structure_id)
      set_courses('structure', structure_id, training_id);
    }
  }
  else {
    if(slot_mode === "course") {
      empty_trainings()
      empty_courses()
    }
  }


  // Structure is not mandatory to load the events
  if(slot_mode === "event") {
    if(is_set(establishment_id) || is_set(highschool_id)) {
      set_events()
    }

    if (!is_set(event_id)) {
      event_id = $("#id_event").val()
    } else {
      $("#id_event").val(event_id)
    }

    if(event_id) {
      load_speakers(event_id);
    }
  }

  if(slot_mode === "visit") {
    if(is_set(establishment_id) && is_set(structure_id) && is_set(highschool_id)) {
      set_visits();
    }

    if(!is_set(visit_id)) {
      visit_id = $("#id_visit").val()
    }
    else {
      $("#id_visit").val(visit_id)
    }

    if(visit_id) {
      load_speakers(visit_id);
    }
  }

  if(slot_mode === "course") {
    if(is_set(course_id)) {
      load_speakers(course_id);
    }
    else {
      empty_speakers()
    }
  }

  if($('#id_face_to_face').is(':checked')) {
    $("#id_div_room").show()
    $('#id_room').attr('required', 'required');

    $("#id_div_url").hide()
    $('#id_url').removeAttr('required');
  }
  else {
    $("#id_div_room").hide()
    $('#id_room').removeAttr('required');

    $("#id_div_url").show()
    $('#id_url').attr('required', 'required');
  }

  initFeedback();
  // reset feedback
  setTimeout(function(){$('#feedback').html('')}, {%  settings_get 'MESSAGES_TIMEOUT' %});

  dateDialog = $("#date-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          dateDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_date').val('');
          dateDialog.dialog("close");
        },
      }],
  });

  publicationDialog = $("#publication-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          publicationDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_event').val('');
          $('#id_visit').val('');
          $('#id_course').val('');
          publicationDialog.dialog("close");
        },
      }],
  });

  cancelDialog = $("#cancel-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          let url = ""
          if (slot_mode === 'course') {
            url = "/core/slots"
          }
          else if (slot_mode === 'event') {
            url = "/core/off_offer_events_slots"
          }
          else if (slot_mode === 'visit') {
            url = "/core/visits_slots"
          }

          window.location = url;
          cancelDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          cancelDialog.dialog("close");
        },
      }],
  });

  function check_date() {
    $.ajax({
      url: '/api/check_vacations',
      data: {
        date: $('#id_date').val(),
      },
      success: function(data) {
        if ( data['data'] ) {
          if (data['data']['is_between']) {
            dateDialog.dialog('open');
          }
        }
      },
    });
  }

  // Change input type
  $('#id_start_time').get(0).type = 'time';
  $('#id_end_time').get(0).type = 'time';

  // Date check
  $('#id_date').on('change', function() {
    check_date();
  });

  // Back button + confirm
  $('.back_btn').click(function (event) {
    cancelDialog.dialog('open');
  });

  $(".datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,
    yearRange: "2020:2100",
  });

  // toggle
  toggle_required_fields();
  $('#id_published').on('change', function(){ toggle_required_fields(); });

  toggle_establishments_restrictions();
  $('#id_establishments_restrictions').on('change', function() { toggle_establishments_restrictions() });

  toggle_levels_restrictions();
  $('#id_levels_restrictions').on('change', function() { toggle_levels_restrictions() });

  toggle_face_to_face();
  $('#id_face_to_face').on('change', function() { toggle_face_to_face() });


  {% if slot or request.POST.structure %}
    {% if slot %}
      setTimeout(function() {
        $('#ok_modify').fadeOut(1000, function(){
          $('#ok_modify').hide();
        });
      },
      {% settings_get 'MESSAGES_TIMEOUT' %}
      );
    {% endif %}
  {% endif %}
});
</script>
{% endblock %}
