{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block head-javascript %}
    <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top: 20px; width: 70%;">
  {% block confirm_slot_creation %}{% endblock %}
  {% block confirm_publication %}{% endblock %}

  <div id="cancel-dialog-form" style='z-index:3000;' title='{% trans "Cancel" %}'>
    <span>
      {% if slot %}
        {% if slot.id %}
          {% trans 'Do you really want to cancel this modification?' %}
        {% else %}
          {% trans 'Do you really want to cancel this duplication?' %}
        {% endif %}
      {% else %}
        {% trans 'Do you really want to cancel this creation?' %}
      {% endif %}
    </span>
  </div>

  <div id="date-error-dialog" style='z-index:3000;' title='{% trans "Date error" %}'>
    <span>
      {% trans "You can't select an end date anterior to the current slot date" %}
    </span>
  </div>

  <div class="card">
    {% block card_header %}{% endblock %}
    <div class="card-body">

        <form method="POST" class="form-group" role="form" id="add_slot">
            <fieldset>

                <legend>{% trans 'Fields with a <i class="fa fas fa-asterisk"></i> are mandatory' %}</legend>

        {% csrf_token %}
        {{ form.id }}
        {% block dates_selection %}{% endblock %}

        {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager or request.user.is_operator %}
        <div class="form-group row" id="id_div_establishment">
          <label for="id_establishment" class="col-sm-3 col-form-label">
            <i id='id_mandatory_establishment' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Establishment' %} :
          </label>
          <div class="col-sm-3">
            {{ form.establishment }}
          </div>
          <div class="col-sm-6">
            {{ form.establishment.errors }}
          </div>
        </div>
        {% endif %}
        {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager or request.user.is_structure_manager or request.user.is_operator %}
        <div class="form-group row" id="id_div_structure">
          <label for="id_structure" class="col-sm-3 col-form-label">
            <i id='id_mandatory_structure' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Structure' %} :
          </label>
          <div class="col-sm-3">
            {{ form.structure }}
          </div>
          <div class="col-sm-6">
            {{ form.structure.errors }}
          </div>
        </div>
        {% endif %}
        <div class="form-group row" id="id_div_highschool">
          <label for="id_highschool" class="col-sm-3 col-form-label">
            <i id='id_mandatory_highschool' class="fa fas fa-asterisk" style="display:none"></i>
            {% if slot_mode != 'visits' %}
              {% if request.user.is_master_establishment_manager or request.user.is_operator %}
                <span id="id_or"><strong>{% trans 'or' %} </strong></span>
              {% endif %}
            {% endif %}
            {% trans 'high school' %} :
          </label>
          <div class="col-sm-3">
            {{ form.highschool }}
          </div>
          <div class="col-sm-6">
            {{ form.highschool.errors }}
          </div>
        </div>

        {% block specific_fields %}{% endblock %}

        {% if slot_mode != 'visits' %}
            <div class="form-group row" id="id_div_campus">
                <label for="id_campus" class="col-form-label col-sm-3">
                  <i id='id_mandatory_campus' class="fa fas fa-asterisk" style="display:none"></i>
                  {% trans 'Campus' %}
                </label>
                <div class="col-sm-3">
                {% if slot %}
                  <select name="campus" id="id_campus" class="form-control">
                    <option value="" selected>--------</option>
                      {% for c in campus %}
                        <option value="{{ c.id }}">{{ c.label }}</option>
                      {% endfor %}
                  </select>
                {% else %}
                  {{ form.campus }}
                {% endif %}
              </div>
              {% if form.campus.errors %}
                <div class="col-sm-6 alert alert-danger">
                  {{ form.campus.errors }}
                </div>
              {% endif %}
            </div>

            <div class="form-group row" id="id_div_building">
              <label for="building" class="col-form-label col-sm-3">
                <i id='id_mandatory_building' class="fa fas fa-asterisk" style="display:none"></i>
                {% trans 'Building' %}
              </label>
              <div class="col-sm-3">
                {{ form.building }}
              </div>
              {% if form.building.errors %}
                <div class="col-sm-6 alert alert-danger">
                  {{ form.building.errors }}
                </div>
              {% endif %}
            </div>
        {% endif %}
        <div class="form-group row" id="id_div_room">
          <label for="id_room" class="col-form-label col-sm-3">
            <i id='id_mandatory_room' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Meeting place' %}
          </label>
          <div class="col-sm-3">
            {{ form.room }}
          </div>
          {% if form.room.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.room.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_url">
          <label for="id_url" class="col-form-label col-sm-3">
            <i id='id_mandatory_url' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'URL' %}
          </label>
          <div class="col-sm-3">
            {{ form.url }}
          </div>
          {% if form.url.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.url.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
            <label for="date" class="col-form-label col-sm-3">
              <i id='id_mandatory_date' class="fa fas fa-asterisk" style="display:none"></i>
              {% trans 'Date' %}
            </label>
            <div class="col-sm-3">
                {{ form.date }}
            </div>
            {% if form.date.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.date.errors }}
            </div>
            {% endif %}
        </div>

        {% block slot_repetition_field %}{% endblock %}

        <div class="form-group row">
            <label for="start_time" class="col-form-label col-sm-3">
              <i id='id_mandatory_start_time' class="fa fas fa-asterisk" style="display:none"></i>
              {% trans 'Start time' %}
            </label>
            <div class="col-sm-3">
                {{ form.start_time }}
            </div>
            {% if form.start_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.start_time.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
          <label for="end_time" class="col-form-label col-sm-3">
            <i id='id_mandatory_end_time' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'End time' %}
          </label>
          <div class="col-sm-3">
            {{ form.end_time }}
          </div>
          {% if form.end_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.end_time.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="registration_limit_delay" class="col-form-label col-sm-3">
            {% trans 'Registration limit (in hours)' %}
          </label>
          <div class="col-sm-3">
            {{ form.registration_limit_delay }}
          </div>
          {% if form.registration_limit_delay.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.registration_limit_delay.errors }}
            </div>
          {% endif %}
          <div class="col-sm-6">
            <span id="id_registration_limit_text" style="display:none">{% trans 'Limit' %} :</span>
            <span id="id_registration_limit_value" class="pl-1" style="display:none"></span>
          </div>
        </div>
        <div class="form-group row">
          <label for="cancellation_limit_delay" class="col-form-label col-sm-3">
            {% trans 'Cancellation limit (in hours)' %}
          </label>
          <div class="col-sm-3">
            {{ form.cancellation_limit_delay }}
          </div>
          {% if form.cancellation_limit_delay.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.cancellation_limit_delay.errors }}
            </div>
          {% endif %}
          <div class="col-sm-6">
            <span id="id_cancellation_limit_text" style="display:none">{% trans 'Limit' %} :</span>
            <span id="id_cancellation_limit_value" class="pl-1" style="display:none"></span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3">
            <i id='id_mandatory_speakers' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Speakers' %}
          </label>
          <div class="col-sm-3">
            {{ form.speakers }}
          </div>
          {% if form.speakers.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.speakers.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_n_places" class="col-form-label col-sm-3">
            <i id='id_mandatory_n_places' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Number of places' %}
          </label>
          <div class="col-sm-3">
            {{ form.n_places }}
          </div>
          {% if form.n_places.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.n_places.errors }}
            </div>
          {% endif %}
        </div>

        {% if slot_mode != 'visits' %}
          <div class="form-group row">
            <label for="id_establishments_restrictions" class="col-form-label col-sm-3">
              {% trans 'Use establishments restrictions' %} ?
            </label>
            <div class="col-sm-6">
              {{ form.establishments_restrictions }}
              <span id="establishments_restrictions_hint">
                <i>{% trans "Keep 'Ctrl' or 'Command' key pressed to select multiple items" %}</i>
              </span>
            </div>

            {% if form.establishments_restrictions.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ form.establishments_restrictions.errors }}
              </div>
            {% endif %}
          </div>

          <div class="form-group row" id="id_div_allowed_establishments">
            <div class="col-sm-3 offset-sm-3">
              <label for="id_allowed_establishments" class="col-form-label">
                {% trans 'Allowed establishments' %}
              </label>
              {{ form.allowed_establishments }}
            </div>
            <div class="col-sm-3">
              <label for="id_allowed_highschools" class="col-form-label">
                {% trans 'Allowed high schools' %}
              </label>
              {{ form.allowed_highschools }}
            </div>

            {% if form.allowed_establishments.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ form.allowed_establishments.errors }}
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div class="form-group row">
          <label for="id_levels_restrictions" class="col-form-label col-sm-3">
            {% trans 'Use levels restrictions' %} ?
          </label>
          <div class="col-sm-6">
            {{ form.levels_restrictions }}
            <span id="levels_restrictions_hint">
              <i>{% trans "Keep 'Ctrl' or 'Command' key pressed to select multiple items" %}</i>
            </span>
          </div>

          {% if form.levels_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.levels_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_levels">
          <div class="col-sm-3 offset-sm-3">
            <label for="id_allowed_highschool_levels" class="col-form-label">
              {% trans 'Allowed high school levels' %}
            </label>
            {{ form.allowed_highschool_levels }}
            {{ form.allowed_highschool_levels.errors }}
          </div>
          {% if slot_mode != "visits" %}
          <div class="col-sm-3">
            <label for="id_allowed_student_levels" class="col-form-label">
              {% trans 'Allowed student levels' %}
            </label>
            {{ form.allowed_student_levels }}
            {{ form.allowed_student_levels.errors }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_post_bachelor_levels" class="col-form-label">
              {% trans 'Allowed post bachelor levels' %}
            </label>
            {{ form.allowed_post_bachelor_levels }}
            {{ form.allowed_post_bachelor_levels.errors }}
          </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_bachelors_restrictions" class="col-form-label col-sm-3">
            {% trans 'Use bachelor type restrictions' %} ?
          </label>
          <div class="col-sm-6">
            {{ form.bachelors_restrictions }}
            <span id="bachelors_restrictions_hint">
              <i>{% trans "Keep 'Ctrl' or 'Command' key pressed to select multiple items" %}</i>
            </span>
          </div>

          {% if form.bachelors_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.bachelors_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_bachelors">
          <div class="col-sm-2 offset-sm-3">
            <label for="id_allowed_bachelor_types" class="col-form-label">
              {% trans 'Allowed bachelor types' %}
            </label>
            {{ form.allowed_bachelor_types }}
            {{ form.allowed_bachelor_types.errors }}
          </div>
          <div class="col-sm-4" id="id_div_bachelor_mentions">
            <label for="id_allowed_bachelor_mentions" class="col-form-label">
              {% trans 'Allowed bachelor mentions' %}
            </label>
            {{ form.allowed_bachelor_mentions }}
            {{ form.allowed_bachelor_mentions.errors }}
          </div>
          <div class="col-sm-3" id="id_div_bachelor_teachings">
            <label for="id_allowed_bachelor_teachings" class="col-form-label">
              {% trans 'Allowed bachelor teachings' %}
            </label>
            {{ form.allowed_bachelor_teachings }}
            {{ form.allowed_bachelor_teachings.errors }}
          </div>
        </div>

        <div class="form-group row">
          <label for="additional_information" class="col-form-label col-sm-3">
            <i id='id_mandatory_additional_information' class="fa fas fa-asterisk" style="display:none"></i>
            {% trans 'Additional information' %}
          </label>
          <div class="col-sm-6">
            {{ form.additional_information }}
          </div>
          {% if form.additional_information.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.additional_information.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="published" class="col-form-label col-sm-3">
            {% trans 'Published' %} ?
          </label>
          <div class="col-sm-1">
            {{ form.published }}
          </div>
          {% if form.published.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.published.errors }}
            </div>
          {% endif %}
        </div>
        <input type="hidden" name="modify">
        {% if slot and slot.id %}
          <div class="form-group row">
            <label for="notify_student" class="col-form-label col-sm-3">{% trans "Notify registrants of these changes?" %}</label>
            <div class="col-sm-1">
              <input type="checkbox" name="notify_student">
            </div>
          </div>
        {% endif %}
        <br>
        {% include 'core/slot__controls.html' %}
    </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block foot-javascript %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment "" %}TODO: add here other languages for jquery-ui !!{% endcomment %}
{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}
<script>
  var dateDialog;
  var publicationDialog;
  var cancelDialog;
  var repetitionDialog;
  var dateErrorDialog;
  var establishment_id = parseInt("{{ form.establishment.initial }}") || "{{ establishment_id }}";
  var structure_id = parseInt("{{ form.structure.value }}") || "{{ structure_id }}";
  var highschool_id = parseInt("{{ form.highschool.id }}") || "{{ highschool_id }}";
  var training_id = parseInt("{{ form.training.value }}") || "{{ training_id }}";
  var campus_id = "{{ form.campus.value }}";
  var building_id = "{{ form.building.value }}";

  var course_id = parseInt("{{ form.course.value }}") || "{{ course_id }}";
  var event_id = parseInt("{{ form.event.value }}") || "{{ event_id }}";
  var visit_id = parseInt("{{ form.visit.value }}") || "{{ visit_id }}";

  var events = Array();
  var courses = Array();
  var visits = Array();

  let speakers_list = "{{ form.speakers.value|safe }}".replace(/'/g, '')
  let speakers = is_set(speakers_list) ? JSON.parse(speakers_list) : Array();

  var is_structure_manager = "{{ request.user.is_structure_manager }}" === "True"
  var slot_mode = "{{ slot_mode }}"

  var slot_dates = "{{ slot_dates|safe }}"
  slot_dates = slot_dates !== "None" ? slot_dates.split(",") : undefined

  {% autoescape off %}
    var bachelor_types = is_set('{{ bachelor_types }}') ? JSON.parse('{{ bachelor_types }}') : Array()
  {% endautoescape %}

  empty_speakers()

  function empty_structures() {
      let options = '<option value="">---------</option>'
      $('select#id_structure').html(options)
      structure_id = ''

      if(slot_mode === "courses") {
        $("#id_div_structure").hide()
      }
  }

  function empty_campuses() {
      let options = '<option value="">---------</option>'
      $('select#id_campus').html(options)
      campus_id = ''
  }

  function empty_buildings() {
      let options = '<option value="">---------</option>'
      $('select#id_building').html(options)
      building_id = ''
  }

  function empty_trainings() {
      let options = '<option value="">---------</option>'
      $('select#id_training').html(options)
      training_id = ''
  }

  function empty_courses() {
      let options = '<option value="">---------</option>'
      $('select#id_course').html(options)
      course_id = ''
      empty_speakers()
  }

  function empty_events() {
      let options = '<option value="">---------</option>'
      $('select#id_event').html(options)
      event_id = ''
  }

  function empty_visits() {
      let options = '<option value="">---------</option>'
      $('select#id_visit').html(options)
      visit_id = ''
  }

  function empty_speakers() {
      let options = "<option value=''>{% trans 'Please fill the above fields first' %}</option>"
      $('select#id_speakers').html(options)
  }

  function set_structures(establishment_id) {
    $.ajax({
      url: "{% url 'structure_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(!is_structure_manager) {
          options += '<option value="">---------</option>'
        }

        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['code']} - ${json[i]['label']}</option>`
        }

        $('select#id_structure').html(options)

        if(structure_id) {
          $("#id_structure").val(structure_id);
        }
        else {
          $("#id_structure").val($("#id_structure option:first").val());
        }

        $("#id_div_structure").show()

        if(slot_mode !== 'visits') {
          $("#id_div_highschool").hide()
        }

        if(slot_mode === "courses") {
          $("#id_div_structure").show()
          $("#id_div_campus").show()
          $("#id_div_building").show()
        }
        else {
          toggle_face_to_face()
        }
      }
    })
  }

  function set_trainings(type, object_id) {
    // Get selected high school or structure trainings
    // type must be one of "structures" or "highschool"
    let options = "<option value=''>---------</option>"

    if(!is_set(object_id)) {
       $('select#id_training').html(options)
       $("#id_training").val($("#id_training option:first").val());
       return
    }

    $.ajax({
      url: "{% url 'training_list' %}",
      method: 'GET',
      data: {
        "csrfmiddlewaretoken": '{{ csrf_token }}',
        [type]: object_id
      },
      success: function (json) {
        for (let i = 0; i < json.length; i++) {
          let selected = json[i]['id'] === parseInt(training_id) ? "selected='selected'" : ""
          options += `<option ${selected} value="${json[i]['id']}">${json[i]['label']}</option>`
        }

        $('select#id_training').html(options)

        if(training_id) {
          $("#id_training").val(training_id);
        }
        else {
          $("#id_training").val($("#id_training option:first").val());
        }
      }
    })
  }

  function set_courses(type, object_id, training_id) {
    let params = {
        'training': training_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }

    if(type === "structure") {
        params["structure"] = object_id
    }
    else if (type === "highschool") {
        params["highschool"] = object_id
    }

    $.ajax({
      url: "{% url 'course_list' %}",
      type: 'GET',
      data: params,
      success: function (json) {
        courses = Array()
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            let selected =  json[i]['id'] === parseInt(course_id) ? "selected='selected'" : ""
            let disabled = json[i]['speakers'].length === 0 ? "disabled" : ""
            let comment = json[i]['speakers'].length === 0 ? "{% trans '(no speaker)' %}" : ""

            options += `<option value="${json[i]['id']}" ${selected} ${disabled}>${json[i]['label']} ${comment}</option>`
            courses[json[i]['id']] = json[i]
          }
        }
        else {
            options = '<option value="">{% trans 'No course available' %}</option>'
        }

        $('select#id_course').html(options)

        if(course_id) {
          $("#id_course").val(course_id);
        }
        else {
          $("#id_course").val($("#id_course option:first").val());
        }
      }
    })
  }

  function set_campuses(establishment_id) {
    $.ajax({
      url: "{% url 'campus_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            options += `<option value="${json[i]['id']}">${json[i]['label']}</option>`
          }
        }
        else {
          options = '<option value="">{% trans 'No campus available' %}</option>'
        }

        $('select#id_campus').html(options)

        if(campus_id) {
          $("#id_campus").val(campus_id);
        }
        else {
          $("#id_campus").val($("#id_campus option:first").val());
        }
      }
    })
  }

  function set_buildings(campus_id) {
    $.ajax({
      url: "{% url 'building_list' %}",
      type: 'GET',
      data: {
        'campus': campus_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            options += `<option value="${json[i]['id']}">${json[i]['label']}</option>`
          }
        }
        else {
          options = '<option value="">{% trans 'No building available' %}</option>'
        }

        $('select#id_building').html(options)

        if(building_id) {
          $("#id_building").val(building_id);
        }
        else {
          $("#id_building").val($("#id_building option:first").val());
        }
      }
    })
  }

  function set_events() {
    $.ajax({
      url: "{% url 'off_offer_event_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id === "" ? null : establishment_id,
        'structure': structure_id === "" ? null : structure_id,
        'highschool': highschool_id === "" ? null : highschool_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        events = Array()
        let options = '<option value="">---------</option>'

        for (let i = 0; i < json.length; i++) {
          let selected = json[i]['id'] === parseInt(event_id) ? "selected='selected'" : ""
          options += `<option value="${json[i]['id']}" ${selected}>${json[i]['event_type']} : ${json[i]['label']}</option>`
          events[json[i]['id']] = json[i]
        }
        $('select#id_event').html(options)

        if(event_id) {
          $("#id_event").val(event_id);
        }
        else {
          $("#id_event").val($("#id_event option:first").val());
        }
      }
    })
  }

  function set_visits() {
    $.ajax({
      url: "{% url 'visit_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        'structure': structure_id === "" ? null : structure_id,
        'highschool': highschool_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        visits = Array()

        let options = '<option value="">---------</option>'
        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['purpose']}</option>`
          visits[json[i]['id']] = json[i]
        }
        $('select#id_visit').html(options)

        if(visit_id) {
          $("#id_visit").val(visit_id);
        }
        else {
          $("#id_visit").val($("#id_visit option:first").val());
        }
      }
    })
  }

  function load_speakers(value) {
    $('select#id_speakers').html('');

    let url = `/api/speakers/${slot_mode}/${value}`

    if(value !== '') {
      $.ajax({
        url: url,
        success: function(data) {
          if ( data ) {
            let options = ''
            data.forEach(function(e) {
              let selected = ''

              if (speakers.find(s => parseInt(s) === e['id']) !== undefined) {
                selected = "selected='selected'"
              }

              options += `<option value="${e['id']}" ${selected}>${e['first_name']} ${e['last_name'].toUpperCase()}</option>`
            })

            $('select#id_speakers').html(options)
          }
        },
        error: function() {}
      });
    }
  }

  function get_new_date(from_date, start_time, delta_hours) {
      const options = {
            weekday: "short",
            year: "numeric",
            month: "long",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
      };

      let date_locale = navigator.languages !== undefined ? navigator.languages[0] : navigator.language;

      let date_ms = from_date.getTime()

      let start_time_split = start_time.split(":")
      let start_time_ms = (start_time_split[0] * 3600 * 1000) + (start_time_split[1] * 60 * 1000)

      // convert registration_limit_delay from hours to milliseconds
      let remove_ms = delta_hours * 3600 * 1000

      return new Date(date_ms + start_time_ms - remove_ms).toLocaleString(date_locale, options)
  }

  function display_registration_limit_delay() {
      let date = $("#id_date").datepicker("getDate")
      let start_time = $("#id_start_time").val()
      let registration_limit_delay = $("#id_registration_limit_delay").val()

      if(is_set(date) && is_set(start_time) && is_set(registration_limit_delay)) {
          let new_date = get_new_date(date, start_time, registration_limit_delay)

          $("#id_registration_limit_text").show()
          $("#id_registration_limit_value").text(new_date)
          $("#id_registration_limit_value").show()
      }
      else {
          $("#id_registration_limit_text").hide()
          $("#id_registration_limit_value").hide()
      }
  }

  function display_cancellation_limit_delay() {
      let date = $("#id_date").datepicker("getDate")
      let start_time = $("#id_start_time").val()
      let cancellation_limit_delay = $("#id_cancellation_limit_delay").val()

      if(is_set(date) && is_set(start_time) && is_set(cancellation_limit_delay)) {
          let new_date = get_new_date(date, start_time, cancellation_limit_delay)

          $("#id_cancellation_limit_text").show()
          $("#id_cancellation_limit_value").text(new_date)
          $("#id_cancellation_limit_value").show()
      }
      else {
          $("#id_cancellation_limit_text").hide()
          $("#id_cancellation_limit_value").hide()
      }
  }

  $("#id_start_time").change(function() {
      display_registration_limit_delay()
      display_cancellation_limit_delay()
  })

  $("#id_date").change(function() {
      display_registration_limit_delay()
      display_cancellation_limit_delay()
  })

  $("#id_registration_limit_delay").change(function() {
      display_registration_limit_delay()
  })

  $("#id_cancellation_limit_delay").change(function() {
      display_cancellation_limit_delay()
  })

  $('#id_establishment').change( function() {
    establishment_id = $('#id_establishment option:selected').val();
    structure_id = ""

    empty_structures()
    empty_campuses()
    empty_buildings()
    empty_visits()
    empty_events()

    if (establishment_id !== "") {
        highschool_id = ""
        $('#id_highschool').val("")
        set_structures(establishment_id)
        set_campuses(establishment_id)

        if(slot_mode === "events") set_events()
        if(slot_mode === "visits") set_visits()
    }
    else {
        $("#id_div_highschool").show()
        $("#id_div_campus").hide()
        $("#id_div_building").hide()

        if(slot_mode !== 'visits') {
          $("#id_div_structure").hide()
        }

        if($('#id_highschool').val()) {
          if(slot_mode === "events") set_events()
          if(slot_mode === "visits") set_visits()
        }
    }

    set_session_values(slot_mode, {
      "current_highschool_id": highschool_id,
      "current_establishment_id": establishment_id,
      "current_structure_id": structure_id,
    })

    toggle_required_fields()
  });

  $('#id_structure').change( function() {
    structure_id = $('#id_structure option:selected').val()
    training_id = ""

    if (slot_mode === "courses") set_trainings('structures', structure_id)
    if (slot_mode === "events") set_events()
    if (slot_mode === "visits") set_visits()

    set_session_values(slot_mode, {
      "current_highschool_id": highschool_id,
      "current_establishment_id": establishment_id,
      "current_structure_id": structure_id,
      "current_training_id": training_id
    })
  });

  $('#id_highschool').change( function() {
    highschool_id = $('#id_highschool option:selected').val()
    training_id = ""

    if (slot_mode === "courses") empty_courses()
    if (slot_mode === "events") empty_events()
    if (slot_mode === "visits") empty_visits()

    if (highschool_id !== "") {
      if(slot_mode !== 'visits') {
        establishment_id = ""
        structure_id = ""
        $('#id_establishment').val("")
        $("#id_div_establishment").hide()
        $("#id_div_structure").hide()
        $('#id_structure').val("")
        empty_structures()
      }

      $("#id_div_campus").hide()
      $("#id_div_building").hide()
      $("#id_or").hide()

      empty_campuses()
      empty_buildings()

      if (slot_mode === "courses") set_trainings('highschool', highschool_id)
      if (slot_mode === "events") set_events()
      if (slot_mode === "visits") set_visits()
    }
    else {
      $("#id_div_establishment").show()
      // $("#id_div_structure").show()
      $("#id_or").show()
      toggle_face_to_face()
    }

    set_session_values(slot_mode, {
      "current_highschool_id": highschool_id,
      "current_establishment_id": establishment_id,
      "current_structure_id": structure_id,
      "current_training_id": training_id,
    })

    toggle_required_fields()
  });

  $('#id_campus').change( function() {
    campus_id = $('#id_campus option:selected').val();

    if(campus_id !== "") {
      set_buildings(campus_id)
    }
    else {
      empty_buildings()
    }
  });

  $('#id_training').change( function() {
    let type, object_id
    training_id = $('#id_training option:selected').val();

    if(highschool_id) {
      type = "highschool"
      object_id = highschool_id
    }
    else if(structure_id) {
      type = "structure"
      object_id = structure_id
    }

    set_courses(type, object_id, training_id);

    set_session_values(slot_mode, {
      "current_training_id": training_id,
    })

    empty_speakers()
  });

  $('#id_course').change( function() {
    course_id = $('#id_course option:selected').val();

    if(course_id !== '' && courses[course_id]['published'] === false) {
      publicationDialog.dialog('open');
    }

    empty_speakers()

    if(course_id) {
      load_speakers(course_id);
    }
  });

  if(is_set($("#id_event"))) {
    $("#id_event").change(function () {
      event_id = $('#id_event option:selected').val()

      if(event_id !== '' && events[event_id]['published'] === false) {
        publicationDialog.dialog('open');
      }

      load_speakers(event_id);
    })
  }

  if(is_set($("#id_visit"))) {
    $("#id_visit").change(function() {
      visit_id = $('#id_visit option:selected').val()

      if(visit_id !== '' && visits[visit_id]['published'] === false) {
        publicationDialog.dialog('open');
      }

      load_speakers(visit_id);
    })
  }

  function toggle_required_fields () {
    let published = $('#id_published').prop('checked');
    let face_to_face = $('#id_face_to_face').prop('checked') || $('#id_face_to_face').val() === "1";

    if (published) {
      let mandatory = ['date', 'start_time', 'end_time', 'speakers', 'n_places']
      let not_mandatory = Array()

      if(slot_mode === "events") {
        mandatory.push('event')
      }
      else if (slot_mode === "courses") {
        mandatory = mandatory.concat(['training', 'course', 'course_type'])
        $('#id_div_repeat').show()
      }
      else if (slot_mode === "visits") {
        mandatory = mandatory.concat(['establishment', 'highschool', 'visit'])
      }

      if(slot_mode === "courses" || slot_mode === "events") {
        if (establishment_id) {
          mandatory.push('establishment')

          if(slot_mode === "courses") {
            mandatory.push('structure')
          }
          else {
            not_mandatory.push('structure')
          }

          not_mandatory.push('highschool')
        } else if (highschool_id) {
          mandatory.push('highschool')
          not_mandatory = not_mandatory.concat(['establishment', 'structure'])
        } else {
          mandatory = mandatory.concat(['establishment', 'highschool'])
        }
      }

      if(face_to_face) {
          mandatory.push("room")

          if(establishment_id) {
            mandatory = mandatory.concat(['campus', 'building'])
          }
          else {
            not_mandatory = not_mandatory.concat(['campus', 'building'])
          }
      }
      else {
          mandatory.push("url")
      }

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'required');
        $('#id_mandatory_' + e).show();
      });

      not_mandatory.forEach(function(e){
        $('#id_' + e).removeAttr('required');
        $('#id_mandatory_' + e).hide();
      });
    }
    else {
      let not_mandatory = [
        'establishment', 'structure', 'highschool', 'room', 'building', 'campus', 'url', 'date', 'start_time',
        'end_time', 'speakers', 'n_places'
      ];

      let mandatory = Array()

      if(slot_mode === "events") mandatory = ['event']
      if(slot_mode === "visits") mandatory = ['establishment', 'highschool', 'visit']
      if(slot_mode === "courses") {
          mandatory = ['training', 'course']
          $('#id_div_repeat').hide()
      }

      if(slot_mode === "courses" || slot_mode === "events") {
        if(establishment_id) {
          mandatory.push('establishment')
          if(slot_mode === "courses") {
            mandatory.push('structure')
          }
        }
        else if(highschool_id) {
          mandatory.push('highschool')
        }
        else {
          mandatory = mandatory.concat(['establishment', 'highschool'])
        }
      }

      not_mandatory.forEach(function(e){
        $('#id_' + e).removeAttr('required');
        $('#id_mandatory_' + e).hide();
      });

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'required');
        $('#id_mandatory_' + e).show();
      });
    }
  }

  function open_slot_repetition_modal() {
    $('#modal_slot_repetition').modal('show');
  }

  function toggle_establishments_restrictions() {
    if ($('#id_establishments_restrictions').prop('checked')) {
      $('#id_div_allowed_establishments').show()
      $('#establishments_restrictions_hint').show()
    }
    else {
      $('#id_div_allowed_establishments').hide()
      $('#establishments_restrictions_hint').hide()
      $('#id_allowed_establishments').find('option').prop('selected',false)
      $('#id_allowed_highschools').find('option').prop('selected',false)
    }
  }

  function toggle_levels_restrictions() {
    if ($('#id_levels_restrictions').prop('checked')) {
      $('#id_div_allowed_levels').show()
      $('#levels_restrictions_hint').show()
    }
    else {
      $('#id_div_allowed_levels').hide()
      $('#levels_restrictions_hint').hide()
      $('#id_allowed_highschool_levels').find('option').prop('selected',false)
      $('#id_allowed_student_levels').find('option').prop('selected',false)
      $('#id_allowed_post_bachelor_levels').find('option').prop('selected',false)
    }
  }

  function toggle_bachelors_restrictions() {
    if ($('#id_bachelors_restrictions').prop('checked')) {
      $('#id_div_allowed_bachelors').show()
      $('#bachelors_restrictions_hint').show()
    }
    else {
      $('#id_div_allowed_bachelors').hide()
      $('#bachelors_restrictions_hint').hide()
      $('#id_allowed_bachelor_types').find('option').prop('selected',false)
      $('#id_allowed_bachelor_mentions').find('option').prop('selected',false)
      $('#id_allowed_bachelor_teachings').find('option').prop('selected',false)
    }
  }

  function toggle_bachelors_options(selected_types) {
    let display_technological_mentions = false
    let display_general_teachings = false

    selected_types.forEach(e => {
      if(is_set(bachelor_types[e])) {
        if(bachelor_types[e]["is_general"]) {
          display_general_teachings = true
        }

        if(bachelor_types[e]["is_technological"]) {
          display_technological_mentions = true
        }
      }
    })

    if(display_technological_mentions) {
      $('#id_div_bachelor_mentions').show()
    }
    else {
      $('#id_div_bachelor_mentions').hide()
      $('#id_allowed_bachelor_mentions').find('option').prop('selected',false)
    }

    if(display_general_teachings) {
      $('#id_div_bachelor_teachings').show()
    }
    else {
      $('#id_div_bachelor_teachings').hide()
      $('#id_allowed_bachelor_teachings').find('option').prop('selected',false)
    }
  }


  function toggle_face_to_face() {
    if($('#id_face_to_face').is(':checked') || $('#id_face_to_face').val() === "1") {
      $("#id_div_room").show()

      if($('#id_published').prop('checked')) {
        $('#id_room').attr('required', 'required');
      }

      $("#id_div_url").hide()
      $('#id_url').removeAttr('required');

      if(establishment_id) {
        $("#id_div_campus").show()
        $("#id_div_building").show()

        if ($('#id_published').prop('checked')) {
          $('#id_campus').attr('required', 'required');
          $('#id_building').attr('required', 'required');
        }
      }
    }
    else {
      $("#id_div_room").hide()
      $("#id_div_campus").hide()
      $("#id_div_building").hide()

      $('#id_room').removeAttr('required');
      $('#id_campus').removeAttr('required');
      $('#id_building').removeAttr('required');

      $("#id_div_url").show()

      if($('#id_published').prop('checked')) {
        $('#id_url').attr('required', 'required');
      }
    }

    toggle_required_fields()
  }

  function check_date(date=$('#id_date').val(), dialog=true, callback) {
    return $.ajax({
      url: '/api/validate_slot_date',
      data: {
        date: date,
      },
      success: function(data) {
        if ( data['data'] ) {
          if (data['data']['is_between']) {
            if(dialog) {
              dateDialog.dialog('open');
            }
            else if (callback) {
              callback(data['data']['is_between'])
            }
          }
        }
      },
    });
  }

  function addDays(date, days) {
    var result = new Date(date);
    result.setDate(result.getDate() + days);
    return result;
  }

  function set_repetitions() {
    $("#id_days_div").html("")
    let first_date = $('#id_date').datepicker('getDate')
    let end_date = $('#id_repeat').datepicker('getDate')

    if(end_date <= first_date) {
      dateErrorDialog.dialog("open")
      $('#id_repeat').val("")
      $("#id_div_repeat_button").hide()
    }

    if(first_date && end_date) {
      for (let d = addDays(first_date, 7); d <= end_date; d = addDays(d, 7)) {
        let checked = 'checked'
        let string_date = d.toLocaleDateString()

        if(Array.isArray(slot_dates) && slot_dates.indexOf(string_date) == -1) {
          checked = ''
        }

        $("#id_days_div").append(
          "<div class='form-group row align-items-center'>" +
          "  <div class='col-sm-1'>" +
          "   <input id='date_" + string_date + "' type='checkbox' name='slot_dates[]' value='" + string_date + "' " + checked+ ">" +
          "  </div>" +
          "  <label for='date_" + string_date + "' class='col-form-label col-sm-3'>" + string_date + "</label>" +
          "  <div class='col-sm-6' id='id_details_" + string_date + "'></div>" +
          "</div>"
        )

        check_date(string_date, false).then(response => {
          let details_text = ""
          let id = `id_details_${response.data.date}`

          if(response.data.is_between === true || response.data.valid_period === false) {
            response.data.details.forEach(detail => {
              details_text += details_text !== "" ? "<br>" : ""
              details_text += detail
            })
          }

          $(document.getElementById(id)).html(details_text)

          if(response.data.valid_period === false) {
            document.getElementById('date_'+string_date).checked = false
            document.getElementById('date_'+string_date).disabled = true
          }
        })
      }
    }
  }

  function toggle_repeat_divs() {
    if($("#id_date").val()) {
      $("#id_div_repeat").show()

      if($("#id_repeat").val()) {
        $("#id_div_repeat_button").show()
        set_repetitions()
      }
      else {
        $("#id_div_repeat_button").hide()
      }
    }
    else {
      $("#id_div_repeat").hide()
      $("#id_div_repeat_button").hide()
    }
  }

  $('#id_repeat').change( function() {
    toggle_repeat_divs()
  })


$(document).ready(function(){
  // initialize base values
  if(!is_set(establishment_id)) {
    establishment_id = $("#id_establishment").val()
  }
  else {
    $("#id_establishment").val(establishment_id)
  }

  if(establishment_id) {
    $("#id_div_structure").show()
    $("#id_div_campus").show()
    $("#id_div_building").show()

    if(slot_mode !== 'visits') {
      $("#id_div_highschool").hide()
    }

    set_structures(establishment_id)
    set_campuses(establishment_id)
  }
  else {
    if(slot_mode !== 'visits') {
      $("#id_div_structure").hide()
    }
    $("#id_div_campus").hide()
    $("#id_div_building").hide()
    empty_structures()
  }

  if(!is_set(structure_id)) {
    structure_id = $("#id_structure").val()
  }
  else {
    $("#id_structure").val(structure_id)
  }

  if(slot_mode === "courses") {
    if (!is_set(training_id)) {
      training_id = $("#id_training").val()
    } else {
      $("#id_training").val(training_id)
    }
  }

  if(!is_set(campus_id)) {
    campus_id = $("#id_campus").val()
  }
  else {
    $("#id_campus").val(campus_id)
  }

  if(campus_id) {
    set_buildings(campus_id)
  }

  if(!is_set(building_id)) {
    building_id = $("#id_building").val()
  }
  else {
    $("#id_building").val(building_id)
  }

  if(!is_set(highschool_id)) {
    highschool_id = $("#id_highschool").val()
  }
  else {
    $("#id_highschool").val(highschool_id)
  }

  if(highschool_id) {
    if(slot_mode !== 'visits') {
      $("#id_div_establishment").hide()
      $("#id_div_structure").hide()
    }

    $("#id_div_campus").hide()
    $("#id_div_building").hide()
    $("#id_or").hide()

    if(slot_mode === "courses") {
      set_trainings('highschool', highschool_id)
      set_courses('highschool', highschool_id, training_id);
    }
  }
  else if (is_set(structure_id)) {
    if(slot_mode === "courses") {
      set_trainings('structures', structure_id)
      set_courses('structure', structure_id, training_id);
    }
  }
  else {
    if(slot_mode === "courses") {
      empty_trainings()
      empty_courses()
    }
  }


  // Structure is not mandatory to load the events
  if(slot_mode === "events") {
    if(is_set(establishment_id) || is_set(highschool_id)) {
      set_events()
    }

    if (!is_set(event_id)) {
      event_id = $("#id_event").val()
    } else {
      $("#id_event").val(event_id)
    }

    if(event_id) {
      load_speakers(event_id);
    }
  }

  if(slot_mode === "visits") {
    if(is_set(establishment_id) && is_set(structure_id) && is_set(highschool_id)) {
      set_visits();
    }

    if(!is_set(visit_id)) {
      visit_id = $("#id_visit").val()
    }
    else {
      $("#id_visit").val(visit_id)
    }

    if(visit_id) {
      load_speakers(visit_id);
    }
  }

  if(slot_mode === "courses") {
    if(is_set(course_id)) {
      load_speakers(course_id);
    }
    else {
      empty_speakers()
    }
  }

  if($('#id_face_to_face').is(':checked')) {
    $("#id_div_room").show()
    $('#id_room').attr('required', 'required');

    $("#id_div_url").hide()
    $('#id_url').removeAttr('required');
  }
  else {
    $("#id_div_room").hide()
    $('#id_room').removeAttr('required');

    $("#id_div_url").show()
    $('#id_url').attr('required', 'required');
  }

  initFeedback();
  // reset feedback
  setTimeout(function(){$('#feedback').html('')}, {%  settings_get 'MESSAGES_TIMEOUT' %});

  dateDialog = $("#date-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          dateDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_date').val('');
          toggle_repeat_divs()
          dateDialog.dialog("close");
        },
      }],
  });

  publicationDialog = $("#publication-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          publicationDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_event').val('');
          $('#id_visit').val('');
          $('#id_course').val('');
          publicationDialog.dialog("close");
        },
      }],
  });

  cancelDialog = $("#cancel-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          let url = ""
          if (slot_mode === 'courses') {
            url = "/core/slots"
          }
          else if (slot_mode === 'events') {
            url = "/core/off_offer_events_slots"
          }
          else if (slot_mode === 'visits') {
            url = "/core/visits_slots"
          }

          window.location = url;
          cancelDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          cancelDialog.dialog("close");
        },
      }],
  });

  repetitionDialog = $("#dates-selection-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 600,
    height: 500,
    modal: true,

    buttons: [{
        text: "{% trans 'Confirm' %}",
        "class": 'dialog-button',
        click: function () {
          repetitionDialog.dialog("close");
        },
      }],
  });
  // Reattach the Dialog to the form to have its dynamic inputs sent with the rest of the form
  repetitionDialog.parent().appendTo($("#add_slot"))

  dateErrorDialog = $("#date-error-dialog").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Ok' %}",
        "class": 'dialog-button',
        click: function () {
          dateErrorDialog.dialog("close");
        },
    }],
  });

  // Change input type
  $('#id_start_time').get(0).type = 'time';
  $('#id_end_time').get(0).type = 'time';

  // Date check
  $('#id_date').on('change', function() {
    check_date();
    toggle_repeat_divs()
  });

  // Back button + confirm
  $('.back_btn').click(function (event) {
    cancelDialog.dialog('open');
  });

  $(".datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,
    yearRange: "2020:2100",
  });

  // toggle
  toggle_required_fields();
  $('#id_published').on('change', function(){ toggle_required_fields(); });

  toggle_establishments_restrictions();
  $('#id_establishments_restrictions').on('change', function() { toggle_establishments_restrictions() });

  toggle_levels_restrictions();
  $('#id_levels_restrictions').on('change', function() { toggle_levels_restrictions() });

  toggle_bachelors_restrictions();
  $('#id_bachelors_restrictions').on('change', function() { toggle_bachelors_restrictions() });

  let selectedVals = Array.from(
      $('#id_allowed_bachelor_types')[0].selectedOptions, option => option.value
  );

  toggle_bachelors_options(selectedVals);
  $('#id_allowed_bachelor_types').on('change', function() {
    const selectedVals = [...this.selectedOptions].map(o => o.value);
    toggle_bachelors_options(selectedVals);
  });


  toggle_face_to_face();
  $('#id_face_to_face').on('change', function() { toggle_face_to_face() });

  toggle_repeat_divs()

  // Be sure to run the following functions _after_ datepicker initialization above
  display_registration_limit_delay();
  display_cancellation_limit_delay();

  {% if slot or request.POST.structure %}
    {% if slot %}
      setTimeout(function() {
        $('#ok_modify').fadeOut(1000, function(){
          $('#ok_modify').hide();
        });
      },
      {% settings_get 'MESSAGES_TIMEOUT' %}
      );
    {% endif %}
  {% endif %}
});
</script>
{% endblock %}
