{% extends 'base.html' %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="main-title inside text-center">
  <div class="bg-main-title bg-parallax" data-scroll-speed=".3"></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'Welcome on Immersion Lycéens' %}</h1>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Update components settings" %}</li>
      </ol>
    </nav>
  </div>
</section>
<div class="container">
  <div class="card mt-4">
    <div class="card-header text-white bg-secondary">
      {% if components %}
        {% trans 'Select a component to update' %}
      {% else %}
        {% trans 'Settings for component' %} : {{ component.label }}
      {% endif %}
    </div>
    <div class="card-body">
      {% if components %}
        <ul>
        {% for component in components %}
          <li class="mb-3"><a href="{% url 'update_component' component_code=component.code %}">{{ component.label }}</a><br />
            {% trans 'Mailing list' %} : {{ component.mailing_list|default_if_none:"-" }}</li>
        {% endfor %}
        </ul>
      {% else %}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="code" value="{{ component.code }}">
        <div class="form-group row">
          <label for="id_mailing_list" class="col-sm-3 col-form-label">{% trans 'Mailing list email address' %} :</label>
          <div class="col-sm-4">
            {{ form.mailing_list }}
          </div>
          <div class="col-sm-4">
            {{ form.mailing_list.errors }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 text-right">
            <input type="submit" class="btn btn-secondary btn-sm" name="submit" value="{% trans 'Submit' %}">
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
