{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
{% if duplicate %}
  {% trans "Duplicate a course" %}
{% elif course %}
  {% trans "Update a course" %}
{% else %}
  {% trans "New course" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px; width:70%;">
    <div class="card">
        <div class="card-header text-white bg-secondary">
        {% if duplicate %}
            {% trans "Duplicate a course" %}
        {% elif course %}
            {% trans "Update a course" %}
        {% else %}
            {% trans "Create a new course" %}
        {% endif %}
        </div>
        <div class="card-body">
            <form class="" role="form" action="/core/course{% if course.id and not duplicate %}/{{ course.id }}{% endif %}" method="POST">
                <fieldset>
                    <legend>{% trans 'Fields with a <i class="fa fas fa-asterisk"></i> are mandatory' %}</legend>
                    {% csrf_token %}
                    {{ course_form.id }}
                    {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager or request.user.is_operator %}
                    <div class="form-group row" id="id_div_establishment">
                        <label for="id_establishment" class="col-sm-3 col-form-label">
                            <i class="fa fas fa-asterisk"></i>
                            {% trans 'Establishment' %} :
                        </label>
                        <div class="col-sm-3">
                        {{ course_form.establishment }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.establishment.errors }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group row" id="id_div_highschool">
                        <label for="id_highschool" class="col-sm-3 col-form-label">
                            <i class="fa fas fa-asterisk"></i>
                            {% if request.user.is_master_establishment_manager or request.user.is_operator %}
                            <strong>{% trans 'or' %} </strong>
                            {% endif %}
                            {% trans 'high school' %} :
                        </label>
                        <div class="col-sm-3">
                        {{ course_form.highschool }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.highschool.errors }}
                        </div>
                    </div>
                    {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager or request.user.is_structure_manager or request.user.is_operator %}
                    <div class="form-group row" id="id_div_structure">
                        <label for="id_structure" class="col-sm-3 col-form-label">
                            <i class="fa fas fa-asterisk"></i>
                            {% trans 'Structure' %} :
                        </label>
                        <div class="col-sm-3">
                        {{ course_form.structure }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.structure.errors }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group row">
                        <label for="id_training" class="col-sm-3 col-form-label">
                            <i class="fa fas fa-asterisk"></i>
                            {% trans 'Training' %} :
                        </label>
                        <div class="col-sm-3">
                        {{ course_form.training }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.training.errors }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_label" class="col-sm-3 col-form-label">
                            <i class="fa fas fa-asterisk"></i>
                            {% trans 'Course label' %} :
                            </label>
                        <div class="col-sm-3">
                        {{ course_form.label }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.label.errors }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_url" class="col-sm-3 col-form-label">{% trans 'Url' %} :</label>
                        <div class="col-sm-3">
                        {{ course_form.url }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.url.errors }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_published" class="col-sm-3 col-form-label">{% trans 'Published' %} :</label>
                        <div class="col-sm-3">
                        {{ course_form.published }}
                        </div>
                        <div class="col-sm-6">
                        {{ course_form.published.errors }}
                        </div>
                        <div class="small col-sm-3">
                            {% trans 'If the published checkbox is not checked, the course will not be displayed even if the start and end dates of display are entered.' %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {% trans 'Start date of display (optional) :' %}
                        </div>
                        <div class="col-sm-3">
                            {{ course_form.start_date }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            {% trans 'End date of display (optional) :' %}
                        </div>
                        <div class="col-sm-3">
                            {{ course_form.end_date }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">
                            <i id='id_mandatory_speakers' class="fa fas fa-asterisk" style="display:none"></i>
                            {% trans 'Speakers' %}
                        </label>
                        <div class="col-sm-3">
                            <div class="form-check" id="speakers">
                                <label for="person_search" id="id_search_label">{% trans 'Search' %} : </label>
                                <input type="text" class="input-sm" id="person_search" placeholder="{% trans 'Lastname ...' %}">
                                <select id='live_select' style='display:none;'></select>
                                <button class="btn btn-secondary btn-sm" type="button" id="id_add_button" style="display:none;">{% trans 'Add' %}</button>
                                <label id='ws_message' style='display:none; width:300px;'></label>
                                <ul id="id_speakers" class="mt-4"></ul>
                                {{ course_form.speakers.errors }}
                                <input type="hidden" value="" name="speakers_list" id="id_speakers_list">
                            </div>
                        </div>
                    </div>
                    {% if can_update_courses %}
                    <div class="form-group row">
                        <div class="col-sm-9 col-md-6 offset-sm-3 offset-lg-2">
                            <a href="{% url 'courses_list' %}" class="btn btn-secondary btn-sm mb-1">{% trans 'Cancel' %}</a>
                            <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save" value="{% trans 'Save' %}">
                            <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save_duplicate" value="{% trans 'Save and duplicate' %}">
                            <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save_add_new" value="{% trans 'Save and add new' %}">
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
  var json_results;
  var query_order = 0;
  var training_id = "{{ course_form.training.value }}";
  var structure_id = "{{ course_form.structure.value }}" ;
  var can_update = "{{ update_rights }}";
  var establishment_id = "{{ course_form.establishment.initial }}";
  var highschool_id = "{{ course_form.highschool.id }}";

  {% autoescape on %}
  var speakers_array = {{ speakers|safe }};
  {% endautoescape %}

  function set_structures(estab_id) {
    $.ajax({
      url: "{% url 'structure_list' %}",
      type: 'GET',
      data: {
        'establishment': estab_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = '<option value="">---------</option>'
        for (let i = 0; i < json.length; i++) {
          let selected = json[i]['id'] === parseInt(structure_id) ? "selected='selected'" : ""
          options += `<option value="${json[i]['id']}" ${selected}>${json[i]['code']} - ${json[i]['label']}</option>`
        }
        $('select#id_structure').html(options)

        if(structure_id) {
          $("#id_structure").val(structure_id);
        }
        else {
          $("#id_structure").val($("#id_structure option:first").val());
        }

        $("#id_div_structure").show()
        $("#id_div_highschool").hide()
      }
    })
  }

  function empty_structures() {
      let options = '<option value="">---------</option>'
      $('select#id_structure').html(options)
      structure_id = ''
      $("#id_div_structure").hide()
  }

  function empty_trainings() {
      let options = '<option value="">---------</option>'
      $('select#id_training').html(options)
  }

  function set_trainings(type, object_id) {
    /* Type is either 'structure' or 'highschool' */
    let options = "<option value=''>---------</option>"

    if(!is_set(object_id)) {
       $('select#id_training').html(options)
       $("#id_training").val($("#id_training option:first").val());
       return
    }

    $.ajax({
      url: "{% url 'training_list' %}",
      data: {
        "csrfmiddlewaretoken": '{{ csrf_token }}',
        [type]: object_id
      },
      success: function (json) {
        for (let i = 0; i < json.length; i++) {
          let selected = json[i]['id'] === parseInt(training_id) ? "selected='selected'" : ""
          options += `<option value="${json[i]['id']}" ${selected}>${json[i]['label']}</option>`
        }

        $('select#id_training').html(options)
      }
    })
  }

  function refresh_speakers_list() {
    $("#id_speakers").empty();
    $.each(speakers_array, function(i, item) {
      let txt = "<li>";

      if(can_update == "True" && (item["is_removable"] == true || item["is_removable"] == undefined)) {
        txt += "<button type=\"button\" class=\"btn btn-secondary btn-sm\" onclick=\"remove_speaker('"+item['username']+"')\">X</button> ";
      }
      else {
        txt += "<button type=\"button\" class=\"btn btn-danger btn-sm\">X</button> ";
      }

      txt += item['display_name'] + " (" + item['email'] + ")</li>";

      $("#id_speakers").append(txt);
    });

    $('#id_speakers_list').val(JSON.stringify(speakers_array));
  }

  function remove_speaker(username) {
    speakers_array = $.grep(speakers_array, function(value) {
      return value["username"] != username;
    });

    refresh_speakers_list();
  };

  $('#id_establishment').change( function() {
    establishment_id = $('#id_establishment option:selected').val();
    structure_id = ""

    if (establishment_id !== "") {
        highschool_id = ""
        $('#id_highschool').val("")
        set_structures(establishment_id);
    }
    else {
        empty_structures()
        $("#id_div_highschool").show()
    }
  });

  $('#id_structure').change( function() {
    structure_id = $('#id_structure option:selected').val()

    if(structure_id !== '') {
      set_trainings('structures', structure_id)
    }
    else {
      empty_trainings()
    }
  });

  $('#id_highschool').change( function() {
    highschool_id = $('#id_highschool option:selected').val()

    if (highschool_id !== "") {
        empty_structures()
        $('#id_establishment').val("")
        $('#id_structure').val("")

        $("#id_div_establishment").hide()
    } else {
        $("#id_div_establishment").show()
    }

    set_trainings('highschool', highschool_id)
  });

  $('#live_select').change(function () {
    let val = $('#live_select option:selected').val();

    if(val != '') {
      $('#id_add_button').show();
    }
    else {
      $('#id_add_button').hide();
    }
  });

  $('#id_add_button').click(function() {
    let json_index = $('#live_select option:selected').val();

    if($.inArray(json_results[json_index], speakers_array) == -1) {
      speakers_array.push(json_results[json_index]);
    }

    refresh_speakers_list();
  });

  $('#person_search').on('input', function() {
    if (this.value.length >= 2) {
      var csrftoken = getCookie('csrftoken');
      query_order += 1;

      $.ajax({
        beforeSend: function (request) {
          request.setRequestHeader("X-CSRFToken", csrftoken);
        },

        url: "/api/get_person",
        type: "POST",
        data: {
          username: this.value,
          establishment_id: establishment_id,
          structure_id: structure_id,
          highschool_id: highschool_id,
          query_order: query_order
        },

        success: function (json) {
          var msg = json['msg'];
          var query = json['data'][0];

          if (msg != '') {
            $('#ws_message').html(msg);
            $('#ws_message').show();
          } else {
            $('#ws_message').html("");
            $('#ws_message').hide();
          }

          // Prevent previous (longer) query from erasing latest one
          if (query >= query_order) {
            $("#live_select").show();

            if (json['data'].length <= 1) {
              $('#live_select').empty();
            }
            else {
              json_results = json['data'];
              $('#live_select').empty().append(
                  "<option value='' disabled>" + "{% trans 'Select a person' %} ..." + "</option>"
              );
              for (var i = 1; i < json['data'].length; i++) {
                $('#live_select').append(
                  "<option value='" + i + "'>" + json['data'][i]['display_name'] + "</option>");
              }
              $('#id_add_button').show();
            }
          }
        },
        error: function (e) {
          obj = JSON.stringify(e);
          console.log("Error : " + obj);
        }
      });
    }
  });

  $(document).ready(function() {
    // initialize base values
    if(highschool_id === 'None' || highschool_id === "") {
      highschool_id = $("#id_highschool").val()
    }
    else {
        $("#id_highschool").val(highschool_id)
    }

    if(establishment_id === 'None' || establishment_id === "") {
      establishment_id = $("#id_establishment").val()
    }
    else {
        $("#id_establishment").val(establishment_id)
    }

    if(structure_id === 'None' || structure_id === "") {
      structure_id = $("#id_structure").val()
    }
    else {
        $("#id_structure").val(structure_id)
    }

    if(training_id === 'None' || training_id === "") {
      training_id = $("#id_training").val()
    }
    else {
        $("#id_training").val(training_id)
    }

    if(establishment_id === "" || establishment_id === undefined) {
      structure_id = ""
      empty_structures()
      empty_trainings()
      if(highschool_id !== "" && highschool_id !== undefined) {
        $("#id_div_establishment").hide()
        $("#id_div_structure").hide()
        $("#id_div_highschool").show()
     }
    } else {
      highschool_id = ""
      set_structures($("#id_establishment").val())
      $("#id_div_highschool").hide()
      $("#id_div_establishment").show()
    }

    // Initialize trainings depending on structure / high school selection
    if(highschool_id !== 'None' && highschool_id !== '' && highschool_id !== undefined) {
      set_trainings('highschool', highschool_id)
    }
    else if (structure_id !== 'None' && structure_id !== '' && structure_id !== undefined) {
      set_trainings('structures', structure_id)
    }
    else {
      empty_trainings()
    }

    if (speakers_array) {
      refresh_speakers_list();
    }

    if (can_update === "False") {
      $("#id_search_label").hide();
      $("#person_search").hide();
      $('input[name^="save"]').hide();
    }

    function toggle_required_fields () {
      let published = $('#id_published').prop('checked');
      if (published) {
        let mandatory = ['speakers']

        mandatory.forEach(function(e){
          $('#id_' + e).attr('required', 'required');
          $('#id_mandatory_' + e).show();
        });
      }
      else {
        let not_mandatory = ['speakers'];
        let mandatory = [];

        not_mandatory.forEach(function(e){
          $('#id_' + e).removeAttr('required');
          $('#id_mandatory_' + e).hide();
        });
      }
    }

    // toggle
    toggle_required_fields();
    $('#id_published').on('change', function(){ toggle_required_fields(); });

  });
</script>
{% endblock %}
