{% extends "base.html" %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}"> -->
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.js' %}"></script>
{% endblock %}
{% block title %}
{% trans "Courses list" %}
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Courses list" %}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-secondary btn-sm" href="{% url 'course' %}">{% trans 'New course' %}</a>
        </div>
      </div>
      <div id="cmp_filter" style="padding-bottom:10px; padding-top:20px;">
        <label for="cmps">{% trans 'Select a component' %} :</label>
        <select id="cmps">
          {% for component in components %}
            <option value="{{ component.id }}" {% if component.id == component_id %}selected="True"{% endif %}>
              {{ component.code }} - {{ component.label }}
            </option>
          {% endfor %}
        </select>
      </div>
      <table id="courses_table" class="table table-striped table-bordered compact nowrap dt-body-nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th><span id="published_filter"></span>{% trans 'Published' %}</th>
          <th>{% trans 'Training' %}</th>
          <th>{% trans 'Label' %}</th>
          <th>{% trans 'Teachers' %}</th>
          <th>{% trans 'Published slots' %}</th>
          <th>{% trans 'Registered students' %}</th>
          <th>{% trans 'Alerts' %}</th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dt;
  var updatable = "{{ can_update_courses }}";
  var feedback;

  function delete_course(course_id) {
    var csrftoken = getCookie('csrftoken');

    $.ajax({
      beforeSend: function (request) {
        request.setRequestHeader("X-CSRFToken", csrftoken);
      },

      url: "/api/delete_course",
      type: "POST",
      data: {
        course_id: course_id,
      },

      success: function (json) {
        let msg = json['msg'];
        let error = json['error'];

        if(error != '') {
          feedback.trigger("showFeedback", [[error, "danger"]]);
        }
        else if(msg != '') {
          feedback.trigger("showFeedback", [[msg, "success"]]);
        }

        dt.ajax.url("/api/get_courses/" + $('#cmps option:selected').val() + "/").load();
      },
      error: function (e) {
        obj = JSON.stringify(e);
        console.log("Error : " + obj);
      }
    });
  }


  $(document).ready(function() {
    initFeedback();
    feedback = $("#feedback");

    dt = $('#courses_table').DataTable({
      'processing': false,
      'order': [
          [1, "asc"],
          [2, "asc"]
       ],
      'pageLength': 15,
      'lengthMenu': [[5,10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_courses/" + $('#cmps option:selected').val() + "/",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
      },
      'columns': [
          { "data": "published",
            "render": function (data) {
              if (data) {
                txt="{% trans 'Yes' %}";
              }
              else {
                txt="{% trans 'No' %}";
              }

              return txt;
            },
          },
          { "data": "training_label"},
          { "data": "label",
            "render": function (data, type, row) {
              if(updatable == "True") {
                return "<a href='/core/course/" + row.id + "'>"+data+"</a>";
              }
              else {
                return data;
              }
            },
          },
          { "data": "teachers",
            "render": function (data) {
              let txt = "";
              $.each(data, function(index, value) {
                txt += value+"<br>";
              });
              return txt;
            },
          },
          { "data": "published_slots_count" },
          { "data": "registered_students_count" },
          { "data": "alerts_count" },
          { "data": "",
            "render": function (data, type, row) {
              var icons = "<a href='/core/course/"+row.id+"/1' class=\"btn btn-secondary btn-sm\"><i class=\"fa fas fa-copy\"></i></a>\n";
              if(row.can_delete) {
                icons += "<button type=\"button\" class=\"btn btn-secondary btn-sm\" onclick=\"delete_course('" + row.id + "')\"><i class=\"fa fas fa-trash\"</i></button>";
              }

              return icons;

            },
          },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all"
        },
        {
          "orderable": false, "targets": 6
        },
      ],
    });
    // Reload the table when component changes in selectbox
    $('#cmps').change( function() {
      dt.ajax.url("/api/get_courses/" + $('#cmps option:selected').val() + "/").load();
    });

    // Filters init
    yadcf.init(dt, [{
          column_number: 0,
          filter_default_label: "",
          filter_container_id: "published_filter",
      },
    ]);
  });
</script>
{% endblock %}