{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
{% comment %} Comment following line if using english ! {% endcomment %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-' %}{{ LANGUAGE_CODE|fix_lang_code }}.js"></script>
{% endblock %}
{% block title %}
  {% if can_show_users_without_record %}
    {% trans "All registered students" %}
  {% else %}
    {% trans "Student profiles" %}
  {% endif %}
{% endblock %}

{% block content %}
{% include '../modals/modal_student_details.html' %}
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% if can_show_users_without_record %}
        {% trans "All registered students" %}
      {% else %}
        {% trans "Student profiles" %}
      {% endif %}
    </div>
    <div class="card-body">
      {% if can_show_users_without_record %}
      <form class="form-inline">
        <div class="form-group">
          <div class="form-group form-check mx-sm-3 mb-2">
            <input type="checkbox" id="filter_no_record" class="form-check-input">
            <label for="filter_no_record" class="form-check-label ml-md-2"> {% trans 'Display only students with no record' %}</label>
          </div>
        </div>
      </form>
      {% endif %}
      <div class="table-responsive">
        <table id="students_table" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" style="border-spacing:0;border-collapse:collapse;width:100%;">
          <thead>
            <tr>
              {% if can_show_users_without_record %}
              <th id="type_filter" class="align-top">{% trans 'Profile type' %}</th>
              {% endif %}
              <th class="align-top">{% trans 'Name' %}</th>
              <th class="align-top">{% trans 'Birth date' %}</th>
              {% if can_show_users_without_record %}
              <th id="etab_filter" class="align-top">{% trans 'Institution' %}</th>
              {% endif %}
              <th id="level_filter" class="align-top">{% trans 'Level' %}</th>
              <th id="class_filter" class="align-top">{% trans 'Class' %}</th>
              <th id="bachelor_filter" class="align-top">{% trans 'Bachelor/diploma' %}</th>
              {% if can_show_users_without_record %}
              <th id="post_bachelor_filter" class="align-top">{% trans 'Post bachelor level' %}</th>
              {% endif %}
              <th id="registered_filter" class="align-top">{% trans 'Registrations ≥ 1' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% if can_show_users_without_record %}
              <td></td>
              <td></td>
              <td></td>
              {% endif %}
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dt;
  var current_student_id;
  const is_ref_etab = "{{ is_establishment_manager }}" === "True";
  const is_ref_etab_maitre = "{{ request.user.is_master_establishment_manager }}" === "True";
  const is_ref_tec = "{{ request.user.is_operator }}" === "True";
  const is_ref_lyc = "{{ request.user.is_high_school_manager }}" === "True";
  const date_format = { year: 'numeric', month: 'long', day: 'numeric' };
  let order = [[0, "asc"],];

  function open_modal(student_id) {
    current_student_id = student_id;
    $('#modal_student_details').modal('show');
  }

  if(is_ref_etab || is_ref_etab_maitre || is_ref_tec || is_ref_lyc) {
    order = [[3, "asc"], [1, "asc"], ];
  }

  $(document).ready(function () {
    $.fn.dataTableExt.errMode = 'console';
    dt = $('#students_table').DataTable({
      'processing': false,
      'order': order,
      'pageLength': 15,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_highschool_students",
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
    'searching': true,
    'language': {
        url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
    },
    'columns': [
    {% if can_show_users_without_record %}
    { "data": "user_type" },
    {% endif %}
    { "data": "last_name",
      "render": function(data, type, row) {
        let name = `${row.last_name} ${row.first_name}`

        if(type === "sort") {
          return name.toLowerCase()
        }

        if(type === "display" && (is_ref_etab || is_ref_etab_maitre || is_ref_tec || is_ref_lyc)) {
          if (row.high_school_record_id) {
            return `<a href='/immersion/hs_record/${row.high_school_record_id}'>${name}</a>`;
          } else if (row.student_record_id) {
            return `<a href='/immersion/student_record/${row.student_record_id}'>${name}</a>`;
          } else if (row.visitor_record_id) {
            return `<a href='/immersion/visitor_record/${row.visitor_record_id}'>${name}</a>`;
          }
        }
        return name;
      }
    },
    { "data": "birth_date",
      "render": function(data, type, row) {
        if (data && type === "display") {
          let date = new Date(data.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))
          return date.toLocaleDateString(undefined, date_format)
        }

        return data
      }
    },
    {% if can_show_users_without_record %}
    { "data": "institution",
      "render": function(data, type, row) {
        if (row.student_record_id && data === null) {
          return row.uai_code
        }
        return data
      }
    },
    {% endif %}
    { "data": "level" },
    { "data": "class_name" },
    { "data": "bachelor",
      "render": function(data, type, row) {
        if(row.student_record_id) {
          return row.student_origin_bachelor
        }

        if(row.is_post_bachelor && row.high_school_record_id) {
          return row.hs_origin_bachelor
        }

        return data
      }
    },
    {% if can_show_users_without_record %}
    { "data": "post_bachelor_level",
      "render": function(data, type, row) {
        if (row.high_school_record_id && row.is_post_bachelor) {
          let txt = row.level

          if (data) {
            txt += ` - ${data}`
          }

          return txt
        }
        return data
      }
    },
    {% endif %}
    { "data": "registered",
      "render": function(data, type, row) {
        if(data) {
          return "{% trans 'Yes' %} " +
                  "<button class=\"btn btn-light btn-sm ml-4\" name=\"view\" onclick=\"open_modal("+row.id+")\" title=\"{% trans 'View student immersions' %}\">" +
                  "<i class='fa fas fa-eye fa-2x'></i>" +
                  "</button>";
        }
        else {
          return "{% trans 'No' %}";
        }
      },
    },
  ],
    "columnDefs": [
      {
        "defaultContent": "",
        "targets": "_all",
        "className": "all",
      },
    ],
  });

  // All filters reset action
  $('#filters_reset_all').click(function () {
    yadcf.exResetAllFilters(dt);
  });

  // Filters init
  if (is_ref_etab || is_ref_etab_maitre || is_ref_tec || is_ref_lyc) {
    yadcf.init(dt, [
      {
        column_number: 0,
        filter_match_mode: "exact",
        filter_default_label: "",
        filter_container_id: "type_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 3,
        filter_default_label: "",
        filter_container_id: "etab_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 4,
        filter_default_label: "",
        filter_container_id: "level_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      }, {
        column_number: 5,
        filter_default_label: "",
        filter_container_id: "class_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      }, {
        column_number: 6,
        filter_default_label: "",
        filter_container_id: "bachelor_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 7,
        filter_default_label: "",
        filter_container_id: "post_bachelor_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 8,
        filter_default_label: "",
        filter_container_id: "registered_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      }
    ]);
  }
  else {
    yadcf.init(dt, [
      {
        column_number: 2,
        filter_default_label: "",
        filter_container_id: "level_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      }, {
        column_number: 3,
        filter_default_label: "",
        filter_container_id: "class_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      }, {
        column_number: 4,
        filter_default_label: "",
        filter_container_id: "bachelor_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 5,
        filter_default_label: "",
        filter_container_id: "registered_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      }
    ]);
  }

  dt.on( 'draw', function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  $('#filter_no_record').click(function () {
    let u = ""

    if ($('#filter_no_record').is(':checked')){
      u = "/api/get_highschool_students/no_record";
    }
    else {
      u = "/api/get_highschool_students/";
    }
    dt.ajax.url(u);
    dt.ajax.reload();
  });
});
</script>
{% endblock %}
