{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment %} Comment following line if using english ! {% endcomment %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-' %}{{ LANGUAGE_CODE|fix_lang_code }}.js"></script>
{% endblock %}
{% block title %}
{% trans "High school student record" %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px;">
  <div id="feedback" class="alert alert-success alert-dismissable fade in" style="display:none"></div>
  <div class="card">
    <div class="card-header text-white bg-secondary border-0">
      {% trans "Highschool student" %} - <strong>{{ record.student.first_name }} {{ record.student.last_name }}</strong>
    </div>
    <div class="card-body">
      <form class="form" method="POST">
        {% csrf_token %}
        {{ form.student }}
        <input type="hidden" name="high_school_id" value="{{ record.highschool.id }}">
        <div class="form-group row">
          <label for="first_name" class="label col-sm-3">{% trans "First name" %}</label>
          <div class="form-group  col-sm-6">
            <input type="text" name="first_name" value="{{ record.student.first_name }}" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="last_name" class="label col-sm-3">{% trans "Last name" %}</label>
          <div class="form-group  col-sm-6">
            <input type="text" name="last_name" value="{{ record.student.last_name }}" class="form-control" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="birth_date" class="label col-sm-3">{% trans "Birth date" %}</label>
          <div class="form-group  col-sm-6">{{ form.birth_date }}</div>
        </div>

        <div class="form-group row">
          <label for="level" class="label col-sm-3">{% trans "Level" %}</label>
          <div class="form-group  col-sm-6">{{ form.level }}</div>
        </div>

        <div class="form-group row">
          <label for="class_name" class="label col-sm-3">{% trans "Class name" %}</label>
          <div class="form-group  col-sm-6">{{ form.class_name }}</div>
        </div>

        <div class="form-group row">
            <label for="class_name" class="label col-sm-3">{% trans "Record creation date" %}</label>
            <div class="form-group  col-sm-6">
                <input type="text" readonly class="form-control-plaintext" id="creationDate" value="{{ record.creation_date }}">
            </div>
        </div>

        <div class="form-group row">
            <label for="class_name" class="label col-sm-3">{% trans "Validation" %}</label>
            <div class="form-group  col-sm-6">
                {% if record.validation == 1 %}
                <span class="badge badge-pill badge-warning" id="recordStatus">
                {% trans "Waiting validation" %}
                {% elif record.validation == 2 %}
                <span class="badge badge-pill badge-success" id="recordStatus">
                {% trans "Validated" %}
                {% elif record.validation == 3 %}
                <span class="badge badge-pill badge-danger" id="recordStatus">
                {% trans "Rejected" %}
                {% endif %}
                </span>
            </div>
        </div>

        {% if record.validation_date %}
        <div class="form-group row">
            <label for="class_name" class="label col-sm-3">{% trans "Validation date" %}</label>
            <div class="form-group  col-sm-6">
                <input type="text" readonly class="form-control-plaintext" id="validationDate" value="{{ record.validation_date }}">
            </div>
        </div>
        {% endif %}

        <input type="submit" value="{% trans 'Modify' %}" class="btn btn-primary">
        <input type="submit" value="{% trans 'Back' %}" class="btn btn-secondary" onclick="history.back()">
      </form>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  function initFeedback(obj) {
    $(document).on("showFeedback", function(event, ...messages) {
      var $target = $(event.target).empty();
      messages.forEach(function(element) {
        $target.append(
          $("<div/>", {
            "class": "messages alert alert-dismissible alert-" + element[1],
            "text": element[0]
          }).append(
            $("<a>", {
              "href": "#",
              "class": "close",
              "data-dismiss": "alert",
              "aria-label": "close",
              "text": "×"
            })
          )
        )
      });
    });
  }

  $(".datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,
    yearRange: "1990:2100",
  });

  initFeedback();
});
</script>
{% endblock %}
