{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
{% endblock %}
{% block title %}
{% trans "My events" %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px;">
  <div id="feedback_validated" class="alert alert-success alert-dismissable fade in" style="display:none"></div>
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "My events" %}
    </div>
    <div class="card-body">
      <form class="form-inline">
        <div class="form-group">
          <div class="form-group mb-2">
            <input type="button" id="events_filters_reset_all" value="{% trans 'Reset filters' %}" class="btn btn-outline-secondary btn-sm">
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table id="events_table" class="table table-striped table-bordered compact nowrap dt-body-nowrap" style="border-spacing:0;border-collapse:collapse;width:100%;">
          <thead>
            <tr>
              <th id="events_published_filter" class="w-5">{% trans 'Published' %}</th>
              <th id="events_managed_by_filter">{% trans 'Managed by' context "events" %}</th>
              <th id="events_event_type_filter">{% trans 'Event type' %}</th>
              <th id="events_label_filter">{% trans 'Label' %}</th>
              <th id="events_speaker_filter">{% trans 'Speakers' %}</th>
              <th id="events_published_slots_filter" class="align-top">{% trans 'Published slots' %}</th>
              <th id="events_registered_students_filter" class="align-top">{% trans 'Registered students' %}</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    let dt_events = $('#events_table').DataTable({
      'processing': false,
      'order': [
        [1, "asc"]
      ],
      'pageLength': 15,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': false,
      'ajax': {
        url: "/api/off_offer_events",
          data: {
            'user_events': true,
          },
          dataSrc: function (json) {
            if (json !== undefined) {
              return json;
            }
          }
      },
      'searching': true,
      'language': {
      url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
      {
        "data": "published",
        "render": function (data) {
          let txt = ""
          if (data) {
            txt = "{% trans 'Yes' %}";
          }
          else {
            txt = "{% trans 'No' %}";
          }

          return txt;
        },
      },
      {
        "data": "managed_by",
        "render": function(data, type, row) {
          if(row.establishment) {
            let txt = row.establishment.code
            if (row.structure) {
              txt += " - " + row.structure.code
            }

            return txt
          }
          else if(row.highschool) {
            return row.highschool.city + " - " + row.highschool.label
          }
        }
      },
      { "data": "event_type" },
      {
        "data": "label",
        "render": function (data, type, row) {
          let txt = data

          if(row.description) {
            txt += '&nbsp;<span data-toggle="tooltip" title="' + row.description + '"><i class="fa fas fa-info-circle fa-2x"></i></span>'
          }

          if(type === 'filter') {
            return txt.normalize("NFD").replace(/\p{Diacritic}/gu, "")
          }

          return txt
        }
      },
      {
        "data": "speakers",
        "render": function (data, type, row) {
          let txt = "";
          $.each(data, function (index, speaker) {
            txt += "<a href='mailto:" + speaker.email + "'>" + speaker.first_name + " " + speaker.last_name +"</a><br>";
          });

          if(type === 'filter') {
            return txt.normalize("NFD").replace(/\p{Diacritic}/gu, "")
          }

          return txt;
        },
      },
      { "data": "published_slots_count",
        "render": function(data, type, row) {
          return data + "/" + row.slots_count;
        }
      },
      { "data": "registrations_count",
        "render": function(data, type, row) {
          let current = data;
          let n = row.n_places;

          element = '<span>' + current + '/' + n + '</span>' +
                  '<div class="progress">' +
                  '  <div' +
                  '    class="progress-bar"' +
                  '    role="progressbar"' +
                  '    aria-valuenow="' + current + '"' +
                  '    aria-valuemin="0"' +
                  '    aria-valuemax="' + n + '"' +
                  '    style="width: ' + Math.round(current / n * 100) + '%">' +
                  '  </div>' +
                  '</div>';
          return element;
        },
      },
      ],
      "columnDefs": [{
          "defaultContent": "",
          "targets": "_all"
        },
        {% if request.user.is_speaker and request.user.highschool %}
          {
            "targets": [ 2 ],
            "visible": false,
            "searchable": false
          },
        {% endif %}
      ],

      initComplete: function () {
        var api = this.api();

        var columns_idx = [3, 4]

        columns_idx.forEach(function(col_idx) {
          var column = api.column(col_idx);
          var column_header_id = column.header().id;
          var cell = $(`#${column_header_id}`);
          var filter_id = `${column_header_id}_input`;
          var title = $(cell).text();

          $(cell).html(title + `<div><input id="${filter_id}" class="form-control form-control-sm" type="text" style="padding: 3px 4px 3px 4px"/></div>`);

          $(`#${filter_id}`).click(function(event) {
            event.stopPropagation()
          })

          $(`#${filter_id}`)
          .off('keyup change')
          .on('keyup change', function (e) {
              e.stopPropagation();

              // Get the search value
              $(this).attr('title', $(this).val());

              var cursorPosition = this.selectionStart;

              // Column search with cleaned value
              api
                  .column(col_idx)
                  .search(
                      this.value !== '' ? this.value.normalize("NFD").replace(/\p{Diacritic}/gu, "") : '',
                      this.value !== '',
                      this.value === ''
                  )
                  .draw();

              $(this)
                  .focus()[0]
                  .setSelectionRange(cursorPosition, cursorPosition);
          });
        })
      }
    });

    // All filters reset action
    $('#events_filters_reset_all').click(function () {
      yadcf.exResetAllFilters(dt_events);

      // Clear search inputs
      let columns_idx = [3, 4]

      columns_idx.forEach(function(col_idx) {
        let column = dt_events.column(col_idx)
        let column_header_id = column.header().id
        let filter_id = `${column_header_id}_input`

        $(`#${filter_id}`).val('')
      })

      dt_events.columns().search("").draw();
    });

    // Filters init
    yadcf.init(dt_events, [{
      column_number: 0,
      filter_default_label: "",
      filter_container_id: "events_published_filter",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    }, {
      column_number: 1,
      filter_default_label: "",
      filter_container_id: "events_managed_by_filter",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },
    {
      column_number: 2,
      filter_default_label: "",
      filter_container_id: "events_event_type_filter",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },
    /*
    {
      column_number: 3,
      filter_type: "text",
      filter_default_label: "",
      filter_container_id: "events_label_filter",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    }, {
      column_number: 4,
      filter_type: "text",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_container_id: "events_speaker_filter",
      filter_reset_button_text: false,
    }
    */
    ]);
  });
</script>
{% endblock %}
