{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
    {{ high_school.label }}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px; width:70%;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
        {% trans "My high school" %} - {{ high_school.label }}
    </div>
    {% if modified %}
      <div class="alert alert-success" id="ok_modify">{% trans "High school modified" %}</div>
    {% endif %}
    <div class="card-body">
      <form class="" role="form" action="/core/high_school/{{ high_school.id }}" method="POST">
      <input type="hidden" name="active" value="{{ high_school.active }}">
      <input type="hidden" name="postbac_immersion" value="{{ high_school.postbac_immersion }}">
      {% csrf_token %}
        <div class="card">
          <div class="card-title card-header">
            {% trans "General information" %}
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3">{% trans "Label" %}</label>
              <div class="col-sm-6 text-secondary">
                <div class="readonly">{{ high_school.label }}</div>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" for="id_country"><strong>{% trans "Country" %}*</strong></label>
                <div class="col-sm-6">
                  {{ high_school_form.country }}
                </div>
                {% if high_school_form.country.errors %}
                <div class="col-sm-3 alert alert-danger">
                  {{ high_school_form.country.errors }}
                </div>
                {% endif %}
              </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_address"><strong>{% trans "Address" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.address }}
              </div>
              {% if high_school_form.address.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.address.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_address2">{% trans "Address2" %}</label>
              <div class="col-sm-6">
                {{ high_school_form.address2 }}
              </div>
              {% if high_school_form.address2.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.address2.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_address3">{% trans "Address3" %}</label>
              <div class="col-sm-6">
                {{ high_school_form.address3 }}
              </div>
              {% if high_school_form.address.errors3 %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.address.errors3 }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_department"><strong>{% trans "Department" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.department }}
              </div>
              {% if high_school_form.department.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.department.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_city"><strong>{% trans "City" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.city }}
              </div>
              {% if high_school_form.city.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.city.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_zip_code"><strong>{% trans "Zip code" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.zip_code }}
              </div>
              {% if high_school_form.zip_code.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.zip_code.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_phone_number"><strong>{% trans "Phone number" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.phone_number }}
              </div>
              {% if high_school_form.phone_number.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.phone_number.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_fax">{% trans "Fax" %}</label>
              <div class="col-sm-6">
                {{ high_school_form.fax }}
              </div>
              {% if high_school_form.fax.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.fax.errors }}
              </div>
              {% endif %}
            </div>
            <div class="form-group row">
              <label class="col-sm-3" for="id_email"><strong>{% trans "Email" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.email }}
              </div>
              {% if high_school_form.email.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.email.errors }}
              </div>
              {% endif %}
            </div>

            <div class="form-group row">
              <label class="col-sm-3">{% trans "Mailing list" %}</label>
              <div class="col-sm-6">
                <output class="form-control">{{ high_school.mailing_list | default:"-" }}</output>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-title card-header">{% trans "Head teacher" %}</div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3" for="id_head_teacher_name"><strong>{% trans "Head teacher name" %}*</strong></label>
              <div class="col-sm-6">
                {{ high_school_form.head_teacher_name }}
                <small>{{ high_school_form.head_teacher_name.help_text }}</small>
              </div>
              {% if high_school_form.head_teacher_name.errors %}
              <div class="col-sm-3 alert alert-danger">
                {{ high_school_form.head_teacher_name.errors }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-title card-header">{% trans "Highschool managers" %}</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered compact nowrap dt-body-nowrap">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans 'First name' %}</th>
                    <th>{% trans 'Last name' %}</th>
                    <th>{% trans 'Email' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ref in referents %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ ref.first_name }}</td>
                      <td>{{ ref.last_name }}</td>
                      <td><a href="mailto:{{ ref.email }}">{{ ref.email }}</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-title card-header">{% trans "Convention" %}</div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3">{% trans "With convention" %}</label>
              <div class="col-sm-6">
                <div id="with_convention" class="readonly">{{ high_school.with_convention|yesno }}</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3">{% trans "Convention start date" %}</label>
              <div class="col-sm-6">
                <div id="convention_start_date" class="readonly">{{ high_school.convention_start_date|default:'-' }}</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3">{% trans "Convention end date" %}</label>
              <div class="col-sm-6">
                <div id="convention_end_date" class="readonly">{{ high_school.convention_end_date|default:'-' }}</div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="form-group">
          <button class="btn btn-primary">{% trans "Modify" %}</button>
        </div>


      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/admin_highschool.min.js' %}"></script>
<script src="{% static 'js/core/my_high_school.min.js' %}"></script>
{% endblock %}
