{% extends "./common_slot.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
{% if duplicate %}
  {% trans "Duplicate an event slot" %}
{% elif slot %}
  {% trans "Update an event slot" %}
{% else %}
  {% trans "Add a new event slot" %}
{% endif %}
{% endblock%}

{% block confirm_slot_creation %}
<div id="date-dialog-form" style="z-index:3000;" title="{% trans "Confirm event slot creation" %}">
  <span>
    {% trans 'This date is inside a vacation or a holiday. Do you really want to create an event slot with this date ?' %}
  </span>
</div>
{% endblock %}

{% block confirm_publication %}
<div id="publication-dialog-form" style="z-index:3000;" title="{% trans "Confirm event publication" %}">
  <span>
    {% trans 'This event is unpublished. By creating this event slot, the associated event will be published. Do you want to continue?' %}
  </span>
</div>
{% endblock %}

{% block dates_modification %}
<div id="modification-dialog-form" style='z-index:3000;' title='{% trans "The Event date will be changed" %}'>
  <span>
    {% trans 'The slot will be saved, but the event publication date do not match the slot date. The event \
                     publication date will be changed automatically. Remember to adjust it yourself so that \
                     registrations can proceed without problems.' %}
  </span>
</div>
{% endblock %}


{% block card_header %}
<div class="card-header text-white bg-secondary">
  {% if duplicate %}
    {% trans "Duplicate an event slot" %}
  {% elif slot %}
    {% trans "Update an event slot" %}
  {% else %}
    {% trans "Add a new event slot" %}
  {% endif %}
</div>
{% endblock %}

{% block specific_fields %}
<div class="form-group row">
  <label for="id_event" class="col-sm-3 col-form-label">
    <i class="fa fas fa-asterisk"></i>
    {% trans 'Event' %} :
  </label>
  <div class="col-sm-3">
    {{ form.event }}
  </div>
  <div class="col-sm-6">
    {{ form.event.errors }}
  </div>
</div>

<div class="form-group row">
  <label for="id_place" class="col-form-label col-sm-3">
    {% trans 'Place' %}
  </label>
  <div class="col-sm-3">
    {{ form.place }}
  </div>
  {% if form.place.errors %}
    <div class="col-sm-3 alert alert-danger">
      {{ form.place.errors }}
    </div>
  {% endif %}
</div>
{% endblock %}
