{% extends "./common_slots_list.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Event slots" %}{% endblock%}
{% block head-javascript %}
{{ block.super }}
<script src="{% static 'js/core/events_slots.min.js' %}"></script>
{% endblock %}

{% block slot_deletion %}
<div id="delete-dialog-form" style='z-index:3000;' title='{% trans "Confirm slot deletion" %}'>
  <span>
    {% trans 'Do you really want to delete this event slot ?' %}
  </span>
</div>
{% endblock %}

{% block card_header %}
<div class="card-header text-white bg-secondary">
  {% trans "Event slots" %}
</div>
{% endblock %}

{% block card_title %}
{% if not request.user.is_structure_consultant %}
<div>
  <a href="{% url 'add_off_offer_event_slot' %}" class="btn btn-secondary" title="{% trans 'Add an event slot' %}">{% trans 'New event slot' %}</a>
</div>
{% endif %}
{% endblock %}

{% block card_filters %}
<div>
  <div class="form-group">
    <div class="form-group form-check mx-sm-3 mb-2">
      <input type="checkbox" id="filter_past_slots" class="form-check-input">
      <label for="filter_past_slots" class="form-check-label ml-md-2"> {% trans 'Include past slots with attendances' %}</label>
    </div>
    <div class="form-group mb-2">
      <input type="button" id="filters_reset_all" value="{% trans 'Reset filters' %}" class="btn btn-outline-secondary btn-sm">
    </div>
  </div>
</div>
{% endblock %}

{% block table_definition %}
<thead>
  <tr>
    <th class="align-top" scope="col">{% trans 'Control' %}</th>
    <th id="published_filter" class="align-top" scope="col">{% trans 'Published' %}</th>
    <th id="managed_by_filter" class="align-top" scope="col">{% trans 'Managed By' context "slots" %}</th>
    <th id="event_type_filter" class="align-top" scope="col">{% trans 'Event type' %}</th>
    <th id="label_filter" class="align-top" scope="col" style="width:15%">{% trans 'Label' %}</th>
    <th id="date_filter" class="align-top" scope="col">{% trans 'Date' %}</th>
    <th id="location_filter" class="align-top" scope="col">{% trans 'Meeting place' %}</th>
    <th id="speakers_filter" class="align-top" scope="col">{% trans 'Speakers' %}</th>
    <th id="registration_filter" class="align-top" scope="col">{% trans 'Registrants' %}</th>
    <th class="align-top" scope="col">{% trans 'Info.' %}</th>
    <th class="align-top" scope="col">{% trans 'Restr.' %}</th>
    <th id="groups_filter" class="align-top" scope="col">{% trans 'Groups' %}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
{% endblock %}

