{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block head-javascript %}
    <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top: 20px; width: 70%;">
  <div id="date-dialog-form" style='z-index:3000;' title='{% trans "Confirm slot creation" %}'>
    <span>
      {% trans 'This date is inside a vacation or a holiday. Are you sure that you want a slot with this date ?' %}
    </span>
  </div>

  <div id="course-dialog-form" style='z-index:3000;' title='{% trans "Confirm course" %}'>
    <span>
      {% trans 'This course is unpublished. By creating this slot the associated course will be published. Do you want to continue?' %}
    </span>
  </div>

  <div id="cancel-dialog-form" style='z-index:3000;' title='{% trans "Cancel" %}'>
    <span>
      {% if slot %}
        {% if slot.id %}
          {% trans 'Do you really want to cancel this modification?' %}
        {% else %}
          {% trans 'Do you really want to cancel this duplication?' %}
        {% endif %}
      {% else %}
        {% trans 'Do you really want to cancel this creation?' %}
      {% endif %}
    </span>
  </div>

  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% if slot %}
        {% if slot.id %}
          {% trans 'modify slot' %}
        {% else %}
          {% trans 'duplicate slot' %}
        {% endif %}
      {% else %}
        {% trans 'Add a new slot' %}
      {% endif %}
    </div>
    <div class="card-body">
      <form method="POST" class="form-group" role="form" id="add_slot">
        {% csrf_token %}
        {{ slot_form.id }}
        <input type="hidden" name="face_to_face" value="1">
        {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager %}
        <div class="form-group row" id="id_div_establishment">
          <label for="id_establishment" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Establishment' %} :
          </label>
          <div class="col-sm-3">
            {{ slot_form.establishment }}
          </div>
          <div class="col-sm-6">
            {{ slot_form.establishment.errors }}
          </div>
        </div>
        {% endif %}
        <div class="form-group row" id="id_div_highschool">
          <label for="id_highschool" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% if request.user.is_master_establishment_manager %}
                <strong>{% trans 'or' %} </strong>
            {% endif %}
            {% trans 'high school' %} :
          </label>
          <div class="col-sm-3">
            {{ slot_form.highschool }}
          </div>
          <div class="col-sm-6">
            {{ slot_form.highschool.errors }}
          </div>
        </div>
        {% if request.user.is_master_establishment_manager or request.user.is_establishment_manager or request.user.is_structure_manager %}
        <div class="form-group row" id="id_div_structure">
          <label for="id_structure" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Structure' %} :
          </label>
          <div class="col-sm-3">
            {{ slot_form.structure }}
          </div>
          <div class="col-sm-6">
            {{ slot_form.structure.errors }}
          </div>
        </div>
        {% endif %}
        <div class="form-group row">
          <label for="id_training" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Training' %} :
          </label>
          <div class="col-sm-3">
            {{ slot_form.training }}
          </div>
          <div class="col-sm-6">
            {{ slot_form.training.errors }}
          </div>
        </div>

        <div class="form-group row">
          <label for="id_course" class="col-form-label col-sm-3">{% trans 'Course' %}</label>
          <div class="col-sm-6">
            {{ slot_form.course }}
          </div>
          {% if slot_form.course.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.course.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group row">
          <label for="id_course_type" class="col-form-label col-sm-3">{% trans 'Course type' %}</label>
          <div class="col-sm-3">
            {{ slot_form.course_type }}
          </div>
          {% if slot_form.course_type.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ slot_form.course_type.errors }}
            </div>
          {% endif %}

        </div>

        <div class="form-group row" id="id_div_campus">
          <label for="id_campus" class="col-form-label col-sm-3">{% trans 'Campus' %}</label>
          <div class="col-sm-6">
            {% if slot %}
                <select name="campus" id="id_campus" class="form-control">
                    <option value="" selected>--------</option>
                    {% for c in campus %}
                        <option value="{{ c.id }}">{{ c.label }}</option>
                    {% endfor %}
                </select>
            {% else %}
                {{ slot_form.campus }}
            {% endif %}
          </div>
          {% if slot_form.campus.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.campus.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group row" id="id_div_building">
          <label for="id_building" class="col-form-label col-sm-3">{% trans 'Building' %}</label>
          <div class="col-sm-6">
            {{ slot_form.building }}
          </div>
          {% if slot_form.building.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.building.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group row">
          <label for="id_room" class="col-form-label col-sm-3">{% trans 'Room' %}</label>
          <div class="col-sm-3">
            {{ slot_form.room }}
          </div>
          {% if slot_form.room.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ slot_form.room.errors }}
            </div>
          {% endif %}
        </div>
        <div class="form-group row">
            <label for="id_date" class="col-form-label col-sm-3">{% trans 'Date' %}</label>
            <div class="col-sm-3">
                {{ slot_form.date }}
            </div>
            {% if slot_form.date.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ slot_form.date.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
            <label for="id_start_time" class="col-form-label col-sm-3">{% trans 'Start time' %}</label>
            <div class="col-sm-3">
                {{ slot_form.start_time }}
            </div>
            {% if slot_form.start_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ slot_form.start_time.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
          <label for="id_end_time" class="col-form-label col-sm-3">{% trans 'End time' %}</label>
          <div class="col-sm-3">
            {{ slot_form.end_time }}
          </div>
          {% if slot_form.end_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ slot_form.end_time.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label class="col-sm-3">{% trans 'Speakers' %}</label>
          <div class="form-group col-sm-6 row">
            <div class="form-check" id="id_speakers">
              {% if slot %}
                {% for t in slot.course.speakers.all %}
                  <div class="custom-control custom-checkbox">
                    {% if t.id in speakers_idx %}
                        <input type="checkbox" value="{{ t.id }}" name="speaker_{{ t.id }}" checked>
                    {% else %}
                        <input type="checkbox" value="{{ t.id }}" name="speaker_{{ t.id }}">
                    {% endif %}
                    <label for="speaker_{{ t.id }}" class="">{{ t.first_name }} {{ t.last_name|upper }}</label>
                  </div>
                {% endfor %}
              {% elif course %}
                {% for t in course.speakers.all %}
                  <div class="custom-control custom-checkbox">
                    {% if t.id in speakers_idx %}
                      <input type="checkbox" value="{{ t.id }}" name="speaker_{{ t.id }}" checked>
                    {% else %}
                      <input type="checkbox" value="{{ t.id }}" name="speaker_{{ t.id }}">
                    {% endif %}
                    <label for="speaker_{{ t.id }}" class="">{{ t.first_name }} {{ t.last_name|upper }}</label>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          {% if slot_form.speakers.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.speakers.errors }}
            </div>
          {% elif speaker_error %}
            <div class="alert alert-danger">
              {% if speaker_error %}
                <ul>
                  <li>{% trans "Speakers" %}
                    <ul><li>{% trans "You have to select one or more speakers" %}</li></ul>
                  </li>
                </ul>
             {% endif %}
           </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_n_places" class="col-form-label col-sm-3">{% trans 'Number of places' %}</label>
          <div class="col-sm-3">
            {{ slot_form.n_places }}
          </div>
          {% if slot_form.n_places.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ slot_form.n_places.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_establishments_restrictions" class="col-form-label col-sm-3">{% trans 'Use establishments restrictions' %}</label>
          <div class="col-sm-3">
            {{ slot_form.establishments_restrictions }}
          </div>

          {% if slot_form.establishments_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.establishments_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_establishments">
          <div class="col-sm-3 offset-sm-3">
            <label for="id_allowed_establishments" class="col-form-label">{% trans 'Allowed establishments' %}</label>
            {{ slot_form.allowed_establishments }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_highschools" class="col-form-label">{% trans 'Allowed high schools' %}</label>
            {{ slot_form.allowed_highschools }}
          </div>

          {% if slot_form.allowed_establishments.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.allowed_establishments.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_levels_restrictions" class="col-form-label col-sm-3">{% trans 'Use levels restrictions' %}</label>
          <div class="col-sm-6">
            {{ slot_form.levels_restrictions }}
          </div>

          {% if slot_form.levels_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.levels_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_levels">
          <div class="col-sm-3 offset-sm-3">
            <label for="id_allowed_highschool_levels" class="col-form-label">{% trans 'Allowed high school levels' %}</label>
            {{ slot_form.allowed_highschool_levels }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_student_levels" class="col-form-label">{% trans 'Allowed student levels' %}</label>
            {{ slot_form.allowed_student_levels }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_post_bachelor_levels" class="col-form-label">{% trans 'Allowed post bachelor levels' %}</label>
            {{ slot_form.allowed_post_bachelor_levels }}
          </div>

          {% if slot_form.allowed_establishments.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.allowed_establishments.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_additional_information" class="col-form-label col-sm-3">{% trans 'Additional information' %}</label>
          <div class="col-sm-6">
            {{ slot_form.additional_information }}
          </div>
          {% if slot_form.additional_information.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.additional_information.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="id_published" class="col-form-label col-sm-3">{% trans 'Published' %}</label>
          <div class="col-sm-1">
            {{ slot_form.published }}
          </div>
          {% if slot_form.published.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ slot_form.published.errors }}
            </div>
          {% endif %}
        </div>
        <input type="hidden" name="modify">
        {% if slot and slot.id %}
          <div class="form-group row">
            <label for="id_notify_student" class="col-form-label col-sm-3">{% trans "Notify registrants of these changes?" %}</label>
            <div class="col-sm-1">
              <input type="checkbox" name="notify_student" checked>
            </div>
          </div>
        {% endif %}
        <br>
        {% include 'core/slot__controls.html' %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block foot-javascript %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment "" %}
  TODO: add here other languages for jquery-ui !!
{% endcomment %}

{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}


<script>
  var course_first = true;
  var building_first = true;
  var dateDialog;
  var courseDialog;
  var cancelDialog;
  var training_id = "{{ slot_form.training.value }}";
  var structure_id = "{{ slot_form.structure.value }}";
  var course_id = "{{ slot_form.course.value }}";
  var campus_id = "{{ slot_form.campus.value }}";
  var building_id = "{{ slot_form.building.value }}";
  var establishment_id = "{{ slot_form.establishment.initial }}";
  var highschool_id = "{{ slot_form.highschool.id }}";
  var courses = Array();

  function empty_structures() {
      let options = '<option value="">---------</option>'
      $('select#id_structure').html(options)
      structure_id = ''
      $("#id_div_structure").hide()
  }

  function set_structures(establishment_id) {
    $.ajax({
      url: "{% url 'structure_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = '<option value="">---------</option>'
        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['code']} - ${json[i]['label']}</option>`
        }
        $('select#id_structure').html(options)

        if(structure_id) {
          $("#id_structure").val(structure_id);
        }
        else {
          $("#id_structure").val($("#id_structure option:first").val());
        }

        $("#id_div_structure").show()
        $("#id_div_campus").show()
        $("#id_div_building").show()
        $("#id_div_highschool").hide()
      }
    })
  }

  function empty_trainings() {
      let options = '<option value="">---------</option>'
      $('select#id_training').html(options)
      training_id = ''
  }

  function empty_courses() {
      let options = '<option value="">---------</option>'
      $('select#id_course').html(options)
      course_id = ''
  }

  function empty_campuses() {
      let options = '<option value="">---------</option>'
      $('select#id_campus').html(options)
      campus_id = ''
  }

  function empty_buildings() {
      let options = '<option value="">---------</option>'
      $('select#id_building').html(options)
      building_id = ''
  }

  $('#id_establishment').change( function() {
    establishment_id = $('#id_establishment option:selected').val();
    structure_id = ""
    training_id = ""

    empty_structures()
    empty_trainings()
    empty_campuses()
    empty_buildings()

    if (establishment_id !== "") {
        highschool_id = ""
        $('#id_highschool').val("")
        set_structures(establishment_id)
        set_campuses(establishment_id)
    }
    else {
        $("#id_div_highschool").show()
        $("#id_div_campus").hide()
        $("#id_div_building").hide()
    }
  });

  $('#id_structure').change( function() {
    structure_id = $('#id_structure option:selected').val()

    if(structure_id !== '') {
      set_trainings('structure', structure_id)
    }
    else {
      empty_trainings()
    }
  });

  $('#id_highschool').change( function() {
    highschool_id = $('#id_highschool option:selected').val()

    if (highschool_id !== "") {
      empty_structures()
      empty_campuses()
      empty_buildings()
      $('#id_establishment').val("")
      $('#id_structure').val("")
      $("#id_div_campus").hide()
      $("#id_div_building").hide()
      $("#id_div_establishment").hide()
    } else {
      $("#id_div_establishment").show()
      $("#id_div_campus").show()
      $("#id_div_building").show()
    }

    set_trainings('highschool', highschool_id)
  });

  $('#id_training').change( function() {
    let type, object_id
    training_id = $('#id_training option:selected').val();

    if(highschool_id) {
      type = "highschool"
      object_id = highschool_id
    }
    else if(structure_id) {
      type = "structure"
      object_id = structure_id
    }

    set_courses(type, object_id, training_id);
  });

  $('#id_course').change( function() {
    course_id = $('#id_course option:selected').val();

    if(course_id !== '' && courses[course_id]['published'] === false) {
      courseDialog.dialog('open');
    }
    load_speakers(course_id);
  });

  $('#id_campus').change( function() {
    campus_id = $('#id_campus option:selected').val();

    if(campus_id !== "") {
      set_buildings(campus_id)
    }
    else {
      empty_buildings()
    }
  });

  function set_trainings(type, object_id) {
    $.ajax({
      url: "{% url 'GetTrainings' %}",
      data: {
        'type': type,
        'object_id': object_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = '<option value="">---------</option>'
        for (let i = 0; i < json['data'].length; i++) {
          let selected = json['data'][i]['id'] === parseInt(training_id) ? "selected='selected'" : ""
          options += `<option ${selected} value="${json['data'][i]['id']}">${json['data'][i]['label']}</option>`
        }

        $('select#id_training').html(options)

        if(training_id) {
          $("#id_training").val(training_id);
        }
        else {
          $("#id_training").val($("#id_training option:first").val());
        }
      }
    })
  }

  function set_courses(type, object_id, training_id) {
    let params = {
        'training': training_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
    }

    if(type === "structure") {
        params["structure"] = object_id
    }
    else if (type === "highschool") {
        params["highschool"] = object_id
    }

    $.ajax({
      url: "{% url 'course_list' %}",
      type: 'GET',
      data: params,
      success: function (json) {
        courses = Array()
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            let selected =  json[i]['id'] === parseInt(course_id) ? "selected='selected'" : ""
            options += `<option value="${json[i]['id']}" ${selected}>${json[i]['label']}</option>`
            courses[json[i]['id']] = json[i]
          }
        }
        else {
            options = '<option value="">{% trans 'No course available' %}</option>'
        }

        $('select#id_course').html(options)

        if(course_id) {
          $("#id_course").val(course_id);
        }
        else {
          $("#id_course").val($("#id_course option:first").val());
        }
      }
    })
  }

  function set_campuses(establishment_id) {
    $.ajax({
      url: "{% url 'campus_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            options += `<option value="${json[i]['id']}">${json[i]['label']}</option>`
          }
        }
        else {
          options = '<option value="">{% trans 'No campus available' %}</option>'
        }

        $('select#id_campus').html(options)

        if(campus_id) {
          $("#id_campus").val(campus_id);
        }
        else {
          $("#id_campus").val($("#id_campus option:first").val());
        }
      }
    })
  }

  function set_buildings(campus_id) {
    $.ajax({
      url: "{% url 'building_list' %}",
      type: 'GET',
      data: {
        'campus': campus_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""

        if(json.length>0) {
          options = '<option value="">---------</option>'
          for (let i = 0; i < json.length; i++) {
            options += `<option value="${json[i]['id']}">${json[i]['label']}</option>`
          }
        }
        else {
          options = '<option value="">{% trans 'No building available' %}</option>'
        }

        $('select#id_building').html(options)

        if(building_id) {
          $("#id_building").val(building_id);
        }
        else {
          $("#id_building").val($("#id_building option:first").val());
        }
      }
    })
  }

  function load_speakers(value) {
    $.ajax({
      url: '/api/get_course_speakers/' + value,
      success: function(data) {
        if ( data['data'] ) {
          $('#id_speakers').html('');
          data['data'].forEach(function(e){
            let name= '' + e['first_name'] + ' ' + e['last_name'].toUpperCase();
            element = '<div class="custom-checkbox custom-control">';
            element += '<input type="checkbox" name="speaker_' + e['id'] + '" value="' + e['id'] + '">';
            element += '<label for="speaker_' + e['id'] + '">' + name +'</label>';
            element += '</div>';
            $('#id_speakers').append(element);
          });
        }
      },
      error: function() {$('#id_speakers').html('');}
    });
  }

$(document).ready(function(){
  // initialize base values
  if(highschool_id === 'None' || highschool_id === "") {
    highschool_id = $("#id_highschool").val()
  }

  if(establishment_id === 'None' || establishment_id === "" || establishment_id === undefined) {
    establishment_id = $("#id_establishment").val()
    structure_id = ""
    empty_structures()
    $("#id_div_highschool").show()
  } else {
    $("#id_establishment").val(establishment_id)
    highschool_id = ""
    set_structures(establishment_id)
    set_campuses(establishment_id)
    $("#id_div_highschool").hide()
  }

  if(structure_id === 'None' || structure_id === "") {
    structure_id = $("#id_structure").val()
  }

  if(training_id === 'None' || training_id === "") {
    training_id = $("#id_training").val()
  }
  else {
      $("#id_training").val(training_id)
  }

  if(campus_id === "" || campus_id === undefined || campus_id === "None") {
    empty_buildings()
  }
  else {
    set_buildings(campus_id)
  }

  // Initialize trainings depending on structure / high school selection
  if(highschool_id !== 'None' && highschool_id !== '' && highschool_id !== undefined) {
    set_trainings('highschool', highschool_id)
    set_courses('highschool', highschool_id, training_id);
    $("#id_div_campus").hide()
    $("#id_div_building").hide()
  }
  else if (structure_id !== 'None' && structure_id !== '' && structure_id !== undefined) {
    set_trainings('structure', structure_id)
    set_courses('structure', structure_id, training_id);
  }
  else {
    empty_trainings()
    empty_courses()
  }

  initFeedback();
  // reset feedback
  setTimeout(function(){$('#feedback').html('')}, {%  settings_get 'MESSAGES_TIMEOUT' %});

  dateDialog = $("#date-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          dateDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_date').val('');
          dateDialog.dialog("close");
        },
      }],
  });

  courseDialog = $("#course-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          courseDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_course').val('');
          courseDialog.dialog("close");
        },
      }],
  });

  cancelDialog = $("#cancel-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          let url = "/core/slots"
          let str_id = $('#structure').val();
          let train_id = $('#training').val();

          if(str_id) url += "/"+str_id
          if(train_id) url += "/"+train_id

          window.location = url;
          cancelDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          cancelDialog.dialog("close");
        },
      }],
  });

  /*
  $('#id_course').change(function(event){
    if(courses[event.target.value]['published'] == false) {
      courseDialog.dialog('open');
    }
  });
  */

  function check_date() {
    $.ajax({
      url: '/api/check_vacations',
      data: {
        date: $('#id_date').val(),
      },
      success: function(data) {
        if ( data['data'] ) {
          if (data['data']['is_between']) {
            dateDialog.dialog('open');
          }
        }
      },
    });
  }

  function toggle_required_fields () {
    let published = $('#id_published').prop('checked');
    if (published) {
      let mandatory = Array()
      if(structure_id) {
          mandatory = [
              'course', 'course_type', 'campus', 'building', 'room', 'date', 'start_time', 'end_time',
              'speakers', 'n_places'
          ]
      }
      else if (highschool_id) {
          mandatory = ['course', 'course_type', 'room', 'date', 'start_time', 'end_time', 'speakers', 'n_places']
      }
      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'sfdgsg');
      });
    }
    else {
      let not_mandatory = [
        'course_type', 'campus', 'building', 'room', 'date', 'start_time', 'end_time', 'speakers', 'n_places'
      ];
      let mandatory = ['training', 'course'];

      not_mandatory.forEach(function(e){
        $('#id_' + e).removeAttr('required');
      });

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'sfdgsg');
      });
    }
  }

  function toggle_establishments_restrictions() {
    if ($('#id_establishments_restrictions').prop('checked')) {
      $('#id_div_allowed_establishments').show()
    }
    else {
      $('#id_div_allowed_establishments').hide()
      $('#id_allowed_establishments').find('option').prop('selected',false)
      $('#id_allowed_highschools').find('option').prop('selected',false)
    }
  }

  function toggle_levels_restrictions() {
    if ($('#id_levels_restrictions').prop('checked')) {
      $('#id_div_allowed_levels').show()
    }
    else {
      $('#id_div_allowed_levels').hide()
      $('#id_allowed_highschool_levels').find('option').prop('selected',false)
      $('#id_allowed_student_levels').find('option').prop('selected',false)
      $('#id_allowed_post_bachelor_levels').find('option').prop('selected',false)
    }
  }

  // Change input type
  $('#id_start_time').get(0).type = 'time';
  $('#id_end_time').get(0).type = 'time';

  // Date check
  $('#id_date').on('change', function() {
    check_date();
  });

  // Back button + confirm
  $('.back_btn').click(function (event) {
    cancelDialog.dialog('open');
  });

  $(".datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,
    yearRange: "2020:2100",
  });

  // toggle
  toggle_required_fields();
  $('#id_published').on('change', function(){ toggle_required_fields(); });

  toggle_establishments_restrictions();
  $('#id_establishments_restrictions').on('change', function() { toggle_establishments_restrictions() });

  toggle_levels_restrictions();
  $('#id_levels_restrictions').on('change', function() { toggle_levels_restrictions() });

  {% if slot or request.POST.structure %}
    {% if slot %}
      setTimeout(function(){
        $('#ok_modify').fadeOut(1000, function(){
          $('#ok_modify').hide();
        });
        },
        {%  settings_get 'MESSAGES_TIMEOUT' %}
      );
    {% endif %}
  {% endif %}
});
</script>
{% endblock %}
