{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-javascript %}
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
{% trans "Statistics and extractions" %}
{% endblock %}

{% block content %}
{% general_settings_get 'HIGHSCHOOL_VISIT' as highschool_visit %}
{% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Statistics and extractions" %}
    </div>
    <div class="card-body">
      {% if request.user.is_establishment_manager or request.user.is_master_establishment_manager or request.user.is_operator %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_anonymous_courses">{% trans 'Anonymous courses data' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_anonymous_courses">{% trans 'Extract data' %}</button>
      </div>
      {% if highschool_visit %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_anonymous_visits">{% trans 'Anonymous visits data' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_anonymous_visits">{% trans 'Extract data' %}</button>
      </div>
      {% endif %}
      {% if events_off_offer %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_anonymous_events" >{% trans 'Anonymous events data' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_anonymous_events">{% trans 'Extract data' %}</button>
      </div>
      {% endif %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_registrations" >{% trans 'Anonymous registrations' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_anonymous_registrations">{% trans 'Extract data' %}</button>
      </div>
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_structure_courses">{% trans 'Structures data' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_courses">{% trans 'Extract courses data' %}</button>
        {% if highschool_visit %}
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_visits">{% trans 'Extract visits data' %}</button>
        {% endif %}
        {% if events_off_offer %}
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_events">{% trans 'Extract events data' %}</button>
        {% endif %}
      </div>
      {% elif request.user.is_high_school_manager %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_highschool">{% trans 'High schools data' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_highschool">{% trans 'Extract data' %}</button>
      </div>
        {% if request.user.highschool.postbac_immersion %}
          <div class="row">
            <label class="col-form-label col-sm-3" for="structure">{% trans 'High school immersions data' %}</label>
            <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_courses">{% trans 'Extract courses data' %}</button>
            {% if events_off_offer %}
            <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_events">{% trans 'Extract events data' %}</button>
            {% endif %}
          </div>
        {% endif %}
      {% elif request.user.is_structure_manager %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="extract_structure_courses">{% trans 'Structures data' %}</label>
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_courses">{% trans 'Extract courses data' %}</button>
        {% if highschool_visit %}
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_visits">{% trans 'Extract visits data' %}</button>
        {% endif %}
        {% if events_off_offer %}
        <button type="button" class="btn btn-primary btn-sm ml-1 pt-1 mt-1" id="extract_structure_events">{% trans 'Extract events data' %}</button>
        {% endif %}
      </div>
      {% else %}
      <div class="alert-info">{% trans "No data extractions available for your user right." %}</div>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $('#extract_structure_courses').click(function(event){
    window.open('{% url 'get_csv_structures' %}?type=course', '_blank');
  });
  $('#extract_structure_visits').click(function(event){
    window.open('{% url 'get_csv_structures' %}?type=visit', '_blank');
  });
  $('#extract_structure_events').click(function(event){
    window.open('{% url 'get_csv_structures' %}?type=event', '_blank');
  });
  $('#extract_highschool').click(function(event){
    window.open('{% url 'get_csv_highschool' %}', '_blank');
  });
  $('#extract_anonymous_registrations').click(function(event){
    window.open('{% url 'get_csv_anonymous' %}?type=registration', '_blank');
  });
  $('#extract_anonymous_courses').click(function(event){
    window.open('{% url 'get_csv_anonymous' %}?type=course', '_blank');
  });
  $('#extract_anonymous_visits').click(function(event){
    window.open('{% url 'get_csv_anonymous' %}?type=visit', '_blank');
  });
  $('#extract_anonymous_events').click(function(event){
    window.open('{% url 'get_csv_anonymous' %}?type=event', '_blank');
  });
})

</script>
{% endblock %}
