{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
{% comment %} Comment following line if using english ! {% endcomment %}
{% endblock %}
{% block title %}
{% trans "Statistics and extractions" %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Statistics and extractions" %}
    </div>
    <div class="card-body">


      {% if request.user.is_ref_etab_manager %}
      <div class="row">
        <label class="col-form-label col-sm-3" >{% trans 'Anonymous immersion data' %}</label>
        <button type="button" class="btn btn-primary" id="extract_anonymous">{% trans 'Extract data' %}</button>
      </div>
      {% elif request.user.is_structure_manager %}
      <div class="row">
        <label class="col-form-label col-sm-3" for="structure">{% trans 'Structures data' %}</label>

        <select name="structure" id="structure" class="form-control col-sm-3">

          {% if structures|length > 1 %}
            <option value="" selected>{% trans 'Choose a structure' %}</option>
            {% for structure in structures %}
              <option value="{{ structure.id }}">{{ structure.label }}</option>
            {% endfor %}
          {% else %}
            {% for structure in structures %}
              <option value="{{ structure.id }}" selected>{{ structure.label }}</option>
            {% endfor %}
          {% endif %}

        </select>
        <button type="button" class="btn btn-primary ml-1" id="extract_structure">{% trans 'Extract data' %}</button>
      </div>
      {% elif request.user.is_high_school_manager %}
      <div class="row">
        <label class="col-form-label col-sm-3" >{% trans 'High school data' %}</label>
        <button type="button" class="btn btn-primary" id="extract_highschool">{% trans 'Extract data' %}</button>
      </div>
      {% else %}
      <div class="alert-info">{% trans "No data extractions available for your user right." %}</div>
      {% endif %}
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
  function toggle_structure_btn() {
    if ($('#structure').val() === ''){
        $('#extract_structure').prop('disabled', true);
    } else {
        $('#extract_structure').prop('disabled', false);
    }
  }

  toggle_structure_btn();
  $('#structure').change(function(){ toggle_structure_btn(); });

  $('#extract_structure').click(function(event){
    let structure = $('#structure').val();
    let url = '/api/get_csv_structures/' + structure;
    window.open(url, '_blank');
  });
  $('#extract_highschool').click(function(event){
    let url = '/api/get_csv_highschool/{{ high_school_id }}';
    window.open(url, '_blank');
  });
  $('#extract_anonymous').click(function(event){
    window.open('/api/get_csv_anonymous_immersion/', '_blank');
  });
});

</script>
{% endblock %}
