{% extends 'base.html' %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="main-title inside text-center">
  <div class="bg-main-title bg-parallax" data-scroll-speed=".3"></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'Structures' %}</h1>
          <p class="text-uppercase">{% trans 'Structures settings' %}</p>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Structures settings" %}</li>
      </ol>
    </nav>
  </div>
</section>
<div class="container">
  <div class="card mt-4">
    <div class="card-header text-white bg-secondary">
      {% if structures %}
        {% trans 'Settings for structures' %}
      {% else %}
        {% trans 'Settings for structure' %} : {{ structure.label }}
      {% endif %}
    </div>
    <div class="card-body">
      {% if structures %}
        <ul>
        {% for structure in structures %}
          <li class="mb-3">{{ structure.label }}<br />
            {% trans 'Mailing list' %} : {{ structure.mailing_list|default_if_none:"-" }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
