{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
{% comment "" %}TODO: add here other languages for jquery-ui !!{% endcomment %}
{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
{% trans "Students by date" %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Students presence by dates" %}
    </div>
    <div class="card-body">
      <div class="form-group row align-items-center ml-1">
        <label for="id_from" class="col-form-label ml-2"> {% trans 'From' %} : </label>
        <input type="text" id='id_from' name="{% trans 'from' %}" class="form-control form-control-sm col-sm-1 ml-2 datepicker">
        <label for="id_until" class="col-form-label ml-2"> {% trans 'To' %} : </label>
        <input type="text" id='id_until' name="{% trans 'until' %}" class="form-control form-control-sm col-sm-1 ml-2 datepicker">
        <button id="id_dates_apply" name="dates_apply" class="btn btn-secondary btn-sm ml-2">{% trans 'Apply' %}</button>
      </div>
      <div class="table-responsive">
        <table id="students_table" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" style="border-spacing:0;border-collapse:collapse;width:100%;">
          <thead>
            <tr>
            {% if request.user.is_master_establishment_manager or request.user.is_operator %}
              <th id="establishment_filter" class="align-top">{% trans 'Establishment' %}</th>
            {% endif %}
            {% if not request.user.is_high_school_manager %}
              <th id="structure_filter" class="align-top">{% trans 'Structure' %}</th>
            {% endif %}
              <th id="datetime_filter" class="align-top">{% trans 'Date' %}</th>
              <th id="student_profile_filter" class="align-top">{% trans  'Profile' %}</th>
              <th id="student_filter" class="align-top">{% trans 'Student' %}</th>
              <th id="institution_filter" class="align-top">{% trans 'Origin institution' %}</th>
              <th id="contact_filter" class="align-top">{% trans 'Phone / Email' %}</th>
            {% if not request.user.is_high_school_manager %}
            <th id="campus_filter" class="align-top">{% trans 'Campus' %}</th>
            <th id="building_filter" class="align-top">{% trans 'Building' %}</th>
            {% endif %}
              <th id="meeting_place_filter" class="align-top">{% trans 'Meeting place' %}</th>
              <th id="registration_date_filter" class="align-top>">{% trans "Date of registration" %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            {% if request.user.is_master_establishment_manager or request.user.is_operator %}
              <td></td>
            {% endif %}
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              {% if not request.user.is_high_school_manager %}
              <td></td>
              <td></td>
              <td></td>
              {% endif %}
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dt;
  var min_date = "{{ min_date }}";
  var max_date = "{{ max_date }}";
  var current_student_id;

  var alert1 = "{% blocktrans %}'From' date must be before 'Until' date'{% endblocktrans %}";
  var alert2 = "{% blocktrans %}'Until' date must be after 'From' date'{% endblocktrans %}";

  $(document).ready(function () {
    $(function () {
      $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        minDate: new Date(min_date),
        maxDate: new Date(max_date),
      });
    });

    $.fn.dataTableExt.errMode = 'console';
    dt = $('#students_table').DataTable({
      'processing': false,
      {% if request.user.is_master_establishment_manager or request.user.is_operator %}
      'order': [
        [2, "asc"],
      ],
      {% elif request.user.is_high_school_manager %}
      'order': [
        [0, "asc"],
      ],
      {% else %}
      'order': [
        [1, "asc"],
      ],
      {% endif %}
      'pageLength': 15,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "{% url 'ajax_get_student_presence' %}",
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
    'searching': true,
    {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
    'language': {
      url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
    },
    {% endif %}
    'columns': [
    {% if request.user.is_master_establishment_manager or request.user.is_operator %}
      { "data": "establishment"},
    {% endif %}
    {% if not request.user.is_high_school_manager %}
      { "data": "structure"},
    {% endif %}
      { "data": "datetime",
        "render": function(data, type, row) {
          if(type === "display" || type === "filter") {
            return row.date + " <br />" + row.time['start'] + " - " + row.time['end'];
          }

          return data;
        }
      },
      { "data": "student_profile"},
      { "data": "name" },
      { "data": "institution" },
      { "data": "",
        "render": function(data, type, row) {
          var txt = "<ul>";
          if(row.phone !== "") { txt += "<li>" + row.phone + "</li>"; }
          if(row.email !== "") { txt += "<li>" + row.email + "</li>"; }
          txt += "</ul>";
          return txt;
        }
      },
      {% if not request.user.is_high_school_manager %}
      { "data": "campus" },
      { "data": "building" },
      {% endif %}
      { "data": "meeting_place" },
      { "data": "registration_date",
        render: function(data, type, row) {
          if (type !== 'sort') {
            return data ? formatDate(data) : "";
          }

          return data
        }
      },
    ],
    "columnDefs": [
      {
        "defaultContent": "",
        "targets": "_all",
        "className": "all",
      },
    ],
  });

  // All filters reset action
  $('#filters_reset_all').click(function () {
    yadcf.exResetAllFilters(dt);
  });

  // Filters init
  yadcf.init(dt, [
  {% if request.user.is_master_establishment_manager or request.user.is_operator %}
  {
    column_number: 0,
    filter_default_label: "",
    filter_container_id: "establishment_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 1,
    filter_default_label: "",
    filter_container_id: "structure_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 2,
    filter_default_label: "",
    filter_container_id: "datetime_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 3,
    filter_default_label: "",
    filter_container_id: "student_profile_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 4,
    filter_type: "text",
    filter_default_label: "",
    filter_container_id: "student_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 5,
    filter_default_label: "",
    filter_container_id: "institution_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 6,
    filter_type: "text",
    filter_default_label: "",
    filter_container_id: "contact_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 7,
    filter_default_label: "",
    filter_container_id: "campus_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 8,
    filter_default_label: "",
    filter_container_id: "building_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 9,
    filter_default_label: "",
    filter_container_id: "meeting_place_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,

  },{
    column_number: 10,
    filter_default_label: "",
    filter_container_id: "registration_date_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  }
  {% elif request.user.is_high_school_manager %}
  {
    column_number: 0,
    filter_default_label: "",
    filter_container_id: "datetime_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 1,
    filter_default_label: "",
    filter_container_id: "student_profile_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 2,
    filter_type: "text",
    filter_default_label: "",
    filter_container_id: "student_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 3,
    filter_default_label: "",
    filter_container_id: "institution_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 4,
    filter_type: "text",
    filter_default_label: "",
    filter_container_id: "contact_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 5,
    filter_default_label: "",
    filter_container_id: "meeting_place_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  },{
    column_number: 6,
    filter_default_label: "",
    filter_container_id: "registration_date_filter",
    style_class: "form-control form-control-sm",
    filter_reset_button_text: false,
  }
  {% else %}
    {
        column_number: 0,
        filter_default_label: "",
        filter_container_id: "structure_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 1,
        filter_default_label: "",
        filter_container_id: "datetime_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 2,
        filter_default_label: "",
        filter_container_id: "student_profile_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 3,
        filter_type: "text",
        filter_default_label: "",
        filter_container_id: "student_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 4,
        filter_default_label: "",
        filter_container_id: "institution_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 5,
        filter_type: "text",
        filter_default_label: "",
        filter_container_id: "contact_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 6,
        filter_default_label: "",
        filter_container_id: "campus_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 7,
        filter_default_label: "",
        filter_container_id: "building_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 8,
        filter_default_label: "",
        filter_container_id: "meeting_place_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    },{
        column_number: 9,
        filter_default_label: "",
        filter_container_id: "registration_date_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
    }
  {% endif %}
  ]);

  $('#id_dates_apply').click(function () {
    var from_date_val = $('#id_from').val();
    var until_date_val = $('#id_until').val();
    var from_date = "None"
    var until_date = "None"

    if(from_date_val !== "") {
      var f = from_date_val.split("/");
      from_date = f[2]+"-"+f[1]+"-"+f[0];
    }

    if(until_date_val !== "") {
      var u = until_date_val.split("/");
      until_date = u[2]+"-"+u[1]+"-"+u[0];
    }

    dt.ajax.url('/api/get_students_presence/'+from_date+'/'+until_date);
    dt.ajax.reload();
  });

  // Dates checks
  $('#id_from').change(function() {
    var from_date_val = $(this).val();
    var until_date_val = $('#id_until').val();
    var from_date = "";
    var until_date = "";

    if(from_date_val !== "") {
      var f = from_date_val.split("/");
      from_date = f[2]+"-"+f[1]+"-"+f[0];
    }

    if(until_date_val !== "") {
      var u = until_date_val.split("/");
      until_date = u[2]+"-"+u[1]+"-"+u[0];
    }

    if(from_date !== "" && until_date !== "" && from_date > until_date) {
      alert(alert1);
      $('#id_from').val("");
    }
  });

  $('#id_until').change(function() {
    var until_date_val = $(this).val();
    var from_date_val = $('#id_from').val();
    var from_date = "";
    var until_date = "";

    if(from_date_val !== "") {
      var f = from_date_val.split("/");
      from_date = f[2]+"-"+f[1]+"-"+f[0];
    }

    if(until_date_val !== "") {
      var u = until_date_val.split("/");
      until_date = u[2]+"-"+u[1]+"-"+u[0];
    }

    if(from_date !== "" && until_date !== "" && from_date > until_date) {
      alert(alert2);
      $('#id_until').val("");
    }
  });

});
</script>
{% endblock %}
