{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
{% comment "" %}TODO: add here other languages for jquery-ui !!{% endcomment %}
{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
{% trans "Students by date" %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Students presence by dates" %}
    </div>
    <div class="card-body">
      <div class="form-group row align-items-center ml-1">
        <label for="id_from" class="col-form-label ml-2"> {% trans 'From' %} : </label>
        <input type="text" id='id_from' name="{% trans 'from' %}" class="form-control form-control-sm col-sm-1 ml-2 datepicker">
        <label for="id_until" class="col-form-label ml-2"> {% trans 'To' %} : </label>
        <input type="text" id='id_until' name="{% trans 'until' %}" class="form-control form-control-sm col-sm-1 ml-2 datepicker">
        <label for="id_from" class="col-form-label ml-2"> {% trans 'Registrations' %} : </label>
        <select id="id_place" name="place"  class="form-control form-control-sm col-sm-2 ml-3">
          <option value="0">{% trans 'Face to face' %}</option>
          <option value="2">{% trans 'Outside of host establishment' %}</option>
        </select>
        <button id="id_dates_apply" name="dates_apply" class="btn btn-secondary btn-sm ml-2">{% trans 'Apply' %}</button>
      </div>
      <div class="col-12 col-sm-12 col-lg-12 table-responsive">
        <table id="students_table" class="table table-sm table-striped table-bordered compact" style="border-spacing:0;border-collapse:collapse;width:100%;">
          <thead>
            <tr>
            {% if request.user.is_master_establishment_manager or request.user.is_operator %}
              <th id="establishment_filter" class="align-bottom">{% trans 'Establishment' %}<br></th>
            {% endif %}
            {% if not request.user.is_high_school_manager %}
              <th id="structure_filter" class="align-bottom">{% trans 'Structure' %}<br></th>
            {% endif %}
              <th id="datetime_filter" class="align-bottom">{% trans 'Date' %}<br></th>
              <th id="student_profile_filter" class="align-bottom">{% trans  'Profile' %}<br></th>
              <th id="student_filter" class="align-bottom">{% trans 'Student' %}<br></th>
              <th id="institution_filter" class="align-bottom">{% trans 'Origin institution' %}<br></th>
              <th id="contact_filter" class="align-bottom">{% trans 'Phone / Email' %}<br></th>
            {% if not request.user.is_high_school_manager %}
            <th id="campus_filter" class="align-bottom">{% trans 'Campus' %}<br></th>
            <th id="building_filter" class="align-bottom">{% trans 'Building' %}<br></th>
            {% endif %}
              <th id="meeting_place_filter" class="align-bottom">{% trans 'Meeting place' %}<br></th>
              <th id="registration_date_filter" class="align-bottom>">{% trans "Date of registration" %}<br></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            {% if request.user.is_master_establishment_manager or request.user.is_operator %}
              <td></td>
            {% endif %}
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              {% if not request.user.is_high_school_manager %}
              <td></td>
              <td></td>
              <td></td>
              {% endif %}
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var dt;
  var min_date = "{{ min_date }}";
  var max_date = "{{ max_date }}";
  var current_student_id;
  var date_options = {
      weekday: 'long',
      year: '2-digit',
      month: '2-digit',
      day: '2-digit',
  };
  var is_legal_department_staff = "{{ request.user.is_legal_department_staff }}" === "True"
  var alert1 = "{% blocktrans %}'From' date must be before 'Until' date'{% endblocktrans %}";
  var alert2 = "{% blocktrans %}'Until' date must be after 'From' date'{% endblocktrans %}";

  var from_date
  var until_date

  var is_master_establishment_manager = "{{ request.user.is_master_establishment_manager }}" === "True"
  var is_operator = "{{ request.user.is_operator }}" === "True"
  var is_high_school_manager = "{{ request.user.is_high_school_manager }}" === "True"


  $(document).ready(function () {
    $(function () {
      $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        minDate: new Date(min_date),
        maxDate: new Date(max_date),
      });
    });

    function def_dt_order() {
      if(is_master_establishment_manager || is_operator) {
        return [[2, "asc"]]
      }
      if(is_high_school_manager) {
        return [[0, "asc"]]
      }
      return [[1, "asc"]]
    }

    $.fn.dataTableExt.errMode = 'console';
    dt = $('#students_table').DataTable({
      'processing': false,
      'order': def_dt_order(),
      'pageLength': 15,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "{% url 'ajax_get_student_presence' %}",
        data: function(d) {
          d.from_date = from_date
          d.until_date = until_date
          d.place = $('#id_place').val()
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
    'searching': true,
    {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
    'language': {
      url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
    },
    {% endif %}
    'columns': [
    {% if request.user.is_master_establishment_manager or request.user.is_operator %}
      { "data": "establishment",
        "name": "establishment"
      },
    {% endif %}
    {% if not request.user.is_high_school_manager %}
      { "data": "structure",
        "name": "structure"
      },
    {% endif %}
      { "data": "date",
        "name": "date",
        "render": function(data, type, row) {
          let date = formatDate(data, date_options)
          let start_split = row.start_time.split(':')
          let end_split = row.end_time.split(':')
          let start = `${start_split[0]}h${start_split[1]}`
          let end = `${end_split[0]}h${end_split[1]}`

          // format date only for display and filter, not for sorting
          if(type === "display") {
            return `${date}<br />${start} - ${end}`
          }

          return `${data} - ${start} ${end}`
        }
      },
      { "data": "student_profile",
        "name": "student_profile",},
      { "data": "name",
        "name": "name",
        "render": function(data, type, row) {
          let name = `${row.last_name.toUpperCase()} ${row.first_name}`

          if(type === "sort") {
            return name.toLowerCase()
          }

          return name
        }
      },
      { "data": "institution",
        "name": "institution", },
      { "data": "",
        "name": "contact",
        "render": function(data, type, row) {
          var txt = "<ul>";
          if(row.phone !== "") { txt += "<li>" + row.phone + "</li>"; }
          if(row.email !== "") { txt += "<li>" + row.email + "</li>"; }
          txt += "</ul>";
          return txt;
        }
      },
      {% if not request.user.is_high_school_manager %}
      { "data": "campus",
        "name": "campus"
      },
      { "data": "building",
        "name": "building"
      },
      {% endif %}
      { "data": "meeting_place",
        "name": "meeting_place"
      },
      { "data": "registration_date",
        "name": "registration_date",
        render: function(data, type, row) {
          if (type !== 'sort') {
            return data ? formatDate(data) : "";
          }

          return data
        }
      },
    ],
    "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
    ]
  });

  // All filters reset action
  $('#filters_reset_all').click(function () {
    yadcf.exResetAllFilters(dt);
  });

  // Filters init
  yadcf.init(dt, [
    {
      column_selector: "establishment:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "structure:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "date:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "student_profile:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "name:name",
      filter_type: "text",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "institution:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "contact:name",
      filter_type: "text",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "campus:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "building:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    },{
      column_selector: "meeting_place:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,

    },{
      column_selector: "registration_date:name",
      filter_default_label: "",
      style_class: "form-control form-control-sm",
      filter_reset_button_text: false,
    }
  ]);

  $('#id_dates_apply').click(function () {
    let from_date_val = $('#id_from').val();
    let until_date_val = $('#id_until').val();
    from_date = "None"
    until_date = "None"

    if(from_date_val !== "") {
      var f = from_date_val.split("/");
      from_date = f[2]+"-"+f[1]+"-"+f[0];
    }

    if(until_date_val !== "") {
      var u = until_date_val.split("/");
      until_date = u[2]+"-"+u[1]+"-"+u[0];
    }

    // Toggle columns depending on registrations place
    let place = parseInt($('#id_place').val())
    let outside = 2

    // Reload data
    dt.ajax.reload();

    let visible = place !== outside
    dt.columns(["campus:name", "building:name"]).visible(visible)


  });

  // Dates checks
  $('#id_from').change(function() {
    var from_date_val = $(this).val();
    var until_date_val = $('#id_until').val();
    from_date = "";
    until_date = "";

    if(from_date_val !== "") {
      var f = from_date_val.split("/");
      from_date = f[2]+"-"+f[1]+"-"+f[0];
    }

    if(until_date_val !== "") {
      var u = until_date_val.split("/");
      until_date = u[2]+"-"+u[1]+"-"+u[0];
    }

    if(from_date !== "" && until_date !== "" && from_date > until_date) {
      alert(alert1);
      $('#id_from').val("");
    }
  });

  $('#id_until').change(function() {
    var until_date_val = $(this).val();
    var from_date_val = $('#id_from').val();
    from_date = "";
    until_date = "";

    if(from_date_val !== "") {
      var f = from_date_val.split("/");
      from_date = f[2]+"-"+f[1]+"-"+f[0];
    }

    if(until_date_val !== "") {
      var u = until_date_val.split("/");
      until_date = u[2]+"-"+u[1]+"-"+u[0];
    }

    if(from_date !== "" && until_date !== "" && from_date > until_date) {
      alert(alert2);
      $('#id_until').val("");
    }
  });

  /*
  $('#id_place').change(function() {
    dt.ajax.reload();
  })
  */

});
</script>
{% endblock %}
