{% extends "./common_slot.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block confirm_slot_creation %}
<div id="date-dialog-form" style="z-index:3000;" title="{% trans "Confirm visit slot creation" %}">
  <span>
    {% trans 'This date is inside a vacation or a holiday. Are you sure that you want a visit slot with this date ?' %}
  </span>
</div>
{% endblock %}

{% block confirm_publication %}
<div id="publication-dialog-form" style="z-index:3000;" title="{% trans "Confirm visit publication" %}">
  <span>
    {% trans 'This visit is unpublished. By creating this visit slot, the associated visit will be published. Do you want to continue?' %}
  </span>
</div>
{% endblock %}

{% block card_header %}
<div class="card-header text-white bg-secondary">
  {% if duplicate %}
    {% trans "Duplicate a visit slot" %}
  {% elif slot %}
    {% trans "Update a visit slot" %}
  {% else %}
    {% trans "Add a new visit slot" %}
  {% endif %}
</div>
{% endblock %}

{% block specific_fields %}

<div class="form-group row">
  <label for="id_visit" class="col-sm-3 col-form-label">
    <i class="fa fas fa-asterisk"></i>
    {% trans 'Purpose' %} :
  </label>
  <div class="col-sm-3">
    {{ form.visit }}
  </div>
  <div class="col-sm-6">
    {{ form.visit.errors }}
  </div>
</div>

<div class="form-group row">
  <label for="id_face_to_face" class="col-form-label col-sm-3">
    {% trans 'Face to face' %} ?
  </label>
  <div class="col-sm-1">
    {{ form.face_to_face }}
  </div>
  {% if form.face_to_face.errors %}
    <div class="col-sm-3 alert alert-danger">
      {{ form.face_to_face.errors }}
    </div>
  {% endif %}
</div>
{% endblock %}
