{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block head-javascript %}
    <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top: 20px; width: 70%;">
  <div id="date-dialog-form" style='z-index:3000;' title='{% trans "Confirm visit slot creation" %}'>
    <span>
      {% trans 'This date is inside a vacation or a holiday. Are you sure that you want a visit slot with this date ?' %}
    </span>
  </div>

  <div id="visit-dialog-form" style='z-index:3000;' title='{% trans "Confirm visit publication" %}'>
    <span>
      {% trans 'This visit is unpublished. By creating this visit slot, the associated visit will be published. Do you want to continue?' %}
    </span>
  </div>

  <div id="cancel-dialog-form" style='z-index:3000;' title='{% trans "Cancel" %}'>
    <span>
      {% if slot %}
        {% if slot.id %}
          {% trans 'Do you really want to cancel this modification?' %}
        {% else %}
          {% trans 'Do you really want to cancel this duplication?' %}
        {% endif %}
      {% else %}
        {% trans 'Do you really want to cancel this creation?' %}
      {% endif %}
    </span>
  </div>

  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% if duplicate %}
        {% trans "Duplicate a visit slot" %}
      {% elif slot %}
        {% trans "Update a visit slot" %}
      {% else %}
        {% trans "Add a new visit slot" %}
      {% endif %}
    </div>
    <div class="card-body">
      <form method="POST" class="form-group" role="form" id="add_slot">
        {% csrf_token %}
        {{ form.id }}
        <div class="form-group row" id="id_div_establishment">
          <label for="id_establishment" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Establishment' %} :
          </label>
          <div class="col-sm-3">
            {{ form.establishment }}
          </div>
          <div class="col-sm-6">
            {{ form.establishment.errors }}
          </div>
        </div>
        <div class="form-group row" id="id_div_structure">
          <label for="id_structure" class="col-sm-3 col-form-label">
            {% trans 'Structure' %} :
          </label>
          <div class="col-sm-3">
            {{ form.structure }}
          </div>
          <div class="col-sm-6">
            {{ form.structure.errors }}
          </div>
        </div>
        <div class="form-group row" id="id_div_highschool">
          <label for="id_highschool" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'high school' %} :
          </label>
          <div class="col-sm-3">
            {{ form.highschool }}
          </div>
          <div class="col-sm-6">
            {{ form.highschool.errors }}
          </div>
        </div>
        <div class="form-group row">
          <label for="id_visit" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Purpose' %} :
          </label>
          <div class="col-sm-3">
            {{ form.visit }}
          </div>
          <div class="col-sm-6">
            {{ form.visit.errors }}
          </div>
        </div>

        <div class="form-group row">
          <label for="id_face_to_face" class="col-form-label col-sm-3">{% trans 'Face to face' %}</label>
          <div class="col-sm-1">
            {{ form.face_to_face }}
          </div>
          {% if form.face_to_face.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.face_to_face.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_room">
          <label for="id_room" class="col-form-label col-sm-3">{% trans 'Location' %}</label>
          <div class="col-sm-3">
            {{ form.room }}
          </div>
          {% if form.room.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.room.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_url">
          <label for="id_url" class="col-form-label col-sm-3">{% trans 'URL' %}</label>
          <div class="col-sm-3">
            {{ form.url }}
          </div>
          {% if form.url.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.url.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
            <label for="date" class="col-form-label col-sm-3">{% trans 'Date' %}</label>
            <div class="col-sm-3">
                {{ form.date }}
            </div>
            {% if form.date.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.date.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
            <label for="start_time" class="col-form-label col-sm-3">{% trans 'Start time' %}</label>
            <div class="col-sm-3">
                {{ form.start_time }}
            </div>
            {% if form.start_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.start_time.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group row">
          <label for="end_time" class="col-form-label col-sm-3">{% trans 'End time' %}</label>
          <div class="col-sm-3">
            {{ form.end_time }}
          </div>
          {% if form.end_time.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.end_time.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label class="col-sm-3">{% trans 'Speakers' %}</label>
          <div class="form-group col-sm-6 row">
            <div class="form-check" id="id_speakers">
              {% if slot %}
                {% for t in slot.visit.speakers.all %}
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" value="{{ t.id }}" name="speakers_list" {% if t.id in speakers_idx %}checked{% endif %}>
                    <label for="speakers_list" class="">{{ t.first_name }} {{ t.last_name|upper }}</label>
                  </div>
                {% endfor %}
              {% elif visit %}
                {% for t in visit.speakers.all %}
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" value="{{ t.id }}" name="speakers_list" {% if t.id in speakers_idx %}checked{% endif %}>
                    <label for="speakers_list" class="">{{ t.first_name }} {{ t.last_name|upper }}</label>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
          {% if form.speakers.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.speakers.errors }}
            </div>
          {% elif speaker_error %}
            <div class="alert alert-danger">
              {% if speaker_error %}
                <ul>
                  <li>{% trans "Speakers" %}
                    <ul><li>{% trans "Please select at least one speakers" %}</li></ul>
                  </li>
                </ul>
             {% endif %}
           </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="n_places" class="col-form-label col-sm-3">{% trans 'Number of places' %}</label>
          <div class="col-sm-3">
            {{ form.n_places }}
          </div>
          {% if form.n_places.errors %}
            <div class="col-sm-6 alert alert-danger">
              {{ form.n_places.errors }}
            </div>
          {% endif %}
        </div>

        {% if slot_mode != 'visit' %}
        <div class="form-group row">
          <label for="id_establishments_restrictions" class="col-form-label col-sm-3">{% trans 'Use establishments restrictions' %}</label>
          <div class="col-sm-3">
            {{ form.establishments_restrictions }}
          </div>

          {% if form.establishments_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.establishments_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_establishments">
          <div class="col-sm-3 offset-sm-3">
            <label for="id_allowed_establishments" class="col-form-label">{% trans 'Allowed establishments' %}</label>
            {{ form.allowed_establishments }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_highschools" class="col-form-label">{% trans 'Allowed high schools' %}</label>
            {{ form.allowed_highschools }}
          </div>

          {% if form.allowed_establishments.errors or form.allowed_highschools.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.allowed_establishments.errors }}
              {{ form.allowed_highschools.errors }}
            </div>
          {% endif %}
        </div>
        {% endif %}

        <div class="form-group row">
          <label for="id_levels_restrictions" class="col-form-label col-sm-3">{% trans 'Use levels restrictions' %}</label>
          <div class="col-sm-6">
            {{ form.levels_restrictions }}
          </div>

          {% if form.levels_restrictions.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.levels_restrictions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row" id="id_div_allowed_levels">
          <div class="col-sm-3 offset-sm-3">
            <label for="id_allowed_highschool_levels" class="col-form-label">{% trans 'Allowed high school levels' %}</label>
            {{ form.allowed_highschool_levels }}
          </div>
          {% if slot_mode != 'visit' %}
          <div class="col-sm-3">
            <label for="id_allowed_student_levels" class="col-form-label">{% trans 'Allowed student levels' %}</label>
            {{ form.allowed_student_levels }}
          </div>
          <div class="col-sm-3">
            <label for="id_allowed_post_bachelor_levels" class="col-form-label">{% trans 'Allowed post bachelor levels' %}</label>
            {{ form.allowed_post_bachelor_levels }}
          </div>
          {% endif %}

          {% if form.allowed_establishments.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.allowed_establishments.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="additional_information" class="col-form-label col-sm-3">{% trans 'Additional information' %}</label>
          <div class="col-sm-6">
            {{ form.additional_information }}
          </div>
          {% if form.additional_information.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.additional_information.errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group row">
          <label for="published" class="col-form-label col-sm-3">{% trans 'Published' %}</label>
          <div class="col-sm-1">
            {{ form.published }}
          </div>
          {% if form.published.errors %}
            <div class="col-sm-3 alert alert-danger">
              {{ form.published.errors }}
            </div>
          {% endif %}
        </div>
        <input type="hidden" name="modify">
        {% if slot and slot.id %}
          <div class="form-group row">
            <label for="notify_student" class="col-form-label col-sm-3">{% trans "Notify registrants of these changes?" %}</label>
            <div class="col-sm-1">
              <input type="checkbox" name="notify_student" checked>
            </div>
          </div>
        {% endif %}
        <br>
        {% include 'core/slot__controls.html' %}
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block foot-javascript %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment "" %}
  TODO: add here other languages for jquery-ui !!
{% endcomment %}

{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}


<script>
  var dateDialog;
  var visitDialog;
  var cancelDialog;
  var structure_id = "{{ form.structure.value }}";
  var visit_id = "{{ form.visit.value }}";
  var establishment_id = "{{ form.establishment.initial }}";
  var highschool_id = "{{ form.highschool.value }}";
  var visits = Array();
  var speakers = "{{ speakers }}" ? JSON.parse('{{ speakers|safe }}') : Array();
  var is_structure_manager = "{{ request.user.is_structure_manager }}"

  function empty_structures() {
      let options = '<option value="">---------</option>'
      $('select#id_structure').html(options)
      structure_id = ''
  }

  function set_structures(establishment_id) {
    $.ajax({
      url: "{% url 'structure_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = ""
        if(is_structure_manager === "False") {
            options += '<option value="">---------</option>'
        }
        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['code']} - ${json[i]['label']}</option>`
        }
        $('select#id_structure').html(options)

        if(structure_id) {
          $("#id_structure").val(structure_id);
        }
        else {
          $("#id_structure").val($("#id_structure option:first").val());
        }
      }
    })
  }

  function set_visits() {
    $.ajax({
      url: "{% url 'visit_list' %}",
      type: 'GET',
      data: {
        'establishment': establishment_id,
        'structure': structure_id === "" ? null : structure_id,
        'highschool': highschool_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let options = '<option value="">---------</option>'
        for (let i = 0; i < json.length; i++) {
          options += `<option value="${json[i]['id']}">${json[i]['purpose']}</option>`
        }
        $('select#id_visit').html(options)

        if(visit_id) {
          $("#id_visit").val(visit_id);
        }
        else {
          $("#id_visit").val($("#id_visit option:first").val());
        }
      }
    })
  }

  function empty_visits() {
      let options = '<option value="">---------</option>'
      $('select#id_visit').html(options)
      visit_id = ''
  }

  $('#id_establishment').change( function() {
    establishment_id = $('#id_establishment option:selected').val();
    structure_id = ""

    if (establishment_id !== "") {
        highschool_id = ""
        $('#id_highschool').val("")
        set_structures(establishment_id);
    }
    else {
        empty_visits()
        empty_structures()
    }
  });

  $('#id_structure').change( function() {
    structure_id = $('#id_structure option:selected').val()

    if (highschool_id !== "") {
      set_visits()
    }
  });

  $('#id_highschool').change( function() {
    highschool_id = $('#id_highschool option:selected').val()

    empty_visits()

    if (highschool_id !== "") {
      set_visits()
    }
  });

  $('#id_face_to_face').change( function() {
    if($('#id_face_to_face').is(':checked')) {
      $("#id_div_room").show()
      $('#id_room').attr('required', 'required');

      $("#id_div_url").hide()
      $('#id_url').removeAttr('required');
    }
    else {
      $("#id_div_room").hide()
      $('#id_room').removeAttr('required');

      $("#id_div_url").show()
      $('#id_url').attr('required', 'required');
    }
  })

  function load_speakers(value) {
    $.ajax({
      url: '/api/get_visit_speakers/' + value,
      success: function(data) {
        if ( data['data'] ) {
          $('#id_speakers').html('');
          data['data'].forEach(function(e){
            let checked = ''

            if (speakers.find(s => s.id === e['id']) !== undefined) {
              checked = "checked"
            }

            let name= '' + e['first_name'] + ' ' + e['last_name'].toUpperCase();
            element = '<div class="custom-checkbox custom-control">';
            element += '<input type="checkbox" name="speakers_list" value="' + e['id'] + '"' + checked +'>';
            element += '&nbsp;<label for="speakers_list">' + name +'</label>';
            element += '</div>';
            $('#id_speakers').append(element);
          });
        }
      },
      error: function() {$('#id_speakers').html('');}
    });
  }

  $("#id_visit").change(function() {
    visit_id = $('#id_visit option:selected').val()
    load_speakers(visit_id);
  })


$(document).ready(function(){
  // initialize base values
  if(!is_set(establishment_id)) {
    establishment_id = $("#id_establishment").val()
  } else {
    $("#id_establishment").val(establishment_id)
  }

  if(establishment_id) {
    set_structures(establishment_id)
  }
  else {
    structure_id = ""
    empty_structures()
    empty_visits()
  }

  if(structure_id === 'None' || structure_id === "") {
    structure_id = $("#id_structure").val()
  }
  else {
    $("#id_structure").val(structure_id)
  }

  if(highschool_id === 'None' || highschool_id === "") {
    highschool_id = $("#id_highschool").val()
  }
  else {
    $("#id_highschool").val(highschool_id)
  }

  // Initialize visits depending on structure / high school selection
  if(is_set(establishment_id) && is_set(structure_id) && is_set(highschool_id)) {
    set_visits();
  }

  if(!is_set(visit_id)) {
    visit_id = $("#id_visit").val()
  }
  else {
    $("#id_visit").val(visit_id)
  }

  if(visit_id) {
    load_speakers(visit_id);
  }

  if($('#id_face_to_face').is(':checked')) {
    $("#id_div_room").show()
    $('#id_room').attr('required', 'required');

    $("#id_div_url").hide()
    $('#id_url').removeAttr('required');
  }
  else {
    $("#id_div_room").hide()
    $('#id_room').removeAttr('required');

    $("#id_div_url").show()
    $('#id_url').attr('required', 'required');
  }

  initFeedback();
  // reset feedback
  setTimeout(function(){$('#feedback').html('')}, {%  settings_get 'MESSAGES_TIMEOUT' %});

  dateDialog = $("#date-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          dateDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_date').val('');
          dateDialog.dialog("close");
        },
      }],
  });

  visitDialog = $("#visit-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          visitDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          $('#id_visit').val('');
          visitDialog.dialog("close");
        },
      }],
  });

  cancelDialog = $("#cancel-dialog-form").dialog({
    autoOpen: false,
    closeOnEscape: false,
    open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
    closeText: "hide",
    width: 'auto',
    modal: true,

    buttons: [{
        text: "{% trans 'Yes' %}",
        "class": 'dialog-button',
        click: function () {
          let url = "/core/visits_slots"

          window.location = url;
          cancelDialog.dialog("close");
        },
      },
      {
        text: "{% trans 'No' %}",
        "class": 'dialog-button',
        click: function () {
          cancelDialog.dialog("close");
        },
      }],
  });

  function check_date() {
    $.ajax({
      url: '/api/check_vacations',
      data: {
        date: $('#id_date').val(),
      },
      success: function(data) {
        if ( data['data'] ) {
          if (data['data']['is_between']) {
            dateDialog.dialog('open');
          }
        }
      },
    });
  }

  function toggle_required_fields () {
    let published = $('#id_published').prop('checked');
    let face_to_face = $('#id_face_to_face').prop('checked');
    if (published) {
      let mandatory = [
        'visit', 'date', 'start_time', 'end_time', 'speakers', 'n_places'
      ]

      if(face_to_face) {
          mandatory.push("room")
      }
      else {
          mandatory.push("url")
      }

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'sfdgsg');
      });
    }
    else {
      let not_mandatory = [
        'room', 'url', 'date', 'start_time', 'end_time', 'speakers', 'n_places'
      ];
      let mandatory = ['visit'];

      not_mandatory.forEach(function(e){
        $('#id_' + e).removeAttr('required');
      });

      mandatory.forEach(function(e){
        $('#id_' + e).attr('required', 'required');
      });
    }
  }

  function toggle_establishments_restrictions() {
    if ($('#id_establishments_restrictions').prop('checked')) {
      $('#id_div_allowed_establishments').show()
    }
    else {
      $('#id_div_allowed_establishments').hide()
      $('#id_allowed_establishments').find('option').prop('selected',false)
      $('#id_allowed_highschools').find('option').prop('selected',false)
    }
  }

  function toggle_levels_restrictions() {
    if ($('#id_levels_restrictions').prop('checked')) {
      $('#id_div_allowed_levels').show()
    }
    else {
      $('#id_div_allowed_levels').hide()
      $('#id_allowed_highschool_levels').find('option').prop('selected',false)
      $('#id_allowed_student_levels').find('option').prop('selected',false)
      $('#id_allowed_post_bachelor_levels').find('option').prop('selected',false)
    }
  }

  // Change input type
  $('#id_start_time').get(0).type = 'time';
  $('#id_end_time').get(0).type = 'time';

  // Date check
  $('#id_date').on('change', function() {
    check_date();
  });

  // Back button + confirm
  $('.back_btn').click(function (event) {
    cancelDialog.dialog('open');
  });

  $(".datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    changeMonth: true,
    changeYear: true,
    yearRange: "2020:2100",
  });

  // toggle
  toggle_required_fields();

  toggle_establishments_restrictions();
  $('#id_establishments_restrictions').on('change', function() { toggle_establishments_restrictions() });

  toggle_levels_restrictions();
  $('#id_levels_restrictions').on('change', function() { toggle_levels_restrictions() });

  $('#id_published').on('change', function(){ toggle_required_fields(); });
  {% if slot or request.POST.structure %}
    {% if slot %}
      setTimeout(function() {
        $('#ok_modify').fadeOut(1000, function(){
          $('#ok_modify').hide();
        });
      },
      {% settings_get 'MESSAGES_TIMEOUT' %}
      );
    {% endif %}
  {% endif %}
});
</script>
{% endblock %}
