{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Account activation needed" %}{% endblock %}
{% block content %}
<div class="main-title inside text-center">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% trans 'Account activation needed' %}</h1>
      </div>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container">
    <p class="text-center">
      {% trans 'Please check your emails for the activation procedure.' %}
    </p>
    <div class="row">
      <div class="col">
        <p class="text-center">
          <a href="{% url 'immersion:resend_activation' %}">{% trans 'I have not received the activation email' %}</a>
        </p>
        <p class="text-center">
          {% if request.user.is_high_school_student %}
            {% trans 'Important : please do not forget to log out of EduConnect by clicking on the button below.' %}
          {% elif request.user.is_student %}
            {% trans 'Important : please do not forget to log out of your establishment by clicking on the button below.' %}
          {% endif %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          <a href="{% url 'immersion:logout' %}" class="btn btn-secondary">
            {% if request.user.is_high_school_student %}
              {% trans 'Log out of EduConnect' %}
            {% elif request.user.is_student %}
              {% trans 'Log out of my establishment' %}
            {% endif %}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
