{% extends 'base.html' %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
<link rel="stylesheet" href="{% static 'css/immersionlyceens.css' %}">
{% endblock %}

{% block section_title %}
<h2>{% trans 'Welcome on Immersion Lycéens' %}</h2>
{% endblock %}

{% block content %}
<div class="container">
  <div class="card" style="margin-bottom:20px;">
    <div class="card-header text-white bg-secondary">
      {% trans 'Password change' %}
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="id_login" class="col-sm-4 text-right col-form-label">{% trans 'Old password' %} :</label>
          <div class="col-sm-3">
            {{ form.old_password }}
          </div>
          <div class="col-sm-5">
            {{ form.old_password.errors }}
          </div>
        </div>
        <div class="form-group row">
          <label for="id_login" class="col-sm-4 text-right col-form-label">{% trans 'Password' %} :</label>
          <div class="col-sm-3">
            {{ form.new_password1 }}
          </div>
          <div class="col-sm-5">
            {{ form.new_password1.errors }}
          </div>
        </div>
        <div class="form-group row">
          <label for="id_password" class="col-sm-4 text-right col-form-label">{% trans 'Password (confirmation)' %} :</label>
          <div class="col-sm-3">
            {{ form.new_password2 }}
          </div>
          <div class="col-sm-5">
            {{ form.new_password2.errors }}
          </div>
        </div>

        <input type="submit" class="btn btn-secondary btn-sm" name="submit" value="{% trans 'Submit' %}">
      </form>
    </div>
  </div>
</div>
{% endblock %}