{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration complete" %}{% endblock %}
{% block content %}
<div class="main-title inside text-center">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% trans 'Registration complete' %}</h1>
      </div>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container">
    <p class="text-center mt-4">
      {% trans 'Account created. Please check your emails for the activation procedure.' %}
    </p>
    <div class="row">
      <div class="col">
        <p class="text-center">
          {% trans 'Important : please do not forget to log out of EduConnect by clicking on the button below.' %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          <a href="{% url 'immersion:logout' %}" class="btn btn-secondary">
            {% trans 'Log out of EduConnect' %}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
