{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-' %}{{LANGUAGE_CODE}}.js"></script>
{% endblock %}
{% block title %}{% trans "Student record" %}
{% endblock %}

{% block section_title %}
<h2 class="ml-2">{% trans "Student record" %}</h2>
{% endblock %}

{% block content %}
{% authorized_groups request.user %}
{% include '../modals/modal_nuke.html' %}
{% comment %} remove bullet from django multichoices fields {% endcomment %}
<style>
ul
{
  list-style-type: none !important;
  padding-inline-start: 1px;
}
</style>
<div class="container" style="padding-top:20px;">
  <form class="" role="form" action="/immersion/hs_record{% if record.id %}/{{ record.id }}{% endif %}" method="POST">
        {% csrf_token %}
        {{ record_form.student }}
        {{ record_form.id }}
        {{ student_form.id }}
    <div class="card">
      <div class="card-header text-white bg-secondary">
        {% trans "Please fill this form to complete the personal record" %}
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="id_civility" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Civility' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ record_form.civility }}</div>
          <div class="col-sm-3 col-md-2">{{ record_form.civility.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_lastname" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Lastname' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ student_form.last_name }}</div>
          <div class="col-sm-3 col-md-2">{{ student_form.last_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Firstname' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ student_form.first_name }}</div>
          <div class="col-sm-3 col-md-2">{{ student_form.first_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_email" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Email' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ student_form.email }} </div>
          <div class="mt-4 ml-4 form-text warning">{{ student_form.email.help_text }}</div>
          <div class="col-sm-3 col-md-1">{{ student_form.email.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_birth_date" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Birth date' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ record_form.birth_date }}</div>
          <div class="col-sm-3 col-md-2">{{ record_form.birth_date.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_phone" class="col-sm-3 col-md-4 col-form-label">
          {% trans 'Phone number' %} :</label>
          <div class="col-sm-6 col-md-6">{{ record_form.phone }}</div>
          <div class="col-sm-3 col-md-2">{{ record_form.phone.errors }}</div>
        </div>
      </div>
      <div class="card-header text-white bg-secondary">
        {% trans "Level of studies" %}
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="id_highschool" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'High-School' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ record_form.highschool }}</div>
          <div class="col-sm-3 col-md-2">{{ record_form.highschool.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_level" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Level' %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ record_form.level }}</div>
          <div class="col-sm-3 col-md-2">{{ record_form.level.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_class_name" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Class name' context "record" %} * :
          </label>
          <div class="col-sm-6 col-md-6">{{ record_form.class_name }}</div>
          <div class="col-sm-3 col-md-2">{{ record_form.class_name.errors }}</div>
        </div>
        <div id="id_bachelor_data" style="display:none">
          <div class="form-group row">
            <label for="id_bachelor_type" class="col-sm-3 col-md-4 col-form-label">
              {% trans 'Bachelor type' %} * :
            </label>
            <div class="col-sm-6 col-md-6">{{ record_form.bachelor_type }}</div>
            <div class="col-sm-3 col-md-2">{{ record_form.bachelor_type.errors }}</div>
          </div>
          <div id="id_general_bachelor_data" style="display:none">
            <div class="form-group row">
              <label for="id_general_bachelor_teachings" class="col-sm-3 col-md-4 col-form-label">
                {% trans 'General bachelor teachings' %} * :
              </label>
            </div>
            <div class="form-group row">
              <div class="col-sm-10 col-md-10">{{ record_form.general_bachelor_teachings }}</div>
              <div class="col-sm-2 col-md-2">{{ record_form.general_bachelor_teachings.errors }}</div>
            </div>
          </div>
          <div id="id_technological_bachelor_data" style="display:none">
            <div class="form-group row">
              <label for="id_technological_bachelor_mention" class="col-sm-3 col-md-4 col-form-label">
                {% trans 'Technological bachelor series' %} * :
              </label>
              <div class="col-sm-6 col-md-6">{{ record_form.technological_bachelor_mention }}</div>
              <div class="col-sm-3 col-md-2">{{ record_form.technological_bachelor_mention.errors }}</div>
            </div>
          </div>
          <div id="id_professional_bachelor_data" style="display:none">
            <div class="form-group row">
              <label for="id_professional_bachelor_mention" class="col-sm-3 col-md-4 col-form-label">
                {% trans 'Professional bachelor mention' %} * :
              </label>
              <div class="col-sm-6 col-md-6">{{ record_form.professional_bachelor_mention }}</div>
              <div class="col-sm-3 col-md-2">{{ record_form.professional_bachelor_mention.errors }}</div>
            </div>
          </div>
        </div>
        <div id="id_post_bachelor_data" style="display:none">
          <div class="form-group row">
            <label for="id_post_bachelor_level" class="col-sm-3 col-md-4 col-form-label">
              {% trans 'Post bachelor level' %} * :
            </label>
            <div class="col-sm-6 col-md-6">{{ record_form.post_bachelor_level }}</div>
            <div class="col-sm-3 col-md-2">{{ record_form.post_bachelor_level.errors }}</div>
          </div>
          <div class="form-group row">
            <label for="id_origin_bachelor_type" class="col-sm-3 col-md-4 col-form-label">
              {% trans 'Origin bachelor type' %} :
            </label>
            <div class="col-sm-6 col-md-6">{{ record_form.origin_bachelor_type }}</div>
            <div class="col-sm-3 col-md-2">{{ record_form.origin_bachelor_type.errors }}</div>
          </div>
          <div class="form-group row">
            <label for="id_current_diploma" class="col-sm-3 col-md-4 col-form-label">
              {% trans 'Current diploma' %} :
            </label>
            <div class="col-sm-6 col-md-6">{{ record_form.current_diploma }}</div>
            <div class="col-sm-3 col-md-2">{{ record_form.current_diploma.errors }}</div>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label for="id_visible_immersion_registrations" class="col-sm-9 col-form-label">
            {% trans 'Make the current immersion registrations visible ?' %}
          </label>
          <div class="col-sm-2">{{ record_form.visible_immersion_registrations }}</div>
          <div class="col-sm-1">{{ record_form.visible_immersion_registrations.errors }}</div>
        </div>
        <div class="form-group row align-items-center">
          <label for="id_visible_email" class="col-sm-9 col-form-label">
          {% trans 'Make the email visible ?' %}
          </label>
          <div class="col-sm-2">{{ record_form.visible_email }}</div>
          <div class="col-sm-1 ">{{ record_form.visible_email.errors }}</div>
        </div>
        <div class="form-group row">
        </div>
        {% if calendar.calendar_mode == "YEAR" %}
          <div class="form-group row align-items-center">
            <label class="col-sm-3  col-md-4 col-form-label">
              {% trans 'Annually allowed registrations' %} :
            </label>
            {% if record_form.allowed_global_registrations %}
              <div class="col-sm-2">{{ record_form.allowed_global_registrations }}</div>
            {% else %}
              <div class="col-sm-2 col-form-label">{{ record.allowed_global_registrations }}</div>
            {% endif %}
          </div>
        {% else %}
          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-md-4 col-form-label">
              {% trans 'Allowed registrations for first semester' %} :
            </label>
            {% if record_form.allowed_first_semester_registrations %}
              <div class="col-sm-2">{{ record_form.allowed_first_semester_registrations }}</div>
            {% else %}
              <div class="col-sm-2 col-form-label">{{ record.allowed_first_semester_registrations }}</div>
            {% endif %}
          </div>
          <div class="form-group row align-items-center">
            <label class="col-sm-3 col-md-4 col-form-label">
              {% trans 'Allowed registrations for second semester' %} :
            </label>
            {% if record_form.allowed_second_semester_registrations %}
              <div class="col-sm-2">{{ record_form.allowed_second_semester_registrations }}</div>
            {% else %}
              <div class="col-sm-2 col-form-label">{{ record.allowed_second_semester_registrations }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row mt-4">
        <input type="submit" class="btn btn-secondary btn-sm ml-4" name="submit" value="{% trans 'Submit' %}">
        <a href="{% if back_url %}{{ back_url }}{% else %}{% url 'home' %}{% endif %}" class="btn btn-secondary btn-sm ml-4">{% trans 'Back' %}</a>

      {% if authorized_groups|in_groups:"REF-ETAB" %}

        <input type="button" class="btn btn-primary btn-sm ml-4" name="nuke" onclick="open_modal()" value="{% trans 'Delete this account' %}">

      {% endif %}
    </div>


  </form>
</div>

<script>
  function open_modal() {
    $('#modal_nuke_account').modal('show');
  }

  $(document).ready(function() {
    $(function () {
      $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1990:2010",
        defaultDate: "01/01/2003",
      });
    });

    function switch_bachelor_data(level) {
      if(level==1 || level==2) {
        $('#id_bachelor_data').show("slow");
        $('#id_post_bachelor_data').hide("slow");
      }
      else {
        $('#id_bachelor_data').hide("slow");
        $('#id_post_bachelor_data').show("slow");
      }
    }

    function switch_bachelor_type_options(b_type) {
      if(b_type == 1) {
        $('#id_general_bachelor_data').show("slow");
        $('#id_technological_bachelor_data').hide("slow");
        $('#id_professional_bachelor_data').hide("slow");
      }
      else if (b_type == 2) {
        $('#id_general_bachelor_data').hide("slow");
        $('#id_technological_bachelor_data').show("slow");
        $('#id_professional_bachelor_data').hide("slow");
      }
      else if (b_type == 3) {
        $('#id_general_bachelor_data').hide("slow");
        $('#id_technological_bachelor_data').hide("slow");
        $('#id_professional_bachelor_data').show("slow");
      }
    }

    $('#id_level').change(function() {
      let level = $('#id_level option:selected').val();
      switch_bachelor_data(level);
    });

    $('#id_bachelor_type').change(function() {
      let b_type = $('#id_bachelor_type option:selected').val();
      switch_bachelor_type_options(b_type);
    });

    // Init
    let level = $('#id_level option:selected').val();
    switch_bachelor_data(level);

    let b_type = $('#id_bachelor_type option:selected').val();
    switch_bachelor_type_options(b_type);
  });
</script>
{% endblock %}
