{% extends 'base.html' %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="main-title inside text-center">
    <div></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{% trans 'Authentication' %}</h1>
        </div>
      </div>
    </div>
</div>
<div>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col lead">
          {% if intro_connection %}
            {{ intro_connection|safe }}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="form-group row justify-content-center">
        {% if profile == 'lyc' and has_highschool_without_student_federation or profile != 'lyc' and has_highschool_without_agent_federation %}
        <div class="col-sm-6 col-md-6">
          <!-- <a href="{% url 'shibboleth_login' %}" class="btn btn-primary float-right" -->
          <a href="{{ educonnect_url }}" class="btn btn-primary float-right"
        {% else %}
        <div class="col-sm-12 col-md-12 text-center">
          <a href="{% url 'shibboleth_login' %}" class="btn btn-primary"
        {% endif %}
             {% if profile == "lyc" %}
               title="{% blocktrans %}Please go to Procedure / High schools to check if your high school uses {{ federation_name }}{% endblocktrans %}"
             {% else %}
               title="{% trans 'All public high schools and private high schools under contract' %}"
             {% endif %}>
            {% trans 'My high school uses' %} {{ federation_name }}
          </a>
          {% if profile == 'lyc' and has_highschool_without_student_federation or profile != 'lyc' and has_highschool_without_agent_federation %}
          <p class="float-right mt-4">
          {% else %}
          <p class="mt-4">
          {% endif %}
            {% if profile == 'lyc' %}
              {% trans 'On the next page, select "Educonnect" in the establishments list' %}
            {% else %}
              {% trans 'On the next page, select "Education Nationale - accès académies et administration centrale" in the establishments list' %}
            {% endif %}
          </p>
        </div>
        {% if profile == 'lyc' and has_highschool_without_student_federation or profile != 'lyc' and has_highschool_without_agent_federation %}
        <div class="col-sm-6 col-md-6">
          <a href="{% url 'immersion:login' profile=profile %}" class="btn btn-secondary">
            {% trans 'My High school does not use' %} {{ federation_name }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
