{% extends 'base.html' %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="main-title inside text-center">
  <div class="bg-main-title bg-parallax" data-scroll-speed=".3"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{% trans 'Authentication' %}</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="py-5">
    <div class="container">
      <form method="post" role="form">
      {% csrf_token %}
        <div class="form-group row justify-content-center">
          <label for="id_login" class="col-sm-3 col-lg-2 col-form-label">{% trans 'Login' %} :</label>
          <div class="col-sm-9 col-md-6">
          {{ form.login }}
          {{ form.login.errors }}
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="id_password" class="col-sm-3 col-lg-2 col-form-label">{% trans 'Password' %} :</label>
          <div class="col-sm-9 col-md-6">
          {{ form.password }}
          {{ form.password.errors }}
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-9 col-md-6 offset-sm-3 offset-lg-2">
            <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Connection' %}">
            <a href="/" class="btn btn-outline-secondary">{% trans 'Back' %}</a>
            <a href="{% url 'immersion:recovery' %}" class="btn btn-link btn-sm">{% trans 'Forgot your credentials ?' %}</a>
          </div>
        </div>
      </form>
      {% if profile != 'ref-lyc' %}
      <div class="row justify-content-center">
        <div class="col-sm-9 col-md-6 offset-sm-3 offset-lg-2">
          <hr>
          <ul>
            <li><a href="{% url 'immersion:register' %}">{% trans 'Not registered yet ?' %}</a></li>
            <li><a href="{% url 'immersion:resend_activation' %}">{% trans 'I have not received the activation email' %}</a></li>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
