{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "EduConnect : high school not found" %}{% endblock %}
{% block content %}
<div class="main-title inside text-center">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% trans 'EduConnect : high school not found' %}</h1>
        <p class="text-center mt-4">
          {% trans "Your high school has not been found or is not configured to use EduConnect.<br>Please use the 'contact' link at the bottom of this page, specifying your institution." %}
        </p>
      </div>
    </div>
  </div>
</div>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center">
          {% trans "Important : once you're done, please do not forget to log out of EduConnect by clicking on the button below." %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          <a href="{% url 'immersion:logout' %}" class="btn btn-secondary">
            {% trans 'Logout from EduConnect' %}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
