{% extends "base.html" %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.js' %}"></script>
{% endblock %}
{% block title %}{% trans "My immersions" %}{% endblock %}

{% block section_title %}
<h2>{% trans "My immersions" %}</h2>
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {% trans 'Immersions to come' %}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table id="immersions_to_come" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>{% trans 'Training' %}</th>
              <th>{% trans 'Course' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Campus' %}</th>
              <th>{% trans 'Building' %}</th>
              <th>{% trans 'Room' %}</th>
              <th>{% trans 'Date and time' %}</th>
              <th>{% trans 'Teachers' %}</th>
              <th>{% trans 'Additional info' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>   
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          {% trans 'Past immersions' %}
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <table id="past_immersions" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>{% trans 'Training' %}</th>
              <th>{% trans 'Course' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Campus' %}</th>
              <th>{% trans 'Building' %}</th>
              <th>{% trans 'Room' %}</th>
              <th>{% trans 'Date and time' %}</th>
              <th>{% trans 'Teachers' %}</th>
              <th>{% trans 'Attendance status' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          {% trans 'Cancelled immersions' %}
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <table id="cancelled_immersions" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>{% trans 'Training' %}</th>
              <th>{% trans 'Course' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Campus' %}</th>
              <th>{% trans 'Building' %}</th>
              <th>{% trans 'Room' %}</th>
              <th>{% trans 'Date and time' %}</th>
              <th>{% trans 'Teachers' %}</th>
              <th>{% trans 'Cancellation type' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  var feedback;
  var current_immersion_id;
  var user_id = {{ request.user.id }};
  var dt_future;
  var dt_past;
  var dt_cancelled;

  function open_students_modal(immersion_id) {
    current_immersion_id = immersion_id;
    $('#modal_other_registrants').modal('show');
  }

  function open_cancel_modal(immersion_id) {
    current_immersion_id = immersion_id;
    $('#modal_cancel_immersion').modal('show');
  }
  
  $(document).ready(function() {
    initFeedback();
    feedback = $("#feedback");

    $.fn.dataTableExt.errMode = 'console';
    dt_future = $('#immersions_to_come').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id + "/future",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
      },
      'columns': [
        { "data": "training" },
        { "data": "course" },
        { "data": "type" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }
            else {
              return data;
            }    
          },
        },
        { "data": "teachers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "info" },
        { "data": "",
          "render": function(data, type, row) {
            var msg = "<button class=\"btn btn-secondary btn-sm\" name=\"others\" onclick=\"open_students_modal("+row.id+")\" title=\"{% trans 'Other registrants' %}\">" +
                      "<i class='fa fas fa-users'></i>" +
                      "</button>";

            if(row.cancellable == true) {
              msg += "<button class=\"ml-4 btn btn-secondary btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + row.id + ")\" title=\"{% trans 'Cancel' %}\">" +
                     "<i class='fa fas fa-trash'></i>" +
                     "</button>";
            }

            return msg;
          }
        }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": [8,9],
        },
      ],
    });

    dt_past = $('#past_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "desc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id + "/past",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
      },
      'columns': [
        { "data": "training" },
        { "data": "course" },
        { "data": "type" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }
            else {
              return data;
            }    
          },
        },
        { "data": "teachers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "attendance",
          "render": function(data, type, row) {
            var msg = data;

            if(row.attendance_status == 1) {
              msg += "<button class=\"ml-4 btn btn-secondary btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download'></i>" +
                  "</button>";
            }
            return msg;
          }
        },
        { "data": "" }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": 9,
        },
      ],
    });

    dt_cancelled = $('#cancelled_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id + "/cancelled",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
      },
      'columns': [
        { "data": "training" },
        { "data": "course" },
        { "data": "type" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }
            else {
              return data;
            }    
          },
        },
        { "data": "teachers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "cancellation_type" },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
      ],
    });

  });


</script>
{% include "../modals/modal_other_students.html" %}
{% include "../modals/modal_cancel_immersion.html" %}
{% endblock %}