{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}{% trans "My registrations" %}{% endblock %}

{% block content %}
{% include '../modals/modal_alerts.html' %}
<div id="feedback" class="container"></div>
<div class="main-title inside text-center">
  <div class="bg-main-title bg-parallax" data-scroll-speed=".3"></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'My immersions' %}</h1>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "My registrations" %}</li>
      </ol>
    </nav>
  </div>
</section>
<div class="row m-0">
  <div class="col-md-12 text-right">
    {% if alerts_cnt %}
      <a href="#" class="mr-2" onclick="open_alerts_modal()">
        <i class="us us-volume-up us-fw  text-third"></i>
        {% blocktrans %}You have {{ alerts_cnt }} alert(s) ({{ sent_alerts_cnt }} already sent), click to view{% endblocktrans %}
      </a>
    {% else %}
      <p class="mr-2">{% trans 'You have no course alert' %}</p>
    {% endif %}
  </div>
</div>
{% general_settings_get 'HIGHSCHOOL_VISIT' as highschool_visit %}
{% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
{% if not highschool_visit and not events_off_offer %}
{% include './fragments/my_immersions.html'%}
{% else %}
<section>
  <div class="container-fluid mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#immersions" role="tab" aria-controls="immersions" aria-selected="true">{% trans "My immersions" %}</a>
      </li>
      {% if events_off_offer %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">{% trans "My events" %}</a>
      </li>
      {% endif %}
      {% if highschool_visit and authorized_groups|in_groups:"LYC" %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#visits" role="tab" aria-controls="visits" aria-selected="false">{% trans "My visits" %}</a>
      </li>
      {% endif %}
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="immersions" role="tabpanel" aria-labelledby="immersions-tab">
      {% include './fragments/my_immersions.html'%}
      </div>
      {% if events_off_offer %}
      <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
      {% include './fragments/my_events.html'%}
      </div>
      {% endif %}
      {% if highschool_visit and authorized_groups|in_groups:"LYC" %}
      <div class="tab-pane fade" id="visits" role="tabpanel" aria-labelledby="visits-tab">
      {% include './fragments/my_visits.html'%}
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
<script>
  var feedback;
  var current_immersion_id;
  var user_id = {{ request.user.id }};
  var dt_future;
  var dt_past;
  var dt_cancelled;
  var dte_future;
  var dte_past;
  var dte_cancelled;
  var dtv_future;
  var dtv_past;
  var dtv_cancelled;

  function open_students_modal(immersion_id) {
    current_immersion_id = immersion_id;
    $('#modal_other_registrants').modal('show');
  }

  function open_cancel_modal(immersion_id) {
    current_immersion_id = immersion_id;
    $('#modal_cancel_immersion').modal('show');
  }

  function open_alerts_modal() {
    $('#modal_alerts').modal('show');
  }

  function register(slot_id) {
    $.ajax({
        url: "{% url 'SlotRegistration' %}",
        type: 'POST',
        data: {
          'slot_id': slot_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (json) {
          let msg = json['msg'];
          let error = json['error'];

          if(error) {
            feedback.trigger("showFeedback", [[msg, "danger"]]);
          }
          else {
            feedback.trigger("showFeedback", [[msg, "success"]]);
            dt_future.ajax.reload();
            dt_past.ajax.reload();
            dt_cancelled.ajax.reload();
            if ( $.fn.DataTable.isDataTable('#events_to_come')) {
              dte_future.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#past_events')) {
              dte_past.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#cancelled_events')) {
              dte_cancelled.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#visits_to_come' )) {
              dtv_future.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#past_visits')) {
              dtv_past.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#cancelled_visits')) {
              dtv_cancelled.ajax.reload();
            }
          }
        },
        error: function(json) {
          console.log(json);
        }
      })
  }

  $(document).ready(function() {
    initFeedback();
    feedback = $("#feedback");

    $.fn.dataTableExt.errMode = 'console';
    dt_future = $('#immersions_to_come').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id + "/future",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
        { "data": "training" },
        { "data": "course" },
        { "data": "type" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "info" },
        { "data": "",
          "render": function(data, type, row) {
            var msg = "<button class=\"btn btn-light btn-sm\" name=\"others\" onclick=\"open_students_modal("+row.id+")\" title=\"{% trans 'Other registrants' %}\">" +
                      "<i class='fa fas fa-users fa-2x'></i>" +
                      "</button>";

            if(row.cancellable == true) {
              msg += "<button class=\"ml-4 btn btn-light btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + row.id + ")\" title=\"{% trans 'Cancel' %}\">" +
                     "<i class='fa fas fa-trash fa-2x'></i>" +
                     "</button>";
            }

            return msg;
          }
        }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": [8,9],
        },
      ],
    });

    dt_past = $('#past_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "desc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id + "/past",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
        { "data": "training" },
        { "data": "course" },
        { "data": "type" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "attendance",
          "render": function(data, type, row) {
            var msg = data;

            if(row.attendance_status == 1) {
              msg += "<a href=\"dl/attestation/" + row.id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download fa-2x'></i>" +
                  "</a>";
            }
            return msg;
          }
        },
        { "data": "" }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": 9,
        },
      ],
    });

    dt_cancelled = $('#cancelled_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id + "/cancelled",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
        { "data": "training" },
        { "data": "course" },
        { "data": "type" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "cancellation_type",
          "render": function(data, type, row) {
            var msg = data;

            if(row.can_register) {
              msg += "<br /><button type=\"button\" class=\"badge badge-pill badge-primary\" onclick=\"register("+row.slot_id+")\">{% trans 'Register again' %}</button>";
            }

            if(row.free_seats == 0) {
              msg += "<br /><span class='badge badge-pill badge-danger'>{% trans 'Full' %}</span>";
            }

            return msg;
          }
        },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
      ],
    });

  {% if events_off_offer %}
    dte_future = $('#events_to_come').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_events/" + user_id + "/future",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
        { "data": "label" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers"},
        { "data": "info" },
        { "data": "",
          "render": function(data, type, row) {
            var msg = "<button class=\"btn btn-light btn-sm\" name=\"others\" onclick=\"open_students_modal("+row.id+")\" title=\"{% trans 'Other high schools/students registrants' %}\">" +
                      "<i class='fa fas fa-users fa-2x'></i>" +
                      "</button>";

            if(row.cancellable == true) {
              msg += "<button class=\"ml-4 btn btn-light btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + row.id + ")\" title=\"{% trans 'Cancel' %}\">" +
                     "<i class='fa fas fa-trash fa-2x'></i>" +
                     "</button>";
            }

            return msg;
          }
        }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": [6,7],
        },
      ],
    });


    dte_past = $('#past_events').DataTable({
      'processing': false,
      'order': [
        [6, "desc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_events/" + user_id + "/past",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
        { "data": "label" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "attendance",
          "render": function(data, type, row) {
            var msg = data;

            if(row.attendance_status == 1) {
              msg += "<a href=\"dl/attestation/" + row.id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download fa-2x'></i>" +
                  "</a>";
            }
            return msg;
          }
        },
        { "data": "" }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": 7,
        },
      ],
    });

    dte_cancelled = $('#cancelled_events').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_events/" + user_id + "/cancelled",
        dataSrc: function (json) {
          if (json['data'] != undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
      },
      'columns': [
        { "data": "label" },
        { "data": "campus" },
        { "data": "building" },
        { "data": "room" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type == "display" || type == "filter") {
              return row.date + ", " + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "cancellation_type",
          "render": function(data, type, row) {
            var msg = data;

            if(row.can_register) {
              msg += "<br /><button type=\"button\" class=\"badge badge-pill badge-primary\" onclick=\"register("+row.slot_id+")\">{% trans 'Register again' %}</button>";
            }

            if(row.free_seats == 0) {
              msg += "<br /><span class='badge badge-pill badge-danger'>{% trans 'Full' %}</span>";
            }

            return msg;
          }
        },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
      ],
    });
  {% endif %}
  {% if highschool_visit and authorized_groups|in_groups:"LYC" %}

  {% endif %}

  });


</script>
{% include "../modals/modal_other_students.html" %}
{% include "../modals/modal_cancel_immersion.html" %}
{% endblock %}
