{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}{% trans "My registrations" %}{% endblock %}

{% block content %}
{% include '../modals/modal_alerts.html' %}
<div class="main-title inside text-center">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'My immersions' %}</h1>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "My registrations" %}</li>
      </ol>
    </nav>
  </div>
</section>
<div id="feedback" class="container"></div>
<div class="row m-0">
  <div class="col-md-12 text-right">
    {% if alerts_cnt %}
    <span id="alert_msg">
      <a href="#" class="mr-2" onclick="open_alerts_modal()">
        <i class="us us-volume-up us-fw  text-third"></i>
        {% blocktrans %}You have <span id="alert_counter">{{ alerts_cnt }}</span> alert(s) ({{ sent_alerts_cnt }} already sent), click to view{% endblocktrans %}
      </a>
    </span>
    {% else %}
      <p class="mr-2">{% trans 'You have no course alert' %}</p>
    {% endif %}
  </div>
</div>
{% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
{% authorized_groups request.user %}
<section class="py-5">
  <div class="container-fluid justify-content-md-center">
    <div class="row border-top my-3"></div>
    <ul class="nav nav-pills" id="myImmersionsTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="futur-tab" data-toggle="pill" href="#futur-immersions" role="tab" aria-controls="futur-immersions" aria-selected="true">{% trans "To come" %}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="past-tab" data-toggle="pill" href="#past" role="tab" aria-controls="past" aria-selected="false">{% trans "Past" %}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="cancelled-tab" data-toggle="pill" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">{% trans "Cancelled" %}</a>
      </li>
    </ul>
    <div class="tab-content" id="myImmersionsContent">
      <div class="tab-pane fade in show active" id="futur-immersions" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_futur_immersions.html'%}
      </div>

      <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_past_immersions.html'%}
      </div>

      <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_cancelled_immersions.html'%}
      </div>
    </div>
  </div>
</section>


{% comment %} <section>
  <div class="container-fluid mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#immersions" role="tab" aria-controls="immersions" aria-selected="true">{% trans "My immersions" %}</a>
      </li>
      {% if events_off_offer %}
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">{% trans "My events" %}</a>
      </li>
      {% endif %}
    </ul>
    <div class="tab-content" id="myImmersionsContent">
      <div class="tab-pane fade show active" id="immersions" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_immersions.html'%}
      </div>
      {% if events_off_offer %}
      <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_events.html'%}
      </div>
      {% endif %}
    </div>
  </div>
</section> {% endcomment %}

<script>
  var feedback;
  var current_immersion_id;
  var user_id = {{ request.user.id }};
  var dt_future;
  var dt_past;
  var dt_cancelled;
  var dte_future;
  var dte_past;
  var dte_cancelled;
  var dtv_future;
  var dtv_past;
  var dtv_cancelled;
  var is_highschool_student = {{ request.user.is_high_school_student|yesno:"true,false" }}

  const options = {
    month: "long",
    day: "numeric",
    hour: "numeric",
    minute: "numeric",
  };

  function open_students_modal(immersion_id) {
    current_immersion_id = immersion_id;
    $('#modal_other_registrants').modal('show');
  }

  function open_cancel_modal(immersion_id) {
    current_immersion_id = immersion_id;
    $('#modal_cancel_immersion').modal('show');
  }

  function open_alerts_modal() {
    $('#modal_alerts').modal('show');
  }

  function register(slot_id) {
    $.ajax({
        url: "{% url 'SlotRegistration' %}",
        type: 'POST',
        data: {
          'slot_id': slot_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (json) {
          let msg = json['msg'];
          let error = json['error'];

          if(error) {
            feedback.trigger("showFeedback", [[msg, "danger"]]);
          }
          else {
            feedback.trigger("showFeedback", [[msg, "success"]]);
            dt_future.ajax.reload();
            dt_past.ajax.reload();
            dt_cancelled.ajax.reload();
            if ( $.fn.DataTable.isDataTable('#events_to_come') ) {
              dte_future.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#past_events') ) {
              dte_past.ajax.reload();
            }
            if ( $.fn.DataTable.isDataTable('#cancelled_events') ) {
              dte_cancelled.ajax.reload();
            }
          }
        },
        error: function(json) {
          console.log(json);
        }
      })
  }

  $(document).ready(function() {
    initFeedback();
    feedback = $("#feedback");

    $.fn.dataTableExt.errMode = 'console';
    dt_future = $('#immersions_to_come').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'buttons': [
      {extend: 'copy', text: '<fa class="fa fa-copy"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'csv', text: '<fa class="fa fa-file"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'print', text: '<fa class="fa fa-print"></fa>', className: 'btn btn-info d-none d-md-block'},
      ],
      'dom': 'Bfrtip',
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': false,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'future'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        {
          orderable: false, className: 'text-center', width: '20px',
          render: function(data, type, full, meta) {
              slotType = full['type'][0].toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
              if (slotType === 'c') {
                  label = '<i class="fa fa-graduation-cap slot-type-c" data-toggle="tooltip" title="{% trans "Course" %}"></i>';
              } else {
                  label = '<i class="fa fa-calendar slot-type-e" data-toggle="tooltip" title="{% trans "Event" %}"></i>';
              }
              return label;
          }
        },
        { "data": "training",
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            if (slotType === 'c') {
              label = '<label>'+ '{% trans "Training" %}' + ' :</label>';
              if (data === '' || data === null) {
                data = '&nbsp;';
              }
              data = row.course.training + "<br>" + row.establishments;
            } else {
                label = '<label>'+ "{% trans "Event type" %}" + ' :</label>';
                data = row.label + "<br>" + (row.establishment || row.highschool);
            }

            if(type === "display") {
              return label + '<span>' + data + '</span>';
            }
            if(type === 'filter') {
              return data.normalize("NFD").replace(/\p{Diacritic}/gu, "")
            }
            return data;
          }
        },
        {
          render: function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            if (slotType === 'c') {
              return row.structure;
            } else {
              return row.campus;
            }
          },
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();

            if (slotType === 'c') {
              return row.structure;
            }
            return row.meeting_place;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();

            if (slotType === 'c') {
              data = row.course.type;
            } else {
              data = row.datetime;
              if(type === "display" || type === "filter") {
                data = row.date + "<br>" + row.start_time + " - " + row.end_time;
              }
            }
            return data;

          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            return (slotType === 'c') ? row.campus : row.speakers;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            return (slotType === 'c') ? row.meeting_place : row.info;
          }
        },
        {
          "render": function(data, type, row) {

            slotType = row.type[0].toLowerCase();
            if (slotType === 'c') {
              data = row.datetime;
              if(type === "display" || type === "filter") {
                return row.date + "<br>" + row.start_time + " - " + row.end_time;
              }
            } else {
              data = row.registration_date;
              if (type !== 'sort') {
                return data ? formatDate(data) : "";
              }
            }
            return data;
          },
        },
        {

          "render": function (data) {
            slotType = row.type[0].toLowerCase();
            if (slotType === 'c') {
              let txt = "";
              $.each(row.speakers, function(index, value) {
                txt += value+"<br>";
              });
              return txt;
            } else {

            }
          },
        },
        { "data": "info" },
        { "data": "registration_date",
          render: function(data, type, row) {
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }

            return data
          }
        },
        { "data": "",
          "render": function(data, type, row) {
            let msg = "";

            if(is_highschool_student === true) {
              msg += "<button class=\"btn btn-light btn-sm\" name=\"others\" onclick=\"open_students_modal("+row.id+")\" title=\"{% trans 'Other registrants' %}\">" +
                        "<i class='fa fas fa-users fa-2x'></i>" +
                        "</button>";
            }

            if(row.cancellable === true) {
              msg += "<button class=\"ml-2 btn btn-light btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + row.id + ")\" title=\"{% trans 'Cancel' %}\">" +
                     "<i class='fa fas fa-trash fa-2x'></i>" +
                     "</button>";
            }

            let cancellation_limit_date = formatDate(row.cancellation_limit_date, options);

            msg = `<div class="btn-group"> ${msg}</div><div>{% trans 'Cancellation limit' %} : ${cancellation_limit_date}<div>`

            return msg;
          }
        }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": [8,10],
        },
      ],
    });

    dt_past = $('#past_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "desc"]
      ],
      'buttons': [
      {extend: 'copy', text: '<fa class="fa fa-copy"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'csv', text: '<fa class="fa fa-file"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'print', text: '<fa class="fa fa-print"></fa>', className: 'btn btn-info d-none d-md-block'},
      ],
      'dom': 'Bfrtip',
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'past'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        {
          orderable: false, className: 'text-center', width: '20px',
          render: function(data, type, full, meta) {
              slotType = full['type'][0].toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
              if (slotType === 'c') {
                  label = '<i class="fa fa-graduation-cap slot-type-c" data-toggle="tooltip" title="{% trans "Course" %}"></i>';
              } else {
                  label = '<i class="fa fa-calendar slot-type-e" data-toggle="tooltip" title="{% trans "Event" %}"></i>';
              }
              return label;
          }
        },
        { "data": "training",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.course.training + "<br>" + row.establishments;
            }
            return data;
          },
        },
        { "data": "structure" },
        { "data": "course.label" },
        { "data": "course.type" },
        { "data": "campus" },
        { "data": "meeting_place" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.date + "<br>" + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "attendance",
          "render": function(data, type, row) {
            var msg = data;
            if(row.attendance_status === 1 || row.place === 1) {
              msg += "<a href=\"dl/attestation/" + row.id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download fa-2x'></i>" +
                  "</a>";
            }
            return msg;
          }
        },
        { "data": "registration_date",
          render: function(data, type, row) {
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }

            return data
          }
        },
        { "data": "" }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": 9,
        },
      ],
    });

    dt_cancelled = $('#cancelled_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'buttons': [
      {extend: 'copy', text: '<fa class="fa fa-copy"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'csv', text: '<fa class="fa fa-file"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'print', text: '<fa class="fa fa-print"></fa>', className: 'btn btn-info d-none d-md-block'},
      ],
      'dom': 'Bfrtip',
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'cancelled'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        {
          orderable: false, className: 'text-center', width: '20px',
          render: function(data, type, full, meta) {
              slotType = full['type'][0].toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
              if (slotType === 'c') {
                  label = '<i class="fa fa-graduation-cap slot-type-c" data-toggle="tooltip" title="{% trans "Course" %}"></i>';
              } else {
                  label = '<i class="fa fa-calendar slot-type-e" data-toggle="tooltip" title="{% trans "Event" %}"></i>';
              }
              return label;
          }
        },
        { "data": "training",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.course.training + "<br>" + row.establishments;
            }
            return data;
          },
        },
        { "data": "structure" },
        { "data": "course.label" },
        { "data": "course.type" },
        { "data": "campus" },
        { "data": "meeting_place" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.date + "<br>" + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "cancellation_type",
          "render": function(data, type, row) {
            var msg = data;

            if(row.can_register) {
                msg += "<br><button type=\"button\" class=\"badge badge-pill badge-primary\" onclick=\"register("+row.slot_id+")\">{% trans 'Register again' %}</button>";
            }

            if(row.free_seats === 0) {
                msg += "<br><span class='badge badge-pill badge-danger'>{% trans 'Full' %}</span>";
            }

            return msg;
          }
        },
        { "data": "registration_date",
          render: function(data, type, row) {
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }

            return data
          }
        }
    ],
    "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
      ],
    });

  {% if events_off_offer %}
    dte_future = $('#events_to_come').DataTable({
      'processing': false,
      'order': [
        [3, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'future'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        { "data": "label",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.label + "<br>" + (row.establishment || row.highschool);
            }
            return data;
          },
        },
        { "data": "campus" },
        { "data": "meeting_place" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.date + "<br>" + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers"},
        { "data": "info" },
        { "data": "registration_date",
          render: function(data, type, row) {
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }

            return data
          }
        },
        { "data": "",
          "render": function(data, type, row) {
            let msg = "";

            if(is_highschool_student === true) {
              msg = "<button class=\"btn btn-light btn-sm\" name=\"others\" onclick=\"open_students_modal("+row.id+")\" title=\"{% trans 'Other high schools/students registrants' %}\">" +
                    "<i class='fa fas fa-users fa-2x'></i>" +
                    "</button>";
            }

            if(row.cancellable === true) {
              msg += "<button class=\"ml-2 btn btn-light btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + row.id + ")\" title=\"{% trans 'Cancel' %}\">" +
                     "<i class='fa fas fa-trash fa-2x'></i>" +
                     "</button>";
            }

            let cancellation_limit_date = formatDate(row.cancellation_limit_date, options);

            msg = `<div class="btn-group"> ${msg}</div><div>{% trans 'Cancellation limit' %} : ${cancellation_limit_date}<div>`

            return msg;
          }
        }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": [5,6],
        },
      ],
    });


    dte_past = $('#past_events').DataTable({
      'processing': false,
      'order': [
        [3, "desc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'past'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        { "data": "label",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.label + "<br>" + (row.establishment || row.highschool);
            }
            return data;
          },
        },
        { "data": "campus" },
        { "data": "meeting_place" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.date + "<br>" + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "attendance",
          "render": function(data, type, row) {
            var msg = data;

            if(row.attendance_status === 1 || row.place === 1) {
              msg += "<a href=\"dl/attestation/" + row.id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download fa-2x'></i>" +
                  "</a>";
            }
            return msg;
          }
        },
        { "data": "registration_date",
          render: function(data, type, row) {
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }

            return data
          }
        },
        { "data": "" }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": 6,
        },
      ],
    });

    dte_cancelled = $('#cancelled_events').DataTable({
      'processing': false,
      'order': [
        [3, "asc"]
      ],
      'pageLength': 5,
      'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': true,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'cancelled'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        { "data": "label",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.label + "<br>" + (row.establishment || row.highschool);
            }
            return data;
          },
        },
        { "data": "campus" },
        { "data": "meeting_place" },
        { "data": "datetime",
          "render": function(data, type, row) {
            if(type === "display" || type === "filter") {
              return row.date + "<br>" + row.start_time + " - " + row.end_time;
            }

            return data;
          },
        },
        { "data": "speakers",
          "render": function (data) {
            let txt = "";
            $.each(data, function(index, value) {
              txt += value+"<br>";
            });
            return txt;
          },
        },
        { "data": "cancellation_type",
          "render": function(data, type, row) {
            var msg = data;

            if(row.can_register) {
              msg += "<br /><button type=\"button\" class=\"badge badge-pill badge-primary\" onclick=\"register(" + row.slot_id + ")\">{% trans 'Register again' %}</button>";
            }

            if(row.free_seats === 0) {
              msg += "<br /><span class='badge badge-pill badge-danger'>{% trans 'Full' %}</span>";
            }

            return msg;
          }
        },
        { "data": "registration_date",
          render: function(data, type, row) {
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }

            return data
          }
        },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
      ],
    });
  {% endif %}
  });


</script>
{% include "../modals/modal_other_students.html" %}
{% include "../modals/modal_cancel_immersion.html" %}
{% endblock %}
