{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
<script src="{% static 'js/core/common_slots_functions.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
{% block title %}{% trans "My immersions" %}{% endblock %}
{% block content %}
{% include "../modals/modal_other_students.html" %}
{% include "../modals/modal_cancel_immersion.html" %}
{% include '../modals/modal_myimmersions_slot_details.html' %}
{% include '../modals/modal_alerts.html' %}

{% general_settings_get 'HIDE_FIELDS_PUBLIC_AREA' as hide_fields_public_area %}
{{ hide_fields_public_area|json_script:"hide-fields-public-area-data" }}

<div class="main-title inside text-center">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'My immersions' %}</h1>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "My immersions" %}</li>
      </ol>
    </nav>
  </div>
  <div id="feedback" class="container"></div>
</section
<section class="py-5">
  <div class="row m-0">
    <div class="col-md-12 text-right">
      {% if alerts_cnt %}
      <span id="alert_msg">
        <a href="#" class="mr-2" onclick="open_alerts_modal()">
          <i class="us us-volume-up us-fw  text-third"></i>
          {% blocktrans %}You have <span id="alert_counter">{{ alerts_cnt }}</span> alert(s) ({{ sent_alerts_cnt }} already sent), click to view{% endblocktrans %}
        </a>
      </span>
      {% else %}
      <p class="mr-2">{% trans 'You have no course alert' %}</p>
      {% endif %}
    </div>
  </div>
</section>
{% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
{% authorized_groups request.user %}
<section class="py-5">
  <div class="container-fluid justify-content-md-center">
    <div class="row border-top my-3"></div>
    <div class="row" style="padding-top:20px;">
      <div class="col offset-sm-1 text-center">
        <ul class="nav nav-pills" id="myImmersionsTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="futur-tab" data-toggle="pill" href="#futur-immersions" role="tab" aria-controls="futur-immersions" aria-selected="true">{% trans "To come" %}</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="past-tab" data-toggle="pill" href="#past" role="tab" aria-controls="past" aria-selected="false">{% trans "Past" %}</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="cancelled-tab" data-toggle="pill" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">{% trans "Cancelled" %}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" id="myImmersionsContent">
      <div class="tab-pane fade in show active" id="futur-immersions" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_futur_immersions.html'%}
      </div>

      <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_past_immersions.html'%}
      </div>

      <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="myImmersionsContent">
      {% include './fragments/my_cancelled_immersions.html'%}
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block foot-javascript %}
<script>
  var feedback;
  var current_immersion_id;
  var user_id = {{ request.user.id }};
  var dt_future;
  var dt_past;
  var dt_cancelled;
  var is_highschool_student = {{ request.user.is_high_school_student|yesno:"true,false" }}
  let establishments_txt = "{% trans 'Establishments' %}"
  let levels_txt = "{% trans 'Levels' %}"
  let bachelors_txt = "{% trans 'Bachelor types' %}"
  let allowed_mentions_txt = "{% trans 'Allowed mentions' %}"
  let allowed_teachings_txt = "{% trans 'Allowed teachings' %}"
  var modal_open = false;
  var is_connected = {{ request.user.is_authenticated|yesno:"true,false" }}
  const hide_fields_public_area = JSON.parse(
    document.getElementById("hide-fields-public-area-data").textContent
  );

  // Slot places
  var face_to_face = 0
  var remote = 1
  var outside = 2

  const options = {
    month: "long",
    day: "numeric",
    hour: "numeric",
    minute: "numeric",
  };

  function open_students_modal(immersion_id, modal_mode=false) {
    current_immersion_id = immersion_id;
    modal_open = modal_mode;
    $('#modal_other_registrants').modal('show');
  }

  function open_cancel_modal(immersion_id, modal_mode=false) {
    current_immersion_id = immersion_id;
    modal_open = modal_mode;
    $('#modal_cancel_immersion').modal('show');
  }

  function open_alerts_modal() {
    $('#modal_alerts').modal('show');
  }

  function register(slot_id) {
    $.ajax({
        url: "{% url 'SlotRegistration' %}",
        type: 'POST',
        data: {
          'slot_id': slot_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (json) {
          let msg = json['msg'];
          let error = json['error'];

          if(error) {
            feedback.trigger("showFeedback", [[msg, "danger"]]);
          }
          else {
            feedback.trigger("showFeedback", [[msg, "success"]]);
            dt_future.ajax.reload();
            dt_past.ajax.reload();
            dt_cancelled.ajax.reload();
          }
        },
        error: function(json) {
          console.log(json);
        }
      })
  }

  $(document).ready(function() {
    initFeedback();
    feedback = $("#feedback");
    $.fn.dataTableExt.errMode = 'console';

    /* Immersions to come */
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    dt_future = $('#immersions_to_come').DataTable({
      'processing': false,
      'order': [
        [5, "asc"]
      ],
      'buttons': [
      {extend: 'copy', text: '<fa class="fa fa-copy"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'csv', text: '<fa class="fa fa-file"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'print', text: '<fa class="fa fa-print"></fa>', className: 'btn btn-info d-none d-md-block'},
      ],
      'dom': 'Bfrtp',
      'paging': false,
      'serverSide': false,
      'responsive': false,
      'select': {
        'single': true,
        'style': 'os',
        'selector': 'td:not(:last-child), .btn-more-details'
      },
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'future'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        {
          orderable: false,
          className: 'text-center',
          width: '20px',
          "render": function(data, type, full, meta) {
              slotType = full['type'][0].toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
              if (slotType === 'c') {
                  label = '<i class="fa fa-graduation-cap slot-type-c" data-toggle="tooltip" title="{% trans "Course" %}"></i>';
              } else {
                  label = '<i class="fa fa-calendar slot-type-e" data-toggle="tooltip" title="{% trans "Event" %}"></i>';
              }
              return label;
          }
        },
        {
          "render": function(data, type, row) {
            if (row.establishment === '' || row.establishment === null) {

              if (row.highschool !== null) {
                data = row.highschool;
              } else {
                data = '&nbsp;';
              }
            } else {
              data = row.establishment;
            }
            if(type === "display") {
              return '<label>{% trans 'Establishment' %} :</label><span>' + displayLongString(data, 40, html=true) + '</span>';
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();

            if (slotType === 'c') {
              label = "<label>{% trans "Training" %} :</label>";
              data = row.course.training;
            } else {
              label =  "<label>{% trans "Event type" %} :</label>";
              data = row.event.type
            }
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 30, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            label = "<label>{% trans "Label" %} :</label>";
            if (slotType === 'c') {
              data = row.course.label;
            } else {
              data = row.event.label;
            }
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 40, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            data = (slotType === 'c') ? row.course.type_full : row.event.type;
            label = "<label>{% trans 'Type' %} :</label>";
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 40, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            data = row.datetime;
            label = "<label>{% trans 'Date' %} :</label>";
            if(type === "display" || type === "filter") {
              return label + "<span>" + row.date + "<br>" + row.start_time + " - " + row.end_time +"</span>";
            }
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }
            return data
          },
        },
        {
          "render": function (data, type, row) {
            if (row.place === outside) {
                return "<label>{% trans 'Address' %} : </label>";
            }
            else if (row.place === remote) {
              label = "<label>{% trans 'URL' %} : </label>";

              if(row.can_show_url) {
                data = `<a href="${row.url}">{% trans "Remote link" %}</a>`
              } else {
                data = "{% trans 'Displayed a few days before event' %}"
              }
            }
            else {
              if (row.campus === '' || row.campus === null) {
                if (row.highschool != null || row.highschool != '') {
                  label = "<label>{% trans 'Address' %} : </label>";
                  data = row.highschool_address ? row.highschool_address : '&nbsp;';
                  data += row.highschool_city ? `, ${row.highschool_city}` : '';
                }
                else {
                  return '&nbsp;';
                }
              }
              else {
                label = "<label>{% trans 'Campus' %} : </label>";
                data = row.campus
                data += row.campus_city ? ` - ${row.campus_city[0].toUpperCase() + row.campus_city.substring(1).toLowerCase()}` : '&nbsp;';
              }
            }

            if(type === "display") {
              if (row.place === remote) {
                return label + data
              }
              else {
                return label + displayLongString(data, 40, html = true);
              }
            }
            if(type === 'filter') {
              return data.normalize("NFD").replace(/\p{Diacritic}/gu, "")
            }
            return data;
          }
        },
        {
          "render": function (data, type, row) {
            if(row.place === face_to_face) {
                data = `${row.building}<br>${row.room}`
            }
            else {
              data = row.meeting_place
            }
            if (type === "display" && !hide_fields_public_area["meeting_place"].hide_after_registration) {
              return "<label>{% trans 'Meeting place'%} :</label><span>" + displayLongString(data, 20, html=true) + "</span>";
            } else {
              return "<label>{% trans 'Meeting place'%} :</label>";
            }
            return data
          },
        },
        {
          "data": "registration_date",
          "render": function(data, type, row) {
            if (type==='display') {
              return "<label>{% trans "Registered date" %} :</label><span>" + formatDate(data) + "</span>";
            }
            return data
          }
        },
        {
          "render": function(data, type, row) {
            cancellation_limit_date = row.cancellation_limit_date ? formatDate(row.cancellation_limit_date) : "";
            classLabel = row.cancellable ? "badge-info" : "badge-danger";
            return `<label>{% trans 'Cancellation limit' %} : </label><span class="badge badge-pill ${classLabel}">${cancellation_limit_date}</span>`;
          }
        },
        {
          "render": function(data, type, row) {
            let msg = "";

            if(is_highschool_student === true) {
              msg += "<button class=\"btn btn-light btn-sm\" name=\"others\" onclick=\"open_students_modal("+row.id+")\" title=\"{% trans 'Other registrants' %}\">" +
                        "<i class='fa fas fa-users fa-15'></i>" +
                        "</button>";
            }
            if(row.cancellable === true) {
              msg += "<button class=\"ml-2 btn btn-light btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + row.id + ")\" title=\"{% trans 'Cancel' %}\">" +
                     "<i class='fa fas fa-trash fa-15'></i>" +
                     "</button>";
            }
            return `<div class="pull-right"><span>${msg}</span><button class=\"ml-2 btn badge badge-pill badge-primary btn-more-details\">{% trans 'More details' %}</button></div>`;
          }
        }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": [8,10],
        },
      ],
    }).on('select', function (e, dt, type, indexes) {
      let rowData = dt.rows(indexes).data().toArray()
      let speakers_array = "";
      let url = null;
      let buildingFull = null;
      let courseLabelFull = null;
      let slotType = rowData[0].type[0].toLowerCase();
      var etab = [];
      var restrictions = "";
      let displayedRows = $("[id^=row_]");
      let selectedRows = [];
      var filteredRows = ['row_cancellation_date', 'row_cancellation_type', 'row_attendancee'];
      let availablesSeatslabel = '<ul class="list-inline">';
      var actions = ""

      if (rowData[0].allow_individual_registrations === true) {
        availablesSeatslabel += "<li class='list-inline-item'><acronym title='{% trans "Individual immersions" %}' >Ind.</acronym> " + rowData[0].free_seats + ' / ' + rowData[0].n_places + '</li>'
      }
      availablesSeatslabel += '</ul>';

      $.each(rowData[0].speakers, function(i, item) {
        speakers_array += "<li>" + item + "</li>";
      });

      $(displayedRows).show();

      if (is_set(rowData[0].establishment)) {
        etab.push(rowData[0].establishment)
      }
      if (is_set(rowData[0].highschool)) {
        etab.push(rowData[0].highschool)
      }
      if (is_set(rowData[0].structure) && !hide_fields_public_area["structure"].hide_after_registration)) {
        etab.push(rowData[0].structure)
      }
      if (slotType === 'c') {
        $('#modal_myimmersions_slot_details #modal_course_label').html(rowData[0].course.training);
        filteredRows.push('row_event_type', 'row_highschool');
      } else {

        filteredRows.push('row_course_label', 'row_course_type', 'row_highschool');
        if (rowData[0].highschool !== null) {
          $('#modal_myimmersions_slot_details #modal_highschool').html(rowData[0].highschool);
        } else {
          $('#modal_myimmersions_slot_details #modal_highschool').html();
          filteredRows.push('row_highschool');
        }
      }
      if (rowData[0].building !== null) {
        buildingFull = rowData[0].building;
      }
      if (rowData[0].course.training !== null && rowData[0].course.training !== '') {
        courseLabelFull = rowData[0].course.training;
      }
      if (rowData[0].campus === '' || rowData[0].campus === null) {
        filteredRows.push('row_campus');
      }
      if (rowData[0].highschool === '' || rowData[0].highschool === null) {
        filteredRows.push('row_highschool');
      }
      if (rowData[0].highschool_address === '' || rowData[0].highschool_address === null) {
        filteredRows.push('row_highschool_address');
      }
      if (rowData[0].building === '' || rowData[0].building === null) {
        filteredRows.push('row_building');
      }
      if (rowData[0].info === '' || rowData[0].info === null) {
        filteredRows.push('row_additional_information');
      }
      if (rowData[0].meeting_place === '' || rowData[0].meeting_place === null) {
        filteredRows.push('row_meeting_place');
      }
      if (rowData[0].place === remote) {
          if(Object.keys(rowData[0]).indexOf('url') && rowData[0].url != null && rowData[0].url != '' && rowData[0].can_show_url) {
            url = ' <a href="' + rowData[0].url + '">{% trans "Remote link" %}</a>';
          }
          else {
            url = "{% trans 'Displayed a few days before event' %}"
          }
      }
      else {
        filteredRows.push('row_url');
      }

      if (rowData[0].place == remote || rowData[0].place == outside) {
        filteredRows.push('row_city');

        if(is_set(rowData[0].highschool)) {
          filteredRows.push('row_highschool_address');
        }
      }
      if(is_highschool_student === true) {
        actions += "<button class=\"btn btn-light btn-sm\" name=\"others\" onclick=\"open_students_modal("+rowData[0].id+",true)\" title=\"{% trans 'Other registrants' %}\">" +
                  "<i class='fa fas fa-users fa-15'></i>" +
                  "</button>";
      }
      if(rowData[0].cancellable === true) {
        actions += "<button class=\"ml-2 btn btn-light btn-sm\" name=\"cancel\" onclick=\"open_cancel_modal(" + rowData[0].id + ",true)\" title=\"{% trans 'Cancel' %}\">" +
                "<i class='fa fas fa-trash fa-15'></i>" +
                "</button>";
      }
      $.ajax({
        url: "/api/get_slot_restrictions/" + rowData[0].slot_id,
        type: 'GET',
        success: function (data) {
          if (data['data'] !== undefined && data['data']['restrictions'] !== undefined) {
              restrictions = display_slot_restrictions(null, null, data['data']['restrictions'][0])
              if (restrictions === '<ul class="list-unstyled"></ul>') {
                restrictions = "<p>{% trans "Slot open to all" %}</p>";
              }
              $('#modal_myimmersions_slot_details #modal_restrictions').html("<div>"+restrictions+"</div>")
            }
        }
      })

      $('#modal_myimmersions_slot_details #modal_establishment').html(etab.join(' - ') ?? '');
      $('#modal_myimmersions_slot_details #modal_course_label').html(courseLabelFull ?? rowData[0].course.training);
      $('#modal_myimmersions_slot_details #modal_label').html(rowData[0].label);
      $('#modal_myimmersions_slot_details #modal_type').html(rowData[0].translated_type);
      $('#modal_myimmersions_slot_details #modal_course_type').html(rowData[0].course.type_full);
      $('#modal_myimmersions_slot_details #modal_event_type').html(rowData[0].event.type);
      $('#modal_myimmersions_slot_details #modal_date').html(rowData[0].date + "<br>" + rowData[0].start_time + " - " + rowData[0].end_time);
      $('#modal_myimmersions_slot_details #modal_location').html(rowData[0].location + ' ' + rowData[0].building_label + ' ' + rowData[0].room);
      $('#modal_myimmersions_slot_details #modal_url').html(url);
      $('#modal_myimmersions_slot_details #modal_campus').html(rowData[0].campus)
      $('#modal_myimmersions_slot_details #modal_highschool_address').html(rowData[0].highschool_address)
      $('#modal_myimmersions_slot_details #modal_city').html(rowData[0].campus_city ? rowData[0].campus_city : rowData[0].highschool_city)
      if (!hide_fields_public_area["building"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_building').html(buildingFull ?? rowData[0].building)
      }
      if (!hide_fields_public_area["meeting_place"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_meeting_place').html(rowData[0].meeting_place);
      }
      if (!hide_fields_public_area["speakers"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_speakers').html(
                '<ul class="list-group">' + speakers_array + '</ul>'
        )
      }
      $('#modal_myimmersions_slot_details #modal_additional_information').html(rowData[0].info);

      if (rowData[0].info && rowData[0].info.length > 300) {
        $('#show_more_info').show();
      } else {
        $('#show_more_info').hide();
      }

      $('#modal_myimmersions_slot_details #modal_available_seats').html(availablesSeatslabel);
      $('#modal_myimmersions_slot_details #modal_registration_date').html(formatDate(rowData[0].registration_date,{ dateStyle: 'long', timeStyle: 'medium' }));
      $('#modal_myimmersions_slot_details #modal_end_registration_date').html(formatDate(rowData[0].registration_limit_date,{ dateStyle: 'long', timeStyle: 'medium' }));
      $('#modal_myimmersions_slot_details #modal_actions').html(actions ? actions : "");

      // rows to hide
      selectedRows = filteredRows.map(id => `#${id}`).join(',')
      $(selectedRows).hide();
      $('#modal_myimmersions_slot_details').modal("show");
    });
    dt_future.on("draw.dt", function (e, dt, type, indexes) {
      if ($(this).find(".dataTables_empty").length == 1) {
          // Dirty hack cause has() is not supported by firefox :(
            var elm = $(this).find(".dataTables_empty").parent('tr')
            elm.css('text-align', 'center');
            elm.css('float', 'none');
            elm.css('border', 'none');
            elm.css('box-shadow', 'none');
            elm.css('border-radius', 'none');
            $('[data-toggle="tooltip"]').tooltip()
        }
    });

    /* Past immersions */
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    dt_past = $('#past_immersions').DataTable({
      'processing': false,
      'order': [
        [5, "desc"]
      ],
      'buttons': [
      {extend: 'copy', text: '<fa class="fa fa-copy"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'csv', text: '<fa class="fa fa-file"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'print', text: '<fa class="fa fa-print"></fa>', className: 'btn btn-info d-none d-md-block'},
      ],
      'dom': 'Bfrtp',
      'select': {
        'single': true,
        'style': 'os',
        'selector': 'td:not(:last-child), .btn-more-details'
      },
      'paging': false,
      'serverSide': false,
      'responsive': false,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'past'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        {
          orderable: false, className: 'text-center', width: '20px',
          "render": function(data, type, full, meta) {
              slotType = full['type'][0].toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
              if (slotType === 'c') {
                  label = '<i class="fa fa-graduation-cap slot-type-c" data-toggle="tooltip" title="{% trans "Course" %}"></i>';
              } else {
                  label = '<i class="fa fa-calendar slot-type-e" data-toggle="tooltip" title="{% trans "Event" %}"></i>';
              }
              return label;
          }
        },
        {
          "render": function(data, type, row) {
            if (row.establishment === '' || row.establishment === null) {

              if (row.highschool !== null) {
                data = row.highschool;
              } else {
                data = '&nbsp;';
              }
            } else {
              data = row.establishment;
            }
            if(type === "display") {
              return '<label>{% trans 'Establishment' %} :</label><span>' + displayLongString(data, 40, html=true) + '</span>';
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();

            if (slotType === 'c') {
              label = "<label>{% trans "Training" %} :</label>";
              data = row.course.training;
            } else {
              label =  "<label>{% trans "Event type" %} :</label>";
              data = row.event.type
            }
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 30, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            label = "<label>{% trans "Label" %} :</label>";
            if (slotType === 'c') {
              data = row.course.label;
            } else {
              data = row.event.label;
            }
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 40, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            data = (slotType === 'c') ? row.course.type_full : row.event.type;
            label = "<label>{% trans 'Type' %} :</label>";
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 40, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            data = row.datetime;
            label = "<label>{% trans 'Date' %} :</label>";
            if(type === "display" || type === "filter") {
              return label + "<span>" + row.date + "<br>" + row.start_time + " - " + row.end_time +"</span>";
            }
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }
            return data
          },
        },
        {
          "render": function (data, type, row) {
            if (row.campus === '' || row.campus === null) {
              if (row.highschool != null || row.highschool != '') {
                label = "<label>{% trans 'Address' %} : </label>";
                data = row.highschool_address ? row.highschool_address : '&nbsp;';
                data += row.highschool_city ? `, ${row.highschool_city}` : '';
              }
              else {
                return '&nbsp;';
              }
            } else {
              label = "<label>{% trans 'Campus' %} : </label>";
              data = row.campus
              data += row.campus_city ? ` - ${row.campus_city[0].toUpperCase() + row.campus_city.substring(1).toLowerCase()}` : '&nbsp;';
            }
            if(type === "display") {
              return label + displayLongString(data, 40, html=true) ;
            }
            if(type === 'filter') {
              return data.normalize("NFD").replace(/\p{Diacritic}/gu, "")
            }
            return data;
          }
        },
        {
          "render": function (data, type, row) {
            data = row.meeting_place
            if(type === "display" && !hide_fields_public_area["meeting_place"].hide_after_registration){
              return "<label>{% trans 'Meeting place'%} :</label><span>" + displayLongString(data, 20, html=true) + "</span>";
            } else {
              return "<label>{% trans 'Meeting place'%} :</label>";
            }
            return data
          },
        },
        { "data": "registration_date",
          "render": function(data, type, row) {
            if (type==='display') {
              return "<label>{% trans "Registered date" %} :</label><span>" + formatDate(data) + "</span>";
            }
            return data
          }
        },
        { "data": "attendance",
          "render": function(data, type, row) {
            let msg = "<label>{% trans "Attendance" %} :</label>" + data;
            return msg;
          }
        },
        {
          className:"align-bottom-results-field",
          render: function (data, type, full, meta) {
            let msg = "";
            if(full['attendance_status'] === 1 || full['place'] === 1) {
              msg += "<a href=\"dl/attestation/" + full['id'] + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download fa-15'></i>" +
                  "</a>";
            }
            return "<span class='pull-right'>" + msg + "<button class=\"ml-2 btn badge badge-pill badge-primary btn-more-details\">{% trans 'More details' %}</button></span>"
          }

        },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
        {
          "orderable": false, "targets": 9,
        },
      ],
    }).on('select', function (e, dt, type, indexes) {
      let rowData = dt.rows(indexes).data().toArray()
      let speakers_array = "";
      let url = null;
      let buildingFull = null;
      let courseLabelFull = null;
      let slotType = rowData[0].type[0].toLowerCase();
      let etab = [];
      var restrictions = "";
      let displayedRows = $("[id^=row_]");
      let selectedRows = [];
      var filteredRows = ['row_cancellation_date', 'row_cancellation_type', 'row_actions', 'row_end_registration_date'];
      let availablesSeatslabel = '<ul class="list-inline">';
      let face_to_face = 0;
      let remote = 1;
      let outside = 2;
      let attendanceLabel = rowData[0].attendance;
      if (rowData[0].allow_individual_registrations === true) {
        availablesSeatslabel += "<li class='list-inline-item'><acronym title='{% trans "Individual immersions" %}' >Ind.</acronym> " + (parseInt(rowData[0].n_places)-parseInt(rowData[0].n_registered)) + ' / ' + rowData[0].n_places + '</li>'
      }
      availablesSeatslabel += '</ul>';
      if(rowData[0].attendance_status === 1 || rowData[0].place === 1) {
        attendanceLabel += "<a href=\"dl/attestation/" + rowData[0].id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
            "<i class='fa fas fa-download fa-15'></i>" +
            "</a>";
      }

      $.each(rowData[0].speakers, function(i, item) {
        speakers_array += "<li>" + item + "</li>";
      });

      // display all row_* elements
      $(displayedRows).show();

      if (is_set(rowData[0].establishment)) {
        etab.push(rowData[0].establishment)
      }
      if (is_set(rowData[0].highschool)) {
        etab.push(rowData[0].highschool)
      }
      if (is_set(rowData[0].structure) && !hide_fields_public_area["structure"].hide_after_registration) {
        etab.push(rowData[0].structure);
      }
      if (slotType === 'c') {
        $('#modal_myimmersions_slot_details #modal_course_label').html(rowData[0].course_training_label);
        $('#modal_myimmersions_slot_details #row_event_type').hide();
        filteredRows.push('row_highschool');
      } else {
        filteredRows.push('row_course_label', 'row_course_type', 'row_highschool');
        if (rowData[0].highschool === '' || rowData[0].highschool === null) {
          filteredRows.push('row_highschool_address');
        }
      }
      if (rowData[0].course.training_url !== null && rowData[0].course.training_url !== '') {
        courseLabelFull = rowData[0].course.training + "&nbsp;<a href=\""+rowData[0].course.training_url+"\" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"{% trans 'Click here for more informations'%}\"><i class=\"fa fas fa-info-circle subdomains-icons\"></i></a>";
      }
      if (rowData[0].campus === '' || rowData[0].campus === null) {
        filteredRows.push('row_campus');
      }
      if (rowData[0].highschool_address === '' || rowData[0].highschool_address === null) {
        filteredRows.push('row_highschool_address');
      }


      if (rowData[0].building === '' || rowData[0].building === null) {
        filteredRows.push('row_building');
      }


      if (rowData[0].info === '' || rowData[0].info === null) {
        filteredRows.push('row_additional_information');
      }
      if (rowData[0].meeting_place === '' || rowData[0].meeting_place === null) {
        filteredRows.push('row_meeting_place');
      }
      if (rowData[0].place == remote || rowData[0].place == outside) {
        filteredRows.push('row_city');

        if(is_set(rowData[0].highschool)) {
          filteredRows.push('row_highschool_address');
        }
      }
      $('#modal_register_btn').html('');
      $.ajax({
        url: "/api/get_slot_restrictions/" + rowData[0].id,
        type: 'GET',
        success: function (data) {
          if (data['data'] !== undefined && data['data']['restrictions'] !== undefined) {
              restrictions = display_slot_restrictions(null, null, data['data']['restrictions'][0])
              if (restrictions === '<ul class="list-unstyled"></ul>') {
                restrictions = "<p>{% trans "Slot open to all" %}</p>";
              }
              $('#modal_myimmersions_slot_details #modal_restrictions').html("<div>"+restrictions+"</div>")
            }
        }
      })
      $('#modal_myimmersions_slot_details #modal_establishment').html(etab.join(' - ') ?? '');
      $('#modal_myimmersions_slot_details #modal_course_label').html(courseLabelFull ?? rowData[0].course.training);
      $('#modal_myimmersions_slot_details #modal_label').html(rowData[0].label);
      $('#modal_myimmersions_slot_details #modal_type').html(rowData[0].translated_type);
      $('#modal_myimmersions_slot_details #modal_course_type').html(rowData[0].course.type_full);
      $('#modal_myimmersions_slot_details #modal_event_type').html(rowData[0].event.type);
      $('#modal_myimmersions_slot_details #modal_date').html(rowData[0].date + "<br>" + rowData[0].start_time + " - " + rowData[0].end_time);
      $('#modal_myimmersions_slot_details #modal_campus').html(rowData[0].campus)
      $('#modal_myimmersions_slot_details #modal_city').html(rowData[0].campus_city ? rowData[0].campus_city : rowData[0].highschool_city);
      $('#modal_myimmersions_slot_details #modal_highschool_address').html(rowData[0].highschool_address)
      if(!hide_fields_public_area["building"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_building').html(rowData[0].building)
      }
      if(!hide_fields_public_area["meeting_place"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_meeting_place').html(rowData[0].meeting_place);
      }
      if (!hide_fields_public_area["speakers"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_speakers').html(
                '<ul class="list-group">' + speakers_array + '</ul>'
        )
      }
      $('#modal_myimmersions_slot_details #modal_additional_information').html(rowData[0].info);

      if (rowData[0].info && rowData[0].info.length > 300) {
        $('#show_more_info').show();
      } else {
        $('#show_more_info').hide();
      }

      $('#modal_myimmersions_slot_details #modal_available_seats').html(availablesSeatslabel);
      $('#modal_myimmersions_slot_details #modal_registration_date').html(formatDate(rowData[0].registration_date,{ dateStyle: 'long', timeStyle: 'medium' }));
      $('#modal_myimmersions_slot_details #modal_attendance').html(attendanceLabel);
      // rows to hide
      selectedRows = filteredRows.map(id => `#${id}`).join(',');
      $(selectedRows).hide();
      $('#modal_myimmersions_slot_details').modal("show");
    });

    dt_past.on("draw.dt", function (e, dt, type, indexes) {
      if ($(this).find(".dataTables_empty").length == 1) {
        // Dirty hack cause has() is not supported by firefox :(
        var elm = $(this).find(".dataTables_empty").parent('tr')
        elm.css('text-align', 'center');
        elm.css('float', 'none');
        elm.css('border', 'none');
        elm.css('box-shadow', 'none');
        elm.css('border-radius', 'none');
      }
    });

    /* Cancelled immersions */
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    dt_cancelled = $('#cancelled_immersions').DataTable({
      'processing': false,
      'order': [
        [6, "asc"]
      ],
      'buttons': [
      {extend: 'copy', text: '<fa class="fa fa-copy"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'csv', text: '<fa class="fa fa-file"></fa>', className: 'btn btn-info d-none d-md-block'},
      {extend: 'print', text: '<fa class="fa fa-print"></fa>', className: 'btn btn-info d-none d-md-block'},
      ],
      'dom': 'Bfrtp',
      'select': {
        'single': true,
        'style': 'os',
        'selector': 'td:not(:last-child), .btn-more-details'
      },
      'paging': false,
      'serverSide': false,
      'responsive': false,
      'ajax': {
        url: "/api/get_immersions/" + user_id,
        data: function(d) {
            d.immersion_type = 'cancelled'
            return d
        },
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
        {
          orderable: false, className: 'text-center', width: '20px',
          "render": function(data, type, full, meta) {
              slotType = full['type'][0].toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
              if (slotType === 'c') {
                  label = '<i class="fa fa-graduation-cap slot-type-c" data-toggle="tooltip" title="{% trans "Course" %}"></i>';
              } else {
                  label = '<i class="fa fa-calendar slot-type-e" data-toggle="tooltip" title="{% trans "Event" %}"></i>';
              }
              return label;
          }
        },
        {
          "render": function(data, type, row) {
            if (row.establishment === '' || row.establishment === null) {

              if (row.highschool !== null) {
                data = row.highschool;
              } else {
                data = '&nbsp;';
              }
            } else {
              data = row.establishment;
            }
            if(type === "display") {
              return '<label>{% trans 'Establishment' %} :</label><span>' + displayLongString(data, 40, html=true) + '</span>';
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();

            if (slotType === 'c') {
              label = "<label>{% trans "Training" %} :</label>";
              data = row.course.training;
            } else {
              label =  "<label>{% trans "Event type" %} :</label>";
              data = row.event.type
            }
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 30, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            label = "<label>{% trans "Label" %} :</label>";
            if (slotType === 'c') {
              data = row.course.label;
            } else {
              data = row.event.label;
            }
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 40, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            slotType = row.type[0].toLowerCase();
            data = (slotType === 'c') ? row.course.type_full : row.event.type;
            label = "<label>{% trans 'Type' %} :</label>";
            if(type === "display") {
              return label + "<span>" + displayLongString(data, 40, html=true) + "</span>";
            }
            return data;
          }
        },
        {
          "render": function(data, type, row) {
            data = row.datetime;
            label = "<label>{% trans 'Date' %} :</label>";
            if(type === "display" || type === "filter") {
              return label + "<span>" + row.date + "<br>" + row.start_time + " - " + row.end_time +"</span>";
            }
            if (type !== 'sort') {
              return data ? formatDate(data) : "";
            }
            return data
          },
        },
        {
          "render": function (data, type, row) {
            if (row.campus === '' || row.campus === null) {
              if (row.highschool != null || row.highschool != '') {
                label = "<label>{% trans 'Address' %} : </label>";
                data = row.highschool_address ? row.highschool_address : '&nbsp;';
                data += row.highschool_city ? `, ${row.highschool_city}` : '';
              } else {
                return '&nbsp;';
              }
            } else {
              label = "<label>{% trans 'Campus' %} : </label>";
              data = row.campus
              data += row.campus_city ? ` (${row.campus_city[0].toUpperCase() + row.campus_city.substring(1).toLowerCase()})` : '&nbsp;';
            }
            if(type === "display") {
              return label + displayLongString(data, 40, html=true) ;
            }
            if(type === 'filter') {
              return data.normalize("NFD").replace(/\p{Diacritic}/gu, "")
            }
            return data;
          }
        },
        {
          "render": function (data, type, row) {
            data = row.meeting_place
            if(type === "display" && !hide_fields_public_area["meeting_place"].hide_after_registration) {
              return "<label>{% trans 'Meeting place'%} :</label><span>" + displayLongString(data, 20, html=true) + "</span>";
            } else {
              return "<label>{% trans 'Meeting place'%} :</label>";
            }
            return data;
          },
        },
        { "data": "cancellation_date",
          "render": function(data, type, row) {
            if (data != null || data != '') {
              data = formatDate(data,{ dateStyle: 'long', timeStyle: 'short' });
            }
            if (type==='display') {
              return "<label>{% trans 'Cancellation date' %} :</label><span>" + data + "</span>";
            }
            return data;
          },
        },
        { "data": "cancellation_type",
          "render": function(data, type, row) {
            if (type==='display'){
              return "<label>{% trans 'Cancellation type' %} :</label>" + data;
            }
            return data
          }
        },
        {
          className:"align-bottom-results-field",
          render: function (data, type, row) {
            msg = "";
            if(row.can_register) {
                msg += "<button type=\"button\" class=\"badge badge-pill badge-primary\" onclick=\"register("+row.slot_id+")\">{% trans 'Register again' %}</button>";
            }

            if(row.free_seats === 0) {
                msg += "<span class='ml-2 badge badge-pill badge-danger'>{% trans 'Full' %}</span>";
            }
            return "<div class='pull-right'>" + msg + "<button class=\"ml-2 btn badge badge-pill badge-primary btn-more-details\">{% trans 'More details' %}</button></div>"
          }

        },
    ],
    "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
          "className": "all",
        },
      ],
    }).on('select', function (e, dt, type, indexes) {
      let rowData = dt.rows(indexes).data().toArray()
      let speakers_array = "";
      let url = null;
      let buildingFull = null;
      let courseLabelFull = null;
      let slotType = rowData[0].type[0].toLowerCase();
      let etab = [];
      var restrictions = "";
      let displayedRows = $("[id^=row_]");
      let selectedRows = [];
      var filteredRows = ['row_attendancee'];
      let availablesSeatslabel = '<ul class="list-inline">';
      let face_to_face = 0
      let remote = 1
      let outside = 2
      let actions = ""

      if (rowData[0].allow_individual_registrations === true) {
        availablesSeatslabel += "<li class='list-inline-item'><acronym title='{% trans "Individual immersions" %}' >Ind.</acronym>" + (parseInt(rowData[0].n_places)-parseInt(rowData[0].n_registered)) + ' / ' + rowData[0].n_places + '</li>'
      } else {
        filteredRows.push('row_available_seats');
      }
      availablesSeatslabel += '</ul>';

      //Cette partie est déjà faite au dessus. Qu'est ce qui justifie le doublon ?
      $.each(rowData[0].speakers, function(i, item) {
        speakers_array += "<li>" + item + "</li>";
      });


      // display all row_* elements
      $(displayedRows).show();
      $('#modal_register_btn').html('');

      if (is_set(rowData[0].establishment)) {
        etab.push(rowData[0].establishment)
      }
      if (is_set(rowData[0].highschool)) {
        etab.push(rowData[0].highschool)
      }
      if (is_set(rowData[0].structure) && !hide_fields_public_area["structure"].hide_after_registration) {
        etab.push(rowData[0].structure);
      }
      if (slotType === 'c') {
        $('#modal_myimmersions_slot_details #modal_course_label').html(rowData[0].course.label);
        filteredRows.push('row_highschool');
      } else {
        filteredRows.push('row_course_label', 'row_course_type', 'row_highschool');
      }



      if (rowData[0].building_url !== null && rowData[0].building_url !== '') {
        buildingFull = rowData[0].building_label + "&nbsp;<a href=\""+rowData[0].building_url+"\" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"top\"  title=\"{% trans 'Show map url' %}\"><i class=\"fa fas fa-map-marker subdomains-icons\"></i></a>";
      }


      if (rowData[0].course.training_url !== null && rowData[0].course.training_url !== '') {
        courseLabelFull = rowData[0].course.training + "&nbsp;<a href=\""+rowData[0].course.training_url+"\" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"{% trans 'Click here for more informations'%}\"><i class=\"fa fas fa-info-circle subdomains-icons\"></i></a>";
      }
      if (rowData[0].campus === '' || rowData[0].campus === null) {
        filteredRows.push('row_campus');
      }
      if (rowData[0].highschool_address === '' || rowData[0].highschool_address === null) {
        filteredRows.push('row_highschool_address');
      }
      if (rowData[0].building === '' || rowData[0].building === null) {
        filteredRows.push('row_building');
      }
      if (rowData[0].info === '' || rowData[0].info === null) {
        filteredRows.push('row_additional_information');
      }
      if (rowData[0].meeting_place === '' || rowData[0].meeting_place === null) {
        filteredRows.push('row_meeting_place');
      }
      if (rowData[0].place === remote) {
        if (Object.keys(rowData[0]).indexOf('url') && rowData[0].url != null && rowData[0].url != '') {
          url = ' <a href="' + rowData[0].url + '">{% trans "Remote link" %}</a>';
        }
      }
      if (rowData[0].place == remote || rowData[0].place == outside) {
        filteredRows.push('row_city');

        if(is_set(rowData[0].highschool)) {
          filteredRows.push('row_highschool_address');
        }
      }
      if (rowData[0].can_register) {
          actions += "<button type=\"button\" class=\"badge badge-pill badge-primary\" onclick=\"register("+rowData[0].slot_id+")\">{% trans 'Register again' %}</button>";
      }
      $.ajax({
        url: "/api/get_slot_restrictions/" + rowData[0].id,
        type: 'GET',
        success: function (data) {
          if (data['data'] !== undefined && data['data']['restrictions'] !== undefined) {
              restrictions = display_slot_restrictions(null, null, data['data']['restrictions'][0])
              if (restrictions === '<ul class="list-unstyled"></ul>') {
                restrictions = "<p>{% trans "Slot open to all" %}</p>";
              }
              $('#modal_myimmersions_slot_details #modal_restrictions').html("<div>"+restrictions+"</div>")
            }
        }
      })

      $('#modal_myimmersions_slot_details #modal_establishment').html(etab.join(' - ') ?? '');
      $('#modal_myimmersions_slot_details #modal_course_label').html(courseLabelFull ?? rowData[0].course.training);
      $('#modal_myimmersions_slot_details #modal_label').html(rowData[0].label);
      $('#modal_myimmersions_slot_details #modal_type').html(rowData[0].translated_type);
      $('#modal_myimmersions_slot_details #modal_course_type').html(rowData[0].course.type_full);
      $('#modal_myimmersions_slot_details #modal_event_type').html(rowData[0].event.type);
      $('#modal_myimmersions_slot_details #modal_date').html(rowData[0].date + "<br>" + rowData[0].start_time + " - " + rowData[0].end_time);
      $('#modal_myimmersions_slot_details #modal_campus').html(rowData[0].campus)
      $('#modal_myimmersions_slot_details #modal_city').html(rowData[0].campus_city ? rowData[0].campus_city : rowData[0].highschool_city);
      $('#modal_myimmersions_slot_details #modal_highschool_address').html(rowData[0].highschool_address)
      if(!hide_fields_public_area["building"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_building').html(rowData[0].building)
      }
      if(!hide_fields_public_area["meeting_place"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_meeting_place').html(rowData[0].meeting_place);
      }
      if(!hide_fields_public_area["speakers"].hide_after_registration) {
        $('#modal_myimmersions_slot_details #modal_speakers').html(
                '<ul class="list-group">' + speakers_array + '</ul>'
        )
      }
      $('#modal_myimmersions_slot_details #modal_additional_information').html(rowData[0].info);

      if (rowData[0].info && rowData[0].info.length > 300) {
        $('#show_more_info').show();
      } else {
        $('#show_more_info').hide();
      }

      $('#modal_myimmersions_slot_details #modal_available_seats').html(availablesSeatslabel);
      $('#modal_myimmersions_slot_details #modal_registration_date').html(formatDate(rowData[0].registration_date,{ dateStyle: 'long', timeStyle: 'medium' }));
      $('#modal_myimmersions_slot_details #modal_end_registration_date').html(formatDate(rowData[0].registration_limit_date,{ dateStyle: 'long', timeStyle: 'medium' }));
      $('#modal_myimmersions_slot_details #modal_cancellation_date').html(formatDate(rowData[0].cancellation_date,{ dateStyle: 'long', timeStyle: 'medium' }));
      $('#modal_myimmersions_slot_details #modal_cancellation_type').html(rowData[0].cancellation_type);
      $('#modal_myimmersions_slot_details #modal_actions').html(actions ? actions : "");
      // rows to hide
      selectedRows = filteredRows.map(id => `#${id}`).join(',')
      $(selectedRows).hide();
      $('#modal_myimmersions_slot_details').modal("show");
    });
    dt_cancelled.on("draw.dt", function (e, dt, type, indexes) {
        if ($(this).find(".dataTables_empty").length == 1) {
          // Dirty hack cause has() is not supported by firefox :(
          var elm = $(this).find(".dataTables_empty").parent('tr')
          elm.css('text-align', 'center');
          elm.css('float', 'none');
          elm.css('border', 'none');
          elm.css('box-shadow', 'none');
          elm.css('border-radius', 'none');
        }
    });
    $('.modal').on('show.bs.modal', function () {
      if (modal_open) {
        $('#modal_myimmersions_slot_details').modal("hide");
      }
    })
    $('.modal').on('hide.bs.modal', function () {
      if (modal_open) {
        $('#modal_myimmersions_slot_details').modal("show");
      }
    })
    $("body").tooltip({ selector: '[data-toggle=tooltip]', container:'body', html:true});


  });
</script>
{% endblock %}