{% extends 'base.html' %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% information_text_get 'MENTIONS_INSCRIPTION' as mentions %}
{% general_settings_get 'ACTIVATE_VISITORS' as visitors_activated %}

{% block head-javascript %}
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

<div class="main-title inside text-center">
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col">
            {% if profile == "vis" %}
                <h1>{% trans 'Immersion Lycéens - New visitor account' %}</h1>
            {% else %}
                <h1>{% trans 'Immersion Lycéens - New high school student account' %}</h1>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<section class="py-5">
    <div class="container">
      <h3>{% trans 'Please fill this form to create your account' %} :</h3>
      <form method="post">
        {% csrf_token %}

        {% if visitors_activated and profile == "vis" %}
          <input type="hidden" name="registration_type" value="vis">
        {% else %}
          <input type="hidden" name="registration_type" value="lyc">
        {% endif %}

        <div class="form-group row justify-content-center">
            <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Last name' %} :</label>
            <div class="col-sm-9 col-md-6">
                <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}"
                {% if form.last_name.field.required %}required{% endif %} class="form-control{% if form.last_name.errors %} is-invalid{% endif %}"
                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}">
                {% if form.last_name.help_text %}
                <div class="small text-muted">
                {{ form.last_name.help_text }}
                </div>
                {% endif %}
                {% for err in form.last_name.errors %}
                <div class="invalid-feedback">{{ err }}</div>
                {% endfor %}
             </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'First name' %} :</label>
            <div class="col-sm-9 col-md-6">
                <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}"
                {% if form.first_name.field.required %}required{% endif %} class="form-control{% if form.first_name.errors %} is-invalid{% endif %}"
                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}">
                {% if form.first_name.help_text %}
                <div class="small text-muted">
                {{ form.first_name.help_text }}
                </div>
                {% endif %}
                {% for err in form.first_name.errors %}
                <div class="invalid-feedback">{{ err }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Email' %} :</label>
            <div class="col-sm-9 col-md-6">
                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                {% if form.email.field.required %}required{% endif %} class="form-control{% if form.email.errors %} is-invalid{% endif %}"
                value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                {% if form.email.help_text %}
                <div class="small text-muted">
                {{ form.email.help_text }}
                </div>
                {% endif %}
                {% for err in form.email.errors %}
                <div class="invalid-feedback">{{ err }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="{{ form.email2.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Email (confirmation)' %} :</label>
            <div class="col-sm-9 col-md-6">
                <input type="email" id="{{ form.email2.id_for_label }}" name="{{ form.email2.html_name }}"
                {% if form.email2.field.required %}required{% endif %} class="form-control{% if form.email2.errors %} is-invalid{% endif %}"
                value="{% if form.email2.value %}{{ form.email2.value }}{% endif %}">
                {% if form.email2.help_text %}
                <div class="small text-muted">
                {{ form.email2.help_text }}
                </div>
                {% endif %}
                {% for err in form.email2.errors %}
                <div class="invalid-feedback">{{ err }}</div>
                {% endfor %}
            </div>
        </div>

        {% if highschools and profile == 'lyc' %}
        <div class="form-group row justify-content-center">
          <label for="{{ form.record_highschool.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Your high school' %} :</label>
          <div class="col-sm-9 col-md-6">
            <select id="{{ form.record_highschool.id_for_label }}" name="record_highschool" class="form-control">
                <option value="">----------------</option>
              {% for highschool in highschools %}
                <option value='{{ highschool.id }}' {% if highschool.id == form.highschool.id %}selected="selected"{% endif %}>
                    {{ highschool }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}

        {% if form.password1 %}
          <div id="id_div_password" style="display:none">
            <div class="form-group row justify-content-center">
                <label for="{{ form.password1.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Password' %} :</label>
                <div class="col-sm-9 col-md-6">
                    <div class="input-group">
                        <input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}"
                        {% if form.password1.field.required %}required{% endif %} class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
                        value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="view_button1" type="button">
                                <i class="fa fas fa-eye" ></i>
                            </button>
                        </div>
                        {% for err in form.password2.errors %}
                        <div class="invalid-feedback">{{ err }}</div>
                        {% endfor %}
                    </div>
                    {% if form.password1.help_text %}
                    <div class="small text-muted">
                    {{ form.password1.help_text }}
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endif %}
            {% if form.password2 %}
            <div class="form-group row justify-content-center">
                <label for="{{ form.password2.id_for_label }}" class="col-sm-2 col-form-label">{% trans 'Password (confirmation)' %} :</label>
                <div class="col-sm-9 col-md-6">
                    <div class="input-group">
                        <input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}"
                        {% if form.password2.field.required %}required{% endif %} class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
                        value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" id="view_button2" type="button">
                                <i class="fa fas fa-eye" ></i>
                            </button>
                        </div>
                        {% for err in form.password2.errors %}
                        <div class="invalid-feedback">{{ err }}</div>
                        {% endfor %}
                    </div>
                    {% if form.password2.help_text %}
                    <div class="small text-muted">
                    {{ form.password2.help_text }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="form-group row justify-content-center">
          <div class="col-sm-10 col-md-8 alert alert-info">
            {{ mentions | safe }}
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="col-sm-9 col-md-6 offset-sm-3 offset-lg-2">
            <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Submit' %}">
            <a href="{% url 'immersion:login' %}" class="btn btn-outline-secondary">{% trans 'Back' %}</a>
          </div>
        </div>
      </form>
    </div>
</section>
<script>

function decodeHTMLEntities(text) {
  return $("<textarea/>").html(text).text();
}

function toggle_password_fields() {
    let highschool_id = $("#id_record_highschool").val()

    if(is_set(highschool_id) || profile == "lyc") {
      let uses_federation = highschools_uses_student_federation[highschool_id].uses_student_federation

      if (uses_federation === false) {
        $("#id_div_password").show()
        $("#id_password1").attr('required', 'required');
        $("#id_password2").attr('required', 'required');
      } else {
        $("#id_div_password").hide()
        $("#id_password1").removeAttr('required');
        $("#id_password2").removeAttr('required');
      }
    }
    else {
      $("#id_div_password").show()
      $("#id_password1").attr('required', 'required');
      $("#id_password2").attr('required', 'required');
    }
}


var highschools_uses_student_federation = is_set('{{ highschools_values }}') ? JSON.parse(decodeHTMLEntities('{{ highschools_values }}')) : Array()
var profile = "{{ profile }}"

$(document).ready(function() {
    $("#view_button1").focusout(function(){
        $("#{{ form.password1.id_for_label }}").attr("type", "password");

    })
    $("#view_button2").focusout(function(){
        $("#{{ form.password2.id_for_label }}").attr("type", "password");

    })
    $("#view_button1").bind("mousedown touchstart keydown", function() {
            $("#{{ form.password1.id_for_label }}").attr("type", "text");
        }), $("#view_button1").bind("mouseup touchend keyup", function() {
            $("#{{ form.password1.id_for_label }}").attr("type", "password");
        }), $("#view_button2").bind("mousedown touchstart keydown", function() {
            $("#{{ form.password2.id_for_label }}").attr("type", "text");
        }), $("#view_button2").bind("mouseup touchend keyup", function() {
            $("#{{ form.password2.id_for_label }}").attr("type", "password");
        })
    });

    $("#id_record_highschool").change( function() {
      toggle_password_fields()
    })

    toggle_password_fields()
</script>
{% endblock %}
