{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-' %}{{ LANGUAGE_CODE|fix_lang_code }}.js"></script>
{% endblock %}
{% block title %}{% trans "Student record" %}{% endblock %}


{% block section_title %}
<h2 class="ml-2">{% trans "Student record" %}</h2>
{% endblock %}

{% block content %}

{% authorized_groups request.user %}
{% include '../modals/modal_nuke.html' %}
<div class="container-fluid" style="padding-top:20px; width:70%;">
  <form class="" role="form" action="/immersion/student_record{% if record.id %}/{{ record.id }}{% endif %}" method="POST">
        {% csrf_token %}
        {{ record_form.student }}
        {{ record_form.id }}
        {{ student_form.id }}
    <div class="card">
      <div class="card-header text-white bg-secondary">
        {% trans "Please fill this form to complete the personal record" %}
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="id_lastname" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Lastname' %} :
          </label>
          <div class="col-sm-3">{{ student_form.last_name }}</div>
          <div class="col-sm-6">{{ student_form.last_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Firstname' %} :
          </label>
          <div class="col-sm-3">{{ student_form.first_name }}</div>
          <div class="col-sm-6">{{ student_form.first_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_email" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Email' %} :
          </label>
          <div class="col-sm-2">{{ student_form.email }} </div>
          <div class="col-sm-3 warning">{{ student_form.email.help_text }}</div>
          <div class="col-sm-3">{{ student_form.email.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_birth_date" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Birth date' %} :
          </label>
          <div class="col-sm-3">{{ record_form.birth_date }}</div>
          <div class="col-sm-6">{{ record_form.birth_date.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_phone" class="col-sm-3 col-form-label">{% trans 'Phone number' %} :</label>
          <div class="col-sm-3">{{ record_form.phone }}</div>
          <div class="col-sm-6">{{ record_form.phone.errors }}</div>
        </div>
      </div>
      <div class="card-header text-white bg-secondary">
        {% trans "Level of studies" %}
      </div>
      <div class="card-body">
        <div class="form-group row align-items-center">
          <label for="id_home_institution" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Home institution' %} :
          </label>
          <div class="col-sm-3">{{ record_form.uai_code }}</div>
          <div class="col-sm-3">
            {% if record.institution %}
              {{ record.institution }}
            {% else %}
              {% trans 'No match' %}
            {% endif %}
          </div>
          <div class="col-sm-3">{{ record_form.home_institution.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_level" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Level' %} :
          </label>
          <div class="col-sm-3">{{ record_form.level }}</div>
          <div class="col-sm-6">{{ record_form.level.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_origin_bachelor_type" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk" focusable="false"></i>{% trans 'Origin bachelor type' %} :
          </label>
          <div class="col-sm-3">{{ record_form.origin_bachelor_type }}</div>
          <div class="col-sm-6">{{ record_form.origin_bachelor_type.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_current_diploma" class="col-sm-3 col-form-label">{% trans 'Current diploma' %} :</label>
          <div class="col-sm-3">{{ record_form.current_diploma }}</div>
          <div class="col-sm-6">{{ record_form.current_diploma.errors }}</div>
        </div>
      </div>
      <div class="card-header text-white bg-secondary">
        {% trans "Immersions periods" %}
      </div>
      <div class="card-body">
        {% if quota_forms|length and not request.user.is_student %}
          {% for quota_form in quota_forms %}
            {{ quota_form.id }}
            {{ quota_form.record }}
            {{ quota_form.period }}
            <div class="form-group row align-items-center">
              <label class="col-sm-9 col-form-label">
                {{ quota_form.period_label }} - {% trans 'allowed immersions' %} :
              </label>
              <div class="col-sm-1 col-form-label">
                {{ quota_form.allowed_immersions }}
              </div>
            </div>
          {% endfor %}
        {% else %}
          {% for quota in record.quota.all %}
            <div class="form-group row align-items-center">
              <label class="col-sm-9 col-form-label">
                {{ quota.period }} - {% trans 'immersions quota' %} :
              </label>
              <div class="col-sm-1 col-form-label">
                {{ immersions_count|keyvalue:quota.period.pk }} / {{ quota.allowed_immersions }}
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% comment %}
          Display future periods as readonly (no form to update the student custom quota)
        {% endcomment %}

        {% for period in future_periods %}
          <div class="form-group row align-items-center">
            <label class="col-sm-9 col-form-label">
              {{ period }} - {% trans 'allowed immersions' %} :
            </label>
            <div class="col-sm-1 col-form-label">{{ period.allowed_immersions }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row mt-4">
      <input type="submit" class="btn btn-secondary btn-sm ml-4" name="submit" value="{% trans 'Submit' %}">
      <a href="{% if back_url %}{{ back_url }}{% else %}{% url 'home' %}{% endif %}" class="btn btn-secondary btn-sm ml-4" style='margin-left:40px;'>{% trans 'Back' %}</a>
      {% if authorized_groups|in_groups:"REF-ETAB-MAITRE,REF-TEC" %}
        <input type="button" class="btn btn-secondary btn-sm ml-4" name="nuke" onclick="open_modal()" value="{% trans 'Delete this account' %}">
      {% endif %}
    </div>
  </form>
</div>

<script>
  function open_modal() {
    $('#modal_nuke_account').modal('show');
  }

  $(document).ready(function() {
    $(function () {
      $(".datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1990:2010",
        defaultDate: "01/01/2000",
      });
    });
  });
</script>
{% endblock %}
