{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% comment "" %}TODO: add here other languages for jquery-ui !!{% endcomment %}
{% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}
{% endblock %}
{% block title %}{% trans "Visitor record" %}{% endblock %}


{% block section_title %}
<h2 class="ml-2">{% trans "Visitor record" %}</h2>
{% endblock %}

{% block content %}
{% authorized_groups request.user %}
{% general_settings_get 'ACTIVATE_DISABILITY' as activate_disability %}

{% include '../modals/modal_nuke.html' %}
<div class="container-fluid" style="padding-top:20px; width:70%;">
  <form class="" role="form" action="/immersion/visitor_record{% if form.instance and can_change %}/{{ form.instance.id }}{% endif %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="id_visitor" type="hidden" name="visitor" value="{{ visitor.id }}"/>
    {{ form.id }}
    {{ user_form.id }}

    <div class="card">
      <div class="card-header text-white bg-secondary">
        {% trans "Please fill this form to complete the personal record" %}
      </div>
      <div class="card-body">

        <div class="form-group row">
          <label for="id_last_name" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Lastname' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ user_form.last_name }}</div>
          <div class="col-sm-3 col-md-2">{{ user_form.last_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Firstname' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ user_form.first_name }}</div>
          <div class="col-sm-3 col-md-2">{{ user_form.first_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_email" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Email' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ user_form.email }} </div>
          <div class="mt-4 ml-4 warning">{{ user_form.email.help_text }}</div>
          <div class="col-sm-3 col-md-1">{{ user_form.email.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_birth_date" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Birth date' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ form.birth_date }}</div>
          <div class="col-sm-3 col-md-2">{{ form.birth_date.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_phone" class="col-sm-3 col-md-4 col-form-label">{% trans 'Phone number' %} :</label>
          <div class="col-sm-6 col-md-6">{{ form.phone }}</div>
          <div class="col-sm-3 col-md-2">{{ form.phone.errors }}</div>
        </div>
        {% if activate_disability.activate %}
        <div class="form-group row">
          <label for="id_disability" class="col-sm-3 col-md-4 col-form-label">
          {{ activate_disability.form_sentence }} :</label>
          <div class="col-sm-6 col-md-6">
            {{ form.disability }}
          </div>
          <div class="col-sm-3 col-md-2">{{ form.disability.errors }}</div>
        </div>
        {% endif %}
      </div>
      <div class="card-header text-white bg-secondary">
        {% trans "Motivations" %}
      </div>
      <div class="card-body">
        <div class="form-group row align-center">
          <label for="id_motivation" class="col-sm-3 col-md-4 col-form-label">
            {{ form.motivation.label }}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ form.motivation }}</div>
          <div class="col-sm-3 col-md-2">{{ form.motivation.errors }}</div>
        </div>
      </div>
      {% if document_forms|length %}
        <div class="card-header text-white bg-secondary">
          {% trans "Attestations" %}
          <br>{{ document_forms.0.document.help_text }}
        </div>
        <div class="card-body">
          {% for document_form in document_forms %}
            {{ document_form.non_field_errors }}
            {{ document_form.id }}
            {{ document_form.record }}
            {{ document_form.attestation }}
            <div class="form-group row align-items-center">
              <label class="col-sm-3 col-md-4 col-form-label">
                {{ document_form.attestation_label }} {% if document_form.instance.mandatory %}*{% endif %} :
              </label>
              <div class="col-sm-3 col-md-4">{{ document_form.document }}</div>
              <div class="col-sm-4 col-md-4">{{ document_form.document.errors }}</div>
            </div>
            {% if document_form.instance.requires_validity_date %}
              {% if document_form.validity_required or document_form.validity_date.value %}
                <div class="form-group row align-items-center">
                  <label class="col-sm-3 col-md-4 col-form-label">{% trans 'Validity date' %}</label>
                  {% if document_form.validity_required %}
                    <div class="col-sm-3 col-md-4">{{ document_form.validity_date }}</div>
                    <div class="col-sm-4 col-md-4">{{ document_form.validity_date.errors }}</div>
                  {% else %}
                    <div class="col-sm-3 col-md-4">
                      {{ document_form.validity_date }}
                      {{ document_form.validity_date.value }}
                    </div>
                    <div class="col-sm-4 col-md-4 warning">{{ document_form.renew_document }}</div>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}
            {% if document_form.attestation_template %}
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-md-4 col-form-label">{% trans 'Template' %}</label>
                <div class="col-sm-3 col-md-4">
                  <a target='_blank' href="{{ document_form.attestation_template.url }}">{% trans 'Get document template' %}</a>
                </div>
              </div>
            {% endif %}
            {% if archives|keyvalue:document_form.instance.attestation.id and not request.user.is_visitor %}
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-md-4 col-form-label">{% trans 'Archives' %}</label>
                <div class="col-sm-9 col-md-8">
                  <ul class="filelinks">
                  {% for archive in archives|keyvalue:document_form.instance.attestation.id %}
                    <li class="sun sun-theme-light sun-full">
                      <i class="fa fa-arrow-right fa-fw text-primary d-none d-md-inline-block collapsed"></i>
                      <a target='_blank' href="{{ archive.document.url }}" class="sun-row">
                        {{ archive.document }} {% if archive.validity_date %}({{ archive.validity_date }}){% endif %}
                      </a>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
            {% if not forloop.last %}
              <hr class="mt-2 mb-3"/>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if future_periods or record.quota.count or quota_forms|length and can_change %}
        <div class="card-header text-white bg-secondary">
          {% trans "Immersions periods" %}
        </div>
        <div class="card-body">
          {% if quota_forms|length and can_change %}
            {% for quota_form in quota_forms %}
              {{ quota_form.non_field_errors }}
              {{ quota_form.id }}
              {{ quota_form.record }}
              {{ quota_form.period }}
              <div class="form-group row align-items-center">
                <div class="col-sm-5">
                  <label class="col-form-label">
                    {{ quota_form.period_label }}
                  </label>
                </div>
                <div class="col-sm-2 col-form-label">
                  {% trans 'allowed immersions' %} :
                </div>
                <div class="col-sm-1 col-form-label">
                  {{ quota_form.allowed_immersions }}
                </div>
              </div>
            {% endfor %}
          {% else %}
            {% for quota in record.quota.all|dictsort:"period.immersion_start_date" %}
              <div class="form-group row align-items-center">
                <div class="col-sm-5">
                  <label class="col-form-label">
                    {{ quota.period }}
                  </label>
                </div>
                <div class="col-sm-2 col-form-label">
                  {% trans 'allowed immersions' %} :
                </div>
                <div class="col-sm-1 col-form-label">
                  {{ immersions_count|keyvalue:quota.period.pk }} / {{ quota.allowed_immersions }}
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% comment %}
            Display future periods as readonly (no form to update the student custom quota)
          {% endcomment %}

          {% for period in future_periods|dictsort:"immersion_start_date" %}
            <div class="form-group row align-items-center">
              <div class="col-sm-5">
                <label class="col-form-label">
                  {{ period }}
                </label>
              </div>
              <div class="col-sm-2 col-form-label">
                {% trans 'allowed immersions' %} :
              </div>
              <div class="col-sm-1 col-form-label">{{ period.allowed_immersions }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="card-header text-white bg-secondary">
        {% trans "Status" %}
      </div>
      <div class="card-body">
        {% if record.creation_date %}
          <div class="form-group row align-items-center">
            <label class="col-sm-4 col-form-label">
              {% trans 'Record creation date' %} :
            </label>
            <div class="col-sm-4 col-form-label">
              {{ record.creation_date }}
            </div>
          </div>
        {% endif %}
        <div class="form-group row align-items-center">
          <label class="col-sm-4 col-form-label">
            {% if record %}{% trans "Validation" %} :{% else %}{% trans "Visitor record" %} :{% endif %}
          </label>
          <div class="form-group col-sm-4 col-form-label">
            <h6>
              {% if record.validation == 1 %}
                <span class="badge badge-pill badge-warning" id="record_status">
                {% trans "Waiting validation" %}
              {% elif record.validation == 2 %}
                <span class="badge badge-pill badge-success" id="record_status">
                {% trans "Validated" %}
              {% elif record.validation == 3 %}
                <span class="badge badge-pill badge-danger" id="record_status">
                {% trans "Rejected" %}
              {% elif record.validation == 4 %}
                <span class="badge badge-pill badge-warning" id="recordStatus">
                {% trans "Waiting revalidation" %}
              {% else %}
                <span class="badge badge-pill badge-light" id="record_status">
                {% trans "In the process of being created" %}
              {% endif %}
              </span>
            </h6>
          </div>
        </div>
        {% if record.validation_date %}
        <div class="form-group row align-items-center">
          <label class="col-sm-4 col-form-label">
            {% trans 'Record validation date' %} :
          </label>
          <div class="col-sm-8 col-form-label">
            {{ record.validation_date }}
          </div>
        </div>
       {% endif %}
      </div>
    </div>
    <div class="row mt-4">
      <input type="submit" class="btn btn-secondary btn-sm ml-4" name="submit" value="{% trans 'Submit' %}">
      <a href="{% if back_url %}{{ back_url }}{% else %}{% url 'home' %}{% endif %}" class="btn btn-secondary btn-sm ml-4" style='margin-left:40px;'>{% trans 'Back' %}</a>
      {% if authorized_groups|in_groups:"REF-ETAB-MAITRE,REF-TEC" %}
        <input type="button" class="btn btn-primary btn-sm ml-4" name="nuke" onclick="open_modal()" value="{% trans 'Delete this account' %}">
      {% endif %}
    </div>
  </form>
</div>

<script>

var age = 0;

function open_modal() {
  $('#modal_nuke_account').modal('show');
}


// Move this somewhere else
function user_age() {
  let birthdate = $('#id_birth_date').datepicker('getDate')

  var today = new Date();
  var age = today.getFullYear() - birthdate.getFullYear();
  var m = today.getMonth() - birthdate.getMonth();
  if (m < 0 || (m === 0 && today.getDate() < birthdate.getDate())) {
    age--;
  }
  return age;
}

$(function () {
  $("[id$=validity_date]").datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: "2023:2040",
  });

  let default_year =  new Date().getFullYear() - 20;

  $("#id_birth_date").datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: "1970:2010",
    defaultDate: `01/01/${default_year}`,
  });
});

// special case when the file is not mandatory but it still requires a validity date if provided
$('[id$=-document]').change(function() {
  let prefix_id = this.id.split("-")[0]
  let validity_date_id = `${prefix_id}-validity_date`
  let validity_required = $(`[id=${validity_date_id}]`).data("validity_required") === true

  if(validity_required) {
    $(`[id=${validity_date_id}]`).prop('required', this.files.length !== 0)
  }
})


</script>
{% endblock %}
