{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.min.css' %}">
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-' %}{{ LANGUAGE_CODE|fix_lang_code }}.js"></script>
{% endblock %}
{% block title %}{% trans "Visitor record" %}{% endblock %}


{% block section_title %}
<h2 class="ml-2">{% trans "Visitor record" %}</h2>
{% endblock %}

{% block content %}
{% authorized_groups request.user %}
{% include '../modals/modal_nuke.html' %}
<div class="container-fluid" style="padding-top:20px; width:70%;">

  <form class="" role="form" action="/immersion/visitor_record{% if form.instance and can_change %}/{{ form.instance.id }}{% endif %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="id_visitor" type="hidden" name="visitor" value="{{ visitor.id }}"/>
    {{ form.id }}
    {{ user_form.id }}

    <div class="card">
      <div class="card-header text-white bg-secondary">
        {% trans "Please fill this form to complete the personal record" %}
      </div>
      <div class="card-body">

        <div class="form-group row">
          <label for="id_lastname" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Lastname' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ user_form.last_name }}</div>
          <div class="col-sm-3 col-md-2">{{ user_form.last_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_first_name" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Firstname' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ user_form.first_name }}</div>
          <div class="col-sm-3 col-md-2">{{ user_form.first_name.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_email" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Email' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ user_form.email }} </div>
          <div class="mt-4 ml-4 warning">{{ user_form.email.help_text }}</div>
          <div class="col-sm-3 col-md-1">{{ user_form.email.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_birth_date" class="col-sm-3 col-md-4 col-form-label">
            {% trans 'Birth date' %}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ form.birth_date }}</div>
          <div class="col-sm-3 col-md-2">{{ form.birth_date.errors }}</div>
        </div>
        <div class="form-group row">
          <label for="id_phone" class="col-sm-3 col-md-4 col-form-label">{% trans 'Phone number' %} :</label>
          <div class="col-sm-6 col-md-6">{{ form.phone }}</div>
          <div class="col-sm-3 col-md-2">{{ form.phone.errors }}</div>
        </div>
      </div>
      <div class="card-header text-white bg-secondary">
        {% trans "supporting documents" %}
      </div>
      <div class="card-body">
        <div class="form-group row align-center">
          <label for="id_motivation" class="col-sm-3 col-md-4 col-form-label">
            {{ form.motivation.label }}* :
          </label>
          <div class="col-sm-6 col-md-6">{{ form.motivation }}</div>
          <div class="col-sm-3 col-md-2">{{ form.motivation.errors }}</div>
        </div>
      </div>
      {% if document_forms|length %}
        <div class="card-header text-white bg-secondary">
          {% trans "Attestations" %}
        </div>
        <div class="card-body">
          {% for document_form in document_forms %}
            {{ document_form.non_field_errors }}
            {{ document_form.id }}
            {{ document_form.record }}
            {{ document_form.attestation }}
            <div class="form-group row align-items-center">
              <label class="col-sm-3 col-md-4 col-form-label">
                {{ document_form.attestation_label }} :
              </label>
              <div class="col-sm-3 col-md-4">{{ document_form.document }}</div>
              <div class="col-sm-4 col-md-4">{{ document_form.document.errors }}</div>
            </div>
            {% if document_form.instance.requires_validity_date and document_form.validity_required %}
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-md-4 col-form-label">{% trans 'Validity date' %}</label>
                <div class="col-sm-3 col-md-4">{{ document_form.validity_date }}</div>
                <div class="col-sm-4 col-md-4">{{ document_form.validity_date.errors }}</div>
              </div>
            {% endif %}
            {% if document_form.attestation_template %}
              <div class="form-group row align-items-center">
                <label class="col-sm-3 col-md-4 col-form-label">{% trans 'Template' %}</label>
                <div class="col-sm-3 col-md-4">
                  <a target='_blank' href="{{ document_form.attestation_template }}">{% trans 'Get document template' %}</a>
                </div>
              </div>
            {% endif %}
            {% if not forloop.last %}
              <hr class="mt-2 mb-3"/>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if future_periods or quota_forms|length and can_change %}
          <div class="card-header text-white bg-secondary">
            {% trans "Immersions periods" %}
          </div>
          <div class="card-body">
            {% if quota_forms|length and can_change %}
              {% for quota_form in quota_forms %}
                {{ quota_form.non_field_errors }}
                {{ quota_form.id }}
                {{ quota_form.record }}
                {{ quota_form.period }}
                <div class="form-group row align-items-center">
                  <label class="col-sm-9 col-form-label">
                    {{ quota_form.period_label }} - {% trans 'allowed immersions' %} :
                  </label>
                  <div class="col-sm-1 col-form-label">
                    {{ quota_form.allowed_immersions }}
                  </div>
                </div>
              {% endfor %}
            {% else %}
              {% for quota in record.quota.all %}
                <div class="form-group row align-items-center">
                  <label class="col-sm-9 col-form-label">
                    {{ quota.period }} - {% trans 'immersions quota' %} :
                  </label>
                  <div class="col-sm-1 col-form-label">
                    {{ immersions_count|keyvalue:quota.period.pk }} / {{ quota.allowed_immersions }}
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {% comment %}
              Display future periods as readonly (no form to update the student custom quota)
            {% endcomment %}

            {% for period in future_periods %}
              <div class="form-group row align-items-center">
                <label class="col-sm-9 col-form-label">
                  {{ period }} - {% trans 'allowed immersions' %} :
                </label>
                <div class="col-sm-1 col-form-label">{{ period.allowed_immersions }}</div>
              </div>
            {% endfor %}
          </div>
      {% endif %}
      <div class="card-header text-white bg-secondary">
        {% trans "Status" %}
      </div>
      <div class="card-body">
        {% if record.creation_date %}
          <div class="form-group row align-items-center">
            <label class="col-sm-2 col-form-label">
              {% trans 'Record creation date' %} :
            </label>
            <div class="col-sm-4 col-form-label">
              {{ record.creation_date }}
            </div>
          </div>
        {% endif %}
        <div class="form-group row align-items-center">
          <label for="class_name" class="col-sm-2 col-form-label">
            {% if record %}{% trans "Validation" %} :{% else %}{% trans "Visitor record" %} :{% endif %}
          </label>
          <div class="form-group col-sm-4 col-form-label">
            <h6>
              {% if record.validation == 1 %}
                <span class="badge badge-pill badge-warning" id="recordStatus">
                {% trans "Waiting validation" %}
              {% elif record.validation == 2 %}
                <span class="badge badge-pill badge-success" id="recordStatus">
                {% trans "Validated" %}
              {% elif record.validation == 3 %}
                <span class="badge badge-pill badge-danger" id="recordStatus">
                {% trans "Rejected" %}
              {% else %}
                <span class="badge badge-pill badge-light" id="recordStatus">
                {% trans "In the process of being created" %}
              {% endif %}
              </span>
            </h6>
          </div>
        </div>
        {% if record.validation_date %}
        <div class="form-group row align-items-center">
          <label class="col-sm-2 col-form-label">
            {% trans 'Record validation date' %} :
          </label>
          <div class="col-sm-8 col-form-label">
            {{ record.validation_date }}
          </div>
        </div>
       {% endif %}
      </div>
    </div>
    <div class="row mt-4">
      <input type="submit" class="btn btn-secondary btn-sm ml-4" name="submit" value="{% trans 'Submit' %}">
      <a href="{% if back_url %}{{ back_url }}{% else %}{% url 'home' %}{% endif %}" class="btn btn-secondary btn-sm ml-4" style='margin-left:40px;'>{% trans 'Back' %}</a>
      {% if authorized_groups|in_groups:"REF-ETAB-MAITRE,REF-TEC" %}
        <input type="button" class="btn btn-primary btn-sm ml-4" name="nuke" onclick="open_modal()" value="{% trans 'Delete this account' %}">
      {% endif %}
    </div>
  </form>
</div>

<script>

var age = 0;

function open_modal() {
  $('#modal_nuke_account').modal('show');
}

// Move this somewhere else
function user_age() {
    let birthdate = $('#id_birth_date').datepicker('getDate')

    var today = new Date();
    var age = today.getFullYear() - birthdate.getFullYear();
    var m = today.getMonth() - birthdate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthdate.getDate())) {
        age--;
    }
    return age;
}

$(function () {
  $("[id$=validity_date]").datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: "2023:2040",
  });

  $("#id_birth_date").datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: "1970:2010",
    defaultDate: "01/01/2003",
  });
});

</script>
{% endblock %}
