{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top: 20px; width: 70%;">
  <div id="date-dialog-form" style='z-index:3000;' title='{% trans "Confirm slot creation" %}'>
    <span>
      {% trans 'This date is inside a vacation or a holiday. Are you sure that you want a slot with this date ?' %}
    </span>
  </div>

  <div id="course-dialog-form" style='z-index:3000;' title='{% trans "Confirm course" %}'>
    <span>
      {% trans 'This course is unpublished. By creating this slot the associated course will be published. Do you want to continue?' %}
    </span>
  </div>

  <div id="cancel-dialog-form" style='z-index:3000;' title='{% trans "Cancel" %}'>
    <span>
      {% if slot %}
        {% if slot.id %}
          {% trans 'Do you really want to cancel this modification?' %}
        {% else %}
          {% trans 'Do you really want to cancel this duplication?' %}
        {% endif %}
      {% else %}
        {% trans 'Do you really want to cancel this creation?' %}
      {% endif %}
    </span>
  </div>

    <div class="card">
        <div class="card-header text-white bg-secondary">
            {% if slot %}
                {% if slot.id %}
                    {% trans 'modify slot' %}
                {% else %}
                    {% trans 'duplicate slot' %}
                {% endif %}
            {% else %}
                {% trans 'Add a new slot' %}
            {% endif %}
        </div>
        <div class="card-body">
            <form method="POST" class="form-group" role="form" id="add_slot">
                {% csrf_token %}
                {{ slot_form.id }}
                <div class="form-group row">
                    <label for="component" class="col-form-label col-sm-3">{% trans 'Component' %}</label>
                    <div class="col-sm-6">
                        <select name="component" id="component" class="form-control" required>
                            {% if components|length > 1 %}
                                <option value="" selected>{% trans 'Choose a value' %}</option>
                                {% for component in components %}
                                    <option value="{{ component.id }}">{{ component.code }}: {{ component.label }}</option>
                                {% endfor %}
                            {% else %}
                                {% for component in components %}
                                    <option selected value="{{ component.id }}">{{ component.code }}: {{ component.label }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="training" class="col-form-label col-sm-3">{% trans 'Training' %}</label>
                    <div class="col-sm-6">
                        <select name="training" id="training" class="form-control" required>
                            <option value="" selected>{% trans 'Choose a value' %}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="course" class="col-form-label col-sm-3">{% trans 'Course' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.course }}
                    </div>
                    {% if slot_form.course.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.course.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="course_type" class="col-form-label col-sm-3">{% trans 'Course type' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.course_type }}
                    </div>
                    {% if slot_form.course_type.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.course_type.errors }}
                    </div>
                    {% endif %}

                </div>

                <div class="form-group row">
                    <label for="campus" class="col-form-label col-sm-3">{% trans 'Campus' %}</label>
                    <div class="col-sm-6">

                        {% if slot %}
                            <select name="campus" id="id_campus" class="form-control">
                                <option value="" selected>--------</option>
                                {% for c in campus %}
                                    <option value="{{ c.id }}">{{ c.label }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            {{ slot_form.campus }}
                        {% endif %}
                    </div>
                    {% if slot_form.campus.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.campus.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group row">
                    <label for="building" class="col-form-label col-sm-3">{% trans 'Building' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.building }}
                    </div>
                    {% if slot_form.building.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.building.errors }}
                    </div>
                    {% endif %}

                </div>
                <div class="form-group row">
                    <label for="room" class="col-form-label col-sm-3">{% trans 'Room' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.room }}
                    </div>
                    {% if slot_form.room.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.room.errors }}
                    </div>
                    {% endif %}

                </div>


                <div class="form-group row">
                    <label for="date" class="col-form-label col-sm-3">{% trans 'Date' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.date }}
                    </div>
                    {% if slot_form.date.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.date.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="start_time" class="col-form-label col-sm-3">{% trans 'Start time' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.start_time }}
                    </div>
                    {% if slot_form.start_time.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.start_time.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group row">
                    <label for="end_time" class="col-form-label col-sm-3">{% trans 'End time' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.end_time }}
                    </div>
                    {% if slot_form.end_time.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.end_time.errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label class="col-sm-3">{% trans 'Teachers' %}</label>
                    <div class="form-group col-sm-6 row">
                        <div class="form-check" id="id_teachers">
                            {% if slot %}
                                {% for t in slot.course.teachers.all %}
                                <div class="custom-control custom-checkbox">
                                    {% if t.id in teachers_idx %}
                                        <input type="checkbox" value="{{ t.id }}" name="teacher_{{ t.id }}" checked>
                                    {% else %}
                                        <input type="checkbox" value="{{ t.id }}" name="teacher_{{ t.id }}">
                                    {% endif %}
                                    <label for="teacher_{{ t.id }}" class="">{{ t.first_name }} {{ t.last_name|upper }}</label>
                                </div>
                                {% endfor %}
                            {% elif course %}
                                {% for t in course.teachers.all %}
                                <div class="custom-control custom-checkbox">
                                    {% if t.id in teachers_idx %}
                                        <input type="checkbox" value="{{ t.id }}" name="teacher_{{ t.id }}" checked>
                                    {% else %}
                                        <input type="checkbox" value="{{ t.id }}" name="teacher_{{ t.id }}">
                                    {% endif %}
                                    <label for="teacher_{{ t.id }}" class="">{{ t.first_name }} {{ t.last_name|upper }}</label>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                    {% if slot_form.teachers.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.teachers.errors }}
                    </div>
                    {% elif teacher_error %}
                        <div class="alert alert-danger">
                        {% if teacher_error %}
                        <ul>
                            <li>{% trans "Teachers" %}
                                <ul><li>{% trans "You have to select one or more teachers" %}</li></ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
                {% endif %}

                </div>

                <div class="form-group row">
                    <label for="n_places" class="col-form-label col-sm-3">{% trans 'Number of places' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.n_places }}
                    </div>
                    {% if slot_form.n_places.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.n_places.errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="additional_information" class="col-form-label col-sm-3">{% trans 'Additional information' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.additional_information }}
                    </div>
                    {% if slot_form.additional_information.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.additional_information.errors }}
                    </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="published" class="col-form-label col-sm-3">{% trans 'Published' %}</label>
                    <div class="col-sm-1">
                        {{ slot_form.published }}
                    </div>
                    {% if slot_form.published.errors %}
                    <div class="col-sm-3 alert alert-danger">
                      {{ slot_form.published.errors }}
                    </div>
                    {% endif %}
                </div>
                <input type="hidden" name="modify">
                {% if slot and slot.id %}
                    <div class="form-group row">
                        <label for="notify_student" class="col-form-label col-sm-3">{% trans "Notify registrants of these changes?" %}</label>
                        <div class="col-sm-1">
                            <input type="checkbox" name="notify_student" checked>
                        </div>
                    </div>
                {% endif %}
                <br>
                {% include 'slots/add_slot__controls.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% comment "" %}
TODO: add here other languages for jquery-ui !!
{% endcomment %}
{% if LANGUAGE_CODE == 'fr-FR' %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-fr-FR.js' %}"></script>
{% endif %}


<script>
var course_first = true;
var building_first = true;
var dateDialog;
var courseDialog;
var cancelDialog;

$(document).ready(function(){

    function initFeedback(obj) {
      $(document).on("showFeedback", function(event, ...messages) {
        var $target = $(event.target).empty();
        messages.forEach(function(element) {
          $target.append(
            $("<div/>", {
              "class": "messages alert alert-dismissible alert-" + element[1],
              "text": element[0]
            }).append(
              $("<a>", {
                "href": "#",
                "class": "close",
                "data-dismiss": "alert",
                "aria-label": "close",
                "text": "×"
              })
            )
          )
        });
      });
    }
    initFeedback();
    // reset feedback
    setTimeout(function(){$('#feedback').html('')}, {%  settings_get 'MESSAGES_TIMEOUT' %});

    dateDialog = $("#date-dialog-form").dialog({
      autoOpen: false,
      closeOnEscape: false,
      open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
      closeText: "hide",
      width: 'auto',
      modal: true,

      buttons: [
        {
          text: "{% trans 'Yes' %}",
          "class": 'dialog-button',
          click: function () {
            dateDialog.dialog("close");
          },
        },
        {
          text: "{% trans 'No' %}",
          "class": 'dialog-button',
          click: function () {
            $('#id_date').val('');
            dateDialog.dialog("close");
          },
        }
      ],
    });

    courseDialog = $("#course-dialog-form").dialog({
      autoOpen: false,
      closeOnEscape: false,
      open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
      closeText: "hide",
      width: 'auto',
      modal: true,

      buttons: [
        {
          text: "{% trans 'Yes' %}",
          "class": 'dialog-button',
          click: function () {
            courseDialog.dialog("close");
          },
        },
        {
          text: "{% trans 'No' %}",
          "class": 'dialog-button',
          click: function () {
            $('#id_course').val('');
            courseDialog.dialog("close");
          },
        }
      ],
    });

    cancelDialog = $("#cancel-dialog-form").dialog({
      autoOpen: false,
      closeOnEscape: false,
      open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
      closeText: "hide",
      width: 'auto',
      modal: true,

      buttons: [
        {
          text: "{% trans 'Yes' %}",
          "class": 'dialog-button',
          click: function () {
            let url = "/core/slots"
            let comp_id = $('#component').val();
            let train_id = $('#training').val();

            if(comp_id) url += "/"+comp_id
            if(train_id) url += "/"+train_id

            window.location = url;
            cancelDialog.dialog("close");
          },
        },
        {
          text: "{% trans 'No' %}",
          "class": 'dialog-button',
          click: function () {
            cancelDialog.dialog("close");
          },
        }
      ],
    });

    function check_course_publication ( course_id )
    {
        $.post({
            beforeSend: function (request) {
                   request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            url: '/api/check_course_publication/' + course_id,
            success: function(data) {
                if (data['data'])
                {
                    if ( !data['data']['published'] ) {
                        courseDialog.dialog('open');
                    }
                }
            }
        });
    }

    $('#id_course').change(function(event){
        check_course_publication(event.target.value);
    });

    function check_date() {
        $.ajax({
            url: '/api/check_vacations',
            data: {
                date: $('#id_date').val(),
            },
            success: function(data) {
                if ( data['data'] ) {
                    if (data['data']['is_between']) {
                        dateDialog.dialog('open');
                    }
                }
            },
        });
    }

    // See https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function toggle_required_fields () {
        let published = $('#id_published').prop('checked');
        if (published) {
            let mandatory = [
                'course', 'course_type', 'campus',
                'building', 'room', 'date', 'start_time', 'end_time',
                'teachers', 'n_places'
            ];
            mandatory.forEach(function(e){
                $('#id_' + e).attr('required', 'sfdgsg');
            });
        } else {

            let not_mandatory = [
                'course_type', 'campus', 'building', 'room', 'date',
                'start_time', 'end_time', 'teachers', 'n_places'
            ];
            let mandatory = ['training', 'course'];

            not_mandatory.forEach(function(e){
                $('#id_' + e).removeAttr('required');
            });
            mandatory.forEach(function(e){
                $('#id_' + e).attr('required', 'sfdgsg');
            });


        }
    }

    function load_trainings(value, select=false) {
        $.post({
            beforeSend: function (request) {
                   request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            url: '{% url "GetTrainings" %}',
            data: {
                component_id: value,
            },
            success: function(data){
                if ( data['data'] ) {
                    $('#training').html('');
                    $('#training').append(
                        '<option value="">{% trans 'Choose a value' %}</option>'
                    );
                    data['data'].forEach(function(e){
                        let selected = '';
                        {% if request.POST.training %}
                        // if ( e['id'] == '{{ slot.course.training.id }}' ) {
                        if (e['id'] == '{{ request.POST.training }}') {
                            selected = 'selected';
                        }
                        {% elif slot %}
                        if (e['id'] == '{{ slot.course.training.id }}') {
                            selected = 'selected';
                        }
                        {% endif %}
                        let element = '<option '+ selected +' value="' + e['id'] + '">' + e['label'] + '</option>';
                        $('#training').append(element);
                    });
                    {% if slot or request.POST.course %}
                        if ( course_first ) {
                            course_first = false;
                            load_course(
                                $('#component').val(),
                                $('#training').val()
                            );
                        }
                    {% endif %}
                }
            }
        });
    }

    function load_course(component, training) {
        component = (component == '') ? '0' : component;
        training = (training == '') ? '0' : training;
        $.ajax({
            url: '/api/get_courses_by_training/' + component + '/' + training,
            success: function(data){
                if ( data['data']) {
                    $('#id_course').html('');
                    $('#id_course').append(
                        '<option value="">{% trans 'Choose a value' %}</option>'
                    );
                    data['data'].forEach(function(e){
                        // let sel = '';
                        // if (e['key'] == "{{ slot.course.id }}") {}
                        let element = '<option value="' + e['key'] + '">' + e['label'] + '</option>';
                        $('#id_course').append(element);
                    });
                    {% if slot %}
                    $('#id_course option[value="{{ slot.course.id }}"]').attr('selected', '');
                    {% elif request.POST.course %}
                    $('#id_course option[value="{{ request.POST.course }}"]').attr('selected', '');
                    {% endif %}
                }
                // load_teachers($('#id_course').val());
            }
        });
    }

    function load_buildings(value){
        value = (value === '') ? '0' : value;
        $.ajax({
            url: '/api/get_buildings/' + value,
            success: function(data){
                if ( data['data']) {
                    $('#id_building').html('');
                    if (data['data'].length > 0)
                    {
                        $('#id_building').append(
                            '<option value="">{% trans 'Choose a value' %}</option>'
                        );
                    } else {
                        $('#id_building').append(
                            '<option value="">--------</option>'
                        );
                    }
                    data['data'].forEach(function(e){
                        let element = '<option value="' + e['id'] + '">' + e['label'] + '</option>';
                        $('#id_building').append(element);
                    });
                    {% if slot %}
                    if (building_first) {
                        $('#id_building option[value="{{ slot.building.id }}"]').attr('selected', '');
                        building_first = false;
                    }
                    {% elif request.POST.building %}
                    if (building_first) {
                        $('#id_building option[value="{{ request.POST.building }}"]').attr('selected', '');
                        building_first = false;
                    }
                    {% endif %}
                }
                else {
                    $('#id_building').html('');
                    $('#id_building').append(
                        '<option value="">--------</option>'
                    );
                }
            }
        });
    }

    function load_teachers(value) {
        $.ajax({
            url: '/api/get_course_teachers/' + value,
            success: function(data){
                if ( data['data'] ) {
                    $('#id_teachers').html('');
                    data['data'].forEach(function(e){
                        let name= '' + e['first_name'] + ' ' + e['last_name'].toUpperCase();
                        element = '<div class="custom-checkbox custom-control">';
                        element += '<input type="checkbox" name="teacher_' + e['id'] + '" value="' + e['id'] + '">';
                        element += '<label for="teacher_' + e['id'] + '">' + name +'</label>';
                        element += '</div>';
                        $('#id_teachers').append(element);
                    });
                }
            },
            error: function() {$('#id_teachers').html('');}
        });
    }

    // Change input type
    $('#id_start_time').get(0).type = 'time';
    $('#id_end_time').get(0).type = 'time';

    // Date check
    $('#id_date').on('change', function() {
        check_date();
    });

    // Back button + confirm
    $('.back_btn').click(function (event) {
        cancelDialog.dialog('open');
    });

    $(".datepicker").datepicker({
      dateFormat: 'dd/mm/yy',
      changeMonth: true,
      changeYear: true,
      yearRange: "2020:2100",
    });

    {% if not slot %}

        {% if not request.POST.component %}
            load_trainings($('#component').val());
        {% endif %}
        {% if not request.POST.component and not request.POST.training %}
        load_course(
            $('#component').val(),
            $('#training').val()
        );
        {% endif %}

        {% if not slot_form.campus.value %}
            load_buildings($('#id_campus').val());
        {% endif %}
        {% if not slot_form.course.value %}
            id_course = $('#id_course').val();
            if (id_course) {
              load_teachers(id_course);
            }
        {% endif %}

    {% endif %}
    // toggle
    toggle_required_fields();

    // add change handler
    $('#component').change(function(event){ load_trainings(event.target.value); });
    $('#training').change(function(event){ load_course($('#component').val(), event.target.value); });
    $('#id_campus').change(function(event){ load_buildings(event.target.value); });
    $('#id_course').change(function(event){ load_teachers(event.target.value); });
    $('#id_published').on('change', function(){ toggle_required_fields(); });

    {% if slot or request.POST.component %}
        {% if slot %}
        setTimeout(function(){
                $('#ok_modify').fadeOut(1000, function(){
                    $('#ok_modify').hide();
                });
            },
            {%  settings_get 'MESSAGES_TIMEOUT' %}
        );
        {% endif %}

    $('#component option').each(function(i, e) {
        {% if request.POST.component %}
        if ( $(e).val() == '{{ request.POST.component }}' )
        {% elif slot %}
        if ( $(e).val() == '{{ slot.course.component.id }}' )
        {% endif %}
        {
            e.selected = true;
            load_trainings($(e).val(), true);
        }
    });

    // $('#id_campus option[value="{{ slot.campus.id }}"]').attr('selected', '');
    $('#id_campus option[value="{{ slot_form.campus.value }}"]').attr('selected', '');
    load_buildings($('#id_campus').val());

    $('#id_course').html('');
    $('#id_course').append(
        // '<option selected value="{{ slot.course.id }}">{{ slot.course.label }}</option>'
        '<option selected value="{{ slot_form.course.value }}">{{ slot.course.label }}</option>'
    );
    {% endif %}
});
</script>
{% endblock %}
