{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top: 20px; width: 70%;">
    <div class="card">
        <div class="card-header text-white bg-secondary">
            {% if slot %}
                {% trans 'modify slot' %}
            {% else %}
                {% trans 'Add a new slot' %}
            {% endif %}
        </div>
        <div class="card-body">

            <form method="POST" class="form-group" role="form" id="add_slot">

                {% include 'slots/add_slot__controls.html' %}
                <br>

                {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
                {% endif %}
                <br>

                {% csrf_token %}
                {{ slot_form.id }}

                <div class="form-group row">
                    <label for="training" class="col-form-label col-sm-3">{% trans 'Component' %}</label>
                    <div class="col-sm-6">
                        <select name="component" id="component" class="form-control">
                            {% if components|length > 1 %}
                                <option value="" selected>{% trans 'Choose a value' %}</option>
                                {% for component in components %}
                                    <option value="{{ component.id }}">{{ component.code }}: {{ component.label }}</option>
                                {% endfor %}
                            {% else %}
                                {% for component in components %}
                                    <option selected value="{{ component.id }}">{{ component.code }}: {{ component.label }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="training" class="col-form-label col-sm-3">{% trans 'Training' %}</label>
                    <div class="col-sm-6">
                        <select name="training" id="training" class="form-control">
                            <option value="" selected>{% trans 'Choose a value' %}</option>
<!--                            {% for training in trainings %}-->
<!--                                <option value="{{ training.id }}">{{ training.label }}</option>-->
<!--                            {% endfor %}-->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="course" class="col-form-label col-sm-3">{% trans 'Course' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.course }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="course_type" class="col-form-label col-sm-3">{% trans 'Course type' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.course_type }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="campus" class="col-form-label col-sm-3">{% trans 'Campus' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.campus }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="building" class="col-form-label col-sm-3">{% trans 'Building' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.building }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="room" class="col-form-label col-sm-3">{% trans 'Room' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.room }}
                    </div>
                </div>


                <div class="form-group row">
                    <label for="building" class="col-form-label col-sm-3">{% trans 'Date' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.date }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="start_time" class="col-form-label col-sm-3">{% trans 'Start time' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.start_time }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="end_time" class="col-form-label col-sm-3">{% trans 'End time' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.end_time }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="teachers" class="col-form-label col-sm-3">{% trans 'Teachers' %}</label>
                    <div class="col-sm-6 ">
                        <select name="teachers" id="id_teachers" class="form-control" multiple="multiple">
                        {% if slot %}
                            {% for teacher in slot.course.teachers.all %}
                                <option value="{{ teacher.id }}"
                                    {% if teacher in slot.teachers.all %}selected{% endif %}
                                >
                                    {{ teacher.first_name }} {{ teacher.last_name|upper }}
                                </option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="n_places" class="col-form-label col-sm-3">{% trans 'Number of places' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.n_places }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="additional_information" class="col-form-label col-sm-3">{% trans 'Additional information' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.additional_information }}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="published" class="col-form-label col-sm-3">{% trans 'Published' %}</label>
                    <div class="col-sm-6">
                        {{ slot_form.published }}
                    </div>
                </div>
                <input type="hidden" name="modify">
                {% include 'slots/add_slot__controls.html' %}
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/core/add_slot.js' %}"></script>
<script>
$(document).ready(function(){
    // See https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function toggle_required_fields () {
        let published = $('#id_published').prop('checked');
        if (published) {
            let mandatory = [
                'course', 'course_type', 'campus',
                'building', 'room', 'date', 'start_time', 'end_time',
                'teachers', 'n_places'
            ];
            mandatory.forEach(function(e){
                $('#id_' + e).attr('required', 'sfdgsg');
            });
        } else {

            let not_mandatory = [
                'course_type', 'campus', 'building', 'room', 'date',
                'start_date', 'end_date', 'teachers', 'n_places'
            ];
            let mandatory = ['training', 'course'];

            not_mandatory.forEach(function(e){
                $('#id_' + e).removeAttr('required');
            });
            mandatory.forEach(function(e){
                $('#id_' + e).attr('required', 'sfdgsg');
            });


        }
    }

    function load_trainings(value) {
        console.log(value);
        $.post({
            beforeSend: function (request) {
                   request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            url: '{% url "GetTrainings" %}',
            data: {
                component_id: value,
            },
            success: function(data){
                if ( data['data'] ) {
                    $('#training').html('');
                    $('#training').append(
                        '<option value="">{% trans 'Choose a value' %}</option>'
                    );
                    data['data'].forEach(function(e){
                        let element = '<option value="' + e['id'] + '">' + e['label'] + '</option>';
                        $('#training').append(element);
                    });
                }
            }
        });
    }

    function load_course(value) {
        $.ajax({
            url: '/api/get_courses_by_training/' + value,
            success: function(data){
                if ( data['data']) {
                    $('#id_course').html('');
                    $('#id_course').append(
                        '<option value="">{% trans 'Choose a value' %}</option>'
                    );
                    data['data'].forEach(function(e){
                        let element = '<option value="' + e['key'] + '">' + e['label'] + '</option>';
                        $('#id_course').append(element);
                    });
                }
            }
        });
    }

    function load_buildings(value){
        $.ajax({
            url: '/api/get_buildings/' + value,
            success: function(data){
                if ( data['data']) {
                    $('#id_building').html('');
                    $('#id_building').append(
                        '<option value="">{% trans 'Choose a value' %}</option>'
                    );
                    data['data'].forEach(function(e){
                        let element = '<option value="' + e['id'] + '">' + e['label'] + '</option>';
                        $('#id_building').append(element);
                    });
                }
            }
        });
    }

    function load_teachers(value) {
        $.ajax({
            url: '/api/get_course_teachers/' + value,
            success: function(data){
                if ( data['data'] ) {
                    $('#id_teachers').html('');
                    data['data'].forEach(function(e){
                        let name= '' + e['first_name'] + ' ' + e['last_name'].toUpperCase();
                        let element = '<option value="' + e['id'] + '">' + name + '</option>';
                        $('#id_teachers').append(element);
                    });
                }
            },
            error: function() {$('#id_teachers').html('');}
        });
    }

    $('.back_btn').click(function (event) {
        if (confirm("{% trans 'Did you really want to cancel this creation?' %}")){
            window.location = "{{ request.META.HTTP_REFERER }}";
        }
    });

    // $('#id_date').get(0).type = 'date';
    $('#id_start_time').get(0).type = 'time';
    $('#id_end_time').get(0).type = 'time';

    {% if not slot %}
        $('#id_date').get(0).type = 'date';
        load_trainings($('#component').val());
        load_course($('#training').val());
        load_buildings($('#id_campus').val());
        load_teachers($('#id_course').val());
    {% endif %}

    toggle_required_fields();

    $('#component').change(function(event){ load_trainings(event.target.value); });
    $('#training').change(function(event){ load_course(event.target.value); });
    $('#id_campus').change(function(event){ load_buildings(event.target.value); });
    $('#id_course').change(function(event){ load_teachers(event.target.value); });
    $('#id_published').on('change', function(){ toggle_required_fields(); });

    {% if slot %}
    $('#id_campus option[type="{{ slot.campus.id }}"]').attr('selected', '');

    $('#id_course').html('');
    $('#id_course').append(
        '<option selected value="{{ slot.course.id }}">{{ slot.course.label }}</option>'
    );

    // $.ajax({
    //     url: '/api/get_courses_by_training/' + {{ slot.course.training.id }},
    //     success: function(data){
    //         if ( data['data'] ) {
    //             $('#id_course').html('');
    //             data['data'].forEach(function(e){
    //                 var selected = '';
    //                 if ( {{ slot.course.id }} == e.id ) {
    //                     selected = ' selected';
    //                 }
    //                 let element = '<option ' + selected + ' value="' + e.key + '">' + e.label + '</option>';
    //                 $('#id_course').append(element);
    //             });
    //         }
    //     }
    // });


    {% if slot.campus %}
        $('#id_campus').html('');
        $('#id_campus').append(
            '<option selected value="{{ slot.campus.id }}">{{ slot.campus.label }}</option>'
        );
    {% endif %}

    // $.ajax({
    //     url: '/api/get_buildings/' + "{{ slot.campus.id }}",
    //     success: function(data){
    //         if ( data['data'] ) {
    //             $('#id_building').html('');
    //             $('#id_building').append(
    //                 '<option value="">{% trans 'Choose a value' %}</option>'
    //             );
    //             data['data'].forEach(function(e){
    //                 let selected = '';
    //                 if ( "{{ slot.building.id }}" == ('' + e.id) ) {
    //                     selected = ' selected';
    //                 }
    //                 let element = '<option value="' + e['id'] + '"' + selected +
    //                     '>' + e['label'] + '</option>';
    //                 $('#id_building').append(element);
    //             });
    //         }
    //     }
    // });

    {% endif%}
});
</script>
{% endblock %}
