{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}
<div class="container">
</div>
{% endblock %}

{% block foot-javascript %}
    <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% endblock %}
