{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
<link rel="stylesheet" href="{% static 'css/immersionlyceens.css' %}">
<link rel="stylesheet" href="{{ STATIC_URL }}/summernote/summernote-bs4.css">

{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/i18n/datepicker-' %}{{LANGUAGE_CODE}}.js"></script>
<script src="{{ STATIC_URL }}/summernote/summernote-bs4.min.js"></script>
<script src="{% static 'js/immersionlyceens.js' %}"></script>
{% endblock %}
{% block content %}
{% include '../modals/modal_view_slot_immersions.html' %}
{% include '../modals/modal_register_students_list.html' %}
{% include '../modals/modal_contact.html' %}
<div id="top_indicator" class="hide w-100 bg-success pt-2 pb-1 fixed-top">
    <p id="top_indicator__content" class="text-center text-light"></p>
</div>
<div id="feedback" class="container sticky-top"></div>
<div class="container-fluid" style="padding-top: 20px; width: 98%;">
  <div id="delete-dialog-form" style='z-index:3000;' title='{% trans "Confirm slot deletion" %}'>
    <span>
      {% trans 'Do you really want to delete this slot ?' %}
    </span>
  </div>
  <br>
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Slot" %}
    </div>
    <div class="card-body">
      <div>
        <a href="{% url 'add_slot' %}" class="btn btn-secondary" title="{% trans 'Add a slot' %}">{% trans 'New slot' %}</a>
      </div>
        <div>
          <div class="form-group row">
            <label for="component" class="col-form-label col-sm-3">{% trans "Structure" %}</label>
            <div class="col-sm-6">
              <select name="component" id="component" class="form-control">
                <option value="" selected>-------------</option>
                {% for comp in components %}
                    {% if components|length == 1 %}
                    <option value="{{ comp.id }}" selected>{{ comp.code }} - {{ comp.label }}</option>
                    {% else %}
                    <option value="{{ comp.id }}">{{ comp.code }} - {{ comp.label }}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="training" class="col-form-label col-sm-3">{% trans "Training" %}</label>
            <div class="col-sm-6">
              <select name="training" id="training" class="form-control">
                <option value="">-------------</option>
                {% for training in trainings %}
                  <option value="{{ training.id }}" {% if training.id == training_id %}selected{% endif %}>
                    {{ training.label }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="table-responsive">
          <table id="list_of_slots" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap">
          <thead>
            <tr>
              <th id="published_filter" class="align-top">{% trans 'Published' %}</th>
              <th id="course_filter" class="align-top">{% trans 'Course label' %}</th>
              <th id="managed_by_filter" class="align-top">{% trans 'Managed By' %}</th>
              <th id="course_type_filter" class="align-top">{% trans 'Course type' %}</th>
              <th id="date_filter" class="align-top">{% trans 'Date' %}</th>
              <th id="building_filter" class="align-top">{% trans 'Campus' %} - {% trans 'Building' %}</th>
              <th id="room_filter" class="align-top">{% trans 'Room' %}</th>
              <th id="teachers_filter" class="align-top">{% trans 'Teachers' %}</th>
              <th id="registration_filter" class="align-top">{% trans '# of registration' %}</th>
              <th class="align-top">{% trans 'Info.' %}</th>
              <th class="align-top">{% trans 'Control' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block foot-javascript %}
<script>
var dt;
var current_slot_id;
var can_update_attendances = false;
var slot_places = 0;

let deleteDialog = $("#delete-dialog-form").dialog({
  autoOpen: false,
  closeOnEscape: false,
  open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
  closeText: "hide",
  width: 'auto',
  modal: true,

  buttons: [
    {
      text: "{% trans 'Yes' %}",
      "class": 'dialog-button',
      click: function () {
        delete_slot($("#delete-dialog-form").data("slot_id"))
        deleteDialog.dialog("close");
      },
    },
    {
      text: "{% trans 'No' %}",
      "class": 'dialog-button',
      click: function () {
        deleteDialog.dialog("close");
      },
    }
  ],
});

function open_modal(slot_id, edit_mode, n_places, is_past=false) {
  current_slot_id = slot_id;
  slot_places = n_places;

  if(edit_mode == 1) {
    can_update_attendances = true;
    $('#id_update_attendances').show();
  }
  else {
    can_update_attendances = false;
    $('#id_update_attendances').hide();
  }
  // put slot id in register button in modal
  $('#btn_register_student').data('id', slot_id);
  $('#modal_view_slot_immersions').data('ispast', is_past)
  $('#modal_view_slot_immersions').modal('show');
}

$(document).ready(function(){
    // reset feedback
    setTimeout(function(){$('#feedback').html('')}, {%  settings_get 'MESSAGES_TIMEOUT' %});

    var selected_training = false;

    {% if component_id %}
        $('#component option[value="{{ component_id }}"]').attr('selected', '');
    {% endif %}

    initFeedback();

    function load_trainings( comp_id, first=false ) {
        $.post({
          url: '/api/get_trainings',
          data: {structure_id: comp_id},
          success: function (data) {
              if ( data['data'] ) {
                $('#training').html('');
                if ( data['data'].length > 0 ) {
                    $('#training').append('<option value="">-------------</option>');
                    data['data'].forEach(function(e){
                       let elem  = '<option value="' + e['id'] + '">' + e['label'] + '</option>';
                       $('#training').append(elem);
                    });
                    if ( first ) {
                        {% if training_id %}
                            $('#training option[value="{{ training_id }}"]').attr('selected', '');
                            reload_data();
                        {% endif %}

                    }
                    {% if training_id %}
                        if ( !selected_training )
                        {
                            selected_training = true;
                            $('#component option[value="{{ component_id }}"]').attr('selected', '');
                        }
                    {% endif %}
                } else {
                    $('#training').append('<option value="">-------------</option>');
                }
              }
          },
        });
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.fn.dataTableExt.errMode = 'console';
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    $("#component").on('change', function(event){
        $('#training').val('');
        load_trainings(event.target.value);
        reload_data();
    });
    $('#training').on('change', function(event) {
        reload_data();
    });


    $('#top_indicator').hide();
    dt = $('#list_of_slots').DataTable({
        ajax: {
          url: '/api/get_slots',
          data: function(d) {
              d.training_id = $('#training').val();
              d.structure_id = $('#component').val();
              return d
          },
          dataSrc: function (json) {
            if (json['data'] !== undefined && json['data'].length !== 0) {
              return json['data'];
            }
            return [];
          }
        },
        order: [[4, "asc"]],
        processing: false,
        serverSide: false,
        responsive: false,
        info: false,
        search: true,
        paging: true,
        ordering: true,
        language: {
          url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
        },
        columns: [
            { data: 'published',
              render: function(data, type, row) {
                return (data) ? '{% trans "Yes" %}' : '{% trans "No" %}';
              }
            },
            { data: 'course_label' },
            { data: 'component',
              render: function(data, type, row) {
                return data['code'];
               },
            },
            { data: 'course_type' },
            { data: 'datetime',
              render: function(data, type, row) {
                if(type == "display" || type == "filter") {
                  return "<span>" + row.date + "</span><br><span>" + row.time['start'] + " - " + row.time['end'] + "</span>";
                }

                return data;
              }
            },
            { data: 'location',
              render: function(data) {
                return data['campus'] + '<br>' + data['building'];
              }
            },
            { data: 'room'} ,
            { data: 'teachers',
              render: function(data) {
                let element = '';
                $.each(data, function(name, email) {
                    element += '<a href="mailto:' + email + '">' + name + '</a><br>'
                });
                return element;
              }
            },
            { data: 'n_register',
              render: function(data, type, row) {
                let current = data;
                let n = row['n_places'];
                element = '<span>' + current + '/' + n + '</span>' +
                    '<div class="progress">' +
                    '    <div' +
                    '       class="progress-bar"' +
                    '       role="progressbar"' +
                    '       aria-valuenow="' + current + '"' +
                    '       aria-valuemin="0"' +
                    '       aria-valuemax="' + n + '"' +
                    '       style="width: ' + Math.round(current/n * 100) + '%"' +
                    '></div>' +
                    '</div>';
                return element;
              }
            },
            { data: 'additional_information',
              render: function(data) {
                if (data) {
                  return '<span data-toggle="tooltip" title="' + data + '"><i class="fa fas fa-info-circle fa-2x centered-icon"></i></span>'
                } else {
                  return '';
                }
              }
            },
            { data: 'id',
              render: function(data, type, row) {
                if ( row['component']['managed_by_me'] ) {
                  let element =
                '        <a href="{% url 'add_slot' %}/'+ data + '" class="btn btn-light btn-sm mr-1" ' +
                '         title="{% trans 'Duplicate' %}"><i class="fa far fa-copy fa-2x centered-icon"></i></a>';

                  if(row.is_past === false) {
                    element += '<a href="/core/slot/modify/' + data + '" class="btn btn-light btn-sm mr-1" title="{% trans 'Modify' %}"><i class="fa fas fa-pencil fa-2x centered-icon"></i></a>\n';
                  }
                  if(row.n_register === 0 && row.is_past === false) {
                    element += '<button class="btn btn-light btn-sm mr-1" onclick="deleteDialog.data(\'slot_id\', ' + data + ').dialog(\'open\')" title="{% trans 'Delete' %}"><i class="fa fas fa-trash fa-2x centered-icon"></i></button>\n';
                  }

                  if(row.attendances_value === 1) {
                    element += "<button class=\"btn btn-light btn-sm mr-1\" name=\"edit\" onclick=\"open_modal("+ data +","+row.attendances_value+","+row.n_places+","+row.is_past+")\" title=\"{% trans 'Enter attendances' %}\">" +
                               "<i class='fa fas fa-edit fa-2x centered-icon'></i>" +
                               "</button>";
                  }
                  else if (row.attendances_value !== -1) {
                    element += "<button class=\"btn btn-light btn-sm mr-1\" name=\"view\" onclick=\"open_modal("+ data +","+row.attendances_value+","+row.n_places+","+row.is_past+")\" title=\"{% trans 'View registered students' %}\">" +
                               "<i class='fa fas fa-eye fa-2x centered-icon'></i>" +
                               "</button>";
                  }

                  element += "</div>";

                  return element;
                } else {
                  return '';
                }
              }
            },
        ],
        columnDefs: [{
            defaultContent: '-',
            targets: '_all'
        }],
    });

    yadcf.init(dt, [
        {
            column_number: 0,
            filter_default_label: "",
            filter_container_id: "published_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 1,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "course_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 2,
            filter_default_label: "",
            style_class: "form-control form-control-sm",
            filter_container_id: "managed_by_filter",
            filter_reset_button_text: false,
        },
        {
            column_number: 3,
            filter_default_label: "",
            filter_container_id: "course_type_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 4,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "date_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 5,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "building_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 6,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "room_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 7,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "teachers_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
        {
            column_number: 8,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "registration_filter",
            style_class: "form-control form-control-sm",
            filter_reset_button_text: false,
        },
    ])
});


function delete_slot(slot_id) {
  $.post({
      url: "/core/slot/delete/" + slot_id,
      success: function(data) {
          if(data === "ok") {
            show_top_indicator("{% trans 'The slot has been successfully deleted' %}", "success");
            reload_data();
          }
          else {
            show_top_indicator(data, "error");
          }
      },
  });
}

function reload_data() {
  dt.clear().draw();
  dt.ajax.reload();
}

function show_top_indicator(text, mode) {
    let fade = 1000;
    let display = {% settings_get 'MESSAGES_TIMEOUT' %};
    $('#top_indicator__content').html(text);
    $('#top_indicator').removeClass('hide');

    if(mode == "error") {
      $('#top_indicator').removeClass('bg-success');
      $('#top_indicator').addClass('bg-danger');
    }
    else {
      $('#top_indicator').removeClass('bg-danger');
      $('#top_indicator').addClass('bg-success');
    }

    $('#top_indicator').show();
    setTimeout(function(){
            $('#top_indicator').fadeOut(fade, function(){
                $('#top_indicator').hide();
            });
        },
        display
    );
}
</script>
{% endblock %}
