{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block head-css %}
    <link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.jqueryui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/vendor/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}">
{% endblock %}

{% block content %}
<div id="top_indicator" class="w-100 bg-success pt-2 pb-1 fixed-top">
    <p id="top_indicator__content" class="text-center text-light"></p>
</div>
<div class="container-fluid" style="padding-top: 20px; width: 98%;">
    <br>
    <div class="card">
        <div class="card-header text-white bg-secondary">
            {% trans "Slot" %}
        </div>
        <div class="card-body">
            <div>
                <a href="{% url 'add_slot' %}" class="btn btn-secondary">&#10133; {% trans 'New slot' %}</a>
            </div>
            <div>

                <div class="form-group row">
                    <label for="component"
                           class="col-form-label col-sm-3"
                    >{% trans "Component" %}</label>
                    <div class="col-sm-6">
                        <select name="component" id="component" class="form-control">

                        <option value="" selected>-------------</option>
                        {% for comp in components %}
                            {% if components|length == 1 %}
                            <option value="{{ comp.id }}" selected>{{ comp.code }} - {{ comp.label }}</option>
                            {% else %}
                            <option value="{{ comp.id }}">{{ comp.code }} - {{ comp.label }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                </div>



                <div class="form-group row">
                    <label for="training"
                           class="col-form-label col-sm-3"
                    >{% trans "Training" %}</label>
                    <div class="col-sm-6">
                        <select name="training" id="training" class="form-control">
                                <option value="">-------------</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <table id="list_of_slots"
                   class="display dataTable table-bordered"
                   cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th id="published_filter">{% trans 'Published' %}</th>
                        <th id="course_filter">{% trans 'Course label' %}</th>
                        <th id="course_type_filter">{% trans 'Course type' %}</th>
                        <th id="date_filter">{% trans 'Date' %}</th>
                        <th id="schedule_filter">{% trans 'Schedule' %}</th>
                        <th id="building_filter">{% trans 'Campus' %} - {% trans 'Building' %}</th>
                        <th id="room_filter">{% trans 'Room' %}</th>
                        <th id="teachers_filter">{% trans 'Teachers' %}</th>
                        <th id="registration_filter">{% trans '# of registration' %}</th>
                        <th id="add_info_filter">{% trans 'Additional information' %}</th>
                        <th>{% trans 'Control' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% block foot-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/DataTables-1.10.20/js/dataTables.jqueryui.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script>
$(document).ready(function(){
    var selected_training = false;

    {% if component_id %}
        $('#component option[value="{{ component_id }}"]').attr('selected', '');
    {% endif %}

    function load_trainings( comp_id, first=false ) {
        $.post({
          url: '/api/get_trainings',
          data: {component_id: comp_id},
          success: function (data) {
              if ( data['data'] ) {
                $('#training').html('');
                if ( data['data'].length > 0 ) {
                    $('#training').append('<option value="">-------------</option>');
                    data['data'].forEach(function(e){
                       let elem  = '<option value="' + e['id'] + '">' + e['label'] + '</option>';
                       $('#training').append(elem);
                    });
                    if ( first ) {
                        {% if training_id %}
                            $('#training option[value="{{ training_id }}"]').attr('selected', '');
                            reload_data();
                        {% endif %}

                    }
                    {% if training_id %}
                        if ( !selected_training )
                        {
                            selected_training = true;
                            $('#component option[value="{{ component_id }}"]').attr('selected', '');
                        }
                    {% endif %}



                } else {
                    $('#training').append('<option value="">-------------</option>');
                }

              }
          },
        });
    }

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $.fn.dataTableExt.errMode = 'console';
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    load_trainings($('#component').val(), true);
    $("#component").on('change', function(event){
        load_trainings(event.target.value);
        reload_data();
    });
    $('#training').on('change', function(event) {
        reload_data();
    });


    $('#top_indicator').hide();
    var dt = $('#list_of_slots').DataTable({
        ajax: {
          url: '/api/get_slots',
          data: function(d) {
              d.training_id = $('#training').val();
              d.component_id = $('#component').val();

              return d
          },
          dataSrc: function (json) {
            if (json['data'] != undefined && json['data'].length != 0) {
              return json['data'];
            }
            return [];
          }
        },
        order: [[3, "desc"]],
        processing: false,
        serverSide: false,
        responsive: true,
        info: false,
        search: true,
        paging: true,
        ordering: true,
        language: {url: '{% static "js/vendor/i18n/" %}{{ LANGUAGE_CODE }}.json'},
        columns: [
            {data: 'published', render: function(data, type, row){
                return (data) ? '{% trans "Yes" %}' : '{% trans "No" %}';
                }},
            {data: 'course_label'},
            {data: 'course_type'},
            {data: 'date'},
            {data: 'time'},
            {data: 'building'},
            {data: 'room'},
            {data: 'teachers'},
            {data: 'n_register', render: function(data, type, row) {
                    let current = data;
                    let n = row['n_places'];

                    // <div class="progress">
                    //     <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    // </div>>
                    element = '<span>' + current + '/' + n + '</span>' +
                        '<div class="progress">' +
                        '    <div' +
                        '       class="progress-bar"' +
                        '       role="progressbar"' +
                        '       aria-valuenow="' + current + '"' +
                        '       aria-valuemin="0"' +
                        '       aria-valuemax="' + n + '"' +
                        '       style="width: ' + Math.round(current/n * 100) + '%"' +
                        '></div>' +
                        '</div>';
                    return element;
                }},
            {data: 'additional_information'},
            {data: 'id', render: function(data, type, row) {
                    let element = '<div>\n' +
                        '        <a href="{% url 'add_slot' %}/'+ data + '" class="btn btn-light" ' +
                        '           style="background-image: url(\'{% static "img/duplicate.png" %}\'); ' +
                        '                    background-repeat: no-repeat; ' +
                        '                    background-position: center center; ' +
                        '                    background-size: 60%;"' +
                        '        >&nbsp;&nbsp;</a>' +
                        '        <a href="/core/slot/modify/' + data + '" class="btn btn-light">&#x270E;</a>\n' +
                        '        <button class="btn btn-light" onclick="delete_slot(' + data + ')">&#x1F5D1;</button>\n' +
                        '    </div>';
                    return element;
                }},

        ],
        columnDefs: [{
            defaultContent: '-',
            targets: '_all'
        }],
    });

    yadcf.init(dt, [
        {
            column_number: 0,
            filter_default_label: "",
            filter_container_id: "published_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 1,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "course_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 2,
            filter_default_label: "",
            filter_container_id: "course_type_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 3,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "date_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 4,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "schedule_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 5,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "building_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 6,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "room_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 7,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "teachers_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 8,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "registration_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
        {
            column_number: 9,
            filter_type: "text",
            filter_default_label: "",
            filter_container_id: "add_info_filter",
            style_class: "form-control",
            filter_reset_button_text: false,
        },
    ])
});


function delete_slot(slot_id) {
    if (confirm('{% trans "Do you really want to delete this slot ?" %}')) {
        $.post({
            url: "/core/slot/delete/" + slot_id,
            success: function(data) {
                show_top_indicator("{% trans 'A slot is correctly deleted' %}");
                reload_data();
            },
        });
        show_top_indicator("{% trans 'A slot is correctly delete' %}");
        reload_data();
    }
}

function reload_data() {
     $('#list_of_slots').DataTable().clear();
     $('#list_of_slots').DataTable().ajax.reload();
}

function show_top_indicator(text) {
    let fade = 1000;
    let display = 3000;
    $('#top_indicator__content').html(text);
    $('#top_indicator').show();
    setTimeout(function(){
            $('#top_indicator').fadeOut(fade, function(){
                $('#top_indicator').hide();
            });
        },
        display
    );
}
</script>
{% endblock %}
