{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <br>
    <div>
        <h4>{% trans 'My authorized components' %} ( {{ components|length }} )</h4>
        <br>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <th>#</th>
                <th>{% trans "Code" %}</th>
                <th>{% trans "Label" %}</th>
                <th>{% trans "Url" %}</th>
                <th>{% trans "Active" %}</th>
            </thead>
            <tbody>
                {% for component in components %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td><a href="{% url 'slots_list' component.id %}">{{ component.code }}</a></td>
                        <td>{{ component.label }}</td>
                        {% if component.url %}
                            <td><a href="{{ component.url }}" target="_blank">{{ component.url }}</a></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if component.active %}
                            <td>&#10004;</td>
                        {% else %}
                            <td>&#10060;</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
