{% extends "admin/change_list.html" %}

{% load static %}
{% load i18n %}
{% load immersionlyceens_tags %}


{% block content %}

  {% if authorized_groups|in_groups:"REF-TEC" or user.is_superuser %}
    {% include '../modals/modal_annual_purge.html' %}
  {% endif %}

  {{ block.super }}

  <div id="extra-buttons">
      {% if authorized_groups|in_groups:"REF-TEC" or user.is_superuser %}
      <button class="red_button" id="purge_btn"><strong>⚠</strong> {% trans "Annual purge" %} <strong>⚠</strong></button>
      {% endif %}
  </div>
{% endblock %}