{% load immersionlyceens_tags i18n static %}
{% authorized_groups request.user %}
<!-- Modal -->
<div class="modal fade" id="modal_student_details" tabindex="-1" role="dialog" aria-labelledby="modal_student_details_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_student_details_title">{% trans 'Student immersions' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table id="immersions_table" class="table table-sm table-bordered nowrap dt-body-nowrap" style="width:100%;">
              <thead>
                <tr>
                  <th>{% trans 'Type' %}</th>
                  <th>{% trans 'Details' %}</th>
                  <th>{% trans 'Place' %}</th>
                  <th>{% trans 'Date and time' %}</th>
                  <th>{% trans 'Speakers' %}</th>
                  <th>{% trans 'Additional info' %}</th>
                  <th>{% trans 'Cancellation type' %}</th>
                  <th>{% trans 'Attendance' %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var dtr;

function reload_table() {
  dtr.rows().remove().draw();
  dtr.ajax.url("/api/get_immersions/" + current_student_id).load();
}

$.fn.dataTableExt.errMode = 'console';

dtr = $('#immersions_table').DataTable({
  'processing': false,
  'order': [
    [4, "asc"]
  ],
  'pageLength': 10,
  'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
  'serverSide': false,
  'responsive': true,
  'ajax': {
    url: "",
    dataSrc: function (json) {
      if (json['data'] !== undefined) {
        return json['data'];
      }
    }
  },
  'searching': true,
  'language': {
      url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
  },
  'columns': [
    { "data": "translated_type" },
    { "data": "",
      "render": function(data, type, row) {
        let txt
        if(row.type === 'course') {
          txt = row.course.training + "<br>" + row.course.type + " - " + row.course.label
        }
        else if(row.type === 'visit') {
          txt = row.label
        }
        else if(row.type === 'event') {
          txt = row.event.type + "<br>" + row.event.label
        }

        return txt
      }
    },
    { "data": "meeting_place" },
    { "data": "datetime",
      "render": function(data, type, row) {
        if(type === "display" || type === "filter") {
          return row.date + "<br />" + row.start_time + " - " + row.end_time;
        }

        return data;
      },
    },
    { "data": "speakers",
      "render": function (data) {
        let txt = "";
        $.each(data, function(index, value) {
          txt += value+"<br>";
        });
        return txt;
      },
    },
    { "data": "info" },
    { "data": "cancellation_type" },
    { "data": "attendance",
      "render": function(data, type, row) {
        var msg = data;

        if(row.attendance_status == 1) {
          msg += "<a href=\"../immersion/dl/attestation/" + row.id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download'></i>" +
                  "</a>";
        }
        return msg;
      }
    },
  ],
  "columnDefs": [
    {
      "defaultContent": "",
      "targets": "_all",
      "className": "all",
    },
  ],
  "createdRow": function( row, data, dataIndex ) {
    if ( data.cancellation_type != '' ) {
      $(row).addClass('light-bg-secondary');
    }
    else if ( data.time_type == "future") {
      $(row).addClass('light-bg-primary');
    }
    else if ( data.time_type == "past") {
      $(row).addClass('light-bg-success');
    }
  }
});

$('#modal_student_details').on('show.bs.modal', function (e) {
  reload_table();
});

</script>
