{% load immersionlyceens_tags i18n static %}
<!-- Modal -->
<div class="modal fade" id="modal_search_slots_details" tabindex="-1" role="dialog" aria-labelledby="modal_search_slots_details_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_search_slots_details_title">{% trans 'Slot' %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-m-6">
              <ul class="list-unstyled">
                <li><i class="fa fa-users"></i> {% trans "Establishment" %} : <span id="modal_establishment"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Label" %} : <span id="modal_label"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Training" %} : <span id="modal_course_label"></span></li>
                <li><i class="fa fa-desktop"></i> {% trans "Slot type" %} : <span id="modal_type" style="font-size: 9pt; text-align: left;"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Course Type" %} : <span id="modal_course_type"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Date" %} : <span id="modal_date"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Location" %} : <span id="modal_location"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Teachers" %} : <span id="modal_teachers"></span></li>
                <li><i class="fa fa-users"></i> {% trans "additional informations" %} : <span id="modal_additional_informations"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Restrictions" %} : <span id="modal_restrictions"></span></li>
                <li><i class="fa fa-users"></i> {% trans "Available seats" %} : <span id="modal_available_seats"></span></li>
                <li><i class="fa fa-users"></i> {% trans "End registration date" %} : <span id="modal_end_registration_date"></span></li>

                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


