{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="modalCredits" tabindex="-1" role="dialog" aria-labelledby="modalCreditsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreditsTitle">{% trans 'Credits' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="mt-0">R&eacute;alisation</h3>
                <p>Direction du Numérique (DNum)</p>
                <h3>H&eacute;bergeur</h3>
                <p>Direction du numérique <br/>
                   Université de Strasbourg <br/>
                   14 rue René Descartes<br/>
                   F-67 084 Strasbourg CEDEX<br/>
                   +33() 03 68 85 06 00.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>