{% load i18n %}
{% load immersionlyceens_tags %}
{% information_text_get 'MENTIONS_LEGALES' as legal_txt %}
<!-- Modal -->
<div class="modal fade" id="modalLegal" tabindex="-1" role="dialog" aria-labelledby="modalLegalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLegalTitle">{% trans 'Privacy & terms' %}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            {{ legal_txt | safe }}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
