{% load immersionlyceens_tags i18n static %}
{% authorized_groups request.user %}
<!-- Modal -->
<div class="modal fade" id="modal_global_charts_filter" tabindex="-1" role="dialog" aria-labelledby="modal_global_charts_filter_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_global_charts_filter_title">{% trans 'Charts filters' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <form id="filters_form" method="POST">
              {% csrf_token %}
              <label class='mb-4' for="id_level">{% trans 'Students level' %} :</label>
              <select id="id_level" name="level" class="mb-4">
                <option value="0" {% if part2_filters.level == 0 %}selected{% endif %}>{% trans 'All' %}</option>
                {% for high_school_level in levels %}
                  <option value="{{ high_school_level.pk }}" {% if part2_filters.level == high_school_level.id %}selected{% endif %}>
                    {{ high_school_level.label }}
                  </option>
                {% endfor %}
                <option value="visitors" {% if part2_filters.level == 'visitors' %}selected{% endif %}>{% trans 'Visitors' %}</option>
              </select>
              <table id="filters_table" class="table table-sm table-bordered compact nowrap dt-body-nowrap" style="width:100%;">
              <thead>
                <tr>
                  <th class="td-centered"><input type="checkbox" id="select_all"></th>
                  <th id="type_filter">{% trans 'Type' %}</th>
                  <th id="institution_filter">{% trans 'Establishment / High school' %}</th>
                  <th id="structure_filter">{% trans 'Structure' %}</th>
                  <th id="city_filter">{% trans 'City' %}</th>
                  <th id="department_filter">{% trans 'Department' %}</th>
                  <th id="country_filter">{% trans 'Country' %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              </table>
              <button id="submit_filters" type="submit" class="btn btn-primary mt-4">{% trans 'Submit filters' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

var $select_all = $('#select_all');
var filter_by_my_trainings = "{{ filter_by_my_trainings }}" === "True"
var include_structures = "{{ include_structures }}" === "True"
$.fn.dataTableExt.errMode = 'console';

dtr = $('#filters_table').DataTable({
  'processing': false,
  'order': [
    [2, "asc"],
    [3, "asc"],
  ],
  'pageLength': 5,
  'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
  'serverSide': false,
  'responsive': true,
  'ajax': {
    url: "/charts/get_charts_filters_data",
    data: {
      'filter_by_my_trainings': filter_by_my_trainings,
      'include_structures': include_structures,
    },
    dataSrc: function (json) {
      if (json['data'] !== undefined) {
        return json['data'];
      }
    }
  },
  'searching': true,
  {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  'language': {
    url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
  },
  'select': {
    style: 'multi',
    selector: 'td.select-checkbox'
  },
  'columns': [
    {
        "orderable": false,
        "className": 'select-checkbox',
        "targets": 0
    },
    { "data": "type" },
    { "data": "institution" },
    { "data": "structure" },
    { "data": "city" },
    { "data": "department" },
    { "data": "country" },
  ],
  "columnDefs": [
    {
      "defaultContent": "",
      "targets": "_all",
      "className": "all",
    },
    {
      "orderable": false, "targets": 4
    },
  ],
  initComplete: function() {
    var api = this.api();

    // Select rows according to existing filters
    api.rows().every(function(rowIdx, tableLoop, rowLoop) {
      var data = this.data();

      if(data['type_code'] === 0 && $.inArray(data['institution_id'], highschools_ids) !== -1) {
        this.select();
      }

      if(data['type_code'] === 1 && $.inArray(data['institution_id'], higher_institutions_ids) !== -1) {
        this.select();
      }

      if(data['type_code'] === 2 && $.inArray(data['structure_id'], structure_ids) !== -1) {
        this.select();
      }
    });
  }
});


yadcf.init(dtr, [{
  column_number: 1,
  filter_default_label: "",
  filter_container_id: "type_filter",
  style_class: "form-control form-control-sm",
  filter_reset_button_text: false,
},
{
  column_number: 2,
  filter_default_label: "",
  filter_container_id: "institution_filter",
  style_class: "form-control form-control-sm",
  filter_reset_button_text: false,
},
{
  column_number: 3,
  filter_default_label: "",
  filter_container_id: "structure_filter",
  style_class: "form-control form-control-sm",
  filter_reset_button_text: false,
},
{
  column_number: 4,
  filter_default_label: "",
  filter_container_id: "city_filter",
  style_class: "form-control form-control-sm",
  filter_reset_button_text: false,
},
{
  column_number: 5,
  filter_default_label: "",
  filter_container_id: "department_filter",
  style_class: "form-control form-control-sm",
  filter_reset_button_text: false,
},
{
  column_number: 6,
  filter_default_label: "",
  filter_container_id: "country_filter",
  style_class: "form-control form-control-sm",
  filter_reset_button_text: false,
},
]);

$select_all.click(function(event) {
  if(this.checked) {
      dtr.rows().select();
  } else {
      dtr.rows().deselect();
  }
});

// $('#filters_form').on('submit', function(e){
$('#submit_filters').click(function(event) {
   var $form = $('#filters_form');
   var insts = [];
   // Iterate over all checkboxes in the table
   $.each(dtr.rows('.selected').data(), function() {
      var values = [this.type_code, this.institution_id, this.structure_id];
      insts.push(values);
  });

  $form.append($('<input>')
          .attr('type', 'hidden')
          .attr('name', 'insts')
          .val(JSON.stringify(insts)));
});

</script>
