{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="modal_public_slots" tabindex="-1" role="dialog" aria-labelledby="modal_public_stots_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_public_stots_title">{% trans 'Slots' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <table id="slots_list" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap">
                            <thead>
                                <tr>
                                    <th>{% trans 'Type' %}</th>
                                    <th>{% trans 'Date' %}</th>
                                    <th>{% trans 'Schedules' %}</th>
                                    <th>{% trans 'Building' %}</th>
                                    <th>{% trans 'Room' %}</th>
                                    <th>{% trans 'Teachers' %}</th>
                                    <th>{% trans 'Registered students' %}</th>
                                    <th>{% trans 'Additional info.' %}</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>