{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="modalCredits" tabindex="-1" role="dialog" aria-labelledby="modalCreditsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreditsTitle">{% trans 'Credits' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="mt-0">Direction du projet</h3>
                <p>Action menée et financée dans le cadre du projet Noria (nouvelle approche pour l'orientation
                   post-bac en Alsace) soutenu par l'Etat dans le cadre du Programme d'Investissements d'Avenir (PIA)
                   en partenariat avec les universités de Strasbourg et de Haute Alsace, la Haute Ecole des Arts du Rhin
                    et l'Académie de Strasbourg.</p>

                <h3 class="mt-0">Conception & Développement</h3>
                <p><u>Espace Avenir - SCUIO-IP de l'université de Strasbourg</u></p>
                <p>- Pôle liaison secondaire supérieur</p>
                <p>- Équipe projet Noria (nouvelle approche pour l'orientation post-bac en Alsace) (TIP-PIA)</p>

                <p><u>Direction du Numérique de l’université de Strasbourg</u></p>
                <p>- Pôle Développement, Intégration et Paramétrage</p>
                <p>- Pôle Services et applications collaboratives et d'enseignement</p>

                <h3>Hébergeur</h3>
                <p>Direction du Numérique <br/>
                   Université de Strasbourg <br/>
                   14 rue René Descartes <br/>
                   F-67 084 Strasbourg CEDEX <br/>
                   +33() 03 68 85 06 00.  <br/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>