{% load i18n %}
<!-- Modal -->
<div class="modal fade" id="modalCredits" tabindex="-1" role="dialog" aria-labelledby="modalCreditsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCreditsTitle">{% trans 'Credits' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem Elsass ipsum flammekueche leo leverwurscht amet, dolor blottkopf, amet adipiscing réchime ch'ai kartoffelsalad eget lotto-owe Spätzle pellentesque aliquam wie vulputate hopla Richard Schirmeck knack habitant Miss Dahlias sagittis id munster wurscht
                    salu gewurztraminer baeckeoffe Racing. tellus chambon Salut bisamme ullamcorper Oberschaeffolsheim elementum hop consectetur Strasbourg tellus rucksack Mauris turpis geht's purus sed bissame Gal ! Heineken ac dignissim ac leo Chulia Roberstau
                    risus, hopla Wurschtsalad Christkindelsmärik schnaps libero. tristique commodo Carola Salu bissame et messti de Bischheim lacus schneck ftomi! nüdle elit sit météor gal hopla quam, Oberschaeffolsheim merci vielmols eleifend Chulien
                    ante non amet bredele Pellentesque Coopé de Truchtersheim schpeck Verdammi in, picon bière dui vielmols, sed ornare auctor, varius condimentum mollis und DNA, Yo dû. placerat nullam ornare semper so sit gravida knepfle mänele Gal.
                    barapli hopla rossbolla tchao bissame libero, libero, senectus turpis, morbi non Huguette quam. Pfourtz ! kougelhopf rhoncus suspendisse geïz Kabinetpapier sit mamsell s'guelt yeuh. jetz gehts los Hans porta id, hoplageiss kuglopf
                    Morbi
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>