{% load immersionlyceens_tags i18n static %}
<!-- Modal -->
<div class="modal fade" id="modal_search_slots_details" tabindex="-1" role="dialog" aria-labelledby="modal_search_slots_details_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_search_slots_details_title">{% trans 'Slot' %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-m-6">
              <ul class="list-unstyled">
                <li><i class="fa fa-users"></i>{% trans "Label" %}<span id="modal_label"></span></li>
                <li><i class="fa fa-desktop"></i>{% trans "Slot type" %}<span id="modal_type" style="font-size: 9pt; text-align: left;"></span></li>

                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


