{% load static i18n immersionlyceens_tags %}
<div class="modal fade" id="modal_register_group" tabindex="-1" role="dialog" aria-labelledby="modal_register_group_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form id="register_group_form" class="needs-validation">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_register_group_title">{% trans 'Register a group' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="register_group_feedback"></div>
        <input id="id_slot" type="hidden" name="slot" class="form-control" required="required">

        <div class="controls">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_group_highschool">{% trans 'Educational establishment' %} *</label>
                {% if user.is_high_school_manager %}
                  <input id="id_group_highschool" type="hidden" class="form-control" required="required" value="{{ user.highschool.id }}">
                  {{ highschool }}
                {% else %}
                <select id="id_group_highschool" class="form-control" required="required">
                  <option value="">------------</option>
                  {% for highschool in group_highschools %}
                    <option value="{{ highschool.id }}">
                      {{ highschool }}
                    </option>
                  {% endfor %}
                </select>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="students_count">{% trans 'Students count' %} *</label>
                <input id="students_count" type="number" name="students_count" class="form-control" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="guides_count">{% trans 'Guides count' %} *</label>
                <input id="guides_count" type="number" name="guides_count" class="form-control" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="file">{% trans 'File' %}</label>
                <input id="file" type="file" name="file" class="form-control">
                <small>{{ group_file_help_text }}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="emails">{% trans 'Contact emails' %}</label>
                <input id="emails" type="text" name="emails" class="form-control" placeholder="{% trans 'A list of emails separated by a comma' %}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="comments">{% trans 'Comments' %}</label>
                <textarea id="comments" name="comments" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" name="register" onclick="register_group()">{% trans 'Add this group' %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
  function register_group() {
    let upload_file = $('#file')[0].files[0];
    let formData = new FormData();

    formData.append('slot_id', current_slot_id)
    formData.append('highschool_id', $("#id_group_highschool").val())
    formData.append('students_count', $("#students_count").val())
    formData.append('guides_count', $("#guides_count").val())
    formData.append('comments', $("#comments").val())
    formData.append('file', upload_file)
    formData.append('emails', $("#emails").val())
    formData.append('feedback', true)
    formData.append('middlewaretoken', '{{ csrf_token }}')

    /*
    {
        'slot_id': current_slot_id,
        'highschool_id': $("#id_group_highschool").val(),
        'students_count': $("#students_count").val(),
        'guides_count': $("#guides_count").val(),
        'comments': $("#comments").val(),
        'file': upload_file,
        'emails': $("#emails").val(),
        'feedback': true,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      }
     */

    $.ajax({
      url: "{% url 'GroupSlotRegistration' %}",
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (json) {
        if(json['error']) {
          $("#register_group_feedback").html('<div class="alert alert-danger">' + json['msg'] +'</div>');
          setTimeout(function() { $("#register_group_feedback").html('');}, {% settings_get 'MESSAGES_TIMEOUT' %});

          reload_groups_table();
          // groups_dtr.ajax.reload();
          dt.ajax.reload();
        }
        else {
          $("#register_group_feedback").html('<div class="alert alert-success">{% trans 'Registration successful' %}</div>');
          setTimeout(function() { $("#register_group_feedback").html('');}, {% settings_get 'MESSAGES_TIMEOUT' %});
          // groups_dtr.ajax.reload();
          reload_groups_table();
          dt.ajax.reload();

          let fields = ['#id_group_highschool', '#students_count', '#guides_count', '#id_file', '#emails',
                        '#comments']

          $.each(fields, function(i, item) {
            $(item).val('');
          })
        }
      },
      error: function(json) {
        console.log(json)
      }
    })
  };

</script>
