{% load immersionlyceens_tags i18n static %}
{% authorized_groups request.user %}
<!-- Modal -->
<div id="confirm-dialog-form" title='{% trans "Please confirm" %}'>
  <span>
    {% trans "Do you really want to cancel this alert ?" %}
  </span>
</div>
<div class="modal fade" id="modal_alerts" tabindex="-1" role="dialog" aria-labelledby="modal_alerts_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_alerts_title">{% trans 'My courses alerts' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="cancel_feedback"></div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table id="alerts_table" class="table table-sm table-bordered compact nowrap dt-body-nowrap" style="width:100%;">
              <thead>
                <tr>
                  <th>{% trans 'Course' %}</th>
                  <th>{% trans 'Training' %}</th>
                  <th>{% trans 'Domain(s)' %}</th>
                  <th>{% trans 'Subdomain(s)' %}</th>
                  <th>{% trans 'Establishment' %}</th>
                  <th>{% trans 'Notification sent' %}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var dtr;
var dtc;
let cancel_text = "{% trans 'Cancel alert' %}";

let confirmDialog = $("#confirm-dialog-form").dialog({
  autoOpen: false,
  closeOnEscape: false,
  open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
  closeText: "hide",
  width: 'auto',
  modal: true,
  appendTo: '#modal_alerts',

  buttons: [
    {
      text: "{% trans 'Yes' %}",
      "class": 'dialog-button',
      click: function () {
        cancel_alert($("#confirm-dialog-form").data('alert_id'))
        confirmDialog.dialog("close");
      },
    },
    {
      text: "{% trans 'No' %}",
      "class": 'dialog-button',
      click: function () {
        confirmDialog.dialog("close");
      },
    }
  ],
});

function cancel_alert(alert_id) {
  var csrftoken = getCookie('csrftoken');

  $.ajax({
      beforeSend: function (request) {
        request.setRequestHeader("X-CSRFToken", csrftoken);
      },

      url: "/api/cancel_alert",
      type: "POST",
      data: {
        alert_id: alert_id,
      },

      success: function (json) {
        let msg = json['msg'];
        let error = json['error'];

        if(error != '') {
          $("#cancel_feedback").html('<div class="alert alert-danger">'+json["error"]+'</div>');
          setTimeout(function() { $("#cancel_feedback").html('');}, {%  settings_get 'MESSAGES_TIMEOUT' %});
        }
        else if(msg != '') {
          $("#cancel_feedback").html('<div class="alert alert-success">'+json["msg"]+'</div>');
          setTimeout(function() { $("#cancel_feedback").html('');}, {%  settings_get 'MESSAGES_TIMEOUT' %});
          alert_counter = $("#alert_counter");
          alert_counter_val = parseInt(alert_counter.html());
          if (alert_counter_val >= 1) {
            alert_counter_val = --alert_counter_val;
            alert_counter.html(alert_counter_val);
          }
          if (alert_counter_val === 0) {
            $("#alert_msg").html("<p class=\"mr-2\">{% trans 'You have no course alert' %}</p>");
          }
          reload_table();
        }

      },
      error: function (e) {
        obj = JSON.stringify(e);
        console.log("Error : " + obj);
      }
    });
}

function reload_table() {
  dtc.rows().remove().draw();
  dtc.ajax.reload();
}

$.fn.dataTableExt.errMode = 'console';

dtc = $('#alerts_table').DataTable({
  'processing': false,
  'order': [
    [1, "asc"],
    [2, "asc"],
    [3, "asc"],
  ],
  'pageLength': 5,
  'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
  'serverSide': false,
  'responsive': true,
  'ajax': {
    url: "/api/get_alerts",
    dataSrc: function (json) {
      if (json['data'] != undefined) {
        return json['data'];
      }
    }
  },
  'searching': true,
  'language': {
      url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
  },
  'columns': [
    { "data": "course" },
    { "data": "training" },
    { "data": "domains",
      "render": function(data, type, row) {
        var txt = "";

        $.each(data, function(i, item) {
          if(i>0) {
            txt += "<br />";
          }

          txt += item;
        });

        return txt;
      }
    },
    { "data": "subdomains",
      "render": function(data, type, row) {
        var txt = "";

        $.each(data, function(i, item) {
          if(i>0) {
            txt += "<br />";
          }

          txt += item;
        });

        return txt;
      }
    },
    { "data": "establishments",
       "render": function(data, type, row) {
        var txt = "";

        $.each(data, function(i, item) {
          if(i>0) {
            txt += "<br />";
          }

          txt += item;
        });

        return txt;
      }


    },
    { "data": "email_sent",
      "render": function (data, type, row) {
        if (data == true) {
          return "{% trans 'Yes' %}";
        } else {
          return "{% trans 'No' %}";
        }
      }
    },
    { "data": "",
      "render": function(data, type, row) {
        let icons = "<button type=\"button\" class=\"btn btn-light btn-sm\" onclick=\"confirmDialog.data('alert_id', " + row.id + ").dialog('open')\" title='"+ cancel_text +"'>" +
                       "<i class=\"fa fas fa-trash\"</i>" +
                    "</button>";
        return icons;
      }
    },
  ],
  "columnDefs": [
    {
      "defaultContent": "",
      "targets": "_all",
      "className": "all",
    },
    {
      "orderable": false, "targets": 4
    },
  ],
});

</script>
