{% load immersionlyceens_tags i18n static staticfiles %}
<!-- Modal students list for registering -->
<div class="modal fade" id="modal_register_students_list" tabindex="-1" role="dialog" aria-labelledby="modal_register_students_list_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_register_students_list_title">{% trans 'Students' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div id="register_feedback"></div>
            <div class="row">
                <div class="col">
                    <table id="register_students_list" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap">
                        <thead>
                            <tr>
                                <th>{% trans 'Last name' %}</th>
                                <th>{% trans 'First name' %}</th>
                                <th>{% trans 'Profile' %}</th>
                                <th>{% trans 'Class name' %}</th>
                                <th>{% trans 'Highschool' %} / {% trans 'University' %}</th>
                                <th>{% trans 'City' %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
        </div>
    </div>
</div>
<script>
function reload_register_students() {
  dtl.rows().remove().draw();
  dtl.ajax.url("/api/get_students").load();
}

$.fn.dataTableExt.errMode = 'console';

dtl = $('#register_students_list').DataTable({
  'processing': false,
  'order': [
    [0, "asc"],
    [1, "asc"],
  ],
  'serverSide': false,
  'responsive': false,
  'info': false,
  'ajax': {
    url: "",
    dataSrc: function (json) {
      if (json['data'] != undefined) {
        return json['data'];
      }
    }
  },
  'searching': true,
  'paging': false,
  'ordering': true,
  'language': {
    url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
  },
  'columns': [
    {"data": "lastname"},
    {"data": "firstname"},
    {"data": "profile"},
    {"data": "class"},
    {"data": "school"},
    {"data": "city"},
    {"data": "id",
     render: function(data, type, row) {
        return "<button class=\"btn btn-light btn-sm mr-4\"" +
          "name=\"view\"" +
          "onclick=\"register_student(" + data + "," + $('#btn_register_student').data('id') + ");\"" +
          "title=\"{% trans "Register student" %}\">" +
          "<i class=\"fas fa fa-user-circle-o\" aria-hidden=\"true\">" +
          "</i></button>";
      }
    }
  ],
  "columnDefs": [
    {
      "defaultContent": "",
      "targets": "_all"
    }
  ],
});


$('#modal_register_students_list').on('show.bs.modal', function (e) {
  reload_register_students();
});

function register_student(student_id, slot_id, force=false) {
    $.ajax({
      url: "{% url 'SlotRegistration' %}",
      type: 'POST',
      data: {
        'student_id': student_id,
        'slot_id': slot_id,
        'feedback': false,
        'cmp': true,
        'force': force,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        if(json['error']) {
            if (json['msg'] == 'force_update') {
              if (confirm("{% trans 'Selected student as no remaining registration available would you like to register anyway'%}")) { register_student(student_id, slot_id, force=true); }
            } else {
              $("#register_feedback").html('<div class="alert alert-danger">' + json['msg'] +'</div>');
              setTimeout(function() { $("#register_feedback").html('');}, 3000);
            }

        } else {
            $("#register_feedback").html('<div class="alert alert-success">{% trans 'Registration successful' %}</div>');
            setTimeout(function() { $("#register_feedback").html('');}, 3000);
            dtr.ajax.reload()
            dt.ajax.reload()
        }
      },
      error: function(json) {
        console.log(json)
      }
    })
  };

</script>
