{% load static i18n immersionlyceens_tags %}
<div class="modal fade" id="modal_contact_students" role="dialog" aria-labelledby="modal_contact_students_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_contact_students_title">{% trans 'Send an email to registered students or group contacts' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="contact_feedback"></div>
          <div class='form-group row align-items-center'>
            <div class='col-md-2'>{{ contact_form.subject.label }} :</div>
            <div class='col-md-10'>
              {{ contact_form.subject }}
            </div>
          </div>
          <div class="form-group row align-items-center">
            <div class='col-md-12'>
              {{ contact_form.body }}
            </div>
          </div>
          <div class='form-group row align-items-center'>
            <div class='col-md-5'>
             {% trans 'Receive a copy of this email ?' %}
            </div>
            <div class='col-md-1'>
              <input type="checkbox" id='id_send_copy' name="send_copy">
            </div>
          </div>
      </div>
      <div class="modal-footer">
          <input type="submit" class="btn btn-primary" name="send_email" onclick="send_email(current_slot_id)" value="{% trans 'Send' %}">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>
<script>
  var mode;

  $('#modal_contact_students').on('show.bs.modal', function(event) {
    $('#id_body_iframe').css('height', '300px');
    let button = $(event.relatedTarget) // Button that triggered the modal
    mode = button.data('mode')
  });

  function send_email(slot_id) {
    let is_checked = $('#id_send_copy').is(":checked");

    $.ajax({
      url: "{% url 'SendEmail' %}",
      type: 'POST',
      data: {
        'slot_id': slot_id,
        'body': $("#id_body").val(),
        'subject': $("#id_subject").val(),
        'mode': mode,
        'send_copy': is_checked,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        if(json['error']) {
            $("#contact_feedback").html('<div class="alert alert-danger">' + json['msg'] +'</div>');
            setTimeout(function() { $("#contact_feedback").html('');}, {%  settings_get 'MESSAGES_TIMEOUT' %});
        } else {
            $("#contact_feedback").html('<div class="alert alert-success">{% trans 'Message successfully sent' %}</div>');
            setTimeout(function() { $("#contact_feedback").html('');}, {%  settings_get 'MESSAGES_TIMEOUT' %});
            $("#id_subject").val("");

        }
      },
      error: function (json) {
        console.log(json);
      }
    });
  };
</script>
