{% load immersionlyceens_tags i18n static %}
<!-- Modal -->
<div class="modal fade" id="modal_search_slots_details" tabindex="-1" role="dialog" aria-labelledby="modal_search_slots_details_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_search_slots_details_title">{% trans 'Slot' %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-9">
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Establishment' %}:
                </div>
                <div id="modal_establishment" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Label' %}:
                </div>
                <div id="modal_label" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Training' %}:
                </div>
                <div id="modal_course_label" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Slot type' %}:
                </div>
                <div id="modal_type" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Course type' %}:
                </div>
                <div id="modal_course_type" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Date' %}:
                </div>
                <div id="modal_date" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Location' %}:
                </div>
                <div id="modal_location" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Speakers' %}:
                </div>
                <div id="modal_speakers" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Additional information' %}:
                </div>
                <div id="modal_additional_information" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Restrictions' %}:
                </div>
                <div id="modal_restrictions" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Available places' %}:
                </div>
                <div id="modal_available_seats" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                  {% trans 'Registration limit' %}:
                </div>
                <div id="modal_end_registration_date" class="col-4 col-sm-6"></div>
              </div>
              <div class="row">
                <div class="font-weight-bold col-8 col-sm-6">
                </div>
                <div id="modal_register_btn" class="col-4 col-sm-6"></div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
