{% load immersionlyceens_tags i18n static %}
{% authorized_groups request.user %}

{% include './modal_search_slots_details.html' %}

{% block head-javascript %}
<script src="{% static 'js/core/common_slots_functions.min.js' %}"></script>
{% endblock %}

<!-- Modal -->
<div class="modal fade" id="modal_student_details" tabindex="-1" role="dialog" aria-labelledby="modal_student_details_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_student_details_title">{% trans 'Student immersions' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table id="immersions_table" class="table table-sm table-bordered nowrap dt-body-nowrap" style="width:100%;">
              <thead>
                <tr>
                  <th>{% trans 'Details' %}</th>
                  <th>{% trans 'Type' %}</th>
                  <th>{% trans 'Managed by' %}</th>
                  <th>{% trans 'Details' %}</th>
                  <th>{% trans 'Campus' %}</th>
                  <th>{% trans 'Place' %}</th>
                  <th>{% trans 'Date and time' %}</th>
                  <th>{% trans 'Speakers' %}</th>
                  <th>{% trans 'Additional info' %}</th>
                  <th>{% trans 'Cancellation type' %}</th>
                  <th>{% trans 'Attendance' %}</th>
                  <th>{% trans "Date of registration" %}</th>
                  <th>{% trans "Date of cancellation" %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var dtr;

function reload_table() {
  dtr.rows().remove().draw();
  dtr.ajax.url("/api/get_immersions/" + current_student_id).load();
}

$.fn.dataTableExt.errMode = 'console';

dtr = $('#immersions_table').DataTable({
  'processing': false,
  'order': [
    [5, "asc"]
  ],
  'pageLength': 10,
  'lengthMenu': [[5, 10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
  'serverSide': false,
  'responsive': true,
  'ajax': {
    url: "",
    dataSrc: function (json) {
      if (json['data'] !== undefined) {
        return json['data'];
      }
    }
  },
  'searching': true,
  {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
  'language': {
    url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
  },
  {% endif %}
  'columns': [
    { "data": "details",
      "render": function(data, type, row) {
        return `
          <button class="btn badge badge-pill badge-primary pull-right btn-more-details"
                data-toggle="modal"
                data-target="#modal_search_slots_details"
                data-slot="${JSON.stringify(row).replace(/'/g, "&apos;").replace(/"/g, "&quot;")}">
            {% trans 'More details' %}
          </button>`;
      }
    },
    { "data": "translated_type" },
    { "data": "",
      "render": function(data, type, row) {
        if (type === "display" || type === "filter") {
          return (row.establishment + (row.structure ? "<br>" + row.structure : "")) || row.highschool;
        }
        return data;
      }
    },
    { "data": "",
      "render": function(data, type, row) {
        let txt
        if(row.type === 'course') {
          txt = row.course.training + "<br>" + row.course.type + " - " + row.course.label
        }
        else if(row.type === 'event') {
          txt = row.event.type + "<br>" + row.event.label
        }

        return txt
      }
    },
    { "data": "campus" },
    { "data": "meeting_place" },
    { "data": "datetime",
      "render": function(data, type, row) {
        if(type === "display" || type === "filter") {
          return row.date + "<br />" + row.start_time + " - " + row.end_time;
        }

        return data;
      },
    },
    { "data": "speakers",
      "render": function (data) {
        let txt = "";
        $.each(data, function(index, value) {
          txt += value+"<br>";
        });
        return txt;
      },
    },
    { "data": "info" },
    { "data": "cancellation_type" },
    { "data": "attendance",
      "render": function(data, type, row) {
        var msg = data;

        if(row.attendance_status == 1) {
          msg += "<a href=\"../immersion/dl/attestation/" + row.id + "\" class=\"ml-4 btn btn-light btn-sm\" name=\"attestation\" title=\"{% trans 'Attestation download' %}\">" +
                  "<i class='fa fas fa-download'></i>" +
                  "</a>";
        }
        return msg;
      }
    },
    { "data": "registration_date",
      render: function(data, type, row) {
        if (type !== 'sort') {
          return data ? formatDate(data) : "";
        }

        return data
      }
    },
    { "data": "cancellation_date",
      render: function(data, type, row) {
        if (type !== 'sort') {
          return data ? formatDate(data) : "";
        }

        return data
      }
    },
  ],
  "columnDefs": [
    {
      "defaultContent": "",
      "targets": "_all",
      "className": "all",
    },
  ],
  "createdRow": function( row, data, dataIndex ) {
    if ( data.cancellation_type != '' ) {
      $(row).addClass('light-bg-secondary');
    }
    else if ( data.time_type == "future") {
      $(row).addClass('light-bg-primary');
    }
    else if ( data.time_type == "past") {
      $(row).addClass('light-bg-success');
    }
  }
});

//Stack the modals on top of another
$(document).on('show.bs.modal', '.modal', function () {
  let zIndex = 1040 + (10 * $('.modal:visible').length);
  $(this).css('z-index', zIndex);
  setTimeout(() => {
    $('.modal-backdrop').not('.modal-stack')
      .css('z-index', zIndex - 1)
      .addClass('modal-stack');
  }, 0);
});

$('#modal_student_details').on('show.bs.modal', function (e) {
  reload_table();
});

$('#modal_search_slots_details').on('show.bs.modal', function (event) {
  let button = $(event.relatedTarget);

  let rowData = button.data('slot');
  console.log(rowData);

  if (!rowData) { return; } //The modal can be open even if there is a problem with rowData

  let speakers_array = "";
  let url = null;
  let buildingFull = null;
  let courseLabelFull = null;
  let labelFull = null;
  let slotType = rowData.slot_type;
  let etab = [];
  var restrictions = "";
  let displayedRows = $("[id^=row_]");
  let selectedRows = [];
  var filteredRows = [];
  let availablesSeatslabel = '<ul class="list-inline">';

  let remote = 1

  if (rowData.allow_individual_registrations === true) {
    availablesSeatslabel += "<li class='list-inline-item'><acronym title='{% trans "Individual immersions" %}' >Ind.</acronym>" + (parseInt(rowData.n_places)-parseInt(rowData.n_register)) + ' / ' + rowData.n_places + '</li>'
  }
  if (rowData.allow_group_registrations === true) {
    availablesSeatslabel += "<li class='list-inline-item'><acronym title='{% trans "Cohort immersions" %}'>Gr.</acronym>" + (parseInt(rowData.n_group_places)-parseInt(rowData.group_registered_persons)) + ' / ' + rowData.n_group_places + '</li>'
  }
  availablesSeatslabel += '</ul>';

  $.each(rowData.speakers_list, function(i, item) {
    speakers_array += "<li>" + item['first_name'] +  " " + item['last_name'] + " (" + item['email'] + ")</li>";
  });

  // display all row_* elements
  $(displayedRows).show();

  if (slotType === 'c') {
      if (rowData.establishment_label !==null) {
        etab.push(rowData.establishment_label)
      }

      if (rowData.highschool_label !== null) {
        etab.push(rowData.highschool_label)
      }
      $('#modal_search_slots_details #modal_course_label').html(rowData.course_training_label);
      filteredRows.push('row_highschool');
  } else if (slotType === 'v') {
      if (rowData.establishment_label !==null ) {
        etab.push(rowData.establishment_label)
      }


      if (rowData.structure_label !== null) {
        etab.push(rowData.structure_label)
      }


      filteredRows.push('row_course_label', 'row_course_type', 'row_building');
      if (rowData.highschool_label !== null && rowData.highschool_city !== null) {
        $('#modal_search_slots_details #modal_highschool').html(rowData.highschool_label + ' (' + rowData.highschool_city + ')' );
      } else if (rowData.highschool_label !== null) {
        $('#modal_search_slots_details #modal_highschool').html(rowData.highschool_label);
      } else {
        $('#modal_search_slots_details #modal_highschool').html();
        $('#modal_search_slots_details #modal_city').html(rowData.city);
        filteredRows.push('row_highschool');

      }
  } else {
      if (rowData.establishment_label !==null) {
        etab.push(rowData.establishment_label)
      }
      if (rowData.highschool_label !== null) {
        etab.push(rowData.highschool_label)
      }


      if (rowData.structure_label !== null) {
        etab.push(rowData.structure_label)
      }


      filteredRows.push('row_course_label', 'row_course_type');
      if (rowData.highschool_label !== null && rowData.highschool_city !== null) {
        $('#modal_search_slots_details #modal_highschool').html(rowData.highschool_label + ' (' + rowData.highschool_city + ')' );
      } else if (rowData.highschool_label !== null) {
        $('#modal_search_slots_details #modal_highschool').html(rowData.highschool_label);
      } else {
        $('#modal_search_slots_details #modal_highschool').html();
        filteredRows.push('row_highschool');
      }
  }

  if (rowData.building_url !== null && rowData.building_url !== '') {
    buildingFull = rowData.building_label + "&nbsp;<a href=\""+rowData.building_url+"\" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"top\"  title=\"{% trans 'Show map url' %}\"><i class=\"fa fas fa-map-marker subdomains-icons\"></i></a>";
  }


  if (rowData.course_training_url !== null && rowData.course_training_url !== '') {
    courseLabelFull = rowData.course_training_label + "&nbsp;<a href=\""+rowData.course_training_url+"\" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"{% trans 'Click here for more informations'%}\"><i class=\"fa fas fa-info-circle subdomains-icons\"></i></a>";
  }
  if (rowData.label !== null && rowData.course_url !== '') {
    labelFull = rowData.label + "&nbsp;<a href=\""+rowData.course_url+"\" target=\"_blank\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"{% trans 'Click here for more informations'%}\"><i class=\"fa fas fa-info-circle subdomains-icons\"></i></a>";
  }
  if (rowData.campus_label === '' || rowData.campus_label === null) {
    filteredRows.push('row_campus');
  }
  if (rowData.highschool_address === '' || rowData.highschool_address === null) {
    filteredRows.push('row_highschool_address');
  }


  if (rowData.building_label === '' || rowData.building_label === null) {
    filteredRows.push('row_building');
  }


  if (rowData.additional_information === '' || rowData.additional_information === null) {
    filteredRows.push('row_additional_information');
  }


  if (rowData.meeting_place === '' || rowData.meeting_place === null) {
    filteredRows.push('row_meeting_place');
  }


  if (rowData.place === remote) {
      if (Object.keys(rowData).indexOf('url')
          && rowData.url != null
          && rowData.url != ''
          && (rowData.user_has_group_immersions || rowData.user_is_registered)) {
        url = ' <a href="' + rowData.url + '">{% trans "Remote" %}</a>';
      }
  }

  $('#modal_search_slots_details #modal_establishment').html(etab.join(' - ')??'');

  $('#modal_search_slots_details #modal_course_label').html(courseLabelFull ?? rowData.course_training_label);
  $('#modal_search_slots_details #modal_label').html(labelFull ?? rowData.label);
  $('#modal_search_slots_details #modal_type').html(rowData.slot_type);
  $('#modal_search_slots_details #modal_course_type').html(rowData.course_type_full_label);
  $('#modal_search_slots_details #modal_date').html(display_slot_date(rowData.date, 'display', rowData, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}));
  $('#modal_search_slots_details #modal_location').html(rowData.location + ' ' + rowData.building_label + ' ' + rowData.room);
  $('#modal_search_slots_details #modal_campus').html(rowData.campus_label + ' (' + rowData.city + ')')
  $('#modal_search_slots_details #modal_highschool_address').html(rowData.highschool_address + ' (' + rowData.city + ')')
  $('#modal_search_slots_details #modal_building').html(buildingFull ?? rowData.building_label)
  $('#modal_search_slots_details #modal_meeting_place').html(url ?? rowData.meeting_place);
  $('#modal_search_slots_details #modal_speakers').html(
          '<ul class="list-group">' + speakers_array + '</ul>'
  )
  $('#modal_search_slots_details #modal_additional_information').html(rowData.additional_information);

  if (rowData.additional_information && rowData.additional_information.length > 300) {
    $('#show_more_info').show();
  } else {
    $('#show_more_info').hide();
  }

  $('#modal_search_slots_details #modal_available_seats').html(availablesSeatslabel);
  $('#modal_search_slots_details #modal_end_registration_date').html(formatDate(rowData.registration_limit_date,{ dateStyle: 'long', timeStyle: 'medium' }));
  $('#modal_search_slots_details #modal_restrictions').html("<div>"+restrictions+"</div>")

  $('[data-toggle="tooltip"]').tooltip({placement:"left",});

  // rows to hide
  selectedRows = filteredRows.map(id => `#${id}`).join(',')
  $(selectedRows).hide();
});

</script>
