{% load immersionlyceens_tags i18n static staticfiles %}
{% authorized_groups request.user %}
<!-- Modal -->
<div class="modal fade" id="modal_view_slot_immersions" tabindex="-1" role="dialog" aria-labelledby="modal_view_slot_immersions_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered fullmodal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_view_slot_immersions_title">{% trans 'Slot registrations' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="cancel_feedback"></div>
        <div class="row">
          <div class="col">
            <table id="students_list" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" width="100%">
            <thead>
              <tr>
                <th></th>
                <th>{% trans 'Lastname' %}</th>
                <th>{% trans 'Firstname' %}</th>
                <th>{% trans 'Profile' %}</th>
                <th>{% trans 'High-school / Home institution' %}</th>
                <th>{% trans 'City' %}</th>
                <th>{% trans 'Level' %}</th>
                <th>
                  <div>{% trans 'Attendances' %}</div>
                  <div id="id_update_attendances" style="display:none">
                    <button class="btn btn-sm btn-light mr-4" name="all_present" onclick="set_all_attendances(1)" title="{% trans 'Set all present' %}">
                      <i class='fa fas fa-check'></i>
                     </button>
                     <button class="btn btn-sm btn-light mr-4" name="all_not_present" onclick="set_all_attendances(2)" title="{% trans 'Set all not Present' %}">
                       <i class='fa fas fa-times'></i>
                     </button>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
        <span id="count" class="pull-right mt-4"></span>
      </div>
      <div class="modal-footer">
        <div class="form-group form-row">
        {% if authorized_groups|in_groups:"SCUIO-IP,REF-CMP" %}
            <label for="select_cancel_type" class="col-sm-2 col-form-label col-form-label-sm">{% trans 'Cancel type' %}</label>
            <div class="col-sm-2">
              <select class="form-control form-control-sm mr-2" name="cancel-type" id="select_cancel_type" disabled>
              <option value=""></option>
              {% for type in cancel_types  %}
              <option value="{{ type.pk }}">{{ type.label }}</option>
              {% endfor %}
              </select>
            </div>

              <button type="button" id="btn_cancel_registrations" class="btn btn-primary mr-2" disabled>{% trans 'Cancel registrations' %}</button>
              <button type="button" id="btn_register_student" class="btn btn-primary mr-2" data-toggle="modal" data-target="#modal_register_students_list">{% trans 'Add registration' %}</button>

        {% endif %}
        {% if authorized_groups|in_groups:"SCUIO-IP,REF-CMP,ENS-CH" %}

              <button type="button" id="btn_contact_students" class="btn btn-primary mr-2" data-toggle="modal" data-target="#modal_contact_students">{% trans 'Contact' %}</button>

        {% endif %}

              <button type="button" class="btn btn-primary mr-2" data-dismiss="modal">{% trans 'Close' %}</button>

        </div>
      </div>
    </div>
  </div>
</div>
<script>
var dtr;

function set_attendance(immersion_id, value) {
  $.ajax({
    url: "{% url 'SetAttendance' %}",
    type: 'POST',
    data: {
      'immersion_id': immersion_id,
      'attendance_value': value,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function (json) {
      dtr.ajax.reload();
      dt.ajax.reload();
    },
    error: function(json) {
      console.log(json);
    }
  })
};

function set_all_attendances(value) {
  var datas = dtr.rows().data();
  var id_array = [];

  datas.each(function(item, index) {
    id_array.push(item.id);
  });

  $.ajax({
    url: "{% url 'SetAttendance' %}",
    type: 'POST',
    data: {
      'immersion_ids': JSON.stringify(id_array),
      'attendance_value': value,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    success: function (json) {
      reload_table();
      dt.ajax.reload();
    },
    error: function(json) {
      console.log(json);
    }
  });
}

function reload_table() {
  dtr.rows().remove().draw();
  dtr.ajax.url("/api/get_slot_registrations/" + current_slot_id).load();
}

$.fn.dataTableExt.errMode = 'console';

dtr = $('#students_list').DataTable({
  'processing': false,
  'order': [
    [0, "asc"],
    [1, "asc"],
  ],
  'serverSide': false,
  'responsive': false,
  'info': false,
  'ajax': {
    url: "",
    dataSrc: function (json) {
      if (json['data'] != undefined) {
        return json['data'];
      }
    }
  },
  'rowId': 'id',
  'searching': true,
  'paging': false,
  'ordering': true,
  'select': {
						style:    'multi',
						selector: 'td:first-child'
	},
  'language': {
    url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
  },
  'columns': [
    {"data": "isChecked",
     "class": "checkcell",
     "orderable": false,
     "title": '<input id="checkall" type="checkbox" style="text-align: center">',
     "render": function (dataItem) {
        if (dataItem)
            return '<input class="chk" checked type="checkbox">';
        else
            return '<input class="chk" type="checkbox">';
      }
    },
    {"data": "lastname",
     "render": function(data, type, row) {
       if(type=="display") {
         if(row.attendance_status == 1) {
           return "<span class='text-success'>"+data+"</span>";
         }
         else if (row.attendance_status == 2) {
           return "<span class='text-danger'>"+data+"</span>";
         }
         else {
           return data;
         }
       }
     }
    },
    {"data": "firstname",
     "render": function(data, type, row) {
       if(type=="display") {
         if(row.attendance_status == 1) {
           return "<span class='text-success'>"+data+"</span>";
         }
         else if (row.attendance_status == 2) {
           return "<span class='text-danger'>"+data+"</span>";
         }
         else {
           return data;
         }
       }
     }
    },
    {"data": "profile"},
    {"data": "school"},
    {"data": "city"},
    {"data": "level"},
    {"data": "attendance",
     "render": function(data, type, row) {
        var present_color="";
        var absent_color="";

        if(row.attendance_status == 1) {
          present_color="style='color:green';";
        }
        else if (row.attendance_status == 2) {
          absent_color="style='color:red';";
        }

        if(can_update_attendances == true) {
          return "<button class=\"btn btn-sm btn-light mr-4\" name=\"present\" onclick=\"set_attendance("+row.id+", 1)\" title=\"{% trans 'Present' %}\">" +
                 "<i class='fa fas fa-check' "+present_color+"></i>" +
                 "</button>" +
                 "<button class=\"btn btn-light btn-sm mr-4\" name=\"not_present\" onclick=\"set_attendance("+row.id+", 2)\" title=\"{% trans 'NOT Present' %}\">" +
                 "<i class='fa fas fa-times' "+absent_color+"></i>" +
                 "</button>" +
                 "<span "+present_color+" "+absent_color+">"+data+"</span>";
        }
        else {
         return data;
        }
     }
    },
  ],
  "columnDefs": [
    {
      "defaultContent": "",
      "targets": "_all"
    }
  ],
});

$('#students_list').on('draw.dt', function () {
  var students_count = dtr.rows().count();

  if(students_count == 0) {
    $("#btn_contact_students").prop('disabled', true);
    $("#btn_contact_students").prop('title', "{% trans 'No registered students' %}");
  }
  else {
    $("#btn_contact_students").prop('disabled', false);
    $("#btn_contact_students").prop('title', "{% trans 'Send an email to registered students' %}");
  }

  let presents = dtr.rows(function (idx, data, node) {
    return data.attendance_status == 1 ? true : false;
  }).count();

  $('#count').html(presents + " {% trans 'student(s) present on ' %}" + students_count + " {% trans 'registered' %}");
});


$('#modal_view_slot_immersions').on('show.bs.modal', function (e) {
  reload_table();
});

$(document).ready(function(){
  let counterChecked = 0;

  $('#checkall').change(function() {
      var isChecked = this.checked;
      isChecked ? dtr.rows().select() : dtr.rows().deselect();
      var d = $('#students_list').DataTable().rows().data();
      $.each(d, function (i, item) {
        // TODO: very dirty enhance me please !!!!
        if (this.checked) {
          counterChecked++;
        } else if (counterChecked > 0) {
          counterChecked--;
        }
        item.isChecked = isChecked;
      });
      $(".checkcell input").prop("checked", isChecked);
      $('td input[type="checkbox"]').change();
  });

  $('#students_list').on('change', 'td input[type="checkbox"]', function() {
      if (this.checked) {
        counterChecked++;
      } else if (counterChecked > 0) {
        counterChecked--;
      }

      if (counterChecked > 0) {
        $('#btn_cancel_registrations').prop("disabled", false);
        $('#select_cancel_type').prop("disabled", false);
      } else {
        $('#btn_cancel_registrations').prop("disabled", true);
        $('#select_cancel_type').prop("disabled", true);
      }
  });

  $('#btn_cancel_registrations').on('click', function() {
    var selectedImmersions = dtr.rows({ selected: true }).ids().toArray();
    var selectedCancelType = $('#select_cancel_type').val()

    if ( !selectedCancelType ) {
      alert("{% trans 'Please select a cancel type first' %}");
    } else {
      $.ajax({
          url: "{% url 'BatchCancelRegistration' %}",
          type: 'POST',
          data: {
            'immersion_ids': JSON.stringify(selectedImmersions),
            'reason_id': selectedCancelType,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (json) {
            dtr.ajax.reload();
            dt.ajax.reload();
            $('#checkall').prop('checked', false);
            $('#select_cancel_type').val('');
            $("#cancel_feedback").html('<div class="alert alert-success">{% trans 'Registration(s) successful cancelled' %}</div>');
            setTimeout(function() { $("#cancel_feedback").html('');}, 3000);
          },
          error: function(json) {
            console.log(json);
          }
        });
    }
  });
});
</script>
