{% load immersionlyceens_tags %}
{% load i18n %}
{% load static %}
<div id="docs_list_dialog" title="{% trans 'Available documents for this content' %}">
    <table id="docs_table" class="display dataTable" style="border-spacing:0;border-collapse:collapse;width:100%;">
  <thead>
    <tr>
      <th>{% trans 'Document name' %}</th>
      <th>{% trans 'Document url' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </table>
</div>
<script>
$(document).ready(function(){
  // no alert msg in gui when error
  $.fn.dataTableExt.errMode = 'console';

  var dtr = $('#docs_table').DataTable({
    'processing': false,
    'order': [
      [1, "asc"]
    ],
    'serverSide': false,
    'responsive': false,
    'info': false,
    'ajax': {
      url: "{% url 'get_available_documents' %}",
      dataSrc: function (json) {
        if (json['data'] != undefined && json['data'].length != 0) {
          return json['data'];
        }
      }
    },
    'searching': true,
    'paging': true,
    'ordering': true,
    'language': {
      url: "{% static 'js/vendor/i18n/' %}{{ LANGUAGE_CODE|fix_lang_code }}.json"
    },
    'columns': [
      {"data": "label",
       "render": function(data, type, row) {
         return "<span onclick=\"add_link(name='"+data+"', url='" + row.url + "')\">"+data+"</span>";
        },
      },
      {
        "data": "url",
        "render": function(data, type, row) {
          return "<span onclick=\"add_link(name='"+row.label+"', url='" + data + "')\">"+data+"</span>";
        },
      },

    ],
    "columnDefs": [
      {
        "defaultContent": "",
        "targets": "_all"
      }
    ],
  });
});

function add_link(name, url) {
  let element = '<a href="' + url + '">' + name + '</a>';
  $('#id_content_iframe').contents().find('.note-editable').append(element);
}
</script>
