{% load immersionlyceens_tags %}
{% load i18n %}
{% load static %}
<script>const verify_purge_text = "{% trans 'I want to launch the annual purge' %}" </script>
<div id="purge_modal" title="{% trans 'Annual purge' %} - {% trans 'Validation' %}">

  <div>
    <p>{% trans 'To launch the annual purge, you must write the newt sentence on this field: ' %}</p>
    <div id="purge_text">
      <pre>{% trans "I want to launch the annual purge" %}</pre>
    </div>
    <input type="text" id="annual_purge_checker">
  </div>
  <br>
  <form action="" method="POST">
    {% csrf_token %}
    <button id="submit_purge" class="red_button" type="submit" disabled="">{% trans "Launch annual purge" %}</button>
  </form>
</div>

<script>
</script>
