{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/vendor/yadcf/jquery.dataTables.yadcf.css' %}"> -->
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
{% trans "Courses list" %}
{% endblock %}

{% block content %}
<div id="feedback" class="container"></div>
<div class="container-fluid" style="padding-top:20px;">
  <div id="confirm-dialog-form" title='{% trans "Please confirm" %}'>
    <span>
      {% trans "Do you really want to delete this course ?" %}
    </span>
  </div>
  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% trans "Training list" %}
    </div>
    <div class="card-body">
      {% if can_update %}
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-secondary btn-sm" href="{% url 'training_add' %}">{% trans 'New training' %}</a>
        </div>
      </div>
      {% endif %}

      {% if user.is_master_establishment_manager %}

        <div class="str_filter" style="padding-bottom:10px; padding-top:20px;">
          <label for="hs">{% trans "Select an highschool" %} :</label>
          <select name="highschool" id="hs" class="form-control col-xl-3 col-sm-6 col-md-6">
            <option value="" selected>----------</option>
            {% for highschool in highschools %}
              <option value="{{ highschool.id }}">{{ highschool }}</option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <select name="highschool" id="hs" hidden>
          <option value="{{ user.highschool.id }}" SELECTED>{{ user.highschool }}</option>
        </select>
      {% endif %}

      <div class="table-responsive">
        <table id="training_table" class="table table-striped table-bordered compact nowrap dt-body-nowrap">
        <thead>
          <tr>
            <th><span id="label_filter">{% trans 'Label' %}</span></th>
            <th><span id="subdomain_filter">{% trans 'Subdomains' %}</span></th>
            <th><span id="hs_filter">{% trans 'High school' %}</span></th>
            <th><span id="active_filter">{% trans 'active' %}</span></th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  let dt;
  let updatable = "{{ can_update }}";
  let feedback;
  let current_structure_id;
  let duplicate_text = "{% trans 'Duplicate' %}";
  let delete_text = "{% trans 'Delete' %}";
  let conformDialog;

  function delete_training(training_id) {
    var csrftoken = getCookie('csrftoken');

    $.ajax({
      beforeSend: (request) => { request.setRequestHeader("X-CSRFToken", csrftoken)},

      url: "/api/training/" + training_id,
      type: "DELETE",

      success: (json) =>  {
        let msg = json['msg'];
        let error = json['error'];

        if(error != '') {
          feedback.trigger("showFeedback", [[error, "danger"]]);
        } else if(msg != '') {
          feedback.trigger("showFeedback", [[msg, "success"]]);
        }

        dt.ajax.url("/api/trainings/highschool/" + $('#hs option:selected').val()).load();
      },
      error: function (e) {
        obj = JSON.stringify(e);
        console.log("Error : " + obj);
      }
    });
  }

  $(document).ready(() => {
    initFeedback();
    feedback = $("#feedback");
    // current_structure_id = $('#strs option:selected').val();

    confirmDialog = $("#confirm-dialog-form").dialog({
      autoOpen: false,
      closeOnEscape: false,
      open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); },
      closeText: "hide",
      width: 'auto',
      modal: true,

      buttons: [
        {
          text: "{% trans 'Yes' %}",
          "class": 'dialog-button',
          click: function () {
            delete_training($("#confirm-dialog-form").data('training_id'));
            confirmDialog.dialog("close");
          },
        },
        {
          text: "{% trans 'No' %}",
          "class": 'dialog-button',
          click: function () {
            confirmDialog.dialog("close");
          },
        }
      ],
    });


    dt = $('#training_table').DataTable({
      'processing': false,
      'order': [
          [0, "asc"], // label
          [2, "asc"]  // high school label
       ],
      'pageLength': 15,
      'lengthMenu': [[5,10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': false,
      'ajax': {
          url: "/api/trainings/highschool",
          dataSrc: (json) => { return json },
      },
      'searching': true,
      'language': {
          url: "{% static 'js/vendor/i18n/' %}{{LANGUAGE_CODE}}.json"
      },
      'columns': [
          {
              data: "label",
              render: (data, type, row) => {
                  return '<a href="/core/training/' + row.id + '/update">' + data + '</a>'
              }
          },
          { data: "training_subdomains",
            render: function (data, type, row) {
              return "<ul>" + data.map(({label}) => "<li>" + label + "</li>").join("") + "</ul>"
            },
          },
          { data: "highschool",
            render: (data, type, row) => {
              return "" + data.label
            },
          },
          {
              data: "active",
              render: (data, type, row) => {
                  return  data ? "{% trans 'Yes' %}" : "{% trans 'No' %}"
              }
          },
          {
              data: "",
              render: function (data, type, row) {
                  let delete_text = "{% trans 'Delete' %}"
                  let icons = '<button type="button" class="btn btn-light btn-sm" onclick="confirmDialog.data(\'training_id\', '+row.id+').dialog(\'open\')" title="'+ delete_text +'">'+
                       '<i class="fa fas fa-trash fa-2x"></i>' +
                     '</button>'
                  return icons
              }

          }
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all"
        },
      ],
    });

    $('#hs').change(() => {
      dt.ajax.url("/api/trainings/highschool/" + $('#hs option:selected').val()).load();
    });



    // Filters init
    yadcf.init(dt, [{
        column_number: 0,
        filter_default_label: "",
        filter_container_id: "label_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 1,
        filter_default_label: "",
        filter_container_id: "subdomain_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 2,
        filter_default_label: "",
        filter_container_id: "hs_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
      {
        column_number: 3,
        filter_default_label: "",
        filter_container_id: "active_filter",
        style_class: "form-control form-control-sm",
        filter_reset_button_text: false,
      },
    ]);


  })

</script>

{% endblock %}
