{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block title %}
{% if training %}
  {% trans "Update a training" %}
{% else %}
  {% trans "New training" %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="padding-top:20px; width:70%;">

  <div class="card">
    <div class="card-header text-white bg-secondary">
      {% if training %}
        {% trans "Update a training" %}
      {% else %}
        {% trans "Create a new training" %}
      {% endif %}
    </div>
    <div class="card-body">

      <form class="" role="form" action="/core/training/{% if training %}{{ training.id }}/update{% else %}add{% endif %}" method="POST">
      {% csrf_token %}
      {{ form.id }}

      <!-- highschool -->
      {% if user.is_master_establishment_manager %}

      <div class="form-group row">

          <label for="highschool" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'High school' %} :
          </label>
          <div class="col-sm-3">
            {{ form.highschool }}
          </div>
          <div class="col-sm-6">
            {{ form.highschool.errors }}
          </div>
      </div>
      {% else %}
      <input type="hidden" name="highschool" id="id_highschool" value="{{ user.highschool.id }}" required>
      {% endif %}
        <!-- label -->
        <div class="form-group row">
          <label for="label" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Label' %} :
          </label>
          <div class="col-sm-3">
            {{ form.label }}
          </div>
          <div class="col-sm-6">
            {{ form.label.errors }}
          </div>
        </div>

        <!-- sub domains -->
        <div class="form-group row">
          <label for="id_training_subdomains" class="col-sm-3 col-form-label">
            <i class="fa fas fa-asterisk"></i>
            {% trans 'Training subdomains' %} :
          </label>
          <div class="col-sm-6 selectpicker">
            <small>{% trans "CRTL + click for multiple selection." %}</small>
            {{ form.training_subdomains }}
          </div>
          <div class="col-sm-3">
            {{ form.training_subdomains.errors }}
          </div>
        </div>

         <div class="form-group row">
          <label for="id_url" class="col-sm-3 col-form-label">{% trans 'Url' %} :</label>
          <div class="col-sm-3">
            {{ form.url }}
          </div>
          <div class="col-sm-6">
            {{ form.url.errors }}
          </div>
        </div>

        <div class="form-group row">
          <label for="id_active" class="col-sm-3 col-form-label">{% trans 'Active' %} :</label>
          <div class="col-sm-3">
            {{ form.active }}
          </div>
          <div class="col-sm-6">
            {{ form.active.errors }}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9 col-md-6 offset-sm-3 offset-lg-2">
            {% if can_update %}
              <a href="{% url 'courses_list' %}" class="btn btn-secondary btn-sm mb-1" name="cancel">{% trans 'Cancel' %}</a>
              <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save" value="{% trans 'Save' %}">
              <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save_duplicate" value="{% trans 'Save and duplicate' %}">
              <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save_add_new" value="{% trans 'Save and add new' %}">
            {% else %}
              <a href="{% url 'training_list' %}" class="btn btn-secondary btn-sm mb-1" name="cancel">{% trans 'Cancel' %}</a>
              <input type="submit" class="btn btn-secondary btn-sm mb-1" name="save" value="{% trans 'Save' %}">
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var json_results;
  var query_order = 0;
  var training_id = "{{ course_form.training.value }}";
  var can_update = "{{ update_rights }}";


  function set_trainings(cmp_id) {
    $.ajax({
      url: "{% url 'GetTrainings' %}",
      type: 'POST',
      data: {
        'structure_id': cmp_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        if(json["data"] != 'undefined') {
          var trainings_list = [];
          $.each(json["data"], function(i, item) {
            trainings_list.push(item["id"]);
          });

          $("#id_training").children().each(function() {
            var $this = $(this);
            var opt_value = parseInt($this.val());

            if($.inArray(opt_value, trainings_list) == -1) {
              $this.hide();
              // Forget the current training_id if it is hidden
              if(training_id == opt_value) {
                training_id = "";
              }
            }
            else {
              $this.show();
            }
          });

          if(training_id) {
            $("#id_training").val(training_id);
          }
          else {
            $("#id_training").val($("#id_training option:first").val());
          }
        }
      }
    })
  }

  $('#id_structure').change( function() {
    let cmp_id = $('#id_structure option:selected').val();
    set_trainings(cmp_id);
  });

  $('#live_select').change(function () {
    let val = $('#live_select option:selected').val();

    if(val != '') {
      $('#id_add_button').show();
    }
    else {
      $('#id_add_button').hide();
    }
  });

  $(document).ready(function() {
    set_trainings($('#id_structure option:selected').val());
  });
</script>
{% endblock %}
