{% load static i18n immersionlyceens_tags %}
{% authorized_groups request.user %}
{% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
<div class="mt-3">
  <div class="row" >
    <div class="table-responsive" style="margin: 0 auto;width: 90%;">
      <table id="past_immersions" class="table table-sm table-hover results-cards" style="width:100%;">
        {% if events_off_offer %}
        <caption>
            <span class="p-2"><i class="fa fa-graduation-cap slot-type-c cards-results-caption p-1" ></i>{% trans 'Course' %}</span>
          {% if events_off_offer %}
            <span class="p-2"><i class="fa fa-calendar slot-type-e cards-results-caption p-1"></i>{% trans 'Event' %}</span>
          {% endif %}
        </caption>
        {% endif %}
      </table>
    </div>
  </div>
</div>