
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
<div id="accordion3">
  <div class="card">
    <div class="card-header bg-primary" id="headingVisitsOne">
      <h5 class="mb-0">
        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseVisitsOne" aria-expanded="true" aria-controls="collapseVisitsOne">
          {% trans 'Visits to come' %}
        </button>
      </h5>
    </div>

    <div id="collapseVisitsOne" class="collapse show" aria-labelledby="headingVisitsOne" data-parent="#accordion3">
      <div class="card-body">
        <div class="table-responsive">
          <table id="visits_to_come" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" style="border-spacing:0;border-collapse:collapse;width:100%;">
            <thead>
              <tr>
                <th>{% trans 'Label' %}</th>
                <th>{% trans 'Highschool' %}</th>
                <th>{% trans 'Organizing establishment' %}</th>
                <th>{% trans 'Meeting place' %}</th>
                <th>{% trans 'Date and time' %}</th>
                <th>{% trans 'Speakers' %}</th>
                <th>{% trans 'Additional info' %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-success" id="headingVisitsTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseVisitsTwo" aria-expanded="false" aria-controls="collapseVisitsTwo">
          {% trans 'Past visits' %}
        </button>
      </h5>
    </div>
    <div id="collapseVisitsTwo" class="collapse" aria-labelledby="headingVisitsTwo" data-parent="#accordion3">
      <div class="card-body">
        <div class="table-responsive">
          <table id="past_visits" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" style="border-spacing:0;border-collapse:collapse;width:100%;">
            <thead>
              <tr>
                <th>{% trans 'Label' %}</th>
                <th>{% trans 'Highschool' %}</th>
                <th>{% trans 'Organizing establishment' %}</th>
                <th>{% trans 'Meeting place' %}</th>
                <th>{% trans 'Date and time' %}</th>
                <th>{% trans 'Speakers' %}</th>
                <th>{% trans 'Attendance status' %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-secondary" id="headingVisitsThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseVisitsThree" aria-expanded="false" aria-controls="collapseVisitsThree">
          {% trans 'Cancelled visits' %}
        </button>
      </h5>
    </div>
    <div id="collapseVisitsThree" class="collapse" aria-labelledby="headingVisitsThree" data-parent="#accordion3">
      <div class="card-body">
        <div class="table-responsive">
          <table id="cancelled_visits" class="table table-sm table-striped table-bordered compact nowrap dt-body-nowrap" style="border-spacing:0;border-collapse:collapse;width:100%;">
            <thead>
              <tr>
                <th>{% trans 'Label' %}</th>
                <th>{% trans 'Highschool' %}</th>
                <th>{% trans 'Organizing establishment' %}</th>
                <th>{% trans 'Meeting place' %}</th>
                <th>{% trans 'Date and time' %}</th>
                <th>{% trans 'Speakers' %}</th>
                <th>{% trans 'Cancellation type' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
