{% load static i18n immersionlyceens_tags %}
{% general_settings_get 'PLATFORM_URL' as platform_url %}
{% comment %} TODO: Some template string here should be general settings ! {% endcomment %}
<header class="page-header py-3 bg-gray">
  <div class="container">
    <div class="row">
      <div class="logo col-auto offset-lg-2">
        {% if unistra == "true" %}
        <div class="establishment-logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        {% else %}
        <div class="establishment-logo"></div>
        {% endif %}
      </div>
      {% if user.is_superuser %}
        {% include "./user_selector.html" %}
      {% endif %}
    </div>
  </div>
</header>
