{% load static i18n immersionlyceens_tags %}
{% authorized_groups request.user %}
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container">
    <a href="#" class="navbar-brand d-md-none">Lycéen en immersion</a>
    <button class="navbar-toggler btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-fw show"></i>
        <i class="fa fa-times fa-fw hide"></i>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <hr class="d-md-none">
      <div class="navbar-nav mr-auto">
        <div class="nav-item">
          <a class="nav-link d-none d-md-block" href="#" title="Accueil">
            <i class="nv nv-home d-none d-md-inline"></i>
            <span class="d-md-none">Accueil</span>
          </a>
        </div>
        {# Scuio or cmp #}
        {% if authorized_groups|in_groups:"SCUIO-IP,REF-CMP" %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {% trans 'Courses' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'courses_list' %}">{% trans 'Courses list' %}</a>
              <a class="dropdown-item" href="{% url 'course' %}">{% trans 'New course' %}</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {% trans 'Slots' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'slots_list' %}">{% trans 'Slots list' %}</a>
            </div>
          </div>
        {% endif %}
        {% if authorized_groups|in_groups:"REF-CMP" %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {% trans 'Components' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'component' %}">{% trans 'Update components settings' %}</a>
            </div>
          </div>
        {% endif %}
        {# Teacher #}
        {% if authorized_groups|in_groups:"ENS-CH" %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Consult' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'mycourses' %}">{% trans 'My courses' %}</a>
              <a class="dropdown-item" href="{% url 'myslots' %}">{% trans 'My slots' %}</a>
            </div>
          </div>
        {% endif %}

        {# Students #}
        {% if authorized_groups|in_groups:"LYC,ETU" %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Consult' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if authorized_groups|in_groups:"LYC" %}
                <a class="dropdown-item" href="{% url 'immersion:hs_record' %}">{% trans 'My record' %}</a>
              {% elif authorized_groups|in_groups:"ETU" %}
                <a class="dropdown-item" href="{% url 'immersion:student_record' %}">{% trans 'My record' %}</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'immersion:immersions' %}">{% trans 'My immersions' %}</a>
            </div>
          </div>
        {% endif %}

        {% if not user.is_superuser %}
          {% if authorized_groups|in_groups:"REF-LYC,SCUIO-IP,SRV-JUR" %}
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if authorized_groups|in_groups:"REF-LYC" %}
                  {% trans 'High school' %}
                {% elif authorized_groups|in_groups:"SCUIO-IP,SRV-JUR" %}
                  {% trans 'Registered users' %}
                {% endif %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if authorized_groups|in_groups:"REF-LYC" %}
                  <a class="dropdown-item" href="{% url 'my_high_school' user.highschool.id %}">{% trans 'My high school' %}</a>
                  <a class="dropdown-item" href="{% url 'my_students' %}">{% trans 'View my students' %}</a>
                  <a class="dropdown-item" href="{% url 'student_validation' user.highschool.id %}">{% trans 'Validate my students' %}</a>
                {% endif %}
                {% if authorized_groups|in_groups:"SCUIO-IP" %}
                  <a class="dropdown-item" href="{% url 'my_students' %}">{% trans 'View all students' %}</a>
                  <a class="dropdown-item" href="{% url 'duplicates' %}">{% trans 'View duplicate accounts' %}</a>
                  <a class="dropdown-item" href="{% url 'student_validation_global' %}">{% trans 'Validate student records' %}</a>
                {% endif %}
                {% if authorized_groups|in_groups:"SCUIO-IP,SRV-JUR" %}
                  <a class="dropdown-item" href="{% url 'students_presence' %}">{% trans 'View students by date' %}</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endif %}

        {% if authorized_groups|in_groups:"REF-LYC,SCUIO-IP" %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Charts' %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'charts:highschool_charts' %}">{% trans 'Highschool registrations' %}</a>
              <a class="dropdown-item" href="{% url 'charts:highschool_domains_charts' %}">{% trans 'By domains registrations' %}</a>
            </div>
          </div>
        {% endif %}

        {% if authorized_groups|in_groups:"REF-LYC,SCUIO-IP,REF-CMP" %}
          <a class="nav-item nav-link" href="{% url 'stats' %}">{% trans 'Extractions' %}</a>
        {% endif %}

        {% if user.is_staff %}
          <a class="nav-item nav-link" href="{% url 'admin:index' %}">{% trans 'Administration' %}</a>
        {% endif %}
      </div>
      {# user menu bar #}
      <div class="navbar-nav">
        <div class="nav-item dropdown dropdown-menu-right">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fas fa-user"></i>
            {% if user.is_authenticated %}
              {% if request.user.get_full_name %}{{ request.user.get_full_name }}{% else %}{{ request.user.username }}{% endif %}
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <span class="dropdown-item text-right">
                {% trans "Profile" %} :
                <strong>{% if user.is_superuser %}{% trans "Admin" %}<br />{% endif %}{{ request.user.groups.all|join:", "}}</strong>
              </span>
              <span class="dropbown-divider"></span>
              {% if authorized_groups|in_groups:"LYC,REF-LYC" %}
              <div class="dropdown-item text-right">
                <a class="text-decoration-none" href="{% url 'immersion:change_password' %}">
                  <i class="fa fas fa-key"></i> {% trans "Change password" %}
                </a>
              </div>
              {% endif %}
              <div class="dropdown-item text-right">
                <a class="text-decoration-none" href="{% url 'django_cas:logout' %}">
                  <i class="fa fas fa-sign-out"></i> {% trans "Logout" %}
                </a>
              </div>
            </div>
          {% else %}
            {% trans 'Sign in' %}
            <span class="caret"></span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <span class="dropdown-item text-center">{% trans "You are"%} : </span>
              <a class="dropdown-item" href="{% url 'django_cas:login' %}">{% trans 'University member' %}</a>
              <a class="dropdown-item" href="{% url 'immersion:login' profile='ref-lyc' %}">{% trans 'Highschool manager' %}</a>
              <a class="dropdown-item" href="{% url 'immersion:login' %}">{% trans 'Highschool member' %}</a>
              <a class="dropdown-item" href="{% url 'shibboleth_login' %}">{% trans 'Student' context "login" %}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

