{% load static i18n immersionlyceens_tags %}
{% general_settings_get 'PLATFORM_URL' as platform_url %}
{% settings_get 'UNISTRA' as unistra %}
{% general_settings_get 'ACTIVATE_HIJACK' as active_hijack %}
{% authorized_groups request.user %}
<header class="page-header py-3 bg-gray">
  <div class="container">
    <div class="row">
      <div class="logo col-auto offset-lg-2">
        {% if unistra == "true" %}
        <div class="establishment-logo">
          <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        {% else %}
        <a href="{% url 'home' %}">
          <div class="establishment-logo"></div>
        </a>
        {% endif %}
      </div>
      {% if user.is_superuser or authorized_groups|in_groups:"REF-ETAB,REF-ETAB-MAITRE,REF-TEC" and active_hijack %}
        {% include "./user_selector.html" %}
      {% endif %}
    </div>
  </div>
</header>
