{% load i18n  %}
{% load immersionlyceens_tags %}
{% general_settings_get 'CONTACT_FORM_URL' as external_contact_form_url %}
{% information_text_get 'MENTIONS_LEGALES' as legal_show %}
<!-- Footer -->
<footer id="page-footer" class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; Direction du Num&eacute;rique - Universit&eacute; de Strasbourg - {% now "Y" %}
          - <a {% if external_contact_form_url %} href="{{ external_contact_form_url }}" target="_blank"{% else%}href="#" data-toggle="modal" data-backdrop="static" data-target="#modal_contact_us"  {% endif %}>{% trans 'Contact us' %}</a>
          {% if  legal_show %}
          - <a href="#" data-toggle="modal" data-target="#modalLegal">{% trans 'Privacy & terms' %}</a>
          {% endif %}
          - <a href="#"
            data-toggle="modal" data-target="#modalCredits">{% trans 'Credits' %}</a>
        </p>
      </div>
    </div>
  </div>
</footer>
