{% load i18n %}
{% load immersionlyceens_tags %}
{% general_settings_get 'PLATFORM_URL' as platform_url %}
<section id="share" class="share">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <div class="sun sun-theme-light sun-full sun-right">
          <span class="sun-row">
            <span class="sun-cell sun-before-full"></span>
            <span class="sun-cell sun-empty-1"></span>
            <span class="sun-cell sun-empty-1"></span>
            <span class="sun-cell sun-empty-10"></span>
            <span class="sun-cell sun-empty-2"></span>
            <span class="sun-dropdown dropup">
              <a href="" class="sun-cell dropdown-toggle sun-hover-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Share' %}</a>
              <a href="" class="sun-cell dropdown-toggle sun-primary sun-hover-primary sun-text-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="sun-cell-inner"><i class="us us-plus"></i></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item popup-socialnetworks" href="http://twitter.com/share?url={{ platform_url }}/" title="{% trans 'Share this page on' %} Twitter ({% trans 'Openning in a new window' %})">
                  <i class="fa fa-twitter"></i> {% trans 'Share on' %} <strong>Twitter</strong>
                </a>
                <a class="dropdown-item popup-socialnetworks" href="https://www.facebook.com/sharer.php?u={{ platform_url }}/" title="{% trans 'Share this page on' %} Facebook ({% trans 'Openning in a new window' %})">
                  <i class="fa fa-facebook"></i> {% trans 'Share on' %} <strong>Facebook</strong>
                </a>
                <a class="dropdown-item popup-socialnetworks" href="http://www.linkedin.com/shareArticle?mini=true&url={{ platform_url }}/" title="{% trans 'Share this page on' %} LinkedIn ({% trans 'Openning in a new window' %})">
                  <i class="fa fa-linkedin"></i> {% trans 'Share on' %} <strong>LinkedIn</strong>
                </a>
              </div>
            </span>
            <span class="sun-cell sun-empty-6"></span>
            <span class="sun-cell sun-after-full"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
