{% load immersionlyceens_tags %} {% load i18n %} {% immersion_filtered_users %}{% load hijack %}
<div class="logo col-auto offset-lg-2">
  <select id="selectUser" class="form-control selectpicker" name="select-hijack-user">
    <option value="">&nbsp;</option>
    {% for u in immersion_filtered_users  %}
    <option value="{{ u.id }}">{{ u.username }}</option>
    {% endfor %}
  </select>
</div>
{% block foot-javascript %}
<script>
    $('#selectUser').on('change', function() {
        $.ajax({
            url: '{% url 'hijack:acquire' %}',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                user_pk: this.value,
            },
            success: function() {
                window.location.replace('{{ request.build_absolute_uri }}');
            }
        });
    })
</script>
{% endblock %}
