{% load immersionlyceens_tags %} {% load i18n %} {% immersion_users %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <select id="selectUser" class="form-control selectpicker" name="select-hijack-user">
      <option value=""></option>
      {% for u in immersion_users  %}
      <option value="{{ u.id }}">{{ u.username }}</option>
      {% endfor %}
    </select>
    </li>
</ul>
{% block foot-javascript %}
<script>
    $('#selectUser').on('change', function() {
        $.ajax({
            url: "/hijack/" + this.value,
            type: 'GET',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function() {
                window.location.replace('{{ request.build_absolute_uri }}');
            }
        });
    })
</script>
{% endblock %}
