{% extends "base.html" %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% block title %}
{% trans "Accompanying" %}
{% endblock %}
{% block content %}

<div class="main-title inside text-center">
  <div class="bg-main-title bg-parallax" data-scroll-speed=".3"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% trans "Accompanying" %}</h1>
        <p class="text-uppercase"></p>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Accompanying' %}</li>
      </ol>
    </nav>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <section id="acc_txt">
        {{ accomp_txt | safe }}
        </section>
      </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <section id="acc_doc_listing">
        {% if accomp_docs %}
        <ul class="filelinks">
        {% for doc in accomp_docs %}
          <li class="sun sun-theme-light sun-full">{{ doc.type }}
          <ul>
            {% for file in doc.docs %}
              <li class="sun sun-theme-light sun-full"><a href="{% url 'accompanying_document' file.pk %}" class="sun-row"><span class="sun-cell sun-icon"><span class="sun-cell-inner"><i class="nv nv-download"></i></span></span>{{ file.label }}</a>
              {% if file.description %}
                - {{ file.description }}
              {% endif %}
              </li>
            {% endfor %}
          </ul>
          </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>{% trans 'No documents available' %}</p>
        {% endif %}
        </section>
      </div>
    </div>
  </div>
</section>

                    <ul class="filelinks">
                        <li class="sun sun-theme-light sun-full">
                            <a title="Télécharger le fichier : Télécharger la convention au format Word" class="sun-row" href="fileadmin/uploads/dummy/fichiers/dummy.docx">
                                <span class="sun-cell sun-icon">
                                    <span class="sun-cell-inner"><i class="nv nv-download"></i></span>
                                </span>
                                <span class="sun-cell sun-wrap">
                                    <span class="sun-cell-inner"><span class="sr-only">Nom du fichier : </span>Télécharger la convention au format Word</span>
                                </span>
                                <span class="sun-cell sun-empty-6"></span>
                                <span class="sun-cell sun-empty-2"></span>
                                <span class="sun-cell file-ext">
                                    <span class="sun-cell-inner"><span class="sr-only">Extension du fichier : </span><strong>docx</strong></span>
                                </span>
                                <span class="sun-cell file-size">
                                    <span class="sun-cell-inner"><span class="sr-only">Poids du fichier : </span>1 Mo</span>
                                </span>
                                <span class="sun-cell sun-empty-full"></span>
                            </a>
                        </li>
                    </ul>


{% endblock %}



