<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load hijack_tags %}
{% load immersionlyceens_tags %}
{% general_settings_get 'CONTACT_FORM_URL' as contact_form_url %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}immersionlyceens{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content='Direction du Numérique - Université de Strasbourg'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/immersionlyceens.css' %}" type="text/css" title="no title" charset="utf-8" />
    <link rel="shortcut icon" href="{% static 'img/favicon-unistra-32px.png' %}" type="image/png">
    {% comment %} TODO: remove s3.unistra.fr dep ! {% endcomment %}
    <link rel="stylesheet" href="https://s3.unistra.fr/master/common/assets/fonts/unistra-font/1.0.0/css/unistra-font.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=Ros22u4Tp0Dy106qr0rRkGBPoJM%3D&Expires=1870971370">
    <link rel="stylesheet" href="https://s3.unistra.fr/master/common/assets/fonts/unistra-symbol/1.0.4/css/unistra-symbol.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=lfTwAVnRXjgZc9ryRpAcWhiMbCA%3D&Expires=1876298241">
    <link rel="stylesheet" href="https://s3.unistra.fr/master/common/assets/fonts/nova-icons/1.0.2/css/nova-icons.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=hFFKhRhE9%2B1xVyIi%2F%2BQPD%2BftVbk%3D&Expires=1887617035">
    <link rel="stylesheet" href="https://s3.unistra.fr/master/common/assets/fonts/fontawesome/4.7.0/css/font-awesome.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=snnhBqegenRmkB3%2F8aGO0MmaQiU%3D&Expires=1887617417">
    <link rel="stylesheet" href="https://s3.unistra.fr/master/common/assets/fonts/unistra-signature/3.0.1/css/sun.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=CgIbptGflBu5hCjAQYmysfF3E4c%3D&Expires=1887617036">
    <link rel="stylesheet" href="https://s3.unistra.fr/master/common/assets/fonts/unistra-signature/3.0.1/css/themes/sun-theme-immersion.css?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=216mNuWUwf31285a88K3dSAshsg%3D&Expires=1901524495">
    <link rel="stylesheet" href="{% static 'css/styles-unistra.css' %}">
    {% block head-css %}{% endblock %}
    {% block head-javascript %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>
    {% hijack_notification %}
    {% include './fragments/main_header.html'%}
    {% include './fragments/main_menu.html'%}

    {% block section_title %}{% endblock %}

    {% if messages %}
    <div class="container sticky-top" style="padding: 10px;">
      {% for message in messages %}
      {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
      <div class="messages{% if alert_tag %} alert alert-{{ alert_tag }}{% endif %} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message|safe }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    {% include './modals/modal_credits.html'%}
    {% include './modals/modal_legal.html'%}
    {% if not external_contact_form_url %}
    {% include './modals/modal_contact_us.html'%}
    {% endif %}
    {% include './fragments/main_share.html' %}
    {% include './fragments/main_footer.html' %}
    <script src="{% static 'js/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{{ STATIC_URL }}/summernote/summernote-bs4.min.js"></script>
    {% comment %}
    TODO: check later if used !
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="js/plugins/imagesloaded/imagesloaded-4.1.4.pkgd.min.js"></script>
    <script src="js/plugins/masonry/masonry-4.2.2.pkgd.min.js"></script>
    {% endcomment %}

    {% comment %} TODO: remove s3.unistra.fr dep ! {% endcomment %}
    <script src="https://s3.unistra.fr/master/common/assets/fonts/unistra-signature/3.0.1/js/sun.js?AWSAccessKeyId=M2M78RKXPAP75Y692QZX&Signature=FtPYMZbxBS1r1HS6YDn%2FPt%2BiI%2Bc%3D&Expires=1887617036"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

    {% block foot-javascript %}{% endblock %}
</body>

</html>
