<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load hijack_tags %}
{% load immersionlyceens_tags %}
{% general_settings_get 'CONTACT_FORM_URL' as contact_form_url %}
<html>

<head>
    <title>{% block title %}immersionlyceens{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content='Direction du Numérique - Université de Strasbourg' />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/immersionlyceens.css' %}" type="text/css" title="no title" charset="utf-8" />
    {% block head-css %}{% endblock %}
    {% block head-javascript %}
    <script src="{% static 'js/vendor/jquery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{{ STATIC_URL }}/summernote/summernote-bs4.min.js"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
</head>

<body>
    {% hijack_notification %}
    {% include './fragments/main_menu.html'%}

    {% block section_title %}{% endblock %}

    {% if messages %}
    <div class="container" style="padding: 10px;">
      {% for message in messages %}
      {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
      <div class="messages{% if alert_tag %} alert alert-{{ alert_tag }}{% endif %} alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message|safe }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    {% include './modals/modal_credits.html'%}
    {% include './modals/modal_legal.html'%}
    {% if not external_contact_form_url %}
    {% include './modals/modal_contact_us.html'%}
    {% endif %}
    {% include './fragments/main_footer.html' %}
    {% block foot-javascript %}{% endblock %}
</body>

</html>
