{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block head-css %}
<link rel="stylesheet" href="{% static 'js/vendor/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'js/vendor/datatables/Select-1.3.1/css/select.bootstrap4.min.css' %}">
{% comment %} TODO: add this in css file !!! {% endcomment %}
<style>
  table.table-bordered{
      border:2px solid grey !important;
      margin-top:20px;
    }
</style>
{% endblock %}

{% block head-javascript %}
<script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block title %}
{% trans "Courses offer" %}
{% endblock %}
{% block content %}
{% authorized_groups request.user %}
{% include 'modals/modal_course_alert.html' %}
{% include 'modals/modal_register_group.html' %}
{% general_settings_get 'HIDE_FIELDS_PUBLIC_AREA' as hide_fields_public_area %}


{% trans 'No city' as no_city %}

<div class="main-title inside text-center domain-{{ subdomain.training_domain.pk }}">
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ subdomain }}</h1>
                <p class="text-uppercase mb-0"></p>
                <button class="btn btn-primary close-button pull-right" type="button">{% trans 'Close all' %}</button>
            </div>
        </div>
    </div>
</div>
<section class="py-2">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Homepage' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'cohort_offer' %}">{% trans "Cohort immersions" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ subdomain }}</li>
            </ol>
        </nav>
    </div>
</section>
<section class="py-5 bg-gray">
  <div class="container-fluid mt-4">
    {% if data %}
      <div class="modal fade" id="fullTextModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{% trans 'Additional information' %}</h5>
              <button type="button" class="btn badge badge-pill badge-secondary pull-right" onclick="$('#fullTextModal').modal('hide')" aria-label="{% trans 'Close' %}">{% trans 'Close' %}</button>
            </div>
            <div class="modal-body" id="full_text_content"></div>
          </div>
        </div>
      </div>
      <div id="accordion" class="accordion">
        {% for training_id, etabs_dict in data.items %}
        {% with training=etabs_dict.info %}
          {% for etab_label, courses_dict in etabs_dict.items %}
          {% if etab_label != 'info' %}
          {% with etab=courses_dict.info %}
            <div class="card">
              <div class="card-header card-cours" id="training{{training_id}}">
                <h5 class="mb-0 more-less-title">
                  {% if etab.label %}
                    <span class="badge badge-pill immersup-badge" style="background-color: {{ etab.badge_html_color }};margin: 2px;">{{ etab.label }}</span>
                  {% elif training.highschool %}
                    <span class="badge badge-pill immersup-badge" style="background-color: {{ training.highschool_badge_html_color }};margin: 2px;">
                      {{ training.highschool_label }} - {% firstof training.highschool_city no_city %}
                    </span>
                  {% endif %}
                  <button class="btn btn-link" data-toggle="collapse" data-target="#training{{training_id}}" aria-expanded="false" aria-controls="training{{training_id}}">
                    <i class="fa fa-arrow-right fa-fw text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Training' %}"></i>{{ training.label }}
                  </button>
                  {% if training.url %}<a href="{{ training.url }}" target=”_blank” data-toggle="tooltip" data-placement="top" title="{% trans 'Click here for more informations'%}"><i class="fa fas fa-info-circle subdomains-icons"></i></a>{% endif %}
                </h5>
              </div>
              <div id="training{{training_id}}" class="collapse" aria-labelledby="training{{training_id}}" data-parent="#accordion">
                <div class="card-body">
                  {% for course_id, data_dict in courses_dict.items %}
                  {% if course_id != 'info' %}
                  {% with course=data_dict.info %}
                  {% with slots_list=data_dict.slots %}
                    {% if course.is_displayed %}
                      <div class="card-header">
                        <h6 class="mb-5 mb-sm-0 more-less-title">
                          <i class="nv nv-graduation-hat nv-fw" data-toggle="tooltip" title="{% trans 'Course' %}"></i>
                          {% if slots_list %}
                            <button class="btn btn-link pl-0" data-toggle="collapse" data-target="#course{{course.id}}" aria-expanded="false" aria-controls="course{{course.id}}">
                                {{ course.label }}
                            </button>
                            {% if course.url %}
                              <a href="{{ course.url }}" target=”_blank” data-toggle="tooltip" data-placement="top" title="{% trans 'Click here for more informations'%}"><i class="fa fas fa-info-circle subdomains-icons"></i></a>
                            {% endif %}
                          {% else %}
                            {{ course.label }}
                            <span class="badge badge-pill badge-warning pull-right ml-2">{% trans 'No slots available' %}</span>
                          {% endif %}
                        </h6>
                      </div>
                      {% if slots_list %}
                        <div class="collapse" id="course{{course.id}}">
                          <div class="card">
                            <div class="card-body">
                              {% for slot in slots_list %}
                                <div class="table-responsive">
                                  <table class="table table-bordered" style="table-layout: fixed">
                                    <colgroup>
                                      <col style="width:20%" span="3">
                                      <col style="width:10%" span="2">
                                      <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                      <tr>
                                        <td><i class="fa fas fa-calendar text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Date' %}"></i> {{ slot.date | date:"l d F Y"}}</td>
                                        <td><i class="fa fas fa-clock-o text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Schedules' %}"></i> {{ slot.start_time }} - {{ slot.end_time }}</td>
                                        <td><i class="fa fa-book fa-fw text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Course type' %}"></i> {{ slot.course_type_label }}</td>
                                        <td rowspan="2">
                                        {% if not hide_fields_public_area.speakers.hide_public_area %}
                                          <i class="fa fas fa-users text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Speaker(s)' %}"></i>
                                          {% trans 'Speaker(s)' %} :
                                          <ul>
                                          {% if slot.speaker_list %}
                                            {% for speaker in slot.speaker_list %}
                                              <li>{{ speaker.last_name | title }} {{ speaker.first_name | title }}</li>
                                            {% endfor %}
                                          {% else %}
                                            <li>{% trans 'Data not available' %}</li>
                                          {% endif %}
                                          </ul>
                                        {% endif %}
                                        </td>
                                        <td rowspan="2">
                                          {% if slot.establishments_restrictions or slot.levels_restrictions or slot.bachelors_restrictions %}
                                            <i class="fa fas fa-ban text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Restrictions' %}"></i>
                                            {% trans "Restrictions" %} :
                                            {% if slot.allowed_establishments_list %}
                                              <h6>{% trans "Allowed establishments" %} :</h6>
                                              <ul>
                                              {% for e in slot.allowed_establishments_list %}
                                                <li>{{ e.label }} - {{ e.city }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_highschools_list %}
                                              <h6>{% trans "Allowed highschools" %} :</h6>
                                              <ul>
                                              {% for h in slot.allowed_highschools_list %}
                                                <li>{{ h.label }} - {% firstof h.city no_city %}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_highschool_levels_list %}
                                              <h6>{% trans "Allowed highschool levels" %} :</h6>
                                              <ul>
                                              {% for l in slot.allowed_highschool_levels_list %}
                                                <li>{{ l }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_student_levels_list %}
                                              <h6>{% trans "Allowed student levels" %} :</h6>
                                              <ul>
                                              {% for l in slot.allowed_students_levels_list %}
                                                <li>{{ l }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_post_bachelor_levels_list %}
                                              <h6>{% trans "Allowed post bachelor levels" %} :</h6>
                                              <ul>
                                              {% for l in slot.allowed_post_bachelor_levels_list %}
                                                <li>{{ l }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_bachelor_types_list %}
                                              <h6>{% trans "Allowed bachelor types" %} :</h6>
                                              <ul>
                                              {% for t in slot.allowed_bachelor_types_list %}
                                                <li>{{ t }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_bachelor_mentions_list %}
                                              <h6>{% trans "Allowed bachelor mentions" %} :</h6>
                                              <ul>
                                              {% for m in slot.allowed_bachelor_mentions_list %}
                                                <li>{{ m }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                            {% if slot.allowed_bachelor_teachings_list %}
                                              <h6>{% trans "Allowed bachelor teachings" %} :</h6>
                                              <ul>
                                              {% for t in slot.allowed_bachelor_teachings_list %}
                                                <li>{{ t }}</li>
                                              {% endfor %}
                                              </ul>
                                            {% endif %}
                                          {% else %}
                                            <i class="fa fas fa-universal-access text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Restrictions' %}"></i>
                                            {% trans "Slot open to all" %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          {% if slot.allow_group_registrations %}
                                            <div id="group_registrations_{{ slot.pk }}">
                                              <i class="fa fas fa-group text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Cohort immersions' %}"></i>
                                              {% trans 'Cohort immersions' %}
                                              {% with  total_groups_places=slot.n_group_places total_reg_groups=slot.total_registered_groups total_group_registered_persons=slot.group_registered_persons total_groups=slot.n_group_places|sub:slot.group_registered_persons pk=slot.pk %}
                                              <div id="group_registrations_infos_{{ pk }}">
                                              {% if slot.group_mode == 0 %}
                                                {% if total_reg_groups > 0 %}
                                                  <span class="badge badge-pill badge-danger">{% trans 'Full' %}</span>
                                                {% else %}
                                                  <span class="badge badge-primary badge-pill" id="group_feedback_{{ pk }}">
                                                    {% blocktrans %}Only one group of {{ total_groups_places }} persons max{% endblocktrans %}
                                                  </span>
                                                  <span class="badge badge-pill {% if slot.passed_registration_limit_date %}badge-danger{% else %}badge-info{% endif %}">{% trans 'Registration limit' %} : {{ slot.registration_limit_date }}</span><br>
                                                  {% if authorized_groups|in_groups:'REF-LYC' %}
                                                    {% if not slot.allowed_highschools_list or request.user.highschool in slot.allowed_highschools_list %}
                                                      {% if slot.valid_registration_start_date %}
                                                        <button type="button" id="btn_register_group_{{ pk }}" class="badge badge-pill badge-primary" data-toggle="modal" onclick="current_slot_id={{ slot.id }}" data-target="#modal_register_group">{% trans 'Register a group' %}</button>
                                                        <div id="feedback_{{ pk }}"></div>
                                                      {% else %}
                                                        <span class="badge badge-pill badge-info">{% trans 'Registration from' %} : {{ slot.period_registration_start_date }}</span><br>
                                                      {% endif %}
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                              {% else %}
                                                {% if total_groups > 0 %}
                                                  <span class="badge badge-primary badge-pill" id="group_feedback_{{ pk }}">
                                                    {% blocktrans  %}group(s) of <span id="group_registrations_counter_{{ pk }}">{{ total_groups }}</span> persons max{% endblocktrans %}
                                                  </span>
                                                  <span class="badge badge-pill {% if slot.passed_registration_limit_date %}badge-danger{% else %}badge-info{% endif %}">{% trans 'Registration limit' %} : {{ slot.registration_limit_date }}</span><br>
                                                  {% if authorized_groups|in_groups:'REF-LYC' %}
                                                    {% if not slot.allowed_highschools_list or request.user.highschool in slot.allowed_highschools_list %}
                                                      {% if slot.valid_registration_date %}
                                                        <button type="button" id="btn_register_group_{{ pk }}" class="badge badge-pill badge-primary" data-toggle="modal" onclick="current_slot_id={{ pk }}" data-target="#modal_register_group">{% trans 'Register a group' %}</button>
                                                        <div id="feedback_{{ pk }}"></div>
                                                      {% else %}
                                                        <span class="badge badge-pill badge-info">{% trans 'Registration from' %} : {{ slot.period_registration_start_date }}</span><br>
                                                      {% endif %}
                                                    {% endif %}
                                                  {% endif %}
                                                {% else %}
                                                  <span class="badge badge-pill badge-danger">{% trans 'Full' %} {{ total_reg_groups }} {% trans "group(s) registered" %}</span>
                                                {% endif %}
                                              {% endif %}
                                              </div>
                                              {% endwith %}
                                            </div>
                                          {% endif %}
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          {% if slot.campus %}
                                            <p>
                                              <i class="fa fas fa-university text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Campus' %}"></i>
                                              {{ slot.campus_label }}
                                            </p>
                                          {% endif %}
                                          {% if slot.course_structure_label %}
                                            {% if not hide_fields_public_area.structure.hide_public_area %}
                                              <p>
                                                <i class="fa fas fa-address-card text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Organizing structure' %}"></i>
                                                {{ slot.course_structure_label }} ({{ etab.label }})
                                              </p>
                                            {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          {% if not hide_fields_public_area.building.hide_public_area %}
                                            {% if slot.building %}
                                              <i class="fa fas fa-building text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Building' %}"></i>{% trans 'Building' %} : {{ slot.building_label }}
                                            {% endif %}
                                            {% if slot.building_url %}
                                              <a href="{{ slot.building_url }}" target="_blank" title="{% trans 'Show map url' %}"><i class="fa fas fa-map-marker subdomains-icons"></i></a>
                                            {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          {% if slot.room %}
                                            {% if not hide_fields_public_area.meeting_place.hide_public_area %}
                                              <i class="fa fas fa-map-marker text-primary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Meeting place' %}"></i>
                                              {{ slot.room }}
                                            {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          {% if slot.additional_information %}
                                            {% trans 'Additional information' %} :
                                            <div class="text-truncate" id="truncated_info_{{ slot.id }}" style="max-height: 4.5em; overflow: hidden;">{{ slot.additional_information }}</div>
                                            <button class="btn btn-link p-0 mt-1" onclick="openFullInfoModalHtml(`{{ slot.additional_information|escapejs }}`)">{% trans 'See more' %}</button>
                                          {% endif %}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endwith %}
                  {% endwith %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endwith %}
          {% endif %}
          {% endfor %}
        {% endwith %}
        {% endfor %}
      </div>
    {% else %}
      <p>{% trans 'No training available for the selected domain' %}</p>
      <p><a class="unlink" href="{% url 'offer' %}">{% trans 'Click here to return to offer selection' %}</a></p>
    {% endif %}
  </div>
</section>
<script>
var feedback;
var open_course_id = "{{ open_course_id }}";
var open_training_id = "{{ open_training_id }}";
var current_course_id = "";
var is_anonymous = {% if is_anonymous %}true{% else %}false{% endif %};
let register_group_txt = "{% trans 'Register this group' %}"
var current_slot_id;

function register(slot_id) {
  $.ajax({
      url: "{% url 'SlotRegistration' %}",
      type: 'POST',
      data: {
        'slot_id': slot_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let msg = json['msg'];
        let error = json['error'];

        if(error) {
          feedback = $("#feedback_"+slot_id);
          feedback.trigger("showFeedback", [[msg, "danger"]]);
        }
        else {
          window.location = "{% url 'offer_subdomain' subdomain_id=subdomain.id %}";
        }
      },
      error: function(json) {
        console.log(json);
      }
    })
}

function open_alert_modal(course_id) {
  current_course_id = course_id;
  $('#modal_course_alert').modal('show');
}

function csrfSafeMethod(method) {
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$(document).ready(function() {
  initFeedback();
  initBadge();
  feedback = $("#feedback");
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    }
  });

  $(".close-button").on("click", function() {
    $("div.collapse").collapse('hide');
  });

  // Reopen course and training accordeons after registration for easier navigation
  if(open_training_id) {
    $('#training'+open_training_id).collapse('show');
  }

  if(open_course_id) {
    $('#course'+open_course_id).collapse('show');
  }
});
</script>
{% endblock %}
