{% extends 'base.html' %}
{% load static i18n immersionlyceens_tags %}
{% block title %}
{% trans 'Cohort immersions' %}
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}

{% block content %}
  {% settings_get 'UNISTRA' as unistra %}
  {% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
  {% include 'modals/modal_register_group.html' %}

  <div class="main-title inside text-center">
    <div></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{% trans 'The courses' %}</h1>
          <p class="text-uppercase">
            {% trans 'by domain and subdomain' %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="py-2">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">{% trans 'Home' %}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {% trans 'Cohort immersions' %}
          </li>
        </ol>
      </nav>
    </div>
  </section>
  {% if cohort_offer_txt %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col lead">
            {{ cohort_offer_txt|safe }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="py-5 bg-gray">
  {% authorized_groups request.user %}
    <div class="container-fluid">
      <nav class="nav nav-pills" aria-label="Courses/Events selector">
        <a class="nav-item nav-link active" href="#courses" data-toggle="tab">{% trans 'Courses' %}</a>
        {% if events_off_offer %}
        <a class="nav-item nav-link" href="#events" data-toggle="tab">{% trans 'Events' %}</a>
        {% endif %}
      </nav>
      <div class="tab-content">
        <!-- Tab Courses pan -->
        <div class="tab-pane active" id="courses">
          <p class="text-center">
            <span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ slots_count }} {% trans 'available slots divided in subdomains (see below)' %}">{{ slots_count }} {% trans 'available slots' %}</span>
          </p>
          <div class="domains row row-cols-1 row-cols-sm-2 row-cols-xl-6 justify-content-center">
            {% if subdomains %}
              {% regroup subdomains by training_domain.label as subdomains_list %}
              {% for subdomain in subdomains_list %}
                <div class="col">
                  <div class="card domain">
                    <header>
                      <div class="domain-title">{{ subdomain.grouper }}</div>
                    </header>
                    <div class="card-body">
                      <ul class="list-arrows">
                        {% if authorized_groups|in_groups:"REF-LYC" %}
                          {% for d in subdomain.list %}
                            {% with slots_number=d.group_public_and_private_subdomain_slots|length %}
                              <li>
                                {% if slots_number > 0 %}
                                  <a href="{% url 'cohort_offer_subdomain' d.id %}">{{ d.label }}</a>
                                  <span class="badge-wrapper"><span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ slots_number }} {% trans 'slot(s) available' %}">{{ slots_number }}</span></span>
                                {% else %}
                                  <span data-toggle="tooltip" title="{% trans 'No slots available' %}">{{ d.label }}</span>
                                {% endif %}
                              </li>
                            {% endwith %}
                          {% endfor %}
                        {% else %}
                          {% for d in subdomain.list %}
                            {% with slots_number=d.group_public_subdomain_slots|length %}
                              <li>
                                {% if slots_number > 0 %}
                                  <a href="{% url 'cohort_offer_subdomain' d.id %}">{{ d.label }}</a>
                                  <span class="badge-wrapper"><span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ slots_number }} {% trans 'slot(s) available' %}">{{ slots_number }}</span></span>
                                {% else %}
                                  <span data-toggle="tooltip" title="{% trans 'No slots available' %}">{{ d.label }}</span>
                                {% endif %}
                              </li>
                            {% endwith %}
                          {% endfor %}
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>
                {% trans 'No cohort immersions available' %}
              </p>
            {% endif %}
          </div>
        </div>
        <!-- Tab Events pan -->
        {% if events_off_offer %}
        <div class="tab-pane" id="events">
          {% trans 'No city' as no_city %}
          <div class="container-fluid mt-4">
            <p class="text-center">
              <span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ events_count }} {% trans 'available events (see below)' %}">{{ events_count }} {% trans 'available events' %}</span>
            </p>
            {% if data %}
              <div id="accordion" class="accordion">
                {% for event_type_id, event_dict in data.items %}
                {% with event_type=event_dict.info %}
                {% with events_type|length as events_types_count %}
                  {% for event_label, slots_dict in event_dict.items %}
                  {% if event_label != 'info' %}
                    <div class="card">
                      <div class="card-header card-events" id="events_type_{{ event_type_id }}">
                        <h5 class="mb-0 more-less-title">
                          <button class="btn btn-link nav-link" data-toggle="collapse" data-target="#eventType_{{ event_type_id }}" aria-expanded="{% if events_types_count == 1 %}true{% else %}false{% endif %}" aria-controls="eventType_{{ event_type_id }}">
                            <i class="us us-arrow-right us-fw text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Event type' %}"></i>
                            {{ event_type.label }}
                          </button>
                        </h5>
                      </div>

                      <div class="collapse {% if events_types_count == 1 %}show{% endif %}" id="eventType_{{event_type_id}}" aria-labelledby="eventType_{{event_type_id}}" data-parent="#accordion">
                        {% for event_id, data_dict in slots_dict.items %}
                        {% if event_id != 'info' %}
                        {% with event=data_dict.info %}
                        {% with slot_list=data_dict.slots %}
                        {% with slot_list|length as nb_events %}
                          {% with forloop.counter as slot_i %}
                            <div class="card-body">
                              <div id="event_label_{{slot_i}}_{{event_type_id}}">
                                <div class="card-header">
                                  <h6 class="mb-5 mb-sm-0 more-less-title">
                                    <i class="nv nv-graduation-hat nv-fw" data-toggle="tooltip" title="{% trans 'Event' %}"></i>
                                    <button class="btn btn-link pl-0 nav-link" data-toggle="collapse" data-target="#slot{{slot_i}}_{{event_type_id}}" aria-expanded="{% if nb_events == 1 %}true{% else %}false{% endif %}" aria-controls="slot{{slot_i}}_{{event_type_id}}">
                                      <span class="badge badge-pill immersup-badge" style="background-color: {{ slot.list.0.get_badge_color }};margin: 2px;">{{ slot.list.0.get_establishment_or_highschool.label }}</span>
                                      {{ event_info.label }}
                                    </button>
                                  </h6>
                                </div>
                                <div class="card-body collapse pb-0 {% if nb_events == 1 %}show{% endif %}" id="slot{{slot_i}}_{{event_type_id}}">
                                  {% for slot in slot_list %}
                                    {% if event.is_displayed %}
                                      <div class="table-responsive">
                                        <table class="table table-bordered" style="table-layout: fixed">
                                            <colgroup>
                                              <col style="width:15%">
                                              <col style="width:10%" span="2">
                                              <col style="width:20%">
                                              <col style="width:15%" span="3">
                                            </colgroup>
                                          <tbody>
                                            <tr>
                                              <td>
                                                <i class="fa fas fa-calendar text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Date' %}"></i>
                                                {{ slot.date|date:'l d F Y' }}
                                              </td>
                                              <td>
                                                <i class="fa fas fa-clock-o text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Schedules' %}"></i>
                                                {{ slot.start_time }} - {{ slot.end_time }}
                                              </td>
                                              <td>
                                                <i class="fa fas fa-book text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Type' %}"></i>
                                                {{ slot.event_type_label }}
                                              </td>
                                              <td rowspan="2">
                                                {% if slot.place == 0 or slot.place == 2 %}
                                                  <i class="fa fas fa-map-marker text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Meeting place' %}"></i>
                                                  {{ slot.room }}
                                                {% else %}
                                                  <i class="fa fas fa-desktop text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Remote event' %}"></i>
                                                  {% trans 'Remote event' %}
                                                {% endif %}
                                              </td>
                                              <td rowspan="2">
                                                <i class="fa fas fa-users text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Speaker(s)' %}"></i>
                                                {% trans 'Speaker(s)' %}:<ul>
                                                  {% if slot.speaker_list %}
                                                    {% for speaker in slot.speaker_list %}
                                                      <li>{{ speaker.last_name|title }} {{ speaker.first_name|title }}</li>
                                                    {% endfor %}
                                                  {% else %}
                                                    <li>
                                                      {% trans 'Data not available' %}
                                                    </li>
                                                  {% endif %}
                                                </ul>
                                              </td>
                                              <td rowspan="2">
                                                {% if slot.establishments_restrictions or slot.levels_restrictions or slot.bachelors_restrictions %}
                                                  <i class="fa fas fa-ban text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Restrictions' %}"></i>
                                                  {% trans 'Restrictions' %}:{% if slot.allowed_establishments_list %}
                                                    <h6>{% trans 'Allowed establishments' %}:</h6>
                                                    <ul>
                                                      {% for e in slot.allowed_establishments_list %}
                                                        <li>{{ e.label }} - {{ e.city }}</li>
                                                      {% endfor %}
                                                    </ul>
                                                  {% endif %}
                                                  {% if slot.allowed_highschools_list %}
                                                    <h6>{% trans 'Allowed highschools' %}:</h6>
                                                    <ul>
                                                      {% for h in slot.allowed_highschools_list %}
                                                        <li>
                                                          {{ h.label }} -{% firstof h.city no_city %}
                                                        </li>
                                                      {% endfor %}
                                                    </ul>
                                                  {% endif %}

                                                  {% if slot.levels_restrictions %}
                                                    {% if slot.allowed_highschool_levels_list %}
                                                      <h6>{% trans 'Allowed highschool levels' %}:</h6>
                                                      <ul>
                                                        {% for l in slot.allowed_highschool_levels_list %}
                                                          <li>{{ l }}</li>
                                                        {% endfor %}
                                                      </ul>
                                                    {% endif %}
                                                    {% if slot.allowed_student_levels_list %}
                                                      <h6>{% trans 'Allowed student levels' %}:</h6>
                                                      <ul>
                                                        {% for l in slot.allowed_students_levels_list %}
                                                          <li>{{ l }}</li>
                                                        {% endfor %}
                                                      </ul>
                                                    {% endif %}
                                                  {% endif %}
                                                  {% if slot.allowed_post_bachelor_levels_list %}
                                                    <h6>{% trans 'Allowed post bachelor levels' %}:</h6>
                                                    <ul>
                                                      {% for l in slot.allowed_post_bachelor_levels_list %}
                                                        <li>{{ l }}</li>
                                                      {% endfor %}
                                                    </ul>
                                                  {% endif %}
                                                  {% if slot.allowed_bachelor_types_list %}
                                                    <h6>{% trans 'Allowed bachelor types' %}:</h6>
                                                    <ul>
                                                      {% for t in slot.allowed_bachelor_types_list %}
                                                        <li>{{ t }}</li>
                                                      {% endfor %}
                                                    </ul>
                                                  {% endif %}
                                                  {% if slot.allowed_bachelor_mentions_list %}
                                                    <h6>{% trans 'Allowed bachelor mentions' %}:</h6>
                                                    <ul>
                                                      {% for m in slot.allowed_bachelor_mentions_list %}
                                                        <li>{{ m }}</li>
                                                      {% endfor %}
                                                    </ul>
                                                  {% endif %}
                                                  {% if slot.allowed_bachelor_teachings_list %}
                                                    <h6>{% trans 'Allowed bachelor teachings' %}:</h6>
                                                    <ul>
                                                      {% for t in slot.allowed_bachelor_teachings_list %}
                                                        <li>{{ t }}</li>
                                                      {% endfor %}
                                                    </ul>
                                                  {% endif %}
                                                {% endif %}
                                                {% if not slot.establishments_restrictions and not slot.levels_restrictions and not slot.bachelors_restrictions %}
                                                  <i class="fa fas fa-universal-access text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Restrictions' %}"></i>
                                                  {% trans 'Slot open to all' %}
                                                {% endif %}
                                              </td>
                                              <td>
                                                {% if slot.allow_individual_registrations %}
                                                <i class="fa fas fa-user text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Individual immersions' %}"></i>
                                                  {% trans 'Individual immersions' %}

                                                  {% if slot.opening_soon %}
                                                  <span class="badge badge-pill badge-info">{% trans 'Opening soon' %}</span>
                                                  {% elif slot.final_available_seats > 0 %}
                                                  <span class="badge badge-primary badge-pill">{% trans 'Available places' %} : {{ slot.final_available_seats }}</span><br />
                                                  {% else %}
                                                  <span class="badge badge-pill badge-danger">{% trans 'Full' %}</span>
                                                  {% endif %}
                                                {% endif %}

                                                {% if slot.allow_group_registrations %}
                                                  <div id="group_registrations_{{ slot.pk }}">
                                                    <i class="fa fas fa-group text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Cohort immersions' %}"></i>
                                                  {% trans 'Cohort immersions' %}
                                                  {% with  total_groups_places=slot.n_group_places total_reg_groups=slot.registered_groups total_group_registered_persons=slot.group_registered_persons total_groups=slot.n_group_places|sub:slot.group_registered_persons pk=slot.pk %}
                                                    <div id="group_registrations_infos_{{ pk }}">
                                                  {% if slot.group_mode == 0 %}
                                                    {% if total_reg_groups > 0 %}
                                                      <span class="badge badge-pill badge-danger">{% trans 'Full' %}</span>
                                                    {% else %}
                                                      <span class="badge badge-primary badge-pill" id="group_feedback_{{ pk }}">
                                                    {% blocktrans %}Only one group of {{ total_groups_places }} persons max{% endblocktrans %}
                                                      </span>
                                                      <span class="badge badge-pill {% if slot.passed_registration_limit_date %}badge-danger{% else %}badge-info{% endif %}">{% trans 'Registration limit' %} : {{ slot.registration_limit_date }}</span><br>
                                                      {% if authorized_groups|in_groups:"REF-LYC" %}
                                                        {% if not slot.allowed_highschools_list or request.user.highschool in slot.allowed_highschools_list %}
                                                          {% if slot.valid_registration_start_date %}
                                                            <button type="button" id="btn_register_group_{{ pk }}" class="badge badge-pill badge-primary" data-toggle="modal" onclick="current_slot_id={{ pk }}" data-target="#modal_register_group">{% trans 'Register a group' %}</button>
                                                            <div id="feedback_{{ pk }}"></div>
                                                          {% else %}
                                                            <span class="badge badge-pill badge-info">{% trans 'Registration from' %} : {{ slot.period.registration_start_date }}</span><br>
                                                          {% endif %}
                                                        {% endif %}
                                                      {% endif %}
                                                    {% endif %}
                                                  {% else %}
                                                    {% if total_groups > 0 %}
                                                      <span class="badge badge-primary badge-pill" id="group_feedback_{{ pk }}">
                                                        {% blocktrans %}group(s) of <span id="group_registrations_counter_{{ pk }}">{{ total_groups }}</span> persons max{% endblocktrans %}
                                                      </span>
                                                      <span class="badge badge-pill {% if slot.passed_registration_limit_date %}badge-danger{% else %}badge-info{% endif %}">{% trans 'Registration limit' %} : {{ slot.registration_limit_date }}</span><br>
                                                        {% if authorized_groups|in_groups:"REF-LYC" %}
                                                          {% if not slot.allowed_highschools_list or request.user.highschool in slot.allowed_highschools_list %}
                                                            {% if slot.valid_registration_date %}
                                                              <button type="button" id="btn_register_group_{{ pk }}" class="badge badge-pill badge-primary" data-toggle="modal" onclick="current_slot_id={{ pk }}" data-target="#modal_register_group">{% trans 'Register a group' %}</button>
                                                              <div id="feedback_{{ pk }}"></div>
                                                            {% else %}
                                                              <span class="badge badge-pill badge-info">{% trans 'Registration from' %} : {{ slot.period_registration_start_date }}</span><br>
                                                            {% endif %}
                                                          {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                      <span class="badge badge-pill badge-danger">{% trans 'Full' %} {{ total_reg_groups }} {% trans "group(s) registered" %}</span>
                                                    {% endif %}
                                                  {% endif %}
                                                    </div>
                                                  {% endwith %}
                                                  </div>
                                                {% endif %}
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                {% if slot.event_structure_label %}
                                                  <i class="fa fas fa-institution text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Structure' %}"></i>
                                                  {{ slot.event_structure_label }} ({{ slot.establishment_label }})
                                                {% endif %}
                                              </td>
                                              <td>
                                                {% if slot.campus %}
                                                  <p>
                                                    <i class="fa fas fa-university text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Campus' %}"></i>
                                                    {{ slot.campus_label }}
                                                  </p>
                                                {% endif %}
                                              </td>
                                              <td>
                                                {% if slot.building %}
                                                  <i class="fa fas fa-building text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Building' %}"></i>{% trans 'Building' %}: {{ slot.building_label }}
                                                {% endif %}
                                                {% if slot.building_url %}
                                                  <a href="{{ slot.building_url }}" target="_blank" title="{% trans 'Show map url' %}"><i class="fa fas fa-map-marker subdomains-icons"></i></a>
                                                {% endif %}
                                              </td>
                                              <td>
                                                {% if slot.additional_information %}
                                                  <p>
                                                    <i class="fa fas fa-book text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Additional information' %}"></i> {{ slot.additional_information }}
                                                  </p>
                                                {% endif %}
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    {% endif %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                            {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                  {% endfor %}
                {% endwith %}
                {% endwith %}
                {% endfor %}
              </div>
            {% else %}
              <p class="text-center">
                {% trans 'No off offer event available' %}
              </p>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <script>
    let register_group_txt = "{% trans 'Register this group' %}"
    var current_slot_id;
    $(document).ready(function() {

      initFeedback();
      initBadge();

      function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        }
      });

      $(".close-button").on("click", function() {
        $("div.collapse").collapse('hide');
    });
  });
</script>
{% endblock %}
