{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% block title %}
{% trans "Homepage" %}
{% endblock %}
{% block content %}
{% general_settings_get 'SOCIAL_ACCOUNT_URL' as social_account_url %}
{% active_accompanying_docs as show_accompanying_docs %}
<div class="main-title">
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div class="presentation">
                    {{ welcome_txt | safe}}
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="us us-file us-fw us-2x text-third"></i>
          </div>
          <div class="info-description">
            <h4>{% trans 'Procedure' %}</h4>
            {{ procedure_intro_txt | safe}}
            <p><a href="{% url 'procedure' %}" class="btn btn-primary"  data-toggle="tooltip" data-html="true" data-placement="top" title="{{ procedure_txt }}">{% trans 'Details of the procedure' %}</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="nv nv-graduation-hat nv-fw nv-2x text-third"></i>
          </div>
          <div class="info-description">
            <h4>{% trans 'Offer' %}</h4>
            {{ offer_intro_txt | safe}}
            <p><a href="{% url 'offer' %}" class="btn btn-primary" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ offer_txt }}">{% trans 'Discover courses' %}</a></p>
          </div>
        </div>
      </div>
      {% if show_accompanying_docs %}
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="us us-meeting-sm us-fw us-2x text-third"></i>
          </div>
          <div class="info-description">
            <h4>{% trans 'Accompanying' %}</h4>
            {{ accomp_intro_txt | safe}}
            <p><a href="{% url 'accompanying' %}" class="btn btn-primary" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ accomp_txt }}">{% trans 'Need help ?' %}</a></p>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-md-3">
        <h4>{% trans 'Social Media' %}</h4>
          {% for key, social_account in social_account_url.items %}
            {% if social_account.activate %}
              <div class="info d-flex align-items-center flex-wrap mb-2">
                <a href="{{ social_account.url }}" target="_blank" class="me-2 mb-1 mb-md-0">
                  <img src="{{ ''|add:social_account.logo }}" alt="{{ key }}" style="width:32px; height:auto; margin-right:8px;">
                </a>
                <h5 class="mb-0">{{ social_account.name|default:key|capfirst }}</h5>
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
<script>
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]', container:'body'});
});
</script>
