{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% block title %}
{% trans "Homepage" %}
{% endblock %}
{% block content %}
<div class="main-title">
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-2">
                <div class="presentation">
                    {{ welcome_txt | safe}}
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="fa fa-file-text-o fa-fw fa-2x text-third"></i>
          </div>
          <div class="info-description">
            <h4>{% trans 'Procedure' %}</h4>
            {{ procedure_intro_txt | safe}}
            <p><a href="{% url 'procedure' %}" class="btn btn-primary"  data-toggle="tooltip" data-html="true" data-placement="top" title="{{ procedure_txt }}">{% trans 'Details of the procedure' %}</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="fa fa-graduation-cap fa-fw fa-2x text-third"></i>
          </div>
          <div class="info-description">
            <h4>{% trans 'Offer' %}</h4>
            {{ offer_intro_txt | safe}}
            <p><a href="{% url 'offer' %}" class="btn btn-primary" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ offer_txt }}">{% trans 'Discover courses' %}</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="fa fa-group fa-fw fa-2x text-third"></i>
          </div>
          <div class="info-description">
            <h4>{% trans 'Accompanying' %}</h4>
            {{ accomp_intro_txt | safe}}
            <p><a href="{% url 'accompanying' %}" class="btn btn-primary" data-toggle="tooltip" data-html="true" data-placement="top" title="{{ accomp_txt }}">{% trans 'Need help ?' %}</a></p>
          </div>
        </div>
      </div>
      {% if twitter_url %}
      <div class="col-md-3">
        <div class="info">
          <div class="info-icon">
            <i class="fa fa-twitter fa-fw fa-2x text-third"></i>
          </div>
          <aside class="info-description">
            <h4>{% trans 'Social' %}</h4>
            <a class="twitter-timeline" data-width="350" data-height="450" data-theme="light" href="{{ twitter_url }}" data-lang="fr" data-chrome="nofooter">
            {% trans 'Tweeter feed' %}
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </aside>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
<script>
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]', container:'body'});
});
</script>
