{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% block title %}
{% trans "Offer" %}
{% endblock %}
{% block content %}
{% settings_get 'UNISTRA' as unistra %}

<div class="main-title inside text-center">
  <div></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'The courses' %}</h1>
          <p class="text-uppercase">{% trans 'by domain and subdomain' %}</p>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Courses offer" %}</li>
      </ol>
    </nav>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col lead">
        {% if offer_txt %}
        {{ offer_txt | safe }}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-gray ">
  <div class="container-fluid">
    <p class="text-center"><span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ slots_count }} {% trans 'available slots divided in subdomains (see below)' %}">{{ slots_count }} {% trans 'available slots' %}</span></p>
    <div class="domains row row-cols-1 row-cols-sm-2 row-cols-xl-6 justify-content-center">
    {% if subdomains %}
    {% regroup subdomains by training_domain.label as subdomains_list %}
    {% for subdomain in subdomains_list %}
      <div class="col">
        <div class="card domain">
          <header>
            <div class="domain-title">
            {{ subdomain.grouper }}
            </div>
          </header>
          <div class="card-body">
            <ul class="list-arrows">
              {% for d in subdomain.list %}
              {%  with slots_number=d.count_subdomain_slots %}
              <li>
                {% if slots_number > 0 %}
                <a href="{% url 'offer_subdomain' d.id %}">
                {{ d.label }}
                </a>
                <span class="badge-wrapper"><span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ slots_number }} {% trans "slot(s) available" %}">{{ slots_number }}</span></span>
                {% else %}
                <span data-toggle="tooltip" title="{% trans "No slots available" %}">{{ d.label }}</span>

                {% endif %}
              </li>
              {% endwith %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <p>{% trans 'No offer available' %}</p>
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}
