{% extends "base.html" %}
{% load static staticfiles i18n immersionlyceens_tags %}
{% block title %}
{% trans "Offer" %}
{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top:20px;">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <a class="unlink" href="{% url 'home' %}">{% trans 'Homepage' %}</a> / {% trans "Offer" %}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <section id="subdomains_listing">
          {% if subdomains %}
          {% regroup subdomains by training_domain.label as subdomains_list %}
          <ul>
          {% for subdomain in subdomains_list %}

            <li>{{ subdomain.grouper }}
            <ul>
              {% for d in subdomain.list %}
                <li><a class="unlink" href="{% url 'offer_subdomain' d.id %}">{{ d.label }}</a></li>
              {% endfor %}
            </ul>
            </li>
          {% endfor %}
          </ul>
          {% else %}
          <p>{% trans 'No offer available' %}</p>
          {% endif %}

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
