{% extends 'base.html' %}
{% load static i18n immersionlyceens_tags %}
{% block head-css %}
<link rel="stylesheet" href="{% static "css/vendor/chosen/chosen.min.css" %}">

{% endblock %}
{% block title %}
  {% trans 'Search immersions slots' %}
{% endblock %}
{% block content %}
  {% general_settings_get 'HIGHSCHOOL_VISIT' as highschool_visit %}
  {% general_settings_get 'EVENTS_OFF_OFFER' as events_off_offer %}
  {% include './modals/modal_search_slots_details.html' %}
  <div class="main-title inside text-center">
    <div></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{% trans 'Search immersions slots' %}</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="py-2">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">{% trans 'Home' %}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {% trans 'Search immersions slots' %}
          </li>
        </ol>
      </nav>
    </div>
  </section>
  <div id="feedback" class="container"></div>
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col lead">
          {% if intro_offer_search %}
            {{ intro_offer_search|safe }}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row border-top my-3"></div>
      <div class="row" style="padding-top:20px;">
        <div class="col offset-sm-1 text-center">
          <form class="form-inline justify-content-center">
            <i class="fa fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-4 w-25" id="search_immersions_slots" type="text" aria-label="{% trans 'Search immersions slots' %}" />
          </form>
        </div>
      </div>
      <div class="mt-3">
        <a data-toggle="collapse" href="#collapseAdvancedSearch" aria-expanded="false">{% trans 'Advanced search' %} <i class="fa fa-angle-down"></i></a>
        <div id="collapseAdvancedSearch" class="col-ml-4 collapse">
          <div class="card card-body">
            {% if highschool_visit or events_off_offer %}
            <h5>{% trans "Slot types" %} :</h5>
            <div class="row">
              <div class="col">
                <label class="checkbox-inline">
                  <input type="checkbox" id="coursesCheckbox" name="slotType" class="filters slotTypeFilter" value="Type:{% trans "Course" %}" checked> {% trans "Courses" %}
                </label>
                {% if  events_off_offer%}
                <label class="checkbox-inline">
                  <input type="checkbox" id="eventsCheckbox" name="slotType" class="filters slotTypeFilter" value="Type:% trans "Event" %}" checked> {% trans "Events" %}
                </label>
                {% endif %}
                {% if highschool_visit %}
                <label class="checkbox-inline">
                  <input type="checkbox" id="visitsCheckbox" name="slotType" class="filters slotTypeFilter" value="Type:{% trans "Visit" %}" checked> {% trans "Visits" %}
                </label>
                {% endif %}
              </div>
            </div>
            {% endif %}
            <h5>{% trans "Establishments" %} :</h5>
            <div class="row">
              <div class="col">
                <span id="establishments_filter"></span>
              </div>
            </div>
            <h5>{% trans "Slots with available places" %} :</h5>
            
            <div class="row">
              <div class="col">
                <label class="checkbox-inline">
                  <input type="checkbox" id="slotsAvailableCheckbox" name="slotsAvailable" class="filters slotsAvailableFilter" value="true"> {% trans "Slots not full only" %}
                </label>                
              </div>
            </div>
            <h5>{% trans "Dates" %} :</h5>
            <div class="row">

              <div class="col-md-4">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="">{% trans "Start date" %}</span>
                  </div>
                  <input type="date" name="start_date" id="start_date" class="filters form-control" />
                </div>
              </div>
              <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">{% trans "End date" %}</span>
                </div>
                <input type="date" name="end_date" id="end_date" class="filters form-control" />
              </div>              
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top:20px;padding-bottom:20px;">
        <div class="col table-responsive">
          <table id="search_immersions_slots_table" class="table table-sm table-hover results-cards" style="width:100%">
            {% if highschool_visit or events_off_offer %}
              <caption>
                <span class="p-3"><i class="fa fa-graduation-cap slot-type-c cards-results-caption p-1"></i>{% trans 'Course' %}</span>
                {% if highschool_visit %}
                  <span class="p-3"><i class="fa fa-university slot-type-v cards-results-caption p-1"></i>{% trans 'Visit' %}</span>
                {% endif %}
                {% if events_off_offer %}
                  <span class="p-3"><i class="fa fa-calendar slot-type-e cards-results-caption p-1"></i>{% trans 'Event' %}</span>
                {% endif %}
              </caption>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </section>
{% block foot-javascript %}
  <script src="{% static 'js/vendor/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/vendor/datatables/datatables.min.js' %}"></script>
  <script src="{% static "js/vendor/chosen/chosen.jquery.min.js" %}"></script>
  <script src="{% static 'js/vendor/yadcf/jquery.dataTables.yadcf.js' %}"></script>
  <script src="{% static 'js/immersionlyceens.min.js' %}"></script>
  <script src="{% static 'js/core/common_slots_functions.min.js' %}"></script>
{% endblock %}
<script type="text/javascript">
  var feedback;
  var dt; 

  function decodeHTMLEntities(text) {
    return $("<textarea/>").html(text).text();
  } 
  
  function register(slot_id) {
    $.ajax({
      url: "{% url 'SlotRegistration' %}",
      type: 'POST',
      data: {
        'slot_id': slot_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let msg = json['msg'];
        let error = json['error'];
        $('#modal_search_slots_details').modal("hide");
        
        if (error) {
          feedback.trigger("showFeedback", [[msg, "danger"]]);
        }
        else {
          feedback.trigger("showFeedback", [[msg, "success"]]);
          dt.ajax.reload()
        }
      },
      error: function (json) {
        console.log(json);
      }
    })
  }

  $(document).ready(function() {
    initFeedback();
    feedback = $("#feedback");

    //let slots = JSON.parse(decodeHTMLEntities('{{ slots }}'));
    $.fn.dataTable.ext.search.push(
      function( settings, searchData, index, rowData, counter ) {
        var showAvailable = false;
        var showType = false;
        var showDate = false;
        var onlyAvailable = $('input:checkbox[name="slotsAvailable"]').prop("checked") ? 1 : 0;
        var slotTypes = $('input:checkbox[name="slotType"]:checked').map(function() {
          return this.value;
        }).get();
        var slotPlaces = parseInt(searchData[7].split(':')[1]);
        var start_date = $('#start_date').val() || null;
        var end_date = $('#end_date').val() || null;
        var startDate = rowData['date']
        if (slotTypes.length === 0) {
          showType=false;
        }
        if (slotTypes.indexOf(searchData[4]) !== -1) {
          showType=true;
        }
        if (onlyAvailable === 0 || slotPlaces > 0) {
          showAvailable = true;
        }
        if (start_date == null && end_date == null) { showDate = true; }
        if (start_date == null && startDate <= end_date) { showDate = true; }
        if (end_date == null && startDate >= start_date) { showDate = true; }
        if (startDate <= end_date && startDate >= start_date) { showDate = true; }
        return showType && showAvailable && showDate;
      }
    );    
    dt = $('#search_immersions_slots_table').DataTable({
      'processing': false,
      'order': [
          [5, "asc"],
       ],
      'dom': 'ltpr',
      'pagingType': 'full_numbers',
      'select': 'single',
      'lengthChange': false,
      'pageLength': 15,
      'lengthMenu': [[5,10, 25, -1], [5, 10, 25, "{% trans 'All' %}"]],
      'serverSide': false,
      'responsive': false,
      'dataType': 'json',
      'ajax': {
        url: "{% url 'ajax_search_slots_list' %}",
        dataSrc: function (json) {
          if (json['data'] !== undefined) {
            return json['data']['slots'];
          }
        }
      },
      'searching': true,
      {% if LANGUAGE_CODE|fix_lang_code == 'fr-FR' %}
      'language': {
        url: "{% static 'js/vendor/i18n/fr-FR.json' %}"
      },
      {% endif %}
      'columns': [
          {  
              orderable: false, className: 'text-center', width: '20px',
              render: function(data, type, full, meta) {
                  slotType = full['slot_type'][0].toLowerCase();
                  if (slotType == 'c') {
                      return '<i class="fa fa-graduation-cap slot-type-c"></i>';
                  } else if (slotType == 'v') {
                      return '<i class="fa fa-university slot-type-v"></i>';
                  } else {
                      return '<i class="fa fa-calendar slot-type-e"></i>';
                  } 
              }
          },
          { 
            data: "establishment_label", 
            render: function (data, type, full, meta) {
              return '<label>'+ "{% trans 'Establishment' %}" +':</label>' + data;
            }
          },
          { 
            data: "course_training_label",
            render: function (data, type, full, meta) {
              if (data == null) {
                data = '&nbsp;';
              } 
              return '<label>'+ '{% trans "Training" %}' + ':</label>' + data;
            }
          },
          { 
            data: "label",
            render: function (data, type, full, meta) {  
              return '<label>'+ '{% trans "Label" %}' +':</label>' + data; 
            }
          },
          { 
            data: "slot_type",
            render: function (data, type, full, meta) { 
              return '<label>'+ '{% trans "Type" %}' +':</label>' + data;
            }
          },
          { 
            data: "date", class: 'text-right',
            render: function (data, type, full, meta) { 
              return '<label>'+ '{% trans "Date" %}' +':</label>' + display_slot_date(data, type, full);
            }
          },
          { 
            "data": "location",
            render: function (data, type, full, meta) {
              return '<label>'+ "{% trans 'Location' %}" +':</label>' + data.split(' ')
                .map(w => w[0].toUpperCase() + w.substring(1).toLowerCase())
                .join(' ');
            }
          },
          { 
            "data": "n_places", title: "register", visible: true,
            render: function (data, type, full, meta) { 
              availablePlaces = parseInt(full['n_places'])-parseInt(full['n_register']);
              return '<label>'+ '{% trans "Available places" %}' +':</label>' + availablePlaces;
            }
          },
      ],
      "columnDefs": [
        {
          "defaultContent": "",
          "targets": "_all",
        },
      ],
    })
    .on('select', function (e, dt, type, indexes) {
      var rowData = dt.rows(indexes).data().toArray()
      // TODO: debug for now should be removed later !!!
      /// console.log(rowData);
      var speakers_array = "";
      $.each(rowData[0].speakers_list, function(i, item) {
        speakers_array += "<li>" + item['first_name'] +  " " + item['last_name'] + " (" + item['email'] + ")</li>";
      });
      $('#modal_search_slots_details').modal("show");
      $('#modal_search_slots_details #modal_establishment').html(rowData[0].establishment_label);
      $('#modal_search_slots_details #modal_course_label').html(rowData[0].course_training_label);
      $('#modal_search_slots_details #modal_label').html(rowData[0].label);
      $('#modal_search_slots_details #modal_type').html(rowData[0].slot_type);
      $('#modal_search_slots_details #modal_course_type').html(rowData[0].course_type_full_label);
      $('#modal_search_slots_details #modal_date').html(display_slot_date(rowData[0].date, 'display', rowData[0]));
      $('#modal_search_slots_details #modal_location').html(rowData[0].location + ' ' + rowData[0].building_label + ' ' + rowData[0].room);
      $('#modal_search_slots_details #modal_speakers').html(
        "<ul>" + speakers_array + "</ul>"
      );
      $('#modal_search_slots_details #modal_additional_information').html(rowData[0].additional_information);
      $('#modal_search_slots_details #modal_available_seats').html(parseInt(rowData[0].n_places)-parseInt(rowData[0].n_register)+ ' / ' + rowData[0].n_places);
      $('#modal_search_slots_details #modal_end_registration_date').html(formatDate(rowData[0].registration_limit_date,{ dateStyle: 'long', timeStyle: 'medium' }));      
      $.ajax({
        url: "/api/can_register_slot/" + rowData[0].id,
        type: 'GET',
        success: function (data) {
          if (data['data'][0]['can_register'] === true) {
            $('#modal_register_btn').html(
              "<button type=\"button\" class=\"btn badge badge-pill badge-primary\" onclick=\"register("+ rowData[0].id +")\">{% trans 'Register' %}</button>"
            );
          }
        }
      })
    })
    $('#search_immersions_slots').keyup( function() {
      let slots_search_value = $(this).val().normalize("NFD").replace(/\p{Diacritic}/gu, "")
      dt.search(slots_search_value).draw();
    });

    $('.filters').on('change', function () {
        dt.draw();
    });
    
    yadcf.initMultipleColumns(dt, [{
        column_number: [1], 
        filter_type: 'multi_select', 
        select_type: 'chosen',
        // TODO: check select_type_options !!!
        select_type_options: {no_results_text: "", placeholder_text_single: "", placeholder_text_multiple: "",},
        filter_container_id: 'establishments_filter', 
        filter_default_label: ' ',
        select_type_options: {width: '190px'},
    }]);
  });
</script>
{% endblock %}
