{% extends "base.html" %}
{% load static i18n immersionlyceens_tags %}
{% block title %}
{% trans "Visits offer" %}
{% endblock %}
{% block head-javascript %}
<script src="{% static 'js/immersionlyceens.min.js' %}"></script>
{% endblock %}
{% block content %}

<div class="main-title inside text-center">
  <div class="bg-main-title bg-parallax" data-scroll-speed=".3"></div>
  <div class="container">
    <div class="row">
      <div class="col">
          <h1>{% trans 'Visits offer' %}</h1>
          <p class="text-uppercase">{% trans 'by highschools' %}</p>
      </div>
    </div>
  </div>
</div>
<section class="py-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Visits offer" %}</li>
      </ol>
    </nav>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col lead">
        {% if visits_txt %}
        {{ visits_txt | safe }}
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-gray ">
  <div class="container-fluid mt-4">
    <p class="text-center"><span class="badge badge-secondary badge-pill" data-toggle="tooltip" title="{{ visits_count }} {% trans 'available visits (see below)' %}">{{ visits_count }} {% trans 'available visits' %}</span></p>

    {% if visits %}
    <div id="accordion" class="accordion">
      {% regroup visits by visit.highschool as highschool_list %}
      {% for h in highschool_list %}
      <div class="card">
        <div class="card-header card-visits" id="highschool{{h.grouper.pk}}">
          <h5 class="mb-0 more-less-title">
            <button class="btn btn-link" data-toggle="collapse" data-target="#visit{{h.grouper.pk}}" aria-expanded="false" aria-controls="highschool{{h.grouper.pk}}">
            <i class="us us-arrow-right us-fw text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Highschool' %}"></i>
            {{ h.grouper.city }} {{ h.grouper.label }}
            </button>
          </h5>
        </div>
        <div class="collapse" id="visit{{h.grouper.pk}}"  aria-labelledby="#visit{{h.grouper.pk}}" data-parent="#accordion">
          <div class="card-body" >
            {% regroup h.list by visit as slots_list %}
            {% for slot in slots_list %}
            {% for s in slot.list %}
            <div id="slot" >
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td style="width: 15%">
                            <i class="fa fas fa-calendar text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Date' %}"></i>
                            {{ s.date | date:"l d F Y"}}
                          </td>
                          <td>
                            <i class="fa fas fa-clock-o text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Schedules' %}"></i>
                            {{ s.start_time }} - {{ s.end_time }}
                          </td>
                          <td>
                            {% if  s.face_to_face %}
                            <i class="fa fas fa-map-marker text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Meeting place' %}"></i>
                            {% trans 'Meeting place' %} : {{ s.room }}
                            {% else %}
                            <i class="fa fas fa-desktop text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Remote visit' %}"></i>
                            {% trans 'Remote visit' %}
                            {% endif %}
                          </td>
                          <td style="width: 15%" rowspan="2">
                            <i class="fa fas fa-users text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Speaker(s)' %}"></i>
                            {% trans 'Speaker(s)' %} :
                            <ul>
                          {% if s.speakers.all%}
                              {% for speaker in s.speakers.all  %}
                              <li>{{ speaker.last_name | title }} {{ speaker.first_name | title }}</li>
                              {% endfor %}
                          {% else %}
                              <li>{% trans 'Data not available' %}</li>
                          {% endif %}
                            </ul>
                          </td>
                          <td rowspan="2" width="25%">
                          {% if s.establishments_restrictions or s.levels_restrictions %}
                            <i class="fa fas fa-ban text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Restrictions' %}"></i>
                            {% trans 'Restrictions' %}
                            {% if s.allowed_establishments.all%}
                            <h6>{% trans "Allowed establishments" %} :</h6>
                            <ul>
                            {% for e in s.allowed_establishments.all %}
                            <li>{{ e.label }} - {{ e.city }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                           {% if s.allowed_highschools.all%}
                            <h6>{% trans "Allowed highschools" %} :</h6>
                            <ul>
                            {% for h in s.allowed_highschools.all %}
                            <li>{{ h.label }} - {{ h.city }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                          {% if s.levels_restrictions %}
                            {% if s.allowed_highschool_levels.all %}
                              <h6>{% trans "Allowed highschool levels" %} :</h6>
                              <ul>
                              {% for l in  s.get_allowed_highschool_levels %}
                                <li>{{ l }}</li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                            {% if s.allowed_student_levels.all %}
                              <h6>{% trans "Allowed student levels" %} :</h6>
                              <ul>
                              {% for l in  s.get_allowed_student_levels %}
                                <li>{{ l }}</li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                            {% if s.allowed_post_bachelor_levels.all %}
                              <h6>{% trans "Allowed post bachelor levels" %} :</h6>
                              <ul>
                              {% for l in  s.get_allowed_post_bachelor_levels %}
                                <li>{{ l }}</li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                          </td>
                          {% endif %}
                          <td>
                            {% if s.cancelled %}
                                <span class="badge badge-pill badge-danger">{% trans 'Cancelled registration' %}</span>
                                {% if s.can_register %}
                                    <button type="button" class="badge badge-pill badge-primary" onclick="register({{ slot.id }})">{% trans 'Register again' %}</button>
                                {% endif %}
                            {% elif s.already_registered %}
                                <span class="badge badge-pill badge-success">{% trans 'Already registered' %}</span>
                            {% elif s.opening_soon %}
                                <span class="badge badge-pill badge-info">{% trans 'Opening soon' %}</span>
                            {% elif s.available_seats > 0 %}
                              <span class="badge badge-primary badge-pill">
                              {% trans 'Available places' %} : {{ s.available_seats }}
                              </span><br>
                              {% if authorized_groups|in_groups:"LYC" %}
                              <button type="button" class="badge badge-pill badge-primary" onclick="register({{ s.id }})">{% trans 'Register' %}</button>
                              {% endif %}
                            {% else %}
                              <span class="badge badge-pill badge-danger">{% trans 'Full' %}</span>
                            {% endif %}
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 10%">
                        {% if s.visit.establishment %}
                            <i class="fa fas fa-university text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Establishment' %}"></i>
                            <span class="badge badge-pill immersup-badge" style="background-color: {{s.visit.establishment.badge_html_color }};margin: 2px;">{{ s.visit.establishment.label }}</span>
                        {% endif %}
                          </td>
                          <td style="width: 10%">
                        {% if s.visit.structure %}
                            <i class="fa fas fa-institution text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Structure' %}"></i>
                            {{ s.visit.structure.label }}
                        {% endif %}
                          </td>
                          <td style="width: 15%">
                            <i class="fa fas fa-book text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Purpose' %}"></i>
                            {{ s.visit.purpose }}
                          </td>
                          <td>{% if s.additional_information %} <p><i class="fa fas fa-book text-secondary d-none d-md-inline-block subdomains-icons" data-toggle="tooltip" title="{% trans 'Additional information' %}"></i> {{ s.additional_information }}</p>{% endif %}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-center">{% trans 'No visit available' %}</p>
    {% endif %}
  </div>
</section>
<script>
var feedback;
var is_anonymous = {% if is_anonymous %}true{% else %}false{% endif %};

function register(slot_id) {
  $.ajax({
      url: "{% url 'SlotRegistration' %}",
      type: 'POST',
      data: {
        'slot_id': slot_id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (json) {
        let msg = json['msg'];
        let error = json['error'];

        if(error) {
          feedback.trigger("showFeedback", [[msg, "danger"]]);
        }
        else {
          window.location = "{% url 'visits_offer' %}";
        }
      },
      error: function(json) {
        console.log(json);
      }
    })
}

$(document).ready(function() {
  initFeedback();
  initBadge();
  feedback = $("#feedback");

  $(".close-button").on("click", function() {
    $("div.collapse").collapse('hide');
  });

});
</script>
{% endblock %}
